
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Custom-Fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Custom-Fonts/Lato-Bold.ttf');
}

.myLabelClass {
    color: #78909C;
}

html,
body {
    font-family: lato-regular;
    background-color: #f3f6f8;
}

.gray-bg {
    background-color: #f3f6f8;
}

.jumbotron {
    background-color: transparent;
    padding: 20px;
    padding-bottom: 50px;
}

/*.jumbotron > div {
        padding: 15px;
    }*/

.display-none {
    display: none;
}

.blank-cell {
    color: white;
}
/*
    System Panel Styles 
*/

.blank-panel {
    background-color: transparent !important;
}

.panel.panel-default.custom-panel {
    border-radius: 0;
    /*padding-top: 10px;*/
    border-color: transparent;
    border-radius: 4px;
    /*background-color: transparent !important;*/
}

    .panel.panel-default.custom-panel.with-border {
        border: 1px solid #E4E9EC;
    }

    .panel.panel-default.custom-panel .panel-heading {
        background: transparent;
        border-radius: 0;
        border: 0;
    }

        .panel.panel-default.custom-panel .panel-heading .panel-title {
            font-family: lato-regular;
            color: #000000;
            font-weight: normal;
            font-size: 25px;
        }

            .panel.panel-default.custom-panel .panel-heading .panel-title .pull-right {
                font-size: 14px;
            }

            .panel.panel-default.custom-panel .panel-heading .panel-title span:first-child {
                /*float: left;*/
            }

            .panel.panel-default.custom-panel .panel-heading .panel-title .detail-top-section .detail-panel-title {
                font-size: 16px;
                color: #3FB5F4;
            }

            .panel.panel-default.custom-panel .panel-heading .panel-title .detail-top-section .detail-top-inner {
                font-size: 14px;
                color: #636363;
            }

    .panel.panel-default.custom-panel.resource-panel .panel-body {
        padding: 15px 0;
    }

/*.panel.panel-default.custom-panel.inner-cus-panel .panel-heading {
        border-left: 4px solid #eb6739;
    }*/

.panel-default.gird-panel {
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    padding-top: 15px !important;
}

    .panel-default.gird-panel .panel-heading {
        min-height: 55px;
        background-color: white;
        border-bottom-width: 0;
        padding: 10px 0 19px 10px;
        font-family: lato-regular;
    }

        .panel-default.gird-panel .panel-heading .panel-title {
            /*display: block;
            float: left;*/
            color: #1E428A;
            font-size: 22px;
            font-weight: bold;
        }

            .panel-default.gird-panel .panel-heading .panel-title .panel-sub-title {
                font-family: lato-regular;
                font-weight: normal;
                color: #7A929D;
                font-size: 13px;
            }

            .panel-default.gird-panel .panel-heading .panel-title .panel-counter {
                color: #75CAF3;
            }

        .panel-default.gird-panel .panel-heading .pull-right .search {
            margin-right: 10px;
        }

        .panel-default.gird-panel .panel-heading .pull-right .btn.btn-default {
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 12px;
            padding: 4px 12px;
            margin-top: 5px;
            margin-left: 8px;
            height: 27px;
        }

            .panel-default.gird-panel .panel-heading .pull-right .btn.btn-default .caret {
                margin-left: 5px;
            }
        /*
        .panel-default.gird-panel .panel-heading .pull-right .btn.btn-default {
            padding: 3px 5px;
            font-size: 12px;
            text-transform: uppercase;
        }*/


        .panel-default.gird-panel .panel-heading .pull-right .search form {
            float: right;
        }

        .panel-default.gird-panel .panel-heading .pull-right .search .input-group {
            max-width: 150px;
        }

            .search.pull-right .input-group .form-control,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group .form-control {
                background: transparent;
                box-shadow: 0 0 0;
                border: 0;
                border-radius: 0;
                color: #b1b7c5;
                border-bottom: 1px solid #ccc;
            }

            .search.pull-right .input-group .input-group-btn,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group .input-group-btn {
                border-bottom: 1px solid #ccc;
            }

            .panel-default.gird-panel .panel-heading .pull-right .search .input-group > input.form-control:-ms-input-placeholder,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group > input.form-control:-moz-placeholder,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group > input.form-control:-moz-placeholder,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group > input.form-control::-webkit-input-placeholder {
                color: #b1b7c5;
            }

            .search.pull-right .input-group .input-group-btn,
            .panel-default.gird-panel .panel-heading .pull-right .search .input-group .input-group-btn .btn-default {
                border: 0;
            }

    .panel-default.gird-panel .panel-body {
        background-color: white;
        padding: 0;
    }

    .panel-default.gird-panel .ng-table-pager {
        text-align: center;
    }
/*Error Panel*/
.panel-default.custom-panel.panel-error {
    background-color: #ffd6d6;
    margin-bottom: 0;
    padding: 0;
}

    .panel-default.custom-panel.panel-error .panel-heading .panel-title {
        font-weight: bold;
        font-size: 18px;
    }

    .panel-default.custom-panel.panel-error .panel-heading .pull-right a {
        font-size: 18px;
        color: black;
        padding: 5px 8px;
    }

        .panel-default.custom-panel.panel-error .panel-heading .pull-right a:hover {
            text-decoration: none;
        }



/*
    System Panel Styles --------
    */
.custom-dropdown-menu {
    margin: 0;
    border-color: #03a9f4;
}
/*
    System Buttons Styles
*/
.btn-fixed-width {
    width: 150px;
}

.btn.btn-default {
    color: gray;
    background-color: transparent;
    /*#d2d2d2;*/
}

.btn-orange {
    background-color: #DD5F13 !important;
    color: white !important;
    border-radius: 0;
}


.btn-normal-size {
    min-width: 90px;
}

.btn-rounded-button,
.btn-rounded-button:focus {
    border-radius: 4px !important;
    min-width: 155px;
    text-transform: uppercase;
    outline-width: 0px;
    outline: none;
    font-family: Lato-Bold;
    font-size: small;
    padding-bottom: 5px;
    padding-top: 5px;
}



.btn-small {
    font-family: lato-regular;
    min-width: 25px !important;
    padding: 4px !important;
    font-size: 10px !important;
    background-color: #03a9f4 !important;
}

.dhx_cal_today_button,
.btn-blue {
    background-color: #03a9f4 !important;
    border-color: #03a9f4 !important;
    color: white !important;
    border-radius: 1px;
    border-radius: 4px;
}

    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active {
        background-color: #3296c3 !important;
        color: white;
    }

    .btn-blue.disabled:hover {
        background-color: #3296c3 !important;
    }


.app-btn-small {
    font-size: 12px;
    padding: 2px 8px;
    min-width: 75px;
}

.btn-pink {
    background-color: #F74976 !important;
    border-color: #F74976 !important;
    color: white !important;
    border-radius: 4px;
}

    .btn-pink:hover,
    .btn-pink:focus,
    .btn-pink:active {
        background-color: #d11748 !important;
        color: white;
    }

    .btn-pink.disabled:hover {
        background-color: #d11748 !important;
    }



.btn-red {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
    border-radius: 1px;
    font-family: Roboto;
}

    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active {
        background-color: #d04343 !important;
        color: white;
    }

    .btn-red.disabled:hover {
        background-color: #d04343 !important;
    }


.btn-gray {
    background-color: #7e8c8d !important;
    border-color: #7e8c8d !important;
    color: white !important;
    border-radius: 1px;
    border-radius: 4px;
}

    .btn-gray:hover,
    .btn-gray:focus,
    .btn-gray:active {
        background-color: #5b6770 !important;
        color: white;
    }

    .btn-gray.disabled:hover {
        background-color: #7e8c8d !important;
    }

.btn-light-gray {
    background-color: #b3b3b3 !important;
    border-color: #b3b3b3 !important;
    color: white !important;
    border-radius: 1px;
    font-family: Roboto;
}

    .btn-light-gray:hover,
    .btn-light-gray:focus,
    .btn-light-gray:active {
        background-color: #a8a8aa !important;
        color: white;
    }

.btn-save {
    background-color: #4396FF;
    border-radius: 0;
    border-color: transparent;
    color: white;
    text-transform: capitalize;
    padding: 8px 15px;
}

    .btn-save:hover,
    .btn-save:focus,
    .btn-save.active,
    .btn-save:active {
        color: white;
        background-color: #3e7ecf;
    }

.btn-cancel {
    background-color: #B3B3B3;
    border-radius: 0;
    border-color: transparent;
    color: white;
    text-transform: capitalize;
    padding: 8px 15px;
}

    .btn-cancel:hover,
    .btn-cancel:focus,
    .btn-cancel.active,
    .btn-cancel:active {
        color: white;
        background-color: #9b9b9b;
    }

/*
    System Button Style ---------------------
*/

.element-validation-error > div > .ui-select-toggle,
.element-validation-error {
    border-color: red !important;
}

.validatorErrorContainer {
    color: red !important;
    text-align: right;
    position: absolute;
    right: 15px;
}

.error {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
    margin-left: 7px;
    padding: 9px;
}

    .error.icon-error {
        background-image: url("../images/error-icon-01.png");
    }


/* Angular Auto Complete Styles */
.angucomplete-holder {
    position: relative;
}

    .angucomplete-holder input {
        padding-right: 20px;
    }

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    min-width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
    text-align: left;
    max-height: 250px;
    overflow: auto;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: #eb6739;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

/* --- Angular Auto Complete Styles --- */

.form-group label {
    /*color: #78909c;*/
    color: #78909c;
    font-weight: normal;
    font-size: 16px;
    position: relative;
}

    .form-group label .requireStyle {
        color: red;
        font-size: 16px;
        position: absolute;
        right: -10px;
        top: 0;
    }

.form-group .multiselect-parent.btn-group.dropdown-multiselect {
    width: 100%;
}

    .form-group .multiselect-parent.btn-group.dropdown-multiselect .dropdown-toggle {
        width: 100%;
        text-align: left;
        position: relative;
    }

        .form-group .multiselect-parent.btn-group.dropdown-multiselect .dropdown-toggle .caret {
            position: absolute;
            right: 15px;
            top: 15px;
        }

.form-group .checkbox input[type=checkbox] {
    margin-left: 0;
}

.form-group .checkbox .labelCheckbox {
    margin-left: 22px;
}

.form-group input {
    border-color: #e6ecef;
}

/***
    Login Page 
*/

.login-container {
    width: 480px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ebf1f4;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

    .login-container .login-title {
        font-family: lato-regular;
        padding: 14px 45px;
        font-size: 26px;
        color: #707678;
        font-weight: bold;
        border-bottom: 1px solid #ebf1f4;
        margin-bottom: 25px;
    }

    .login-container .form-group.text-left label {
        color: #bdbdbd;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0;
        font-size: 13px;
        font-family: Lato;
        margin-bottom: 5px;
    }

    .login-container .form-group .form-control {
        height: 43px;
        background: rgba(76, 148, 167, 0.13);
        border: 0px;
        border-radius: 4px;
        box-shadow: 0 0 0;
    }

    .login-container .form-action-elements,
    .login-container .form-element-container {
        padding: 0 45px;
    }

    .login-container .row {
        padding-bottom: 40px;
    }

    .login-container .form-action-elements {
        margin-top: 30px;
    }

        .login-container .form-action-elements .btn-blue {
            height: 43px;
            width: 130px;
            border-radius: 4px !important;
            text-transform: uppercase;
            background-color: #03A9F4 !important;
            font-weight: 400;
            font-size: 16px;
        }

            .login-container .form-action-elements .btn-blue:disabled {
                background-color: #89daff !important;
            }
/*
        .login-container .form-action-elements label {
            position: relative;
        }

            .login-container .form-action-elements label input[type=checkbox] {
                display: none;
            }

            .login-container .form-action-elements label span {
                display: block;
                width: 100px;
                padding-top: 8px;
            }

                .login-container .form-action-elements label span.checkbox {
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: #EFF4F6;
                    float: left;
                    margin-right: 5px;
                }

            .login-container .form-action-elements label input[type=checkbox]:checked + span.checkbox {
                content: 'A';
                position: relative;
            }
            */

.form-label {
    font-size: 14px;
    letter-spacing: 1px;
}

.login-container .btn-orange {
    font-family: Roboto;
    line-height: 2;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    min-width: 135px;
}

    .login-container .btn-orange:hover,
    .login-container .btn-orange:focus {
        color: #893314;
    }

.form-label input[type=checkbox] {
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url('Client/assets/images/off.png');
    background-position: center;
    background-size: contain;
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 2px;
    border-color: #7b8291;
    float: left;
    margin-right: 9px;
}


    .form-label input[type=checkbox]:checked {
        width: 16px;
        height: 16px;
        background-color: transparent;
        background-image: url('Client/assets/images/on.png');
        background-position: center;
        background-size: contain;
        -webkit-appearance: none;
        border: 1px solid;
        border-radius: 2px;
        border-color: #7b8291;
        float: left;
        margin-right: 9px;
    }

.form-label .check-text {
    font-family: Roboto;
    display: block;
    float: left;
    padding-top: 3px;
}

.frgt-pass {
    padding: 8px 0 25px;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

    .frgt-pass a {
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        color: #525252;
        border-bottom: 1px solid;
    }

        .frgt-pass a:hover,
        .frgt-pass a:focus {
            text-decoration: none;
        }

    .frgt-pass .version {
        color: #c1c1c1;
        font-size: 12px;
        text-transform: uppercase;
    }

.copyright {
    color: rgba(135, 141, 144, 0.91);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.last-row {
    height: 100%;
}

.version-details {
    width: 400px;
    height: 70px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 1px gray;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/***
    Login Styles ---------------
*/
/***
    Navigation Bar
*/
.navbar.navbar-default {
    margin: 0;
    background: white;
    border: 0;
    box-shadow: 0 0 1px 0 #d2d2d2;
    border-radius: 0;
    z-index: 1;
    /*height: 42px;
    min-height: 42px;*/
}

    .navbar.navbar-default .collapse.navbar-collapse .navbar-nav.navbar-left {
        margin-left: 70px;
    }

    .navbar.navbar-default .collapse.navbar-collapse .navbar-nav.navbar-right {
        margin-right: -20px;
    }

.navbar-default .navbar-nav > li {
    padding: 0 8px;
}

    .navbar-default .navbar-nav > li > a {
        border-bottom: 3px solid transparent;
        color: #78909c;
        font-family: lato-regular;
        line-height: 21px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        padding: 14px 6px 12px;
    }

        .navbar-default .navbar-nav > li > a:focus,
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:focus,
        .navbar-default .navbar-nav > .active > a:hover {
            border-bottom: 3px solid #03a9f4;
            background: transparent;
            color: black;
            box-shadow: -2px -11px 24px -14px rgba(3, 169, 244, 0.5) inset;
        }

.navbar-default .navbar-nav.navbar-right > li > a {
    font-size: 13px;
    text-transform: none;
    font-weight: bolder;
}

    .navbar-default .navbar-nav.navbar-right > li > a:focus,
    .navbar-default .navbar-nav.navbar-right > li > a:hover,
    .navbar-default .navbar-nav.navbar-right > .active > a,
    .navbar-default .navbar-nav.navbar-right > .active > a:focus,
    .navbar-default .navbar-nav.navbar-right > .active > a:hover {
        border-bottom: 2px solid transparent;
        background: transparent;
        box-shadow: -2px -11px 16px -14px transparent inset;
        color: #78909c;
        cursor: pointer;
        font-weight: 400;
        font-family: lato-regular;
    }

/***
    -----------------------------
*/
/***
    Home Page "Human Resource"
*/
.home-page-banner-container {
    background: #EFF0EB;
    min-height: 500px;
    vertical-align: middle;
    position: relative;
}

    .home-page-banner-container .home-page-banner {
        background-position-x: 89%;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 400px;
        position: absolute;
        top: 36px;
        left: 0;
        min-width: 100%;
    }

        .home-page-banner-container .home-page-banner .home-page-banner-text {
            position: absolute;
            top: 15%;
            left: 4%;
            color: #DD5F13;
            font-size: 40px;
            font-family: lato-bold;
        }

.home-page > .container-fluid > .row {
    padding-top: 40px;
}

.card {
    margin-bottom: 20px;
}

    .card .card-title {
        text-align: center;
        font-size: 14px;
        font-family: Lato-Bold;
        margin-bottom: 15px;
    }

    .card .card-action-container .btn {
        color: white;
        padding: 3px;
        font-weight: 100;
        font-family: lato-regular;
    }

    .card.front-office .card-title {
        color: #eaa22f;
    }

    .card.front-office .card-action-container .btn-default {
        background-color: #eaa22f !important;
        border-color: #eaa22f !important;
    }

    .card.care-management .card-title {
        color: #273b7a;
    }

    .card.care-management .card-action-container .btn-default {
        background-color: #273b7a !important;
        border-color: #273b7a !important;
    }

    .card.resource-management .card-title {
        color: #26bebe;
    }

    .card.resource-management .card-action-container .btn-default {
        background-color: #26bebe !important;
        border-color: #26bebe !important;
    }

    .card.billing .card-title {
        color: #ff6161;
    }

    .card.billing .card-action-container .btn-default {
        background-color: #ff6161 !important;
        border-color: #ff6161 !important;
    }

    .card.analytics .card-title {
        color: #1199fe;
    }

    .card.analytics .card-action-container .btn-default {
        background-color: #1199fe !important;
        border-color: #1199fe !important;
    }

    .card .card-detail {
        margin-bottom: 15px;
        font-size: 12px;
    }

    .card .card-action-container {
        text-align: center;
    }

    .card .card-icon {
        display: block;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

.cards-container {
    margin-bottom: 50px;
}

.container-fluid.home-footer .row {
    padding: 0;
}

.home-footer {
    background-color: #DD5F13;
    height: 65px;
    color: white;
}

    .home-footer .row {
        height: 65px;
    }

        .home-footer .row .col-xs-6 {
            height: 65px;
            padding-top: 22px;
        }

.info {
    display: block;
    padding-top: 14px;
}

    .info .total-rating .rating-row {
        display: inline;
    }

        .info .total-rating .rating-row .rating-label-text {
            text-align: right;
            margin-right: 5px;
        }

        .info .total-rating .rating-row .rating-label-text,
        .info .total-rating .rating-row .value {
            font-size: 15px;
            padding: 0;
            margin-left: 10px;
            width: 115px;
            display: inline-block;
        }

        .info .total-rating .rating-row .rating-progress-bar {
            display: inline-flex;
        }

            .info .total-rating .rating-row .rating-progress-bar .rating-checkbox-block {
                margin-right: 5px;
                line-height: 1;
            }

    .info .total-rating {
        margin-bottom: 10px;
        text-align: left;
    }

    .info .rating-value {
        display: inline-block;
        width: auto;
        padding: 2px 6px;
        border-radius: 4px;
        margin-right: 10px;
        color: white;
        font-weight: 600;
        font-family: Roboto-Thin;
    }

    .info .rating-container {
        width: 100%;
    }

        .info .rating-container .rating {
            margin-left: 2px;
            width: 5px;
            height: 5px;
            background-color: transparent;
            border-color: darkgray;
            padding: 0 7px;
            border: 2px solid darkgray;
            font-size: 12px;
        }

.Raiting .rating-label-text {
    padding-left: 50px;
}

.Raiting .rating-container .rating.active {
    background-color: #00cc99;
    border-color: #00cc99;
}

.Raiting .rating-value {
    background-color: #00cc99;
}

.Productivity .rating-label-text {
    padding-left: 18px;
}

.Productivity .rating-container .rating.active {
    background-color: #00CCFF;
    border-color: #00CCFF;
}

.Productivity .rating-value {
    background-color: #00CCFF;
}

.switch-field {
    padding-right: 5px;
    overflow: hidden;
}

    .switch-field .rating-label-text {
        padding-left: 52px;
    }

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    display: none;
}

.switch-field .rating-value {
    background-color: #3366FF;
}

.switch-field label {
    display: inline-block;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 2px 18.5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border-radius: 0;
}

    .switch-field label:hover {
        cursor: pointer;
    }

.switch-field input:checked + label {
    background-color: #3366FF;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.switch-field label.active {
    background-color: #2ccb7a;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

/*  System Grid Table Styles */
.system-grid-table {
}

    .system-grid-table thead tr th {
        width: 70px;
        white-space: nowrap;
        text-transform: uppercase;
        background-color: #eaeef0 !important;
        border-bottom: 1px solid transparent;
        padding: 15px 12px 10px;
        font-weight: bolder;
        font-family: lato-regular;
        font-size: 12px;
    }

        .system-grid-table thead tr th.sortable:hover {
            cursor: pointer;
        }
        .system-grid-table thead tr th.sortable .sort-indicator:before,
        .system-grid-table thead tr th.sortable .sort-indicator:after {
            display:none;
        }
        .system-grid-table thead tr th > div {
            padding-left: 14px;
        }

    .system-grid-table tbody tr td {
        width: 70px;
        vertical-align: middle;
        border-bottom: 1px solid #e9edef;
    }

        .system-grid-table tbody tr td div {
            display: block;
        }

            .system-grid-table tbody tr td div.custom-html-template {
                width: 100%;
            }

                .system-grid-table tbody tr td div.custom-html-template .patient-detail-container {
                    width: 100%;
                    display: inline-flex;
                    position: relative;
                }

                .system-grid-table tbody tr td div.custom-html-template .patient-pain-container {
                    margin-left: 15px;
                    margin-right: auto;
                }

    .system-grid-table tbody tr:hover {
        box-shadow: 0px -3px 2px 1px rgba(0, 0, 0, 0.04), 0px 3px 2px 1px rgba(0, 0, 0, 0.04);
        cursor: pointer;
    }

        .system-grid-table tbody tr:hover td {
            border-bottom: 1px solid transparent;
        }

    .system-grid-table tbody tr td:not(:first-child) span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .system-grid-table tbody tr td .data-container {
        display: inline-flex;
        width: 100%;
    }

    .system-grid-table tbody tr td:not(:first-child) .data-container {
        padding-left: 18px !important;
    }

    .system-grid-table tbody tr td .data-container img {
        margin-right: 2px;
    }

    .system-grid-table tbody tr td .data-container a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .system-grid-table tbody tr td .data-container .text-name {
        padding-top: 8px;
    }

    .system-grid-table tbody tr td .data-container span:not(span) {
        display: block;
        padding-top: 7px;
    }

    /*.system-grid-table tbody tr td .data-container div {
            margin-left: auto;
            margin-right: auto;
        }*/

    .system-grid-table tbody tr td.more-action {
        vertical-align: auto !important;
    }

        .system-grid-table tbody tr td.more-action .more-action {
            width: 100%;
            vertical-align: central !important;
            text-align: center;
        }

        .system-grid-table tbody tr td.more-action .edit {
            text-align: center;
            /*padding: 22px;*/
            position: absolute;
            display: block;
            /*top: -7px;*/
            right: 35px;
            border-radius: 0;
        }

.my-drop .dropdown-menu {
    left: inherit;
    box-shadow: 0px 0 5px 4px #EDEDED;
}


.my-drop .dropdown-item > a span {
    display: initial !important;
}

    .my-drop .dropdown-item > a span.drop-item-icon {
        font-size: large;
        margin-right: 10px;
    }

.my-drop .dropdown-item > a {
    color: #8399A4;
    font-family: Lato-Bold;
    font-size: medium;
}

    .my-drop .dropdown-item > a:hover {
        background-color: #F3F6F8;
        color: #8399A4;
    }

.system-grid-table tbody tr td.more-action .uib-dropdown-menu .dropdown-item.mode-edit {
    background-color: #6dabfa;
}

.system-grid-table tbody tr td .custom-html-container {
    margin-left: 5px;
    position: relative;
}

    .system-grid-table tbody tr td .custom-html-container .img {
        position: absolute;
        top: 0;
    }

    .system-grid-table tbody tr td .custom-html-container .detail-section {
        padding-left: 35px;
        position: relative;
    }

    .system-grid-table tbody tr td .custom-html-container .custom-html-title {
        font-size: 14px;
    }

        .system-grid-table tbody tr td .custom-html-container .custom-html-title a {
            color: #535C61;
        }

            .system-grid-table tbody tr td .custom-html-container .custom-html-title a:hover {
                text-decoration: none;
            }

    .system-grid-table tbody tr td .custom-html-container .custom-html-sub-title {
        font-size: 12px;
        color: #7c8d96;
        display: inline-flex;
        position: absolute;
        top: 15px;
        min-width: 180px;
    }

        .system-grid-table tbody tr td .custom-html-container .custom-html-sub-title span:last-child {
            margin-left: 5px;
            text-transform: uppercase;
        }

.system-grid-table tbody tr td .data-container a.text-name {
    color: #03a9f4;
    padding-top: 8px;
    text-transform: uppercase;
}


.case-body-container .system-grid-table tbody tr td .data-container .text-name {
    padding: 0 !important;
}

.patients-grid .system-grid-table tbody tr td .grid-link a.text-name {
    padding-top: 9px !important;
    display: block;
}

.patients-grid .custom-panel {
    padding-top: 0 !important;
}
/*  Resource Edit View */
.profile-rating-properties {
    height: 150px;
}

    .profile-rating-properties .profile-avtar {
        height: 150px;
        width: 150px;
        float: left;
    }

        .profile-rating-properties .profile-avtar .image-container {
            position: relative;
        }

        .profile-rating-properties .profile-avtar .ico_image_figure {
            overflow: hidden;
            width: 100%;
            min-width: 100%;
            padding: 0;
            height: 150px;
            margin: 0;
        }

        .profile-rating-properties .profile-avtar .action-bar {
            display: inline-flex;
            padding: 0;
            background-color: rgba(236, 231, 231, 0.8) !important;
            position: absolute;
            top: 5px;
            left: 5px;
            min-width: 20px;
            min-height: 10px;
        }

            .profile-rating-properties .profile-avtar .action-bar:hover {
                cursor: pointer;
            }

            .profile-rating-properties .profile-avtar .action-bar .btn {
                display: none;
                background-color: rgba(236, 231, 231, 0.4) !important;
                border: 0;
                border-radius: 0;
                padding: 5px 7px;
                margin-left: 2px;
                color: black;
            }

            .profile-rating-properties .profile-avtar .action-bar:hover .btn {
                display: block;
            }

            .profile-rating-properties .profile-avtar .action-bar .dots {
                display: block;
                font-family: Roboto;
                font-size: 16px;
                width: 100%;
                text-align: center;
                line-height: 1;
                vertical-align: middle;
                padding-bottom: 7px;
            }

            .profile-rating-properties .profile-avtar .action-bar:hover .dots {
                display: none;
            }


.profile-avtar .ico_image_figure .profile-picture {
    width: 100%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 0;
    background-size: cover;
    background-repeat: no-repeat;
}


.patient-edit-page .container-fluid .cba-properties-form,
.patient-edit-page .container-fluid .white-panel-box {
    margin-left: -15px;
    border-top-width: 0;
    box-shadow: 3px 2px 5px 0px rgba(224, 224, 224, 0.34);
    /*border-right: 1px solid rgba(128, 128, 128, 0.22);*/
}

.patient-edit-page .container-fluid .patient-fields-container {
    margin-left: -15px;
}

.cba-properties-form,
.white-panel-box {
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

    .cba-properties-form ul.tabs-link,
    .white-panel-box ul.tabs-link {
        margin: 0;
        list-style: none;
        padding: 0 !important;
        padding-left: 0 !important;
    }

        .cba-properties-form ul.tabs-link li,
        .white-panel-box ul.tabs-link li {
            border-left: 4px solid transparent;
            padding: 15px 15px;
        }

            .cba-properties-form ul.tabs-link li:focus,
            .cba-properties-form ul.tabs-link li:hover,
            .cba-properties-form ul.tabs-link li.active,
            .white-panel-box ul.tabs-link li:focus,
            .white-panel-box ul.tabs-link li:hover,
            .white-panel-box ul.tabs-link li.active {
                cursor: pointer;
                /*background-color: #F4F4F4;*/
                /*rgba(255, 175, 147, 0.2);*/
                border-left: 4px solid #03a9f4;
                box-shadow: 10px -2px 6px -7px rgba(3, 169, 244, 0.5) inset;
            }

            .cba-properties-form ul.tabs-link li a,
            .white-panel-box ul.tabs-link li a {
                color: #5a5a5a;
            }

                .cba-properties-form ul.tabs-link li a:hover,
                .white-panel-box ul.tabs-link li a:hover {
                    text-decoration: none;
                }

.drop-down-config-view {
}

    .drop-down-config-view .panel.custom-panel {
        padding: 0;
    }

    .drop-down-config-view .nav.nav-tabs {
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }

        .drop-down-config-view .nav.nav-tabs > li > a {
            margin-right: 0;
            border: 1px solid rgba(0,0,0,0.3);
            border-right-width: 0;
            border-bottom-width: 0;
            color: black;
            font-size: 14px;
        }

        .drop-down-config-view .nav.nav-tabs > li.active > a,
        .drop-down-config-view .nav.nav-tabs > li:focus > a,
        .drop-down-config-view .nav.nav-tabs > l:hover > a,
        .drop-down-config-view .nav.nav-tabs > li.active > a {
            font-weight: bold;
        }

            .drop-down-config-view .nav.nav-tabs > li > a:hover,
            .drop-down-config-view .nav.nav-tabs > li > a:focus,
            .drop-down-config-view .nav.nav-tabs > li > a.active,
            .drop-down-config-view .nav.nav-tabs > li.active > a.active {
                background-color: white;
                font-weight: bold;
                cursor: pointer;
            }

        .drop-down-config-view .nav.nav-tabs > li:last-child > a {
            border-right-width: 1px;
        }

    .drop-down-config-view .well {
        border-radius: 0 0 4px 4px;
        box-shadow: 0 0 0;
        border: 0;
        border-color: rgba(0,0,0,0.3);
        padding: 0;
    }

.modal-content .container-fluid {
    padding: 15px;
}

.modal.in.minimize {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 10px;
    left: 10px;
    max-width: 150px;
}

    .modal.in.minimize .modal-dialog {
        max-width: 130px;
    }

    .modal.in.minimize .modal-title {
        font-size: 12px;
    }

.modal.minimize .modal-body,
.modal.minimize .modal-footer {
    display: none;
}

.modal.minimize .modal-dialog {
    margin: 0;
    width: 200px;
}

.modal.in .modal-dialog.minimize .modal-dialog .modal-header {
    padding: 5px;
    background-color: #EEE;
}

    .modal.in .modal-dialog.minimize .modal-dialog .modal-header h3 {
        font-size: 16px;
    }

.is-primary-number {
    display: block;
    position: absolute;
    margin-left: 20px;
    width: 100px;
    top: 0;
    left: 90px;
}

    .is-primary-number label {
        color: #868686;
    }

        .is-primary-number label input[type=checkbox] {
            display: none;
        }

        .is-primary-number label .check-icon {
            display: block;
            padding: 10px;
            float: left;
            margin-right: 6px;
        }

            .is-primary-number label .check-icon.checked {
                background-image: url('../images/icons/checked-active.png');
                background-size: contain;
            }

            .is-primary-number label .check-icon.not-checked {
                background-image: url('../images/icons/checked.png');
                background-size: contain;
            }

.icon-exercise {
    background-image: url('../images/icons/ic_exercise.png');
}

.icon-mobile {
    background-image: url('../images/icons/ic_mobile.png');
}

.dragdrop-media-container {
    text-align: center;
    padding: 10px;
}

    .dragdrop-media-container img {
        /*width: 100%;*/
    }


.dragdropcontainer {
    border: 2px dashed #8399A4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

    .dragdropcontainer .icon-placeholder {
        display: block;
        height: 70px;
        width: 70px;
        background: url('../images/icons/cloud-computing.png') no-repeat;
        margin: 0 auto;
    }

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1px;
}

    .button-container .row {
        padding: 0 15px;
    }

    .button-container button {
        min-width: 100px;
    }

.form-tab-card {
    padding: 15px;
    display: inline-flex;
}


.img-container {
    text-align: center;
    width: 95px;
    position: relative;
}


.form-tab-card .img-container {
        text-align: center;
        width: 95px;
        position: relative;
    }

        .form-tab-card .img-container img {
            box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
        }

        .form-tab-card .img-container .img-actions {
            position: absolute;
            right: 0;
            bottom: 7px;
        }

    .form-tab-card div.patient-details {
        margin-left: 16px;
        margin-top: 7px;
    }

        .form-tab-card div.patient-details span {
            display: block;
            padding: 3px;
        }

            .form-tab-card div.patient-details span.patient-name {
                font-weight: bold;
                color: #37474f;
            }

            .form-tab-card div.patient-details span.patient-id {
                font-weight: bold;
                color: #8399a4;
            }


            .form-tab-card div.patient-details span.action-bar {
                display: inline-flex;
            }

                .form-tab-card div.patient-details span.action-bar .btn {
                    margin-right: 5px;
                    padding: 3px 10px;
                    border-radius: 100%;
                }

                .form-tab-card div.patient-details span.action-bar .btn-icon {
                    width: 45px;
                    height: 35px;
                }




.event-green-box {
    background-color: green;
}



/*.schedules .dhx_cal_date {
    width:200px !important;
}
.schedules .dhx_cal_today_button {
    left:160px;
}

.schedules .dhx_cal_prev_button {
    left:252px;
}

.schedules .dhx_cal_next_button {
    left:299px;
}

.schedules .view-type-container{
    width:100%;
    text-align:center;
    background-color:red;
    margin-left:41%;
}

.schedules .view-type-container  div {
    top: 0 !important;
}*/

#elastic_search_menu.dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    margin: 0;
}

.notification-container {
    z-index: 1000;
}

.col-md-1 .form-control-small .input-group .form-control {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-md-1 .form-control-small .input-group .input-group-btn .btn {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.schedular-parent {
    margin-top: 5px;
}

.schedular-body {
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 5px #CCC;
    border-radius: 3px;
}


.btn-with-icon {
    border-radius: 3px;
    text-align: left;
}

.btn-brown {
    background-color: #999999 !important;
    color: white !important;
}

.btn-with-icon i {
    margin-left: 10px;
    margin-right: 10px;
}

.gray-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

span.status {
    display: block;
    padding: 12px 12px;
    border-radius: 100%;
    color: white;
    margin-left: 12px;
    margin-right: auto;
    margin-top: 8px;
}

    span.status.status-Active {
        background-color: green;
    }

    span.status.status-InActive {
        background-color: red;
    }
/*span.status.status-Inprogress {
        background-color: #66BB6A;
    }

        span.status.status-Inprogress:after {
            content: "\f00c";
            font-family: FontAwesome;
            /*display: block;*
        }

    span.status.status-in-active {
        background-color: #FF0000;
    }*/

.media-item-comments {
    padding: 5px;
}

.media-title {
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.same-height-row {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.same-height-column {
    display: table-cell;
    float: none;
    height: 100%;
}

.drop-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.center-text {
    top: 46%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.app-tab-large {
    font-size: large;
}

.app-tab li a {
    color: #8399A4;
}

.app-tab li.active a,
.app-tab li.active a:hover {
    border: 0px;
    border-bottom: 2px solid #03a9f4;
    background: transparent;
    color: #03a9f4;
    box-shadow: -2px -11px 16px -14px rgba(3, 169, 244, 0.5) inset;
}

.app-tab-body {
}

.box-item {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-top: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}

.text-title {
    font-size: large;
    color: #337ab7;
}

.exercise-item-table .seprator-column {
    padding-left: 20px;
    padding-right: 20px;
    color: #8399A4;
}

.exercise-item-table thead {
    font-weight: bold;
    font-family: Lato-Bold;
}

.exercise-item-table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8399A4;
}

.comment-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: white;
    color: #8399A4;
    padding: 10px;
    min-height: 150px;
}

    .comment-box .commnet-box-title {
        font-family: Lato-Bold;
    }

    .comment-box .comment-body {
        margin-top: 5px;
    }

.gray-box-rounded {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.img-list-item {
    border-bottom: 1px solid rgba(131, 153, 164, 0.26);
    padding: 15px 10px;
}

    .img-list-item .img-tag-wrapper {
        height: 250px;
        max-width: 230px;
    }

.image-box {
    border: 1px solid #E0E3E5;
    border-radius: 5px;
    height: 60px;
    position: relative;
    padding: 1px;
    overflow: hidden;
}

.image-box-one {
    border: 1px solid #E0E3E5;
    border-radius: 5px;
    height: 230px;
    position: relative;
    padding: 1px;
    overflow: hidden;
}

.video-view {
    min-height: 227px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(188, 190, 192);
}

.video-play-icon {
    background-image: url("../images/play-button.png");
    padding: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal-body video {
    width: 100%;
    height: auto;
}

.modal-body iframe {
    border: 0;
}

    .modal-body iframe html body {
        background-color: transparent;
    }

.modal-body .video-player {
    width: 100%;
}

.image-box .img-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.image-box-one .img-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.image-box-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-left: -1px;
    margin-right: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.image-box-title-one {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-left: -1px;
    margin-right: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*System item not found*/
.item-not-found {
}

.add-physician-modal-container .modal-container {
    padding: 15px;
}

    .add-physician-modal-container .modal-container .modal-title {
        color: #03a9f4;
        margin-bottom: 5px;
        border-bottom: 1px solid #26bebe;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
    }

    .add-physician-modal-container .modal-container .modal-body {
        padding: 0;
        margin-top: 5px;
    }

.add-physician-modal-container .modal-footer {
    padding: 5px;
}

.image-box-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.circle-btn {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}

    .circle-btn i {
        font-size: 20px;
    }


.status-box {
    height: 42px;
    width: 42px;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 22px;
}


.status-box-blue {
    background-color: cornflowerblue;
}

.status-box-red {
    background-color: red;
}

.status-box-green {
    background-color: #66BB6A;
}

.status-box-oranage {
    background-color: #DD5F13;
}

.status-box-yellow {
    background-color: #FBD97F;
}

.status-box-pink {
    background-color: #FEA5C2;
}

.status-box-purple {
    background-color: #785CB4;
}


.dhx_mini_calendar .dhx_year_week {
    border-width: 0 !important;
}

.dhx_scale_bar {
    color: #495053 !important;
    font-size: large;
}

.filter-section {
    margin-top: 10px;
}

    .filter-section .heading {
        color: black;
        font-size: 16px;
        font-weight: normal;
    }

    .filter-section label {
        color: black;
        font-size: 16px;
        padding-left: 10px;
        font-weight: normal;
    }

    .filter-section input[type=checkbox] {
    }

.check-filter-section {
    padding: 5px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin: 10px 0px;
}

.gray-text {
    color: #8399A4;
}

.sub-title-medium {
    color: #8399A4;
    font-size: large;
    margin: 10px 0px;
}


.rounded-text-input i {
    color: #8399A4;
    margin-right: 2px;
}

.rounded-text-input input,
.rounded-text-input input:focus {
    border: 0px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 0;
    outline-width: 0px;
    background-color: transparent;
}

.rounded-text-input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8399A4;
}

.rounded-text-input ::-moz-placeholder { /* Firefox 19+ */
    color: #8399A4;
}

.rounded-text-input :-ms-input-placeholder { /* IE 10+ */
    color: #8399A4;
}

.rounded-text-input :-moz-placeholder { /* Firefox 18- */
    color: #8399A4;
}


.rounded-text-input .input-group-addon {
    background-color: transparent;
    border: 0px;
}

.left-right-border-box {
    padding: 0px 30px;
    border-left: 1px solid #8399A4;
    border-right: 1px solid #8399A4;
}

.choose-ex-grid-box {
    max-height: 800px;
    overflow-y: auto;
}

.move-arrow {
    display: inline-block;
    /*padding: 29px;*/
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height:15px;
}

.move-arrow-small {
    padding: 18px;
    margin-bottom: 5px;

}

.myCaret:hover {
    cursor: pointer;
}

.move-arrow-vsmall {
    padding: 14px;
    margin-bottom: 5px;
}

.move-arrow.move-up.disable {
    background-image: url("../images/arrow_gray_up.png");
}

.move-arrow.move-down.disable {
    background-image: url("../images/arrow_gray_down.png");
}

.move-arrow.move-up {
    background-image: url("../images/upward-orange-arrow.png");

}

.move-arrow.move-down {
    background-image: url("../images/down-orange-arrow.png");
}





.hep-item-from {
    width: 100%;
}

    .hep-item-from tr td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .hep-item-from tr td:first-child {
            padding-right: 8px;
        }

    .hep-item-from .freq-td {
        background-color: #EAEEF0;
        color: #8A9FA9;
        font-weight: 100;
        font-size: 10px;
    }

        .hep-item-from .freq-td > div.display-inline-flex {
            display: inline-flex;
            text-align: center;
        }

            .hep-item-from .freq-td > div.display-inline-flex > div {
                padding: 2px 12px;
                text-align: center;
            }

                .hep-item-from .freq-td > div.display-inline-flex > div > label {
                    display: block;
                    width: 100%;
                    margin-bottom: 0;
                }

.tmp {
    width: 14%;
    text-align: center;
}

.gray-bar-title {
    background-color: #EAEEF0;
    padding: 10px 20px;
    font-weight: bold;
    color: black;
}

.screen-title-large {
    font-size: 28px;
}

.patient-row-icon-container {
    /*display: inline-block;
    position: absolute;
    right: -50px;
    top: 8px;*/
}

.patient-detail-container {
    width: 275px;
}

    .patient-detail-container .patient-img-container {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

        .patient-detail-container .patient-img-container img {
            height: 35px;
            width: 35px;
        }

    .patient-detail-container .patient-name-container {
        float: left;
        min-width: 136px;
        max-width: 180px;
    }

        .patient-detail-container .patient-name-container .custom-html-title {
            font-size: 14px;
            color: #535C61;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .patient-detail-container .patient-name-container .custom-html-sub-title {
            font-size: 12px;
            color: #7c8d96;
        }

    .patient-detail-container .patient-action-container {
        position: absolute;
        padding-top: 5px;
        right: 0;
    }

.notif-title {
    font-size: medium;
    font-family: Lato-Bold;
}

.notif-sub-title {
}

.notif-badge {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 72%;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    top: 4px;
    left: 16px;
    border: 2px solid white;
    z-index: 1001;
    line-height: 1.8;
}

.chat-notif-badge {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 72%;
    color: white;
    position: absolute;
    top: 9px;
    right: -7px;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    border: 2px solid white;
    z-index: 1001;
    line-height: 1.8;
}
/*.create-group-header {
    background:#EAEEF0;
    padding:20px;
}*/

.hep-list-container {
    max-height: 800px;
    overflow-y: scroll;
}

.model-hep-list-container {
    max-height: 400px;
    overflow-y: scroll;
}

.modal-large-modal {
    width: 80% !important;
}

.group-item {
    background-color: #F2F6FE;
}

.group-header {
    background-color: #DEE9FE;
}

.day-item-container {
    padding: 10px;
}

.day-item {
    float: left;
    text-align: center;
    margin: 0px 5px;
}

    .day-item input[type=number] {
        width: 52px;
        text-align: center;
    }

    .day-item label {
        color: #8399A4;
        font-family: lato-regular;
    }

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.cropArea {
    overflow: hidden;
    width: 100% !important;
    height: 350px;
    margin-top: 20px;
    padding: 20px;
}


img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

    img-crop canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }


/*.col-md-1 .form-group .angucomplete-holder .input-group .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}

.col-md-1 .form-group .angucomplete-holder .input-group:after {
    position: absolute;
    display: block;
    content: "\f078";
    font-family: FontAwesome;
}

.col-md-1 .form-group .angucomplete-holder .input-group .input-group-btn {
    display: none;
}*/

.rightMenuParent {
    background-color: #e5e5e5;
}

.list-group {
    color: #eee;
    white-space: nowrap;
    background-color: #e5e5e5;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.list-group-item .list-group .list-group-item:first-child {
    padding-top: 3px;
}

.list-group-item .list-group .list-group-item:last-child {
    padding-bottom: 3px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.list-group-item {
    font-weight: normal;
    white-space: nowrap;
    padding: 0px;
    padding: 2px 5px 2px;
    line-height: 2;
    border: 0;
}

    .list-group-item > a {
        color: black;
        font-size: 20px;
        font-family: 'Proxima Nova';
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 400;
        line-height: 2;
        padding-left: 36px;
    }

        .list-group-item > a .icon {
            position: absolute;
            top: 12px;
        }

    .list-group-item a:hover,
    .list-group-item a:focus,
    .list-group-item a.active {
        text-decoration: none;
    }

    .list-group-item .list-group {
        margin-bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .list-group-item.collapsed:after {
        font-family: "FontAwesome";
        content: "\f107";
        position: absolute;
        right: 28px;
        font-size: 20px;
        font-weight: 400;
        top: 50%;
        line-height: 1;
        margin-top: -10px;
        color: black;
    }

.mini-cal .dhx_cal_container.dhx_mini_calendar {
    border: 0;
    box-shadow: 0px 0px 0px !important;
    border-radius: 0px;
}

    .mini-cal .dhx_cal_container.dhx_mini_calendar .dhx_year_month {
        background: #03a9f4;
        color: white;
        border-radius: 4px;
        padding: 5px;
        height: 30px;
        text-transform: capitalize;
    }

    .mini-cal .dhx_cal_container.dhx_mini_calendar .dhx_year_week {
        margin: 5px !important;
        height: 25px !important;
    }

        .mini-cal .dhx_cal_container.dhx_mini_calendar .dhx_year_week .dhx_scale_bar {
            color: #03a9f4 !important;
        }

    .mini-cal .dhx_cal_container.dhx_mini_calendar .dhx_now .dhx_month_head {
        background: transparent !important;
        color: #63BBF9;
        font-weight: bold;
    }

.dhx_now .dhx_month_body, .dhx_now .dhx_month_head {
    background-color: #63BBF9 !important;
}

.dhx_cal_container .dhx_cal_navline .dhx_cal_tab {
    background: #F4F8F9 !important;
}

.patient-pain-container {
    height: 37px;
    width: 37px;
}

    .patient-pain-container .rating-icon {
        height: 37px;
        width: 37px;
    }

    .patient-pain-container pain-rat-none {
        display: none;
    }

    .patient-pain-container .pain-rat-0 {
        background-image: url('../images/patient-pain-icons/0-pain.png');
    }

    .patient-pain-container .pain-rat-1-2 {
        background-image: url('../images/patient-pain-icons/1-2-pain.png');
    }

    .patient-pain-container .pain-rat-3-4 {
        background-image: url('../images/patient-pain-icons/3-4-pain.png');
    }

    .patient-pain-container .pain-rat-5-6 {
        background-image: url('../images/patient-pain-icons/5-6-pain.png');
    }

    .patient-pain-container .pain-rat-7-8 {
        background-image: url('../images/patient-pain-icons/7-8-pain.png');
    }

    .patient-pain-container .pain-rat-9-10 {
        background-image: url('../images/patient-pain-icons/9-10-pain.png');
    }


.clinician-roster {
    margin-top: 15px;
}

    .clinician-roster .section-title {
        font-size: 13px;
        padding: 7px 5px;
        color: #ED7D31;
        display: block;
        border-radius: 4px;
        border: 1px solid #dadada;
        text-transform: uppercase;
        font-weight: 300;
    }

        .clinician-roster .section-title:hover {
            text-decoration: none;
        }

    .clinician-roster > div {
        background-color: #F2F2F2;
    }

        .clinician-roster > div > .list-group {
        }

            .clinician-roster > div > .list-group .list-group-item {
                padding: 5px 8px 3px;
            }

                .clinician-roster > div > .list-group .list-group-item label {
                    color: black;
                    font-weight: normal;
                }

                    .clinician-roster > div > .list-group .list-group-item label input[type=checkbox]:checked {
                        background-color: cornflowerblue;
                    }



.clinician-rosterOne {
    margin-top: 15px;
}

    .clinician-rosterOne .section-title {
        font-size: 13px;
        padding: 7px 5px;
        color: #7890A7;
        display: block;
        border-radius: 4px;
        border: 1px solid #dadada;
        text-transform: uppercase;
        font-weight: 300;
    }

        .clinician-rosterOne .section-title:hover {
            text-decoration: none;
        }

    .clinician-rosterOne > div {
        background-color: #F2F2F2;
    }

        .clinician-rosterOne > div > .list-group {
        }

            .clinician-rosterOne > div > .list-group .list-group-item {
                padding: 5px 8px 3px;
            }

                .clinician-rosterOne > div > .list-group .list-group-item label {
                    color: black;
                    font-weight: normal;
                }

                    .clinician-rosterOne > div > .list-group .list-group-item label input[type=checkbox]:checked {
                        background-color: cornflowerblue;
                    }



.dhx_cal_navline.schedules {
    position: relative;
}

    .dhx_cal_navline.schedules .btn-group {
        position: absolute;
        right: 20px;
        top: 13px;
    }

        .dhx_cal_navline.schedules .btn-group .btn.btn-default {
            padding: 5px 15px;
        }

        .dhx_cal_navline.schedules .btn-group .dropdown-menu {
            right: 0;
            left: auto;
        }

            .dhx_cal_navline.schedules .btn-group .dropdown-menu .list-group-item {
                position: relative;
            }

                .dhx_cal_navline.schedules .btn-group .dropdown-menu .list-group-item > div {
                    border-bottom: 1px solid gray;
                }

                .dhx_cal_navline.schedules .btn-group .dropdown-menu .list-group-item .color-icon {
                    position: absolute;
                    padding: 8px 15px;
                    margin-right: 5px;
                    left: 5px;
                    top: 8px;
                    /* border-radius: 10px; */
                }

                .dhx_cal_navline.schedules .btn-group .dropdown-menu .list-group-item span:last-child {
                    padding-left: 35px;
                }

.scheduler-legend-modal-container {
}

    .scheduler-legend-modal-container .modal-title {
        padding: 15px;
        background-color: blue;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .scheduler-legend-modal-container .modal-body,
    .scheduler-legend-modal-container .container-fluid {
        padding: 0;
    }

        .scheduler-legend-modal-container .modal-body .section-title {
            font-size: 16px;
            font-weight: 400;
            padding: 15px 10px;
            background: #dedede;
        }

/*To Remove scheduler event item side menu*/
.dhx_cal_select_menu {
    display: none;
}

.case-status {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

    .case-status .Inprogress {
        height: inherit;
        background-color: lightgreen;
    }

    .case-status .Inactive {
        height: inherit;
        background-color: cornflowerblue;
    }

    .case-status .Discharged {
        height: inherit;
        background-color: indianred;
    }

.event-header {
}

    .event-header .fa {
        font-size: 25px;
        position: absolute;
        top: 6px;
    }

    .event-header span {
        margin-left: 25px;
    }

.event-body {
    padding-left: 15px;
}

.appointment-event-detail-modal-container { 
    
}

.appointment-event-detail-modal-container {
}

    .appointment-event-detail-modal-container .container-fluid {
        padding-bottom: 0;
      
    }


    .appointment-event-detail-modal-container .modal-body {
        padding-top: 15px;
        margin-top: 20px;
    }

    .appointment-event-detail-modal-container .modal-footer {
        background-color: #F9E7DB;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-color: transparent;
    }

/*/.appointment-event-detail-modal-container .modal-header,*/
.ui-select-bootstrap .ui-select-toggle {
    background-color: white !important;
    color: black;
}

.config-form-layout .cba-properties-form.white-panel-box {
    min-height: 300px;
}

.chat-parent {
    margin: 10px 0px;
    background-color: white;
    border: 1px solid #ebf1f4;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: 5px;
}

    .chat-parent .session-list-parent {
        background: #F0F6F9;
        min-height: 200px;
    }

.chat-msg-list-container {
    overflow-y: scroll;
    height: 600px;
    overflow-x: hidden;
}

.chat-msg-item {
    margin-top: 10px;
    min-width: 100px;
}

.chat-blue-white {
    padding: 14px;
    background-color: #f1f1f1;
    margin-left: 16px;
    border-radius: 0px 8px 8px 8px;
}


.chat-blue-bubble {
    word-wrap: break-word;
    padding: 14px;
    color: white;
    background-color: #03A9F4;
    margin-right: 16px;
    border-radius: 8px 0px 8px 8px;
}

.chat-time {
    color: #909190;
    margin-top: 5px;
}

.contact-item {
    background-color: white;
    border-radius: 3px;
    margin: 10px 0px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    padding: 5px 0px;
}

.chat-text-box {
    width: 100%;
    border: 0px;
    height: 52px;
    padding: 0px 16px;
    outline: none;
}

.chat-send-icon {
    background: transparent;
    background-image: url('../images/icons/send-button.png');
    background-size: 38px 38px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    height: 52px;
    width: 52px;
}

.session-item {
    padding: 15px;
}

.session-title {
    font-size: large;
}

.session-sub-title {
    color: #8399A4;
    font-size: medium;
}

.chat-tab li {
    width: 50%;
    text-align: center;
}

    .chat-tab li a {
        margin-right: 0px;
    }

        .chat-tab li a,
        .chat-tab li a:hover {
            border: 0px;
            border-radius: 0px;
            color: white;
            font-size: 26px;
            height: 52px;
            background-color: #78909C;
        }


    .chat-tab li.active a,
    .chat-tab li.active a:hover {
        border: 0px;
        background-color: #F0F6F9;
        color: #03A9F4;
    }

.chat-tab-body {
    background-color: #F0F6F9;
    min-height: 300px;
    min-height: 688px;
    position: relative;
}

.new-msg-btn {
    position: absolute;
    top: 22px;
    right: 15px;
}


.chat-search-box {
    background-color: #DBEAF0;
    border-radius: 50px;
    margin-right: 56px;
}

    .chat-search-box .input-group-addon {
        color: #A6CFE1;
        padding-left: 20px;
    }

    .chat-search-box input,
    .chat-search-box input:focus,
    .chat-search-box .input-group-addon {
        background-color: transparent;
        border: 0px;
        outline: none !important;
        box-shadow: 0px 0px 0px;
    }

        .chat-search-box input::-webkit-input-placeholder {
            color: #A6CFE1;
        }


.comm-dropdown {
    width: 280px;
    padding: 0px;
}

    .comm-dropdown .divider {
        margin: 0px;
    }


    .comm-dropdown .list-item {
        background-color: #EDF7FC;
    }

    .comm-dropdown .go-to {
        color: #5FC4F7;
        font-size: medium;
    }

    .comm-dropdown .bottom-section {
        text-align: center;
        padding: 8px;
    }

        .comm-dropdown .bottom-section .go-to a:hover {
            text-decoration: none;
        }

.chat-list-container {
    padding: 0px;
    box-shadow: 10px 1px 20px 0px #E7E8EB;
}

.chat-list-container {
    padding-left: 15px;
}

.chat-box-container {
    padding-left: 25px;
}

.dropdown-menu .datepicker {
    min-width: 300px;
}
