﻿
.icon-button {
    margin-right: 5px;
}

.icon-button,
.btn-icon {
    display: block;
    width: 30px;
    height: 15px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

    .btn-icon.btn-icon-add {
        background-image: url('../images/icons/add-new-icon.png');
    }

    .btn-icon.btn-icon-chat-gray {
        background-image: url('../images/buttons/btn-chat-gray.png');
    }

    .btn-icon.btn-icon-dollar-gray {
        background-image: url('../images/buttons/btn-dollar-gray.png');
    }

    .btn-icon.btn-icon-mail-gray {
        background-image: url('../images/buttons/btn-mail-gray.png');
    }

    .icon-button.icon-more,
    .btn-icon.btn-icon-more {
        background-image: url('../images/buttons/btn-more-new.png');
    }

    .icon-button.icon-edit,
    .btn-icon.btn-icon-edit {
        background-image: url('../images/buttons/btn-edit.png');
    }

    .icon-button.icon-message,
    .btn-icon.btn-icon-message {
        background-image: url('../images/buttons/btn-message.png');
    }

    .icon-button.icon-chat {
        background-image: url('../images/buttons/btn-chat.png');
    }

    .icon-button.icon-save,
    .btn-icon.btn-icon-save {
        background-image: url('../images/buttons/save.png');
    }

    .icon-button.icon-cancel,
    .btn-icon.btn-icon-cancel {
        background-image: url('../images/buttons/cancel.png');
    }

    .btn-icon.btn-icon-chat {
        background-image: url(../images/icons/patient-chat.png);
    }


    .btn-icon.btn-icon-tab-message {
        background-image: url(../images/icons/patient-message.png);
    }

.icon-button {
    height: 30px;
    width: 35px;
    border-radius: 4px;
    background-size: cover;
}

    .icon-button.icon-more {
        float: left;
    }

.icon {
    display: block;
    width: 30px;
    height: 20px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

    .icon.icon-sort {
        background-image: url('../images/icons/custom-soting.png');
    }

        .icon.icon-sort.sort-asc {
            background-image: url('../images/icons/custom-soting-asc.png');
        }

        .icon.icon-sort.sort-desc {
            background-image: url('../images/icons/custom-soting-desc.png');
        }



.tabs-link li .icon {
    margin-right: 8px;
}
    /*  Normal States   */
    .tabs-link li .icon.icon-personalInformation {
        background-image: url('../images/icons/right-panel-icons/personal-info.png');
    }

    .tabs-link li .icon.icon-continualEducationCredits,
    .tabs-link li .icon.icon-education {
        background-image: url('../images/icons/right-panel-icons/education.png');
    }

    .tabs-link li .icon.icon-certificates {
        background-image: url('../images/icons/right-panel-icons/certificates.png');
    }

    .tabs-link li .icon.icon-skills {
        background-image: url('../images/icons/right-panel-icons/skills.png');
    }

    .tabs-link li .icon.icon-availability {
        background-image: url('../images/icons/right-panel-icons/availability.png');
    }

    .tabs-link li .icon.icon-workExperience {
        background-image: url('../images/icons/right-panel-icons/work-experience.png');
    }

    .tabs-link li .icon.icon-addResume {
        background-image: url('../images/icons/right-panel-icons/add-resume.png');
    }

    .tabs-link li .icon.icon-summary {
        background-image: url('../images/icons/right-panel-icons/summary.png');
    }

    .tabs-link li .icon.icon-resourcePerformance {
        background-image: url('../images/icons/right-panel-icons/performance.png');
    }

    .tabs-link li .icon.icon-goalsAndPerformance {
        background-image: url('../images/icons/right-panel-icons/goalsAndPerformance.png');
    }

    .tabs-link li .icon.icon-organizationalHierarchy {
        background-image: url('../images/icons/right-panel-icons/organizationalHierarchy.png');
    }

    .tabs-link li .icon.icon-currentCondition,
    .tabs-link li .icon.icon-patientCaseDetails,
    .tabs-link li .icon.icon-patientDetails {
        background-image: url('../images/icons/right-panel-icons/patient-info.png');
    }

    .tabs-link li .icon.icon-medicalCondition,
    .tabs-link li .icon.icon-patientCases {
        background-image: url('../images/icons/right-panel-icons/patient-cases.png');
    }

    .tabs-link li .icon.icon-schedualHistory {
        background-image: url('../images/icons/right-panel-icons/schedule-history.png');
    }

    .tabs-link li .icon.icon-records,
    .tabs-link li .icon.icon-documents {
        background-image: url('../images/icons/right-panel-icons/document.png');
    }

    .tabs-link li .icon.icon-communication {
        background-image: url('../images/icons/right-panel-icons/communications.png');
    }

    .tabs-link li .icon.icon-billing {
        background-image: url('../images/icons/right-panel-icons/billing.png');
    }

    .tabs-link li .icon.icon-chartNotes {
        background-image: url('../images/icons/right-panel-icons/chart-notes.png');
    }

    .tabs-link li .icon.icon-outcomes {
        background-image: url('../images/icons/right-panel-icons/outcomes.png');
    }

    .tabs-link li .icon.icon-logHistory {
        background-image: url('../images/icons/right-panel-icons/log-history.png');
    }

    .tabs-link li .icon.icon-hep,
    .tabs-link li .icon.icon-patientHep {
        background-image: url('../images/icons/right-panel-icons/hep.png');
    }

    .tabs-link li .icon.icon-mobileAccess {
        background-image: url('../images/icons/right-panel-icons/mobile-access.png');
    }


/*  Hover States    */

.tabs-link li:hover .icon.icon-personalInformation,
.tabs-link li.active .icon.icon-personalInformation {
    background-image: url('../images/icons/right-panel-icons/personal-info-active.png');
}

.tabs-link li:hover .icon.icon-continualEducationCredits,
.tabs-link li.active .icon.icon-continualEducationCredits,
.tabs-link li:hover .icon.icon-education,
.tabs-link li.active .icon.icon-education {
    background-image: url('../images/icons/right-panel-icons/education-active.png');
}

.tabs-link li:hover .icon.icon-certificates,
.tabs-link li.active .icon.icon-certificates {
    background-image: url('../images/icons/right-panel-icons/certificates-active.png');
}

.tabs-link li:hover .icon.icon-skills,
.tabs-link li.active .icon.icon-skills {
    background-image: url('../images/icons/right-panel-icons/skills-active.png');
}

.tabs-link li:hover .icon.icon-availability,
.tabs-link li.active .icon.icon-availability {
    background-image: url('../images/icons/right-panel-icons/availability-active.png');
}

.tabs-link li:hover .icon.icon-workExperience,
.tabs-link li.active .icon.icon-workExperience {
    background-image: url('../images/icons/right-panel-icons/work-experience-active.png');
}

.tabs-link li:hover .icon.icon-addResume,
.tabs-link li.active .icon.icon-addResume {
    background-image: url('../images/icons/right-panel-icons/add-resume-active.png');
}

.tabs-link li:hover .icon.icon-resourcePerformance,
.tabs-link li.active .icon.icon-resourcePerformance {
    background-image: url('../images/icons/right-panel-icons/performance-active.png');
}

.tabs-link li:hover .icon.icon-goalsAndPerformance,
.tabs-link li.active .icon.icon-goalsAndPerformance {
    background-image: url('../images/icons/right-panel-icons/goalsAndPerformance-active.png');
}

.tabs-link li:hover .icon.icon-organizationalHierarchy,
.tabs-link li.active .icon.icon-organizationalHierarchy {
    background-image: url('../images/icons/right-panel-icons/organizationalHierarchy-active.png');
}


.tabs-link li:hover .icon.icon-currentCondition,
.tabs-link li.active .icon.icon-currentCondition,
.tabs-link li:hover .icon.icon-patientCaseDetails,
.tabs-link li.active .icon.icon-patientCaseDetails,
.tabs-link li:hover .icon.icon-patientDetails,
.tabs-link li.active .icon.icon-patientDetails {
    background-image: url('../images/icons/right-panel-icons/patient-info-active.png');
}

.tabs-link li:hover .icon.icon-medicalCondition,
.tabs-link li.active .icon.icon-medicalCondition,
.tabs-link li:hover .icon.icon-patientCases,
.tabs-link li.active .icon.icon-patientCases {
    background-image: url('../images/icons/right-panel-icons/patient-cases-active.png');
}

.tabs-link li:hover .icon.icon-schedualHistory,
.tabs-link li.active .icon.icon-schedualHistory {
    background-image: url('../images/icons/right-panel-icons/schedule-history-active.png');
}


.tabs-link li:hover .icon.icon-records,
.tabs-link li.active .icon.icon-records,
.tabs-link li:hover .icon.icon-documents,
.tabs-link li.active .icon.icon-documents {
    background-image: url('../images/icons/right-panel-icons/document-active.png');
}

.tabs-link li:hover .icon.icon-communication,
.tabs-link li.active .icon.icon-communication {
    background-image: url('../images/icons/right-panel-icons/communications-active.png');
}

.tabs-link li:hover .icon.icon-billing,
.tabs-link li.active .icon.icon-billing {
    background-image: url('../images/icons/right-panel-icons/billing-active.png');
}

.tabs-link li:hover .icon.icon-chartNotes,
.tabs-link li.active .icon.icon-chartNotes {
    background-image: url('../images/icons/right-panel-icons/chart-notes-active.png');
}

.tabs-link li:hover .icon.icon-outcomes,
.tabs-link li.active .icon.icon-outcomes {
    background-image: url('../images/icons/right-panel-icons/outcomes-active.png');
}

.tabs-link li:hover .icon.icon-summary,
.tabs-link li.active .icon.icon-summary {
    background-image: url('../images/icons/right-panel-icons/summary-active.png');
}


.tabs-link li:hover .icon.icon-logHistory,
.tabs-link li.active .icon.icon-logHistory {
    background-image: url('../images/icons/right-panel-icons/log-history-active.png');
}


.tabs-link li:hover .icon.icon-hep,
.tabs-link li:hover .icon.icon-patientHep,
.tabs-link li.active .icon.icon-patientHep {
    background-image: url('../images/icons/right-panel-icons/hep-active.png');
}

.tabs-link li:hover .icon.icon-mobileAccess,
.tabs-link li.active .icon.icon-mobileAccess {
    background-image: url('../images/icons/right-panel-icons/mobile-access-active.png');
}





/*  Sortable Icons  */
.resources .sortable {
    position: relative;
}

    .resources .sortable:after {
        content: "";
        position: absolute;
        right: 0;
        top: 17px;
        background-image: url(../images/icons/custom-soting.png);
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .resources .sortable.sort-asc:after {
        width: 6px;
        height: 16px;
        background-image: url(../images/icons/custom-soting-asc.png);
    }


    .resources .sortable.sort-desc:after {
        width: 6px;
        height: 16px;
        background-image: url(../images/icons/custom-soting-desc.png);
    }

/*  ---------------  Sorting Icons */

/* Navigation Icons */
.icon.icon-menu-bars {
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/menubar.png');
    
}

.icon.icon-notification {
    position: relative;
    background-image: url('../images/icons/notification.png');
}

    .icon.icon-notification.active {
        background-image: url('../images/icons/notification-active.png');
    }

    .icon.icon-notification:before {
        position: absolute;
        display: block;
        background-color: red;
        border-radius: 100%;
        width: 10px;
        height: 10px;
    }

.icon.icon-search {
    background-image: url('../images/icons/search.png');
}

.btn .icon.icon-search {
    width: 20px;
    height: 15px;
}



.icon-right-menu-finances {
    background-image: url("../images/icons/normal/financials.png");
}

.icon-right-menu-Administrative {
    background-image: url("../images/icons/administrative.png");
}

.icon-right-menu-CustomFields {
    background-image: url("../images/icons/custome-fields.png");
}

.icon-right-menu-Survey {
    background-image: url("../images/icons/survey.png");
}

.icon-right-menu-importExport {
    background-image: url("../images/icons/importexport.png");
}

.icon-right-menu-change-passwords {
    background-image: url("../images/icons/change-password.png");
}

.icon-right-menu-config-data {
    background-image: url("../images/icons/menu-config-data.png");
}

.icon-right-submenu-logout {
    background-image: url("../images/icons/logout.png");
}

.btn-icon-availability {
    background-image: url("../images/DemoImages/availibility.png");
}
