﻿<style>
    .header {
        min-height: 0;
        height: 0;
    }

    .validatorErrorContainer {
        position: relative;
        width: inherit;
        text-align: left;
    }
</style>
<!--<div class="container">
    <div class="text-center">
        <a href="/">
            Home
        </a>
    </div>
</div>-->
<div class="container-fluid" style="margin-top:10px;">
    <!--ng-if="ResetPasswordController.isToShowFields"-->
    <form name="loginForm" ng-submit="resetPasswordFormSubmit(loginForm)" novalidate>
        <div class="panel panel-default custom-panel inner-panel">
            <div class="panel-heading">
                <span class="panel-title">Reset Password</span>
            </div>
            <div class="panel-body" style="width:100%;">
                <div class="change-password-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" ng-model="ResetPasswordController.newPassword"
                                       id="NewPassword" name="NewPassword"
                                       placeholder="New Password" required
                                       pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[_!@#\$%\^&\*]).{8,}">
                                <ng-vadlidator-message ng-element-name="NewPassword" ng-custom-message-pattern="Password must contain at least 8 characters. Choose letters, numbers and a special character."></ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Retype Password</label>
                                <input type="password" class="form-control"
                                       ng-model="ResetPasswordController.retypePassword"
                                       id="RetypePassword" required name="RetypePassword"
                                       ng-equals="{{ResetPasswordController.newPassword}}"
                                       placeholder="Retype Password">
                                <ng-vadlidator-message ng-element-name="RetypePassword"></ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-orange btn-fixed-width">
                                        Done
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>