<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Edit Dashboard</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="dashboardTitle">Title</label>
            <input type="text" class="form-control" id="dashboardTitle" ng-model="copy.title" required="">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label>Structure</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-repeat="(key, structure) in structures">
                    <div class="radio" title="{{key}}">
                        <label>
                            <input type="radio" class="display-none" value="{{key}}" ng-model="model.structure"
                                   ng-change="changeStructure(key, structure)">
                            <img src="Client/assets/images/dashboard/{{key}}.png" ng-class="{'selected':model.structure == key}">
                            <!--{{key}}-->
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-orange btn-fixed-width" ng-click="closeDialog()">Save</button>
</div>
