<div class="dashboard-container container-fluid">
    <div ng-include src="model.titleTemplateUrl"></div>
    <div class="dashboard" x-ng-class="{'edit' : editMode}">
        <adf-dashboard-row row="row"
                           adf-model="model"
                           options="options"
                           ng-repeat="row in model.rows"
                           edit-mode="editMode"
                           continuous-edit-mode="continuousEditMode">
        </adf-dashboard-row>
    </div>
</div>
