<div class="col-md-12">
    <div class="row">
        <div class="dashboard-title background-white">
            {{model.title}}
            <span class="pull-right">
                <a href="" class="btn btn-default btn-orange" title="add new widget" ng-click="addWidgetDialog()">
                    <span class="btn-icon btn-icon-add"></span>
                    Add Widget
                </a>
                <a href="" class="btn btn-default btn-gray" title="edit dashboard" ng-click="editDashboardDialog()">
                    <span class="btn-icon btn-icon-dashboard-edit-layout"></span>
                    Edit Layout
                </a>
                <a href="" ng-if="options.editable" class="btn btn-default btn-gray"
                   title="{{editMode ? 'save changes' : 'enable edit mode'}}" ng-click="toggleEditMode()">
                    <span class="btn-icon"
                          x-ng-class="{'btn-icon-dashboard-edit' : !editMode, 'btn-icon-dashboard-save' : editMode}"></span>
                    <!--<i class="fa " x-ng-class="{'fa-pencil' : !editMode, 'fa-save' : editMode}"></i>-->
                    <span ng-if="editMode"> Save</span>
                    <span ng-if="!editMode"> Edit</span>
                </a>
            </span>
        </div>
    </div>
</div>