<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a Widget</h4>
</div>
<div class="modal-body">
    <table class="table">
        <tr ng-repeat="(key, widget) in widgets">
            <td>
                <img src="Client/assets/images/dashboard/{{widget.type}}.png" width="100">
            </td>
            <td>
                <a href="">
                    {{widget.title | translate}}
                </a>
                <br>
                {{widget.description | translate}}
            </td>
            <td>
                <div class="text-right">
                    <button ng-click="addWidget(key)" type="button" class="btn btn-default">
                        Add Widget
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
</div>
