<form name="widgetEditForm" novalidate role="form" ng-submit="saveDialog()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{widget.title | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="validationError">
            <strong>Apply error:</strong> {{validationError}}
        </div>
        <div class="form-group">
            <label for="widgetTitle">
                Title
                <span class="requireStyle">*</span>
            </label>
            <input type="text" class="form-control" id="widgetTitle" ng-model="definition.title"
                   placeholder="Enter title" ng-required="true">
        </div>
        <div ng-if="widget.edit">
            <adf-widget-content model="definition" content="widget.edit"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeDialog()">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Apply"/>
        <!--ng-disabled="!widgetEditForm.$invalid"-->
    </div>
</form>
