﻿<div ng-if="form.$submitted" ng-messages="form[elementName].$error" role="alert" class="{{::containerClass}}">
    <div class="{{::messageErrorClass}}" ng-message="required">{{::getMessage('Field is required', 'Required')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="minlength">{{::getMessage('Your field is too short', 'MinLength')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="maxlength">{{::getMessage('Your field is too long', 'MaxLength')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="autocomplete-required">Field is required</div>
    <div class="{{::messageErrorClass}}" ng-message="parse">invalid input data</div>
    <div class="{{::messageErrorClass}}" ng-message="number">this field must be number</div>
    <div class="{{::messageErrorClass}}" ng-message="min">min value</div>
    <div class="{{::messageErrorClass}}" ng-message="max">max value</div>
    <div class="{{::messageErrorClass}}" ng-message="pattern">{{::getMessage('Incorrect format', 'Pattern')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="email">this field must be email</div>
    <div class="{{::messageErrorClass}}" ng-message="equals">{{::getMessage('Passwords does not match')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="lessThenDateTime">{{getMessage('Start Date should be less than End Date')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="moreThenDateTime">{{getMessage('Please provide the right date.')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="lessThan">{{getMessage('Start should be less than end.')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="customError">{{getMessage('invalid data', 'CustomError')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="invalidPercentage">{{getMessage('Percentage must be between 1 to 100')}}</div>
    <div class="{{::messageErrorClass}}" ng-message="invalid">Invalid date.</div>
</div>