<div class="master-templates-page tabs-wrap"  >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="tabs-body">
                    <div class="panel panel-default custom-panel blank-panel">
                        <div class="panel-body">
                            <div>
                                <ul class="nav nav-tabs app-tab app-tab-large">
                                    <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
                                        <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                                    </li>
                                </ul>

                                <div class="tab-content app-tab-body">
                                    <!--Tab 1-->
                                    <div id="chat-window" class="tab-pane fade in "
                                         ng-class="{'active': isTabSelected('chat-window')}"
                                         ng-show="isTabSelected('chat-window')">
                                        <div style="padding:0px 15px 0px 15px">
                                            <div ui-view="chatView"></div>
                                        </div>

                                    </div>


                                    <!--Tab 2-->
                                    <div id="templates" class="tab-pane fade in"
                                         ng-class="{'active': isTabSelected('mail-window')}"
                                         ng-show="isTabSelected('mail-window')">
                                        <div style="padding:0px 15px 0px 15px">
                                            <div ui-view="mailView"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>