﻿<div>

    <style type="text/css">
        .ConsentForm P {
            font-size: initial;
        }
    </style>

    <ul class="nav nav-tabs app-tab app-tab-large">
        <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
            <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
        </li>
    </ul>






    <div class="tab-content app-tab-body">
        <!--Tab 1-->
        <div id="Chat" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('Chat')}"
             ng-show="isTabSelected('Chat')">
            <div class="panel-body">
                <img src="Client/assets/images/DemoImages/demo-chat.png" style="width:90%"/>

            </div>

        </div>



        <div id="Mail" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('Mail')}"
             ng-show="isTabSelected('Mail')">
            <div class="panel-body">
                <img src="Client/assets/images/DemoImages/demo-mail.png" style="width:90%"/>
            </div>
        </div>


    </div>
</div>
