﻿@using PatientCare.Utilities
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html ng-app="EDZoutstaffingPortalApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="~/Client/assets/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=100">
    <title>MyIntelligentCare</title>
    <base href="@Url.Content("~/")" target="_blank" />
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @(HttpContext.Current.IsDebuggingEnabled ? Html.Raw(File.ReadAllText(Server.MapPath("~/Client/index.html"))) : Html.Raw(File.ReadAllText(Server.MapPath("~/Client/index.html"))))
</body>
</html>




