<style>
    body {
        background-color: transparent;
    }
</style>
<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        <span>Availability vs Demand</span>

    </h4>
</div>
<div class="modal-body">

    <div style="overflow-x:scroll">
        <img src="Client/assets/images/DemoImages/sampleAVD.PNG" />
    </div>
    
    
    
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
</div>

