﻿<div class="drop-down-config-view">
    <!-- Controller - AdminConfigurationViewController-->
    <form>
        <div class="container-fluid container-wrap tabs-wrap" cg-busy="AdminConfigurationViewController.isLoadingData">
            <div class="panel panel-default custom-panel inner-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Administrative
                    </span>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-3">
                        <div class="cba-properties-form">
                            <edz-tab-links edz-current-tab="AdminConfigurationViewController.currentTab"
                                           ng-repeat="tab in AdminConfigurationViewController.mainViewList track by tab.id">
                                <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::AdminConfigurationViewController[tab.id + '_Click']"
                                              ng-if="::!AdminConfigurationViewController[tab.id + '_Condition']() && tab.visible">
                                    {{tab.name}}
                                </edz-tab-link>
                            </edz-tab-links>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <edz-tab-bodies edz-current-tab="AdminConfigurationViewController.currentTab">
                            <edz-tab-body ng-repeat="tab in AdminConfigurationViewController.mainViewList track by tab.id"
                                          edz-tab-id="{{tab.id}}" edz-tab-content-class="tab-inner"
                                          ng-model-options="{ debounce : { default : 400 }, tabValidationName : tab.id}">
                                <ui-grid-table ng-if="tab.id != 'productivityConfigurations'" ng-get="tab.service.get"
                                               ng-save="tab.service.save"
                                               ng-update="tab.service.update"
                                               ng-delete="tab.service.delete"
                                               ng-option="tab.tableConfigurations"
                                               ng-on-data-get="tab.service.onDataGet"
                                               ng-finance-cofig="true">
                                </ui-grid-table>

                                <div class="" ng-if="tab.id == 'productivityConfigurations'">
                                    <div class="panel panel-default custom-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Productivity Configurations
                                            </div>
                                        </div>
                                        <div class="panel-body admin-configs">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="border-box">
                                                        <div class="col-md-12">
                                                            <h3>Resource Range</h3>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>High</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.range.high" class="form-control" placeholder="Resrouce Range High Value." />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Medium</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.range.medium" class="form-control" placeholder="Resrouce Range Medium Value." />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Low</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.range.low" class="form-control" placeholder="Resrouce Range Low Value." />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="border-box">
                                                        <div class="col-md-12">
                                                            <h3>Job Title</h3>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>High</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.jobTitle.high" class="form-control" placeholder="Job Title High Value." />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Medium</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.jobTitle.medium" class="form-control" placeholder="Job Title Medium Value." />
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Low</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <input type="text" ng-model="AdminConfigurationViewController.dataModel.jobTitle.low" class="form-control" placeholder="Job Title Low Value." />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <br />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="form-group" style="padding-top:26px;">
                                                            <label>
                                                                Estimate Hours Percentage
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Percentage</label>
                                                            <input type="number" min="1" max="100" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EstimateHoursConfig.percentage" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Over</label>
                                                            <input type="number" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EstimateHoursConfig.over" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Under</label>
                                                            <input type="number" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EstimateHoursConfig.under" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="form-group" style="padding-top:26px;">
                                                            <label>
                                                                End Date Percentage
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Percentage</label>
                                                            <input type="number" min="1" max="100" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EndDateConfig.percentage" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Over</label>
                                                            <input type="number" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EndDateConfig.over" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Under</label>
                                                            <input type="number" class="form-control" placeholder="Value" ng-model="AdminConfigurationViewController.dataModel.EndDateConfig.under" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <br />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <h3>Task Complexity Configs</h3>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div ng-repeat="complexity in AdminConfigurationViewController.complxityDataList.data track by complexity.id">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            {{complexity.name}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Value" name="priorityValue" ng-model="complexity.configField2" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <h3>Defect Severity Configs</h3>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div ng-repeat="severity in AdminConfigurationViewController.severityDataList.data track by severity.id">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>
                                                                            {{severity.name}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Value" name="priorityValue" ng-model="severity.configField2" class="form-control" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <br />
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="padding-top:15px;">
                                                    <div class="text-right">
                                                        <button type="button" class="btn btn-default btn-blue btn-fixed-width"
                                                                ng-click="AdminConfigurationViewController.saveButtonClick()">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </edz-tab-body>
                        </edz-tab-bodies>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>