﻿<div class="rightMenuParent">
    <ul class="list-group">
        <!--<li class="list-group-item" data-toggle="collapse" data-target="#{{menuItem.icon}}_submenu"
            ng-if="isVisible(menuItem)"
            ng-repeat="menuItem in menuGroups">
            <a href="#" ng-if="!menuItem.state">
                <span class="icon icon-right-menu-{{menuItem.icon}}"></span>
                {{menuItem.name}}
            </a>
            <a href="#" ng-if="menuItem.state && menuItem.state != ''" ui-sref="{{menuItem.state}}" ng-class="closePanel()">
                <span class="icon icon-right-menu-{{menuItem.icon}}"></span>
                {{menuItem.name}}
            </a>
            <ul ng-if="menuItem.items" class="collapse list-group" id="{{menuItem.icon}}_submenu">
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu" ng-repeat="item in menuItem.items">
                    <a ui-sref="{{item.state}}" ng-click="panels.close()">
                        <span class="icon icon-{{item.icon}}"></span>
                        {{item.title}}
                    </a>
                </li>
            </ul>
        </li>-->
        <li class="list-group-item" data-toggle="collapse"
            data-target="#Administrative_submenu"
            ng-if="isAuthenticated() && isAdmin()">
            <a ui-sref="adminConfigData" ng-click="panels.close()">
                <span class="icon icon-right-menu-Administrative"></span>
                Administrative
            </a>
            <!--
            <ul class="collapse list-group" id="Administrative_submenu">
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="role" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-role"></span>
                        Role
                    </a>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="userList" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-userList"></span>
                        Users
                    </a>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="clientCompany" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-clientCompany"></span>
                        Client Company
                    </a>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="login-history" ng-click="panels.close()">
                        <span class="icon icon-login-history"></span>
                        Login History
                    </a>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="dashboard-list" ng-click="panels.close()">
                        <span class="icon icon-icon-dashboard"></span>
                        Dashboards
                    </a>
                </li>
            </ul>
                -->
        </li>

        <li class="list-group-item" ng-if="isAuthenticated()" ng-click="panels.close()">
            <a href="#"  ui-sref="changePassword">
                <span class="icon icon-right-menu-change-passwords"></span>
                Change Password
            </a>
        </li>
        <li class="list-group-item" 
            ng-if="isAuthenticated() && isCustomConfigDataVisible()" ng-click="panels.close()">
            <a href="#" ui-sref="configurationData" >
                <span class="icon icon-right-menu-config-data"></span>
                Configuration Data
            </a>
        </li>
        <!--<li class="list-group-item" data-toggle="collapse" ng-if="isAuthenticated() && isAdmin()">
            <a href="custom-field" ng-click="panels.close()">
                <span class="icon icon-right-menu-CustomFields"></span>
                Custom Fields
            </a>
        </li>-->

        <!--<li class="list-group-item has-chidren collapsed" data-toggle="collapse" data-target="#ImportExport" ng-if="isImportVisible() || isExportVisible()">
            <a href="#">
                <span class="icon icon-right-menu-importExport"></span>
                Import/Export
            </a>
            <ul class="collapse list-group arrow_box" id="ImportExport">
                <li class="list-group-item" ng-if="isImportVisible()">
                    <a href="#" type="file" ngf-select="" ngf-change="uploadResoruces($file, $invalidFiles)" accept=".xlsx" ngf-max-size="'5120KB'" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-importResources"></span>
                        Import Resources
                    </a>
                </li>
                <li class="list-group-item" ng-if="isExportVisible()">
                    <a ng-click="exportResources()">
                        <span class="icon icon-right-submenu-exportResources"></span>
                        Export Resources
                    </a>
                </li>
            </ul>
        </li>-->

        <!--<li class="list-group-item has-chidren collapsed"
            data-toggle="collapse" data-target="#Survey_submenu"
            ng-if="isAuthenticated()">
            <a href="#">
                <span class="icon icon-right-menu-Survey"></span>
                Survey
            </a>
            <ul class="collapse list-group arrow_box" id="Survey_submenu">
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="survey" ng-click="panels.close()">
                        <span class="icon icon-Survey"></span>
                        Surveys
                    </a>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
                    <a ui-sref="surveyCategory" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-surveyCategory"></span>
                        Survey Categories
                    </a>
                </li>
            </ul>
        </li>-->

        <li class="list-group-item" data-toggle="collapse" ng-if="isAuthenticated()">
            <a href="#" ng-click="logout()">
                <span class="icon icon-right-submenu-logout"></span>
                Logoff
            </a>
        </li>
    </ul>
</div>


<!--<div class="rightMenuParent">
    <ul class="list-group">

        <li class="list-group-item" data-toggle="collapse" data-target="#Administrative">
            <a href="#">
                <span class="icon icon-right-menu-Administrative"></span>
                Administrative
            </a>
            <ul class="collapse list-group" id="Administrative">
                <li class="list-group-item">
                    <a href="#" ui-sref="role" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-role"></span>
                        Roles
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="user-list" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-userList"></span>
                        Users
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="clientCompany" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-clientCompany"></span>
                        Client Companies
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="surveyCategory" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-surveyCategory"></span>
                        Survey Categories
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="login-history" ng-click="panels.close()">
                        <span class="icon icon-login-history"></span>
                        Login History
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="company-configuration" ng-click="panels.close()">
                        <span class="icon icon-company-configuration"></span>
                        Compnay Configuration
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item" data-toggle="collapse" data-target="#resourceSubMenu">
            <a href="#">
                <span class="icon icon-right-menu-resource"></span>
                Resources
            </a>
            <ul class="collapse list-group" id="resourceSubMenu">
                <li class="list-group-item">
                    <a href="#" ui-sref="certificate" ng-click="closeRightPanel()">
                        <span class="icon icon-right-submenu-certificate"></span>
                        Certificates
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="country" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-country"></span>
                        Countries
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="department" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-department"></span>
                        Departments
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="division" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-division"></span>
                        Divisions
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="jobTitle" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-jobTitle"></span>
                        Job Titles
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="language" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-language"></span>
                        Languages
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="resourceCompany" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-resourceCompany"></span>
                        Resource Companies
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="skill" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-skill"></span>
                        Skills
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="committee-membership" ng-click="panels.close()">
                        <span class="icon icon-comittee-membership"></span>
                        Committee Membership
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="committee-title" ng-click="panels.close()">
                        <span class="icon icon-comittee-title"></span>
                        Committee Title
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item" data-toggle="collapse" data-target="#projectSubMenu">
            <a href="#">
                <span class="icon icon-right-menu-project"></span>
                Projects
            </a>
            <ul class="collapse list-group" id="projectSubMenu">
                <li class="list-group-item">
                    <a href="#" ui-sref="projectStakeHolderRole" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-projectStakeHolderRole"></span>
                        Project Stakeholder Roles
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="projectType" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-projectType"></span>
                        Project Types
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="project-portfolio" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-projectPortfolio"></span>
                        Project Portfolio
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item" data-toggle="collapse" data-target="#Financials">
            <a href="#">
                <span class="icon icon-right-menu-finances"></span>
                Financials
            </a>
            <ul class="collapse list-group" id="Financials">
                <li class="list-group-item">
                    <a href="#" ui-sref="expenseType" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-expenseType"></span>
                        Expense Types
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="config-data" ng-click="panels.close()">
                        <span class="icon icon-config-data"></span>
                        Configuration Data
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" ui-sref="invoiceConfig" ng-click="panels.close()">
                        <span class="icon icon-config-data"></span>
                        Invoice Configuration
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item" data-toggle="collapse">
            <a href="custom-field" ng-click="panels.close()">
                <span class="icon icon-right-menu-CustomFields"></span>
                Custom Fields
            </a>
        </li>
        <li class="list-group-item" data-toggle="collapse" data-target="#ImportExport">
            <a href="#">
                <span class="icon icon-right-menu-importExport"></span>
                Import/Export
            </a>
            <ul class="collapse list-group" id="ImportExport">
                <li class="list-group-item">
                    <a href="#" type="file" ngf-select="" ngf-change="uploadResoruces($file, $invalidFiles)" accept=".xlsx" ngf-max-size="'5120KB'" ng-click="panels.close()">
                        <span class="icon icon-right-submenu-importResources"></span>
                        Import Resources
                    </a>
                </li>
                <li class="list-group-item">
                    <a ng-click="exportResources()">
                        <span class="icon icon-right-submenu-exportResources"></span>
                        Export Resources
                    </a>
                </li>
            </ul>
        </li>
        <li class="list-group-item" data-toggle="collapse">
            <a href="surveys" ng-click="panels.close()">
                <span class="icon icon-right-menu-Survey"></span>
                Survey
            </a>
        </li>
        <li class="list-group-item" ng-if="isAuthenticated()" data-toggle="collapse">
            <a href="#" ng-click="changePassword()">
                <span class="icon icon-right-menu-change-passwords"></span>
                Change Password
            </a>
        </li>
        <li class="list-group-item" data-toggle="collapse">
            <a href="logout" ng-click="logout()" ng-if="isAuthenticated()">
                <span class="icon icon-right-submenu-logout"></span>
                Logoff
            </a>
        </li>
    </ul>
</div>-->
