﻿<!-- Pre Load Images for Button View, Edit and Delete -->
<span class="icon-view display-none"></span>
<span class="icon-edit display-none"></span>
<span class="icon-delete display-none"></span>


<div class="panel panel-default custom-panel gird-panel" cg-busy="uiGridTableCtrl.loadTable">
    <div class="panel-heading" ng-if="::!uiGridTableCtrl.option.hideTitle">

        <div class="row">
            <div class="col-sm-3">
                <div class="panel-title" style="">
                    <div ng-bind-html="uiGridTableCtrl.option.pageName | translate"></div>
                    <div class="panel-sub-title" ng-if="uiGridTableCtrl.totalCount>0">
                        Showing
                        <span class="panel-counter" ng-bind-html="(uiGridTableCtrl.totalCount>uiGridTableCtrl.pageSize?uiGridTableCtrl.pageSize:uiGridTableCtrl.totalCount)"></span>
                        out of
                        <span ng-bind-html="uiGridTableCtrl.totalCount"></span>
                        <span ng-bind-html="uiGridTableCtrl.option.pageName | translate"></span>
                    </div>

                </div>
            </div>

            <div class="col-sm-9">
                <span ng-repeat="item in ::uiGridTableCtrl.option.headerLeftItems">
                    <label class="checkbox">
                        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-click="::item.click($event)" />
                        <span class="labelCheckbox margin-top-5">{{::item.title}}</span>
                    </label>
                </span>


                <div class="pull-right" ng-if="::!uiGridTableCtrl.option.hideGridRightOptions">
                    <button type="button" class="btn btn-default btn-blue pull-right" ng-if="::!uiGridTableCtrl.option.hideAddButton"
                            ng-click="uiGridTableCtrl.add()" ng-disabled="::uiGridTableCtrl.disabledAddButton()">
                        <span class="fa fa-plus"></span>
                        &nbsp;Add New
                    </button>
                    <div class="dropdown pull-right" ng-if="::uiGridTableCtrl.option.showDropDownAddButton">
                        <button class="btn btn-default dropdown-toggle btn-blue" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-plus"></span>
                            &nbsp;Add New
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="option in uiGridTableCtrl.option.dropDownAddButtonOptions track by $index">
                                <a href="#" ng-click="option.onOptionClick()">{{option.title}}</a>
                            </li>
                        </ul>
                    </div>

                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default btn-gray pull-right" ng-click="button.click()"
                            ng-repeat="button in ::uiGridTableCtrl.option.headerButtons | orderBy: button">
                        <span class="btn-icon btn-icon-{{::button.iconClass}}"></span>
                        &nbsp;{{::button.text}}
                    </button>
                    <button ng-if="::!uiGridTableCtrl.option.hideBulkEdit"
                            class="btn btn-default btn-gray pull-right"
                            type="button"
                            ng-click="uiGridTableCtrl.bulkEdit()">
                        <span class="btn-icon btn-icon-bulk-edit"></span>
                        {{uiGridTableCtrl.bulkEditTextButton}}
                    </button>


                    <div class="pull-right" style="width:500px">

                        <div class="row">
                            <div class="col-sm-3">
                                <!--if we can add button pls use angular switch-->
                                <span class="pull-left" ng-repeat="item in ::uiGridTableCtrl.option.headerRightItems">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-click="::item.click($event)" />
                                        <span class="labelCheckbox margin-top-5">{{::item.title}}</span>
                                    </label>
                                </span>
                            </div>
                            <div class="col-sm-9">
                                <span class="pull-left" ng-if="::uiGridTableCtrl.option.showTasksFilters">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="uiGridTableCtrl.filters.onlyMyTasks"
                                               ng-true-value="true" ng-false-value="false" ng-click="uiGridTableCtrl.tableParams.reload()" />
                                        <span class="labelCheckbox">Only my tasks</span>
                                    </label>
                                </span>
                                <div class="search" ng-if="::!uiGridTableCtrl.option.hideSearch">
                                    <form ng-submit="uiGridTableCtrl.pageSearchButtonClick()">
                                        <div class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="uiGridTableCtrl.search.newValue"
                                                   placeholder="Page Search"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Page Search'">
                                            <span class="input-group-btn">
                                                <button style="margin:-1px;"
                                                        class="btn btn-default"
                                                        ng-click="uiGridTableCtrl.pageSearchButtonClick()"
                                                        title="Search" type="submit">
                                                    <i class="icon icon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="panel-body resources">
        <div class="table-responsive">
            <table class="table system-grid-table"
                   ng-table-dynamic="uiGridTableCtrl.tableParams with uiGridTableCtrl.cols"
                   tracked-table="uiGridTableCtrl.trackedTable">
                <tr ng-repeat="row in $data track by row.id" ng-form="rowForm" tracked-table-row="uiGridTableCtrl.row">
                    <td class="{{::col.getColumnClasses()}}"
                        style="vertical-align:top;"
                        ng-repeat="col in $columns" ng-class="{'more-action': col.dataType === 'command'}"
                        ng-form="{{col.field}}" tracked-table-cell
                        valign="top">
                        <div ng-if="::uiGridTableCtrl.checkColIsVisible(col, row)">
                            <!-- View Mode -->
                            <div ng-if="col.dataType !== 'command' && !row.isEditing" ng-switch="::col.dataTypeView">
                                <div class="data-container">
                                    <img class="img" ng-if="!!col.image" ng-src="{{::col.image(row)}} " width="30" height="30" />

                                    <span ng-switch-default
                                          class="text-name {{::col.getClasses(row)}}"
                                          ng-style="::col.getStyles(row)"
                                          style="background-color:{{row[col.field]}};color:{{row[col.field]}}; "
                                          ng-bind-html="(col.customViewText ? col.customViewText(row) : row[col.field])">
                                    </span>

                                    <div ng-switch-when="status">
                                        <span class="status {{col.getStatusSecondaryClass(row)}}"></span>
                                    </div>

                                    <div ng-switch-when="iconStatus">
                                        <span class="status-box {{col.getBoxClass(row)}}">
                                            <i class="fa {{col.getIconClass(row)}}" aria-hidden="true"></i>
                                        </span>

                                    </div>

                                    <div ng-switch-when="custom-html" class="custom-html-template" ng-bind-html="col.templateHTML(row)"></div>

                                    <span ng-switch-when="date-time" class="text-name {{::col.getClasses(row)}}" ng-style="::col.getStyles(row)">
                                        {{uiGridTableCtrl.dateFormat( row[col.field])}}
                                    </span>

                                    <span ng-switch-when="currency" class="text-name {{::col.getClasses(row)}}" ng-style="::col.getStyles(row)">
                                        {{::(col.customViewText ? col.customViewText(row) : row[col.field]) | currency}}
                                    </span>

                                    <div ng-switch-when="color-picker"
                                         class="text-name {{::col.getClasses(row)}}"
                                         ng-style="::col.getStyles(row)"
                                         style="display:inline-flex;min-width:100px;">
                                        <span class="color-ui-select list-activity-color" ng-style="{'background-color': (col.customViewText ? col.customViewText(row) : row[col.field])}"></span>
                                        <span>{{::(col.customViewText ? col.customViewText(row) : row[col.field])}}</span>
                                    </div>


                                    <div ng-switch-when="always-checkbox">
                                        <input type="checkbox" ng-model="row[col.field]" ng-change="uiGridTableCtrl.save(row,rowForm)" />
                                    </div>

                                    <div ng-switch-when="boolean">
                                        <span ng-class="{'active-status': col.customViewText(row) == 'Active', 'in-active-status': col.customViewText(row) == 'Inactive' }"
                                              ng-bind-html="(col.customViewText ? col.customViewText(row) : row[col.field])"></span>
                                    </div>
                                    <span ng-switch-when="updatable" class="text-name {{::col.getClasses(row)}}">
                                        {{(col.customViewText ? col.customViewText(row) : row[col.field])}}
                                    </span>
                                    <span ng-switch-when="empty"></span>
                                    <span ng-switch-when="href" class="grid-link" style="margin-top:auto; margin-bottom:auto;">
                                        <a href="{{::col.buildUrl(row)}}" class="text-name {{::col.getClasses(row)}}">
                                            {{::(col.customViewText ? col.customViewText(row) : row[col.field])}}
                                        </a>
                                    </span>
                                    <div class="text-name" ng-switch-when="phone">{{row[col.field] | formatphonenumber}}</div>
                                    <div ng-switch-when="action" ng-bind-html="col.content" ng-click="col.action(row)"></div>

                                    <div ng-switch-when="custom-template">
                                        <div ng-include="'Client/app/controllers/DropDownConfigurations/template/entry-type-days-template.html'"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Edit Mode -->
                            <div class="ovrflo-content-none controls input-controls"
                                 ng-if="col.dataType !== 'command' && row.isEditing"
                                 ng-class="rowForm[col.field].$invalid && rowForm[col.field].$dirty ? 'has-error' : ''"
                                 ng-switch="::col.dataType">

                                <input ng-switch-default
                                       type="text"
                                       name="{{::col.field}}"
                                       ng-model="row[col.field]"
                                       class="editable-input form-control input-sm"
                                       ng-required="col.required" />

                                <label ng-switch-when="boolean">
                                    <input type="checkbox" ng-model="row[col.field]" ng-required="col.required" />
                                </label>
                                <span ng-switch-when="always-checkbox"></span>

                                <input ng-switch-when="color-picker"
                                       minicolors="uiGridTableCtrl.colorPickerConfigs"
                                       type="text"
                                       name="{{::col.field}}"
                                       ng-model="row[col.field]"
                                       class="editable-input form-control input-sm"
                                       ng-required="col.required" />

                                <div ng-switch-when="date-time" class="datapicer-group">
                                    <input date-time
                                           ng-format-date
                                           ng-required="col.required"
                                           placeholder="{{::col.label}}"
                                           class="form-control"
                                           min-view="{{::(field.minView || 'date')}}"
                                           name="{{::(col.fieldName  + '_' + item.unique)}}"
                                           format="{{::(field.format || 'MM/DD/YYYY')}}"
                                           auto-close="true"
                                           ng-model="row[col.field]" />
                                </div>

                                <input ng-switch-when="number"
                                       type="number"
                                       name="{{::col.field}}"
                                       ng-model="row[col.field]"
                                       class="editable-input form-control input-sm"
                                       ng-required="col.required"
                                       min="{{col.minimum}}"
                                       max="{{col.max}}" />

                                <input ng-switch-when="email"
                                       type="email"
                                       name="{{::col.field}}"
                                       ng-model="row[col.field]"
                                       class="editable-input form-control input-sm"
                                       ng-required="col.required"
                                       min="{{col.minimum}}" />


                                <input ng-switch-when="phone"
                                       type="text"
                                       class="form-control tabable"
                                       ng-model="row[col.field]"
                                       name="{{::col.field}}"
                                       ng-required="::col.required"
                                       ng-phone
                                       ng-phone-validation="true" />

                                <input ng-switch-when="password" type="password" name="{{::col.field}}"
                                       ng-model="row[col.field]" class="editable-input form-control input-sm" />

                                <div ng-switch-when="ui-select">
                                    <ui-select name="{{::col.field}}" ng-required="col.required" ng-model="row[col.field]">
                                        <ui-select-match placeholder="select...">{{ (col.viewProperty) ? $select.selected[col.viewProperty] : $select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="(view[col.valueProperty] || view) as view in ::uiGridTableCtrl.getUIList(col)">
                                            {{::(col.viewProperty ? view[col.viewProperty] : view)}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div ng-switch-when="color-ui-select" style="width:200px; position:relative;left:210px;">
                                    <ui-select name="{{::col.field}}" ng-required="col.required" ng-model="row[col.field]">
                                        <ui-select-match placeholder="select...">
                                            <span style="background-color:{{$select.selected}};color:{{$select.selected}};text-shadow:none">{{$select.selected}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="view in ::uiGridTableCtrl.getUIList(col)">
                                            <span style="display:block; background-color:{{view}}; color:{{view}}; ">
                                                <span class="color-ui-select list-activity-color" ng-style="{'background-color':(field.viewProperty ? view[field.viewProperty] : view)}"></span>
                                                <span ng-bind-html="(field.viewProperty ? view[field.viewProperty] : view)"></span>
                                                <!--  -->
                                            </span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>


                                <div ng-switch-when="angucomplete-alt">
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::col.search"
                                                      minlength="0"
                                                      initial-value="::row[col.fieldInit]"
                                                      selected-object="col.angucompleteSelect"
                                                      input-class="form-control form-control-small"
                                                      field-required="::col.required"
                                                      match-class="highlight"
                                                      input-name="resourceId"
                                                      class="ng-isolate-scope">
                                    </angucomplete-alt>
                                </div>

                                <div ng-switch-when="custom-template">
                                    <div ng-include="'Client/app/controllers/DropDownConfigurations/template/entry-type-days-template.html'"></div>
                                </div>


                            </div>

                            <!-- For Column Action -->
                            <div ng-if="col.dataType === 'command'" class="edit-td">
                                <label class="checkbox" ng-if="uiGridTableCtrl.selectForBulkEdit">
                                    <input ng-model="row.isSelect" type="checkbox" />
                                </label>

                                <div>
                                    <div class="more-action btn-group" uib-dropdown dropdown-append-to-body ng-class="{'open' : row.isEditing}">

                                        <a ng-if="!uiGridTableCtrl.selectForBulkEdit && !row.isEditing && (uiGridTableCtrl.disableUpdateButton() && uiGridTableCtrl.disableUpdateButton() )" class="edit icon-button icon-more"
                                           id="simple-dropdown" uib-dropdown-toggle>
                                        </a>

                                        <ul class="my-drop dropdown-menu  dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                            <li class="dropdown-item" ng-if="uiGridTableCtrl.disabledViewButton()" ng-click="uiGridTableCtrl.rowView(row)">
                                                <a>
                                                    <span class="drop-item-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                    <span class="dorp-item-text">View</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item" ng-click="uiGridTableCtrl.rowEdit(row)" ng-if="uiGridTableCtrl.disableUpdateButton()">
                                                <a>
                                                    <span class="drop-item-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                    <span class="dorp-item-text">Edit</span>
                                                </a>
                                            </li>

                                            <li class="dropdown-item mode-message" ng-if="uiGridTableCtrl.disabledDeleteButton()" ng-click="uiGridTableCtrl.del(row)">
                                                <a>
                                                    <span class="drop-item-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                    <span class="dorp-item-text">Delete</span>
                                                </a>
                                            </li>

                                            <li class="dropdown-item mode-settings" ng-repeat="menuItem in uiGridTableCtrl.option.moreExtraButtonList" ng-click="menuItem.click(row)">
                                                <a>
                                                    <span class="drop-item-icon"><i class="{{menuItem.iconClass}}" aria-hidden="true"></i></span>
                                                    <span class="dorp-item-text">{{menuItem.title}}</span>
                                                </a>

                                            </li>


                                        </ul>
                                        <!--For Inline Edit Functionality-->
                                        <div class="display-inline-flex" style="position:relative" ng-show="row.isEditing">
                                            <!-- ng-disabled="::uiGridTableCtrl.disableUpdateButton()"  -->
                                            <a href="#" title="Save" class="btn icon-button icon-save"
                                               style="position: absolute; left: 0;"
                                               ng-click="uiGridTableCtrl.save(row, rowForm)" ng-if="row.isEditing"></a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="#" title="Cancel" class="btn icon-button icon-cancel"
                                               style="position: absolute; left: 40px; top: 0;"
                                               ng-click="uiGridTableCtrl.cancel(row, rowForm)" ng-if="row.isEditing"></a>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="more-action" uib-dropdown dropdown-append-to-body ng-class="{'open' : row.isEditing}">
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="simple-dropdown" >
                                    </ul>
                                </div>-->

                            </div> <!-- Action Column End -->
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
