<form>
    <div class="title">
        <h1>
            <span class="pageName">Cost/Benefit Analysis</span>
            <button class="btn btn-default" type="button" ng-click="BenefitCtrl.analyticsClick()">Finances</button>
        </h1>
    </div>

    <div class="container container-wrap container-wrap-aside-left tabs-wrap">
        <div class="cba-properties-form">
            <edz-tab-links edz-current-tab="ProjectEditCtrl.currentTab">
                <edz-tab-link edz-tab-id="ProjectManager">
                    Project Manager
                </edz-tab-link>
                <edz-tab-link edz-tab-id="ProjectDevelopent">
                    Project Developent
                </edz-tab-link>
                <edz-tab-link edz-tab-id="MaintenanceCosts">
                    Maintenance Costs
                </edz-tab-link>
                <edz-tab-link edz-tab-id="Benefits">
                    Benefits
                </edz-tab-link>
                <edz-tab-link edz-tab-id="Savings">
                    Savings
                </edz-tab-link>
            </edz-tab-links>

            <div class="line"></div>
        </div>
        <edz-tab-bodies edz-current-tab="ProjectEditCtrl.currentTab">
            <edz-tab-body edz-tab-id="ProjectDetails" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'ProjectDetails'}">
                <div class="inner">
                    <div class="row row-delete">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Project Name </label>
                                <select class="form-control">
                                    <option>Project 01</option>
                                    <option>Project 02</option>
                                    <option>Project 03</option>
                                    <option>Project 04</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-condensed table-bordered table-striped ng-scope ng-table ng-dirty ng-valid">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Project manager</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Project Name</td>
                                        <td>Project manager name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </edz-tab-body>

            <edz-tab-body edz-tab-id="ProjectDetails" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'ProjectDetails'}">
                <div class="inner">
                    <div class="row row-border">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" value="FY 01" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row row-delete">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cost of project</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Salariea and benefits</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Other internal expenses</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Consulting costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Recurring costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Total project costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-1 remove-controll">
                                    <label>&nbsp;</label>
                                    <a href="#" class="btn btn-danger" ><i class="icon icon-cancel"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-border">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" value="FY 01" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row row-delete">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cost of project</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Salariea and benefits</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Other internal expenses</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Consulting costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Recurring costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Total project costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-1 remove-controll">
                                    <label>&nbsp;</label>
                                    <a href="#" class="btn btn-danger"><i class="icon icon-cancel"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-border">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" value="FY 01" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row row-delete">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cost of project</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Salariea and benefits</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Other internal expenses</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Consulting costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Recurring costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Total project costs</label>
                                        <input type="text" class="form-control" value="$ 1 000 00" />
                                    </div>
                                </div>
                                <div class="col-md-1 remove-controll">
                                    <label>&nbsp;</label>
                                    <a href="#" class="btn btn-danger" ><i class="icon icon-cancel"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="buttont-add">
                        <button type="button" class="btn btn-default ng-binding" >Add New Line</button>
                    </div>
                </div>
            </edz-tab-body>

            <edz-tab-body edz-tab-id="MaintenanceCosts" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'MaintenanceCosts'}">
                <div class="inner">
                    <div class="row row-delete">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" value="FY 01" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Cost of support</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Operational costs</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Nonrecurring costs</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Recurring costs</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total ongoing support costs</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-1 remove-controll">
                            <label>&nbsp;</label>
                            <a href="#" class="btn btn-danger" ><i class="icon icon-cancel"></i></a>
                        </div>
                    </div>
                    <div class="buttont-add">
                        <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                    </div>
                </div>
            </edz-tab-body>

            <edz-tab-body edz-tab-id="Benefits" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'Benefits'}">
                <div class="inner">
                    <div class="row row-delete">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label> Current Process</label>
                                <select class="form-control">
                                    <option>FY 01</option>
                                    <option>FY 02</option>
                                    <option>FY 03</option>
                                    <option>FY 04</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Total annual price</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-1 remove-controll">
                            <label>&nbsp;</label>
                            <a href="#" class="btn btn-danger" ng-click="::delete(field, item)"><i class="icon icon-cancel"></i></a>
                        </div>
                    </div>
                    <div class="buttont-add">
                        <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                    </div>
                </div>
                <div class="FooterTotalPrice">
                    <div class="price pull-right ng-binding">
                        <span class="total-title"></span> $0
                    </div>
                    <h2>Total Calculate:</h2>
                </div>
            </edz-tab-body>

            <edz-tab-body edz-tab-id="Savings" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'Savings'}">
                <div class="inner">
                    <div class="row row-delete">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>New Process</label>
                                <input type="text" class="form-control" value="FY 01" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Annual price</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Annual savings</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Cumulative savings</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Cumulative costs</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Net savings</label>
                                <input type="text" class="form-control" value="$ 1 000 00" />
                            </div>
                        </div>
                        <div class="col-md-1 remove-controll">
                            <label>&nbsp;</label>
                            <a href="#" class="btn btn-danger"><i class="icon icon-cancel"></i></a>
                        </div>
                    </div>
                    <div class="buttont-add">
                        <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                    </div>
                </div>
                <div class="FooterTotalPrice">
                    <div class="price pull-right ng-binding">
                        <span class="total-title"></span> $0
                    </div>
                    <h2>Total Calculate:</h2>
                </div>
            </edz-tab-body>

        </edz-tab-bodies>
        <div class="accordion accordion-finance" style="display:none;">
            <uib-accordion>
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Project manager
                    </uib-accordion-heading>
                </uib-accordion-group>
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Project Developent
                        <div class="price">
                            <span class="total-title">Total:</span> $100 000
                        </div>
                    </uib-accordion-heading>
                    
                </uib-accordion-group>
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Maintenance Costs
                        <div class="price">
                            <span class="total-title">Total:</span> $100 000
                        </div>
                    </uib-accordion-heading>
                    <div class="inner">
                        <div class="row row-delete">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" value="FY 01" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cost of support</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Operational costs</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Nonrecurring costs</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Recurring costs</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Total ongoing support costs</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-1 remove-controll">
                                <label>&nbsp;</label>
                                <a href="#" class="btn btn-danger"><i class="icon icon-cancel"></i></a>
                            </div>
                        </div>
                        <div class="buttont-add">
                            <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                        </div>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Benefits
                        <div class="price">
                            <span class="total-title">Total:</span> $100 000
                        </div>
                    </uib-accordion-heading>
                    <div class="inner">
                        <div class="row row-delete">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Current Process</label>
                                    <select class="form-control">
                                        <option>FY 01</option>
                                        <option>FY 02</option>
                                        <option>FY 03</option>
                                        <option>FY 04</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Total annual price</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-1 remove-controll">
                                <label>&nbsp;</label>
                                <a href="#" class="btn btn-danger" ng-click="::delete(field, item)"><i class="icon icon-cancel"></i></a>
                            </div>
                        </div>
                        <div class="buttont-add">
                            <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                        </div>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Savings
                        <div class="price">
                            <span class="total-title">Total:</span> $100 000
                        </div>
                    </uib-accordion-heading>
                    <div class="inner">
                        <div class="row row-delete">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>New Process</label>
                                    <input type="text" class="form-control" value="FY 01" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Annual price</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Annual savings</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cumulative savings</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cumulative costs</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Net savings</label>
                                    <input type="text" class="form-control" value="$ 1 000 00" />
                                </div>
                            </div>
                            <div class="col-md-1 remove-controll">
                                <label>&nbsp;</label>
                                <a href="#" class="btn btn-danger"><i class="icon icon-cancel"></i></a>
                            </div>
                        </div>
                        <div class="buttont-add">
                            <button type="button" class="btn btn-default ng-binding">Add New Line</button>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
        <div class="button-wrap text-center">
            <button type="button" class="btn btn-success" ui-sref="benefit">Analysis</button>
            <button type="button" class="btn btn-default" ui-sref="benefit">Cancel</button>
        </div>
    </div>
</form>