﻿<div class="datapicer-group">
    <input type="text" class="form-control" name="{{::fieldId}}" ng-model="value" ng-required="::validation.require" class="form-control"
           date-time
           min-view="date"
           format="MM/DD/YYYY"
           auto-close="true"
           date-change="setDate" />
</div>
<ng-vadlidator-message ng-element-name="{{::fieldId}}">
</ng-vadlidator-message>