﻿<div class="row" ng-repeat="weekday in weekdaysValues">
    <div class="col-md-3">
        <span>{{::weekday.name}}</span>
    </div>
    <div class="col-md-4">
        <input type="text" 
            ng-model="weekday.from" 
            class="form-control"
            ng-pattern="::validation.regex" 
            placeholder="HH:MM" 
            name="{{::$index + 'from'}}" />
        <div>
            <ng-vadlidator-message ng-element-name="{{::$index + 'from'}}"></ng-vadlidator-message>
        </div>
    </div>
    <div class="col-md-1"> - </div>
    <div class="col-md-4">
        <input type="text"
               class="form-control"
               ng-model="weekday.to"
               ng-pattern="::validation.regex"
               name="{{::$index + 'to'}}"
               placeholder="HH:MM"
               ng-less-than-time="{{ weekday.from }}" />
        <div>
            <ng-vadlidator-message ng-element-name="{{::$index + 'to'}}"></ng-vadlidator-message>
        </div>
    </div>

</div>