﻿<div class="drop-down-config-view">
    <!-- Controller - DropDownConfigurationViewController-->
    <form>
        <div class="container-fluid container-wrap tabs-wrap" cg-busy="DropDownConfigurationViewController.isLoadingData">
            <div class="panel panel-default custom-panel inner-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Configuration Data
                    </span>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                    ng-class="{'active':DropDownConfigurationViewController.isViewActive(view)}"
                    ng-if="view.visible && isVisibleMainMenu(view)"
                    ng-repeat="view in DropDownConfigurationViewController.mainViewList track by view.id">
                    <a ng-click="DropDownConfigurationViewController.setActiveView(view)" role="tab" data-toggle="tab">
                        {{view.label}}
                    </a>
                </li>
            </ul>
            <div class="well">
                <div class="tab-content">
                    <div role="tabpanel"
                         ng-if="DropDownConfigurationViewController.activeView.visible && isVisibleMainMenu(DropDownConfigurationViewController.activeView)"
                         ng-class="{'active':DropDownConfigurationViewController.isViewActive(DropDownConfigurationViewController.activeView)}"
                         class="tab-pane" id="{{DropDownConfigurationViewController.activeView.id}}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="cba-properties-form">
                                    <edz-tab-links edz-current-tab="DropDownConfigurationViewController.currentTab"
                                                   ng-repeat="tab in DropDownConfigurationViewController.activeView.tabList track by tab.id">
                                        <edz-tab-link edz-tab-id="{{tab.id}}"
                                                      ng-click="DropDownConfigurationViewController.setActiveTab(tab)"
                                                      edz-tab-click="::DropDownConfigurationViewController[tab.id + '_Click']"
                                                      ng-if="::!DropDownConfigurationViewController[tab.id + '_Condition']() && tab.visible">
                                            {{tab.name | translate}}
                                        </edz-tab-link>
                                    </edz-tab-links>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <edz-tab-bodies edz-current-tab="DropDownConfigurationViewController.currentTab">
                                    <edz-tab-body ng-repeat="tab in DropDownConfigurationViewController.activeView.tabList track by tab.id"
                                                  edz-tab-id="{{tab.id}}" edz-tab-content-class="tab-inner"
                                                  ng-model-options="{ debounce : { default : 400 }, tabValidationName : tab.id}">
                                        <ui-grid-table ng-if="tab.id != 'invoiceConfigs'"
                                                       ng-get="tab.service.get"
                                                       ng-save="tab.service.save"
                                                       ng-update="tab.service.update"
                                                       ng-delete="tab.service.delete"
                                                       ng-on-request-transform="tab.service.requestTransformCallback"
                                                       ng-option="tab.tableConfigurations">
                                        </ui-grid-table>
                                        <div ng-if="tab.id == 'invoiceConfigs'">
                                            <div ui-view=""></div>
                                        </div>
                                    </edz-tab-body>
                                </edz-tab-bodies>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>