﻿<div class="drop-down-configuration-page">
    <div class="container-fluid tabs-wrap">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':leftMenuMaxHeight + 'px'}">
                        <edz-tab-links edz-current-tab="DropDownConfigurationController.currentTab" ng-repeat="tab in DropDownConfigurationController.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::DropDownConfigurationController[tab.id + '_Click']"
                                          ng-if="::!DropDownConfigurationController[tab.id + '_Condition']() && tab.visible">{{tab.name}}</edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tabs-body">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    {{DropDownConfigurationController.getCurrentPanelTitle()}}
                                </span>
                            </div>
                            <div class="panel-body">
                                Config Type : {{DropDownConfigurationController.configType}}
                                <br />
                                Current Tab : {{DropDownConfigurationController.currentTab}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>