<style>
    body {
        background-color: transparent;
    }
</style>
<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        Widgets
    </h4>
</div>
<div class="modal-body" style="background-color: #f3f1f1; padding: 16px;">
    <!--<iframe ngf-src="mediaURL" style="width:100%; height:400px;"></iframe>-->
    
    <div style="height:450px; overflow-y:scroll" >

        <div class="row" ng-repeat="item in graphList" style="margin-bottom:10px;background-color:white;padding:20px;">
            <div class="col-sm-3">
                <img src="Client/assets/images/DemoImages/sample-pie.png" class="img-responsive" style="width:170px;height:170px;" />
            </div>
            <div class="col-sm-7">
                <span style="font-size:large;color:cornflowerblue;margin-top:15px;">{{item.title}}</span>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default btn-blue" ng-click="close()">Add Widget</button>
            </div>

        </div>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
</div>

