<form name="filterForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="FiltersCtrl.onFilterClick(filterForm)">
    <div class="title">
        <h1>
            <span class="pageName pull-left">Resources <i class="label-title" ng-if="FiltersCtrl.totalCount > 0">{{FiltersCtrl.totalCount}}</i> </span>
            <span class="span-button">
                <button type="button" class="btn btn-default  Add New" ui-sref="resourceEdit()">
                    Add New
                </button>
                <button class="btn btn-default Availability vs Demand" type="button" ui-sref="rolesAvailabilityVsDemand()">
                    Availability vs Demand
                </button>
            </span>
        </h1>
    </div>
    <div class="container container-wrap container-wrap-aside-left container-wrap-aside-filters">
        <div class="cba-properties-form">
            <div class="inner inner-filter">
                <!-- begin -->
                <div class="row-filter row-filter-resours" ng-repeat="item in FiltersCtrl.items track by item.unique">
                    <a href="#" class="btn btn-danger btn-remove" ng-click="::FiltersCtrl.delete(item)"></a>

                    <div class="row">
                        <div class="col-md-6">
                            <div ng-switch="item.fieldType.name">

                                <!-- Job Title-->
                                <div class="form-group" ng-switch-when="Job Title">
                                    <label class="form-control-label" for="">Job Title</label>
                                    <!--<input type="text" class="form-control" ng-model="item.item" name="{{ 'jobTitle' + '_' + item.unique }}" required />-->
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchJobTitle"
                                                      minlength="0"
                                                      initial-value="::item.jobTitleName"
                                                      selected-object="FiltersCtrl.angucompleteSelectJobTitle"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ ::('jobTitle' + '_' + item.unique) }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'jobTitle' + '_' + item.unique }}"></ng-vadlidator-message>
                                </div>

                                <!-- Skill-->
                                <div class="form-group" ng-switch-when="Skill">
                                    <label class="form-control-label" for="">Skill - Years Experience</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchSkills"
                                                      minlength="0"
                                                      initial-value="::item.skillName"
                                                      selected-object="FiltersCtrl.angucompleteSelectSkill"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ ::('skill' + '_' + item.unique) }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ ::('skill' + '_' + item.unique) }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Resource Type-->
                                <div class="form-group" ng-switch-when="Grade Level">
                                    <label class="form-control-label" for="">Grade Level</label>
                                    <input type="number" ng-model="item.item" class="form-control" name="{{ 'gradeLevel' + '_' + item.unique }}" required min="0" />
                                    <ng-vadlidator-message ng-element-name="{{ 'gradeLevel' + '_' + item.unique}}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Availability Vs Demand-->
                                <div class="form-group" ng-switch-when="Resource is Available">
                                    <label class="form-control-label" for="">Resource is Available</label>
                                    <div class="form-group">
                                        <label class="form-control-label">Date From</label>
                                        <div class="datapicer-group">
                                            <input date-time class="form-control" min-view="date" name="start" format="MM/DD/YYYY" auto-close="true" ng-model="item.item.availabilityVsDemandDateStart"
                                                   ng-less-than-date-time="item.item.availabilityVsDemandDateEnd" required>
                                            <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Date To</label>
                                        <div class="datapicer-group">
                                            <input date-time class="form-control" min-view="date" name="end" format="MM/DD/YYYY" auto-close="true" ng-model="item.item.availabilityVsDemandDateEnd" required>
                                            <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="">% Minimal availability</label>
                                        <input type="number" ng-model="item.item.minimalAvailabilityVsDemandDate" class="form-control" name="{{'availabilityVsDemand' + '_' + item.item.minimalAvailabilityVsDemandDate}}" r required min="1" max="100" />
                                        <ng-vadlidator-message ng-element-name="{{ 'availabilityVsDemand' + '_' + item.item.minimalAvailabilityVsDemandDate }}"><></ng-vadlidator-message>
                                    </div>
                                </div>

                                <!-- Spoken Language-->
                                <div class="form-group" ng-switch-when="Spoken Language">
                                    <label class="form-control-label" for="">Spoken Language - Proficiency</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchLanguage"
                                                      minlength="0"
                                                      initial-value="::item.languageName"
                                                      selected-object="FiltersCtrl.angucompleteSelectLanguage"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'spokenLanguage' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'spokenLanguage' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Written Language-->
                                <div class="form-group" ng-switch-when="Written Language">
                                    <label class="form-control-label" for="">Written Language - Proficiency</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchLanguage"
                                                      minlength="0"
                                                      initial-value="::item.languageName"
                                                      selected-object="FiltersCtrl.angucompleteSelectLanguage"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'writtenLanguage' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'writtenLanguage' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Certificate-->
                                <div class="form-group" ng-switch-when="Certificate">
                                    <label class="form-control-label" for="">Certificate</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchCertificate"
                                                      minlength="0"
                                                      initial-value="::item.certificateName"
                                                      selected-object="FiltersCtrl.angucompleteSelectCertificate"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'certificate' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'certificate' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Timezone-->
                                <div class="form-group" ng-switch-when="Timezone">
                                    <label class="form-control-label" for="">Timezone</label>
                                    <ui-select ng-model="item.item" name="{{ 'timezone' + '_' + item.unique }}" ng-required="true">
                                        <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="timeZone.id as timeZone in FiltersCtrl.timeZonesInfo">
                                            {{::timeZone.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="{{ 'timezone' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Education-->
                                <div class="form-group" ng-switch-when="Education">
                                    <label class="form-control-label" for="">Education</label>
                                    <input type="number" class="form-control" min="1" max="12" ng-model="item.item" name="{{ 'education' + '_' + item.unique }}" required />
                                    <ng-vadlidator-message ng-element-name="{{ 'education' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Country-->
                                <div class="form-group" ng-switch-when="Country">
                                    <label class="form-control-label" for="">Country</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchCountry"
                                                      minlength="0"
                                                      initial-value="::item.itemName"
                                                      selected-object="FiltersCtrl.angucompleteSelectItem"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'country' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'country' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Rating-->
                                <div class="form-group" ng-switch-when="Rating">
                                    <label class="form-control-label" for="">Rating - Proficiency</label>
                                    <input type="number" min="1" max="10" ng-model="item.item" class="form-control" name="{{ 'rating' + '_' + item.unique }}" />
                                    <ng-vadlidator-message ng-element-name="{{ 'rating' + '_' + item.unique }}"></ng-vadlidator-message>
                                </div>

                                <!-- Works Well In Team-->
                                <div class="form-group" ng-switch-when="Works Well In Team">
                                    <label class="form-control-label">Works Well In Team</label>
                                </div>

                                <!-- Works Well Alone-->
                                <div class="form-group" ng-switch-when="Works Well Alone">
                                    <label class="form-control-label">Works Well In Team</label>
                                </div>

                                <!-- Productivity-->
                                <div class="form-group" ng-switch-when="Productivity">
                                    <label class="form-control-label" for="">Productivity - Proficiency</label>
                                    <input type="number" ng-model="item.item" class="form-control" name="{{'productivity' + '_' + item.unique}}" required min="1" max="10" />
                                    <ng-vadlidator-message ng-element-name="{{ 'productivity' + '_' + item.unique }}"></ng-vadlidator-message>
                                </div>

                                <!-- Company-->
                                <div class="form-group" ng-switch-when="Company">
                                    <label class="form-control-label" for="">Company</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchCompany"
                                                      minlength="0"
                                                      initial-value="::item.itemName"
                                                      selected-object="FiltersCtrl.angucompleteSelectItem"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'company' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'company' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Division-->
                                <div class="form-group" ng-switch-when="Division">
                                    <label class="form-control-label" for="">Division</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchDivision"
                                                      minlength="0"
                                                      initial-value="::item.itemName"
                                                      selected-object="FiltersCtrl.angucompleteSelectItem"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'division' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'division' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Department-->
                                <div class="form-group" ng-switch-when="Department">
                                    <label class="form-control-label" for="">Department</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="::FiltersCtrl.searchDepartment"
                                                      minlength="0"
                                                      initial-value="::item.itemName"
                                                      selected-object="FiltersCtrl.angucompleteSelectItem"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      field-required="true"
                                                      input-name="{{ 'department' + '_' + item.unique }}">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="{{ 'department' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Range-->
                                <div class="form-group" ng-switch-when="Range">
                                    <label class="form-control-label" for="">Range</label>
                                    <ui-select ng-model="item.item" name="{{ 'rangeType' + '_' + item.unique }}" ng-required="true">
                                        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="value in FiltersCtrl.rangeTypes">
                                            {{::value}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="{{ 'rangeType' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Hourly Rate-->
                                <div class="form-group" ng-switch-when="Resource Type">
                                    <label class="form-control-label" for="">ResourceType</label>
                                    <ui-select ng-model="item.item" name="{{ 'resourceType' + '_' + item.unique }}" ng-required="true">
                                        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="value in FiltersCtrl.resourceTypes">
                                            {{::value}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="{{ 'resourceType' + '_' + item.unique }}">
                                    </ng-vadlidator-message>
                                </div>

                                <!-- Grade Level-->
                                <div class="form-group" ng-switch-when="Hourly Rate">
                                    <label class="form-control-label" for="">Hourly Rate</label>
                                    <input type="number" ng-model="item.item" class="form-control" name="{{ 'hourlyRate' + '_' + item.unique }}" required min="0" />
                                    <ng-vadlidator-message ng-element-name="{{ 'hourlyRate' + '_' + item.unique}}">
                                    </ng-vadlidator-message>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6 col-md-6-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div ng-switch="item.fieldType.name">
                                        <!-- Skill-->
                                        <div ng-switch-when="Skill">
                                            <div class="row mandatory">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="{{item.endRange.yearsOfExpirience ? item.endRange.yearsOfExpirience : 50}}" ng-comparing-from="item.startRange.yearsOfExpirience" ng-less-than="item.endRange.yearsOfExpirience" ng-init="item.startRange.yearsOfExpirience = null" ng-model="item.startRange.yearsOfExpirience" class="form-control"
                                                               name="{{'yearsOfExpirience_startRange' + '_' + item.unique}}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'yearsOfExpirience_startRange' + '_' + item.unique }}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Grade Level-->
                                        <div ng-switch-when="Grade Level">
                                            <div class="row mandatory">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <!-- uib-popover="{{::FiltersCtrl.toolTipMessage}}" popover-trigger="mouseenter"-->
                                                        <input ng-less-than="item.endRange" type="number" ng-model="item.startRange" class="form-control"
                                                               name="{{ 'gradeLevel_startRange' + '_' + item.unique }}" required min="0" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'gradeLevel_startRange' + '_' + item.unique}}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--min="1" max="{{item.endRange.yearsOfExpirience ? item.endRange.yearsOfExpirience : 50}}" ng-comparing-from="item.startRange.yearsOfExpirience" ng-less-than="item.endRange.yearsOfExpirience" ng-init="item.startRange.yearsOfExpirience = null"-->
                                        <!-- Spoken Language-->
                                        <div ng-switch-when="Spoken Language">
                                            <div class="row mandatory">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="{{item.endRange.proficiency ? item.endRange.proficiency : 10}}" ng-comparing-from="item.startRange.proficiency" ng-init="item.startRange.proficiency = null" ng-less-than="item.endRange.proficiency" ng-model="item.startRange.proficiency" class="form-control"
                                                               name="{{'proficiency_startRange' + '_' + item.unique}}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'proficiency_startRange' + '_' + item.unique }}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Written Language-->
                                        <div ng-switch-when="Written Language">
                                            <div class="row mandatory">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="{{item.endRange.proficiency ? item.endRange.proficiency : 10}}" ng-comparing-from="item.startRange.proficiency" ng-init="item.startRange.proficiency = null" ng-less-than="item.endRange.proficiency" ng-model="item.startRange.proficiency" class="form-control"
                                                               name="{{'proficiency_startRange' + '_' + item.unique}}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'proficiency_startRange' + '_' + item.unique }}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--min="1" max="{{item.endRange.yearsOfExpirience ? item.endRange.yearsOfExpirience : 50}}" ng-comparing-from="item.startRange.yearsOfExpirience" ng-less-than="item.endRange.yearsOfExpirience" ng-init="item.startRange.yearsOfExpirience = null"-->
                                        <!-- Rating-->
                                        <div ng-switch-when="Rating">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="{{item.endRange ? item.endRange : 10}}" ng-comparing-from="item.startRange" ng-init="item.startRange = null" ng-less-than="item.endRange" ng-model="item.startRange" class="form-control" name="{{ 'rating_startRange' + '_' + item.unique }}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'rating_startRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Productivity-->
                                        <div ng-switch-when="Productivity">
                                            <div class="row mandatory">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">from</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" min="1" max="{{item.endRange ? item.endRange : 10}}" ng-comparing-from="item.startRange" ng-less-than="item.endRange" ng-init="item.startRange = null" ng-model="item.startRange" class="form-control" name="{{'productivity_startRange' + '_' + item.unique}}" required />
                                                        <ng-vadlidator-message ng-element-name="{{ 'productivity_startRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-switch="item.fieldType.name">

                                        <!-- Skill-->
                                        <div ng-switch-when="Skill">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="number" min="{{item.startRange.yearsOfExpirience ? item.startRange.yearsOfExpirience : 1}}" max="50" ng-comparing-to="item.endRange.yearsOfExpirience" ng-init="item.endRange.yearsOfExpirience = null" ng-model="item.endRange.yearsOfExpirience" class="form-control" name="{{'yearsOfExpirience_endRange' + '_' + item.unique}}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'yearsOfExpirience_endRange' + '_' + item.unique }}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Grade Level-->
                                        <div ng-switch-when="Grade Level">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="number" ng-model="item.endRange" class="form-control" name="{{ 'gradeLevel_endRange' + '_' + item.unique }}" required min="0" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'gradeLevel_endRange' + '_' + item.unique}}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--min="{{item.startRange.yearsOfExpirience ? item.startRange.yearsOfExpirience : 1}}" max="50" ng-comparing-to="item.endRange.yearsOfExpirience" ng-init="item.endRange.yearsOfExpirience = null"-->
                                        <!-- Spoken Language-->
                                        <div ng-switch-when="Spoken Language">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="number" min="{{item.startRange.proficiency ? item.startRange.proficiency : 1}}" max="10" ng-comparing-to="item.endRange.proficiency" ng-init="item.endRange.proficiency = null" ng-model="item.endRange.proficiency" class="form-control" name="{{'proficiency_endRange' + '_' + item.unique}}" />
                                                    <ng-vadlidator-message ng-element-name="{{ 'proficiency_endRange' + '_' + item.unique }}">
                                                    </ng-vadlidator-message>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Written Language-->
                                        <div ng-switch-when="Written Language">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="number" min="{{item.startRange.proficiency ? item.startRange.proficiency : 1}}" max="10" ng-comparing-to="item.endRange.proficiency" ng-init="item.endRange.proficiency = null" ng-model="item.endRange.proficiency" class="form-control" name="{{'proficiency_endRange' + '_' + item.unique}}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'proficiency_endRange' + '_' + item.unique }}">
                                                        </ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--min="{{item.startRange.yearsOfExpirience ? item.startRange.yearsOfExpirience : 1}}" ng-comparing-to="item.endRange.yearsOfExpirience"-->
                                        <!-- Rating-->
                                        <div ng-switch-when="Rating">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label text-right" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="number" min="{{item.startRange ? item.startRange : 1}}" max="10" ng-comparing-to="item.endRange" ng-init="item.endRange = null" ng-model="item.endRange" class="form-control" name="{{ 'rating_endRange' + '_' + item.unique }}" />
                                                        <ng-vadlidator-message ng-element-name="{{ 'rating_endRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Productivity-->
                                        <div ng-switch-when="Productivity">
                                            <div class="row mandatory">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="">to</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="number" min="{{item.startRange ? item.startRange : 1}}" max="10" ng-comparing-to="item.endRange" ng-init="item.endRange = null" ng-model="item.endRange" class="form-control" name="{{'productivity_endRange' + '_' + item.unique}}" required />
                                                        <ng-vadlidator-message ng-element-name="{{ 'productivity_endRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4" ng-if="FiltersCtrl.needToShowMandatory(item)">
                                    <div ng-if="!!item.fieldType">
                                        <div class="form-group">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="item.mandatory">
                                                <span class="labelCheckbox">Mandatory</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="!!item.fieldType && FiltersCtrl.needToShowImportance(item)">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="form-control-label text-right" for="">Importance</label>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <ui-select ng-model="item.importance" name="{{ 'importance' + '_' + item.unique }}" ng-required="true">
                                            <ui-select-match placeholder="...">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="value in FiltersCtrl.importanceValues">
                                                {{::value}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <ng-vadlidator-message ng-element-name="{{ 'importance' + '_' + item.unique }}"></ng-vadlidator-message>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>
                </div>
                <!-- end -->

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group" ng-model-options="{ debounce : { default : 100 } }" ng-if="FiltersCtrl.isVisibleType">
                        <label class="form-control-label" for="">Type</label>
                        <ui-select ng-model="FiltersCtrl.fieldType">
                            <ui-select-match placeholder="select...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices ui-disable-choice="::FiltersCtrl.filterDisabled(type)" repeat="type in ::FiltersCtrl.filterTypes">
                                {{::type.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4" style="padding-top: 8px;">
                    <button type="button" class="btn btn-default btn-maxsize" ng-click="::FiltersCtrl.addFilter()" ng-if="FiltersCtrl.isVisibleType">Add Filter</button>
                </div>
            </div>

            <div class="row" ng-show="!filtersctrl.isvisibletype">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-maxsize" ng-click="::FiltersCtrl.addCriteria()" ng-disabled="FiltersCtrl.isVisibleType">Add Criteria</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-default btn-maxsize" ng-click="::FiltersCtrl.clearFilters()" ng-disabled="!FiltersCtrl.items.length">Clear Criteria</button>
                </div>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default btn-maxsize">Filter</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-maxsize" ng-click="::FiltersCtrl.cancel()">Cancel</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default btn-maxsize" ng-click="::FiltersCtrl.loadFilters()">Load Filters</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-maxsize" ng-click="::FiltersCtrl.saveFilters()" ng-disabled="!FiltersCtrl.items.length">Save Filters</button>
                </div>
            </div>
        </div>
        <div class="filter-wrap-result">
            <ui-grid-table ng-get="FiltersCtrl.get" ng-option="FiltersCtrl.tableOptions" ng-is-server-data="false"
                           ng-table-command="FiltersCtrl.tableCommand" ng-data="FiltersCtrl.data">
            </ui-grid-table>
        </div>
    </div>
</form>