<div class="filter-page" cg-busy="FiltersCtrl.isLoadingData" ng-cloak>
    <div class="container-fluid container-wrap container-wrap-aside-left container-wrap-aside-filters">
        <form name="filterForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="FiltersCtrl.onFilterClick(filterForm)">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default custom-panel inner-panel">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Resources
                                <i class="label-title panel-title-count-lable" ng-if="FiltersCtrl.totalCount > 0">{{FiltersCtrl.totalCount}}</i>
                            </span>
                            <span class="pull-right">
                                <!--<button class="btn btn-default btn-gray" type="button" ui-sref="rolesAvailabilityVsDemand()">
                                    <span class="btn-icon btn-icon-availability"></span>
                                    Availability vs Demand
                                </button>
                                <button type="button" class="btn btn-default btn-orange" ui-sref="resourceEdit()">
                                    <span class="btn-icon btn-icon-add"></span>
                                    Add New
                                </button>-->
                                <button type="button" class="btn btn-default btn-gray btn-fixed-width"
                                        ng-click="::FiltersCtrl.loadFilters()">
                                    Search
                                </button>
                                <span ng-switch="FiltersCtrl.currentActiveFilter">
                                    <button type="button" class="btn btn-success btn-orange btn-fixed-width" ng-switch-when="normalFilter"
                                            ng-click="::FiltersCtrl.saveFilters()" ng-disabled="!FiltersCtrl.items.length">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-default btn-orange btn-fixed-width" ng-switch-when="sqlQuery"
                                            ng-click="::FiltersCtrl.saveSqlQueryFilter()" ng-disabled="!FiltersCtrl.filterQueryModel">
                                        Save
                                    </button>
                                    <button class="btn btn-default btn-orange btn-fixed-width" ng-switch-when="advanceFilter"
                                            ng-click="AdvancedFilterCtrl.saveCurrentFilters()" ng-disabled="!AdvancedFilterCtrl.filterItemList.length" type="button">
                                        Save
                                    </button>
                                </span>
                            </span>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-4">
                                    {{AdvancedFilterCtrl}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!--Filter Container-->
                <div class="col-md-3">
                    <div class="panel panel-default custom-panel" style="padding:0;">
                        <div class="panel-body" style="padding:0 15px;">
                            <ul class="nav nav-tabs filter-nav-tabs">
                                <li role="presentation" class="full-width-tab"
                                    ng-if="filter.visible"
                                    ng-class="{'active':FiltersCtrl.isFilterActive(filter.id)}"
                                    ng-repeat="filter in FiltersCtrl.resourceFilterType track by filter.id">
                                    <a role="tab"
                                       aria-controls="{{filter.id}}"
                                       ng-click="::FiltersCtrl.setActiveFilterMode(filter.id)"
                                       data-toggle="tab"
                                       href="">
                                        {{filter.label}}
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content filter-tab-content">
                                <div ng-class="{'active':FiltersCtrl.isFilterActive(filter.id)}"
                                     ng-repeat="filter in FiltersCtrl.resourceFilterType track by filter.id"
                                     role="tabpanel"
                                     class="tab-pane"
                                     id="{{filter.id}}">
                                    <div ng-switch="filter.id">
                                        <div ng-switch-when="normalFilter">
                                            <!--Normal Filter-->
                                            <!-- Filter will be placed here... -->
                                            <div ng-repeat="item in FiltersCtrl.items">
                                                <!-- track by item.unique raising errors -->
                                                <div id="switchContainer"
                                                     ng-switch="item.fieldType.fieldName"
                                                     style="padding-top:10px;">
                                                    <div class="row">
                                                        <i class="fa fa-trash pull-right delete" ng-click="::FiltersCtrl.delete(item)"></i>
                                                    </div>
                                                    <div>
                                                        <div class="row" ng-switch-when="location">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Location' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" ng-model="item.item" name="{{ 'location' + '_' + item.unique }}" required="required" />
                                                                <ng-vadlidator-message ng-element-name="{{ ::('location' + '_' + item.unique) }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Location-->

                                                        <div class="row" ng-switch-when="skills">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Skill' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchSkills"
                                                                                  minlength="0"
                                                                                  initial-value="::item.skillName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectSkill"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ ::('skill' + '_' + item.unique) }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ ::('skill' + '_' + item.unique) }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">Years Experience - From</label>
                                                                    <input type="number" min="1" max="{{item.endRange.yearsOfExpirience ? item.endRange.yearsOfExpirience : 50}}" ng-comparing-from="item.startRange.yearsOfExpirience" ng-less-than="item.endRange.yearsOfExpirience" ng-init="item.startRange.yearsOfExpirience = null" ng-model="item.startRange.yearsOfExpirience" class="form-control"
                                                                           name="{{'yearsOfExpirience_startRange' + '_' + item.unique}}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'yearsOfExpirience_startRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">Years Experience - To</label>
                                                                    <input type="number" min="{{item.startRange.yearsOfExpirience ? item.startRange.yearsOfExpirience : 1}}" max="50" ng-comparing-to="item.endRange.yearsOfExpirience" ng-init="item.endRange.yearsOfExpirience = null" ng-model="item.endRange.yearsOfExpirience" class="form-control" name="{{'yearsOfExpirience_endRange' + '_' + item.unique}}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'yearsOfExpirience_endRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div> <!--SKILL-->

                                                        <div class="row" ng-switch-when="jobTitle">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Job Title' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchJobTitle"
                                                                                  minlength="0"
                                                                                  initial-value="::item.jobTitleName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectJobTitle"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ ::('jobTitle' + '_' + item.unique) }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'jobTitle' + '_' + item.unique }}"></ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Job Title-->

                                                        <div class="row" ng-switch-when="spokenLanguages">
                                                            <div class="col-md-6">
                                                                <label class="form-control-label" for="">
                                                                    {{'Spoken Language' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchLanguage"
                                                                                  minlength="0"
                                                                                  initial-value="::item.languageName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectLanguage"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'spokenLanguage' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'spokenLanguage' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">From</label>
                                                                    <input type="number" min="1"
                                                                           max="{{item.endRange.proficiency ? item.endRange.proficiency : 10}}"
                                                                           ng-comparing-from="item.startRange.proficiency"
                                                                           ng-init="item.startRange.proficiency = null"
                                                                           ng-less-than="item.endRange.proficiency"
                                                                           ng-model="item.startRange.proficiency"
                                                                           class="form-control"
                                                                           name="{{'proficiency_startRange' + '_' + item.unique}}" />

                                                                    <ng-vadlidator-message ng-element-name="{{ 'proficiency_startRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">To</label>
                                                                    <input type="number"
                                                                           min="{{item.startRange.proficiency ? item.startRange.proficiency : 1}}"
                                                                           max="10"
                                                                           ng-comparing-to="item.endRange.proficiency"
                                                                           ng-init="item.endRange.proficiency = null"
                                                                           ng-model="item.endRange.proficiency"
                                                                           class="form-control"
                                                                           name="{{'proficiency_endRange' + '_' + item.unique}}" />

                                                                    <ng-vadlidator-message ng-element-name="{{ 'proficiency_endRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div> <!--Spoken Language-->

                                                        <div class="row" ng-switch-when="writtenLanguages">
                                                            <div class="col-md-6">
                                                                <label class="form-control-label" for="">
                                                                    {{'Written Language' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchLanguage"
                                                                                  minlength="0"
                                                                                  initial-value="::item.languageName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectLanguage"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'writtenLanguage' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'writtenLanguage' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">From</label>
                                                                    <input type="number" min="1" max="{{item.endRange.proficiency ? item.endRange.proficiency : 10}}" ng-comparing-from="item.startRange.proficiency" ng-init="item.startRange.proficiency = null" ng-less-than="item.endRange.proficiency" ng-model="item.startRange.proficiency" class="form-control"
                                                                           name="{{'proficiency_startRange' + '_' + item.unique}}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'proficiency_startRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">To</label>
                                                                    <input type="number" min="{{item.startRange.proficiency ? item.startRange.proficiency : 1}}" max="10" ng-comparing-to="item.endRange.proficiency" ng-init="item.endRange.proficiency = null" ng-model="item.endRange.proficiency" class="form-control" name="{{'proficiency_endRange' + '_' + item.unique}}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'proficiency_endRange' + '_' + item.unique }}">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div> <!--Written Language-->

                                                        <div class="row" ng-switch-when="certificates">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Certificate' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchCertificate"
                                                                                  minlength="0"
                                                                                  initial-value="::item.certificateName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectCertificate"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'certificate' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'certificate' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Certificate-->

                                                        <div class="row" ng-switch-when="Timezone">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    Timezone
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <ui-select ng-model="item.item" name="{{ 'timezone' + '_' + item.unique }}" ng-required="true">
                                                                    <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices repeat="timeZone.id as timeZone in FiltersCtrl.timeZonesInfo">
                                                                        {{::timeZone.name}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <ng-vadlidator-message ng-element-name="{{ 'timezone' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Timezone-->

                                                        <div class="row" ng-switch-when="education">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Education' | translate}} <span style="font-size:10px;">(Name of School/Subject)</span>
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="text" class="form-control" ng-model="item.item" name="{{ 'education' + '_' + item.unique }}" required="required" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'education' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Education-->

                                                        <div class="row" ng-switch-when="country">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Country' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchCountry"
                                                                                  minlength="0"
                                                                                  initial-value="::item.itemName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectItem"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'country' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'country' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Country-->

                                                        <div class="row" ng-switch-when="rating">
                                                            <div class="col-md-6">
                                                                <label class="form-control-label" for="">
                                                                    {{'Rating - Proficiency' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="number" min="1" max="10" required="required" ng-model="item.item" class="form-control" name="{{ 'rating' + '_' + item.unique }}" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'rating' + '_' + item.unique }}"></ng-vadlidator-message>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">From</label>
                                                                    <input type="number" min="1" max="{{item.endRange ? item.endRange : 10}}" ng-comparing-from="item.startRange" ng-init="item.startRange = null" ng-less-than="item.endRange" ng-model="item.startRange" class="form-control" name="{{ 'rating_startRange' + '_' + item.unique }}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'rating_startRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">To</label>
                                                                    <input type="number" min="{{item.startRange ? item.startRange : 1}}" max="10" ng-comparing-to="item.endRange" ng-init="item.endRange = null" ng-model="item.endRange" class="form-control" name="{{ 'rating_endRange' + '_' + item.unique }}" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'rating_endRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div> <!--Rating-->

                                                        <div class="row" ng-switch-when="worksWellInTeam">
                                                            <div class="col-md-12">
                                                                <label class="checkbox" style="margin-left:20px;">
                                                                    <input type="checkbox"
                                                                           ng-model="item.item"
                                                                           name="active"
                                                                           ng-true-value="true"
                                                                           checked="checked"
                                                                           ng-false-value="false">
                                                                    <span class="labelCheckbox margin-top-5">Works Well In Team</span>
                                                                </label>
                                                                <!--<label class="form-control-label">Works Well In Team</label>-->
                                                            </div>
                                                        </div> <!--Works Well In Team-->

                                                        <div class="row" ng-switch-when="worksWellAlone">
                                                            <div class="col-md-12">
                                                                <label class="checkbox" style="margin-left:20px;">
                                                                    <input type="checkbox"
                                                                           ng-model="item.item"
                                                                           name="active"
                                                                           ng-true-value="true"
                                                                           checked="checked"
                                                                           ng-false-value="false">
                                                                    <span class="labelCheckbox margin-top-5">Works Well Alone</span>
                                                                </label>
                                                                <!--<label class="form-control-label"></label>-->
                                                            </div>
                                                        </div> <!--Works Well Alone-->

                                                        <div class="row" ng-switch-when="productivity">
                                                            <div class="col-md-6">
                                                                <label class="form-control-label" for="">
                                                                    {{'Productivity - Proficiency' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="number" ng-model="item.item" class="form-control" name="{{'productivity' + '_' + item.unique}}" required="required" min="1" max="10" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'productivity' + '_' + item.unique }}"></ng-vadlidator-message>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">
                                                                        From
                                                                        <span class="requireStyle">*</span>
                                                                    </label>
                                                                    <input type="number" min="1" max="{{item.endRange ? item.endRange : 10}}" ng-comparing-from="item.startRange" ng-less-than="item.endRange" ng-init="item.startRange = null" ng-model="item.startRange" class="form-control" name="{{'productivity_startRange' + '_' + item.unique}}" required="required" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'productivity_startRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="">
                                                                        To
                                                                        <span class="requireStyle">*</span>
                                                                    </label>
                                                                    <input type="number" min="{{item.startRange ? item.startRange : 1}}" max="10" ng-comparing-to="item.endRange" ng-init="item.endRange = null" ng-model="item.endRange" class="form-control" name="{{'productivity_endRange' + '_' + item.unique}}" required="required" />
                                                                    <ng-vadlidator-message ng-element-name="{{ 'productivity_endRange' + '_' + item.unique }}"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div> <!--Productivity-->

                                                        <div class="row" ng-switch-when="company">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Company' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchCompany"
                                                                                  minlength="0"
                                                                                  initial-value="::item.itemName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectItem"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'company' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'company' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Company-->

                                                        <div class="row" ng-switch-when="division">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Division' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchDivision"
                                                                                  minlength="0"
                                                                                  initial-value="::item.itemName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectItem"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'division' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'division' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Division-->

                                                        <div class="row" ng-switch-when="department">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Department' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <angucomplete-alt placeholder="Start typing"
                                                                                  pause="400"
                                                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                                                  title-field="name"
                                                                                  remote-api-handler="::FiltersCtrl.searchDepartment"
                                                                                  minlength="0"
                                                                                  initial-value="::item.itemName"
                                                                                  selected-object="FiltersCtrl.angucompleteSelectItem"
                                                                                  input-class="form-control form-control-small"
                                                                                  match-class="highlight"
                                                                                  field-required="true"
                                                                                  input-name="{{ 'department' + '_' + item.unique }}">
                                                                </angucomplete-alt>
                                                                <ng-vadlidator-message ng-element-name="{{ 'department' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Department-->

                                                        <div class="row" ng-switch-when="rangeType">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Range' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <ui-select ng-model="item.item" name="{{ 'rangeType' + '_' + item.unique }}" ng-required="true">
                                                                    <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                                                    <ui-select-choices repeat="value in FiltersCtrl.rangeTypes">
                                                                        {{::value}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <ng-vadlidator-message ng-element-name="{{ 'rangeType' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Range-->

                                                        <div class="row" ng-switch-when="hourlyRate">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Hourly Rate' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="number" ng-model="item.item" class="form-control" name="{{ 'hourlyRate' + '_' + item.unique }}" required min="0" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'hourlyRate' + '_' + item.unique}}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Hourly Rate-->

                                                        <div class="row" ng-switch-when="gradeLevel">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Grade Level' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="number" ng-model="item.item" class="form-control" name="{{ 'gradeLevel' + '_' + item.unique }}" required min="0" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'gradeLevel' + '_' + item.unique}}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Grade Level-->

                                                        <div class="row" ng-switch-when="resourceType">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Resource Type' | translate}}
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <ui-select ng-model="item.item" name="{{ 'resourceType' + '_' + item.unique }}" ng-required="true">
                                                                    <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                                                    <ui-select-choices repeat="value in FiltersCtrl.resourceTypes">
                                                                        {{::value}}
                                                                    </ui-select-choices>
                                                                </ui-select>
                                                                <ng-vadlidator-message ng-element-name="{{ 'resourceType' + '_' + item.unique }}">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Resource Type-->

                                                        <div class="row" ng-switch-when="availabilityVsDemand">
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    {{'Resource is Available' | translate}}
                                                                </label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    Date From
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <div class="datapicer-group">
                                                                    <input date-time class="form-control" min-view="date" name="start" format="MM/DD/YYYY" auto-close="true" ng-model="item.item.availabilityVsDemandDateStart"
                                                                           ng-less-than-date-time="item.item.availabilityVsDemandDateEnd" required>
                                                                    <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="form-control-label">
                                                                    Date To
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <div class="datapicer-group">
                                                                    <input date-time class="form-control" min-view="date" name="end" format="MM/DD/YYYY" auto-close="true" ng-model="item.item.availabilityVsDemandDateEnd" required>
                                                                    <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="form-control-label" for="">
                                                                    % Minimal availability
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <input type="number" ng-model="item.item.minimalAvailabilityVsDemandDate" class="form-control" name="{{'availabilityVsDemand' + '_' + item.item.minimalAvailabilityVsDemandDate}}" r required min="1" max="100" />
                                                                <ng-vadlidator-message ng-element-name="{{ 'availabilityVsDemand' + '_' + item.item.minimalAvailabilityVsDemandDate }}"><></ng-vadlidator-message>
                                                            </div>
                                                        </div> <!--Resource is Available-->
                                                        <!--Mandatory and Importance ROW-->
                                                        <div class="row" style="padding-top:5px;">
                                                            <div class="col-md-8" ng-if="!!item.fieldType && FiltersCtrl.needToShowImportance(item)">
                                                                <div class="form-group">
                                                                    <label class="form-control-label text-right" for="">Importance</label>
                                                                    <ui-select ng-model="item.importance" name="{{ 'importance' + '_' + item.unique }}" ng-required="true">
                                                                        <ui-select-match placeholder="...">{{$select.selected}}</ui-select-match>
                                                                        <ui-select-choices repeat="value in FiltersCtrl.importanceValues">
                                                                            {{::value}}
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                    <ng-vadlidator-message ng-element-name="{{ 'importance' + '_' + item.unique }}"></ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" ng-if="FiltersCtrl.needToShowMandatory(item)" style="padding-top:24px; line-height:2">
                                                                <div ng-if="!!item.fieldType">
                                                                    <div class="form-group">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" ng-model="item.mandatory" />
                                                                            <span class="labelCheckbox">Mandatory</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <hr style="border:1px solid rgba(0,0,0,0.3); margin:10px -15px;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Filter Selection ROW -->
                                            <div class="row" ng-if="FiltersCtrl.isVisibleType" style="padding-top:10px;">
                                                <div class="col-md-6" style="margin-left:8px;">
                                                    <div class="form-group" ng-model-options="{ debounce : { default : 100 } }">
                                                        <label class="form-control-label" for="">Type</label>
                                                        <ui-select ng-model="FiltersCtrl.fieldType">
                                                            <ui-select-match placeholder="select...">{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices ui-disable-choice="::FiltersCtrl.filterDisabled(type)" repeat="type in ::FiltersCtrl.filterTypes">
                                                                {{::type.name}}
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" style="margin-left:-15px">
                                                    <div style="padding-top:26px;">
                                                        <button type="button" class="btn btn-default btn-gray form-control"
                                                                ng-click="::FiltersCtrl.addFilter()" ng-if="FiltersCtrl.isVisibleType">
                                                            Add Filter
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ----- Filter will be placed here... ----- -->
                                            <!--All Buttons for Filter-->
                                            <div class="row" style="margin:5px 0; padding-top:10px;">
                                                <!--<div class="row">-->
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control"
                                                            ng-click="::FiltersCtrl.addCriteria()" ng-disabled="FiltersCtrl.isVisibleType">
                                                        Add Criteria
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control"
                                                            ng-click="::FiltersCtrl.clearFilters()" ng-disabled="!FiltersCtrl.items.length">
                                                        Clear Criteria
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" style="margin:15px 0;">
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-default btn-gray form-control">
                                                        Filter
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control" ng-click="::FiltersCtrl.cancel()">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" style="margin:5px 0; padding-bottom:15px;">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control"
                                                            ng-click="::FiltersCtrl.loadFilters()">
                                                        Load Filters
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-success btn-gray form-control"
                                                            ng-click="::FiltersCtrl.saveFilters()" ng-disabled="!FiltersCtrl.items.length">
                                                        Save Filters
                                                    </button>
                                                </div>
                                            </div>
                                            <!--Normal Filter-->
                                        </div>
                                        <div ng-switch-when="advanceFilter">
                                            <div class="advanced-filter-container">
                                                <div class="form-group">
                                                    <advanced-filter parent-controller="FiltersCtrl"
                                                                     ng-filter-field-list="FiltersCtrl.tempAdvancedFilterFieldList"></advanced-filter>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="sqlQuery">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-top:15px;">
                                                        <label style="margin-top:5px;width:100%">Enter Query</label>
                                                        <label>select * from resource where </label>
                                                        <button type="button"
                                                                class="btn btn-default btn-light-gray" style="float: right;position: relative;top: -19px;"
                                                                ng-click="::FiltersCtrl.showFieldsContainerToggle()">
                                                            Show Fields
                                                        </button>
                                                        <textarea rows="6" ng-model="FiltersCtrl.filterQueryModel" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="margin-top:15px;margin-bottom:15px;display: table;width: 100%;">
                                                        <div class="">
                                                            <span class="pull-left">
                                                                <!--<button title="Help" class="btn btn-default btn-light-gray" ng-click="::FiltersCtrl.showSqlFilterHelp()">
                                                                    <i class="fa fa-question"></i>
                                                                </button>-->
                                                            </span>
                                                            <span class="pull-right">
                                                                <button class="btn btn-default btn-blue"
                                                                        ng-click="::FiltersCtrl.onSQLFilterButtonClick()">
                                                                    Search
                                                                </button>
                                                                &nbsp;
                                                                <button class="btn btn-default btn-light-gray"
                                                                        ng-click="::FiltersCtrl.clearFilterModel()">
                                                                    Clear
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom:15px;">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control" ng-click="::FiltersCtrl.loadSQLFilters()">
                                                        Load SQL
                                                    </button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-default btn-gray form-control" ng-click="::FiltersCtrl.saveSqlQueryFilter()" ng-disabled="!FiltersCtrl.filterQueryModel">
                                                        Save SQL
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="field-container" ng-show="FiltersCtrl.showFieldsContainer">
                                                <ul class="">
                                                    <li ng-repeat="field in FiltersCtrl.fieldList track by $index">
                                                        <a href="#" ng-click="::FiltersCtrl.addFeildToQuery(field)">{{field.displayName | translate}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Data Container-->
                <div class="col-md-9">
                    <div class="panel panel-default custom-panel" style="padding:0;">
                        <div class="panel-body" style="padding:0 15px;">
                            <!--<ui-grid-table ng-get="FiltersCtrl.get"
                                           ng-option="FiltersCtrl.tableOptions"
                                           ng-is-server-data="false"
                                           ng-table-command="FiltersCtrl.tableCommand"
                                           ng-data="FiltersCtrl.data">
                            </ui-grid-table>-->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="table-responsive" style="overflow-x:scroll;">
                                        <table class="table ng-table">
                                            <!--ng-table-dynamic="FiltersCtrl.tableParams with FiltersCtrl.tableOptions.cols()"
                                            tracked-table="FiltersCtrl.trackedTable">-->
                                            <thead>
                                                <tr>
                                                    <th ng-repeat="col in FiltersCtrl.tableCols" style="background:transparent !important">
                                                        <div class="ng-table-header">
                                                            {{col.title}}
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="row in FiltersCtrl.data track by row.id" ng-form="rowFrom">
                                                <td ng-repeat="col in FiltersCtrl.tableCols">
                                                    <div ng-switch="::col.dataTypeView">
                                                        <img class="img" ng-if="!!col.image" ng-src="{{::col.image(row)}} " width="30" height="30" />

                                                        <span ng-switch-default class="text-name {{::col.getClasses(row)}}" ng-style="::col.getStyles(row)">
                                                            {{::(col.customViewText ? col.customViewText(row) : row[col.field])}}
                                                        </span>
                                                        <span ng-switch-when="href" style="margin-top:auto; margin-bottom:auto;">
                                                            <a href="{{::col.buildUrl(row)}}" class="text-name {{::col.getClasses(row)}}">
                                                                {{::(col.customViewText ? col.customViewText(row) : row[col.field])}}
                                                            </a>
                                                        </span>

                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default custom-panel" ng-if="FiltersCtrl.pagination.totalPages.length">
                        <div class="panel-body" style="padding:0;">
                            <!--<app-custom-pagination ng-total-items="FiltersCtrl.totalCount"
                                                   ng-page-index="FiltersCtrl.queryParams.pageIndex"
                                                   ng-page-size="FiltersCtrl.queryParams.pageSize"
                                                   ng-on-page-change="FiltersCtrl.onPageChange"></app-custom-pagination>-->


                            <div class="row ng-table-pager">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <ul class="pagination">
                                            <li ng-repeat="page in FiltersCtrl.pagination.totalPages"
                                                ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                                ng-switch="page.type">
                                                <a ng-switch-when="prev" ng-click="FiltersCtrl.onPageChange(page)">
                                                    <i class="fa fa-angle-double-left"></i>
                                                </a>
                                                <a ng-switch-when="first" ng-click="FiltersCtrl.onPageChange(page)">
                                                    <span ng-bind="page.number"></span>
                                                </a>
                                                <a ng-switch-when="page" ng-click="FiltersCtrl.onPageChange(page)">
                                                    <span ng-bind="page.number"></span>
                                                </a>
                                                <a ng-switch-when="more" ng-click="FiltersCtrl.onPageChange(page)">
                                                    ...
                                                </a>
                                                <a ng-switch-when="last" ng-click="FiltersCtrl.onPageChange(page)">
                                                    <span ng-bind="page.number"></span>
                                                </a>
                                                <a ng-switch-when="next" ng-click="FiltersCtrl.onPageChange(page)">
                                                    <i class="fa fa-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>