﻿<div class="modal-body">
    <div class="form-group">
        <label for="">Enter filter name</label>
        <angucomplete-alt placeholder="Start typing"
                          pause="400"
                          ng-model-options="{ debounce : { default : 0 } }"
                          title-field="name"
                          remote-url="api/ResourceScoreFilters/autocomplete?filterType={{LoadFiltersCtrl.data.filterType}}&search="
                          minlength="0"
                          selected-object="LoadFiltersCtrl.data.selectedFilter"
                          input-class="form-control form-control-small"
                          match-class="highlight"
                          field-required="true">
        </angucomplete-alt>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="LoadFiltersCtrl.ok()">OK</button>
        <button type="button" class="btn btn-default" ng-click="LoadFiltersCtrl.cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="LoadFiltersCtrl.deleteFilter()" ng-show="LoadFiltersCtrl.data.selectedFilter">Delete selected filter</button>
    </div>
</div>
<!--remote-api-handler="::LoadFiltersCtrl.data.searchResourceScoreFilters"-->