﻿<div class="form-group">
    <label for="">Enter filter name</label>
    <input type="text" class="form-control" ng-model="modal.data.name" name="saveName" required />
    <ng-vadlidator-message ng-element-name="saveName"></ng-vadlidator-message>
</div>