﻿<div>

    <div class="{{::(option.mainContainerClass || 'row row-delete')}}" ng-repeat="item in model">
        <div class="panel panel-default custom-panel">
            <div class="panel-body">
                <div class="col-md-12">
                    <div ng-repeat="field in ::option.fields" class="col-nth-child {{::(option.classContainer || field.classContainer || 'col-md-3')}}">
                        <div class="form-group form-horizontal" ng-class="::{'requireStyle-init': field.required}" ng-init="item.unique = generateId()">
                            <div class="requireStyle-wrap">
                                <label class="label-text">
                                    {{::field.label}}
                                    <span ng-if="::field.required" class="requireStyle">*</span>
                                </label>
                            </div>

                            <div ng-if="::!viewMode">
                                <div ng-switch="::field.dataType">
                                    <input ng-switch-default type="text" placeholder="{{::field.label}}" name="{{::(field.fieldName  + '_' +item.unique)}}" ng-model="::item[field.fieldName]"
                                           ng-required="::field.required" class="{{::(field.inputClass || 'form-control')}}" ng-disabled="::field.isReadOnly" />
                                    <input ng-switch-when="email" type="email" placeholder="{{::field.label}}" name="{{::(field.fieldName  + '_' +item.unique)}}" ng-model="::item[field.fieldName]"
                                           ng-required="::field.required" class="{{::(field.inputClass || 'form-control')}}" ng-disabled="::field.isReadOnly" />
                                    <input ng-switch-when="number" type="number" placeholder="{{::field.label}}" name="{{::(field.fieldName  + '_' +item.unique)}}" ng-model="item[field.fieldName]" ng-required="::field.required"
                                           min="{{::field.min}}" max="{{::field.max}}" class="{{::(field.inputClass || 'form-control')}}" ng-disabled="::field.isReadOnly" />
                                    <input ng-switch-when="ng-currency" placeholder="{{::field.label}}" fraction="::(field.fractionSize === undefined ? 0 : field.fractionSize)" class="form-control" ng-model="item[field.fieldName]"
                                           name="{{::(field.fieldName  + '_' +item.unique)}}" ng-currency ng-required="::field.required" min="::field.min" max="::field.max"
                                           currency-symbol="{{::(field.currencySymbol === undefined ?'$' : field.currencySymbol)}}" ng-disabled="::field.isReadOnly" />

                                    <textarea ng-switch-when="textarea"
                                              placeholder="{{::field.label}}" rows="1"
                                              name="{{::(field.fieldName  + '_' +item.unique)}}"
                                              class="{{::(field.inputClass || 'form-control')}}"
                                              ng-model="item[field.fieldName]"
                                              ng-required="::field.required"
                                              ng-disabled="::field.isReadOnly"></textarea>

                                    <span ng-switch-when="calculate" name="{{::(field.fieldName  + '_' + item.unique)}}" class="{{::(field.inputClass || 'form-control')}} ng-disabled=" field.isReadOnly" ">
                                        <!--bad idea  must be get and format string in function. Fast realization-->
                                        {{field.calc(item) | currency:"$": 0}}
                                    </span>
                                    <div ng-switch-when="ui-select">
                                        <ui-select name="{{::(field.fieldName  + '_' + item.unique)}}" ng-required="::field.required"
                                                   ng-model="item[field.fieldName]" ng-disabled="::field.isReadOnly">
                                            <ui-select-match placeholder="{{::field.label}}">{{(field.viewProperty ? $select.selected[field.viewProperty] : $select.selected)}}</ui-select-match>
                                            <ui-select-choices repeat="(view[field.valueProperty] || view) as view in ::field.list">
                                                {{::(field.viewProperty ? view[field.viewProperty] : view)}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div ng-switch-when="ui-textarea">
                                        <textarea rows="1" name="{{::(field.fieldName  + '_' +item.unique)}}"
                                                  ng-disabled="::field.isReadOnly"
                                                  class="form-control"
                                                  placeholder="{{::field.label}}"
                                                  ng-required="::field.required"
                                                  ng-model="::item[field.fieldName]"></textarea>
                                    </div>
                                    <div class="row" ng-switch-when="ng-custom-template">
                                        <div ng-include="'Client/app/controllers/resource/templates/LanguageFileItemList.html'"></div>
                                    </div>
                                    <div class="row" ng-switch-when="ng-file-upload">
                                        <div class="col-md-3">
                                            <div class="btn-group-file">
                                                <button type="file" class="btn btn-default" ngf-select="field.upload($file, $invalidFiles, item)"
                                                        ngf-max-size="5MB" title="Select File">
                                                    <i class="icon icon-newspaper"></i>
                                                </button>
                                                <span ng-repeat="file in item[field.fieldName] | filter: { isDelete: '!true' }">
                                                    <button class="btn btn-default btn-remove" ng-click="::(isFunction(field.deleteItem) ? field.deleteItem(file, item[field.fieldName]) : deleteItem(file, item[field.fieldName]))" type="button">
                                                        <i class="icon icon-cancel"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <span class="alert alert-success" ng-repeat="file in item[field.fieldName] | filter: { isDelete: '!true' }">
                                                {{file.name}}
                                                <a ng-if="::file[field.fieldDownload]" href="{{::file[field.fieldDownload]}}" download="{{::file[field.fieldName]}}">
                                                    Download
                                                </a>
                                                <button class="btn btn-default btn-remove" ng-click="::(isFunction(field.deleteItem) ? field.deleteItem(file, item[field.fieldName]) : deleteItem(file, item[field.fieldName]))" type="button">
                                                    <i class="icon icon-cancel"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-switch-when="angucomplete-alt">
                                        <angucomplete-alt placeholder="{{::field.label}}"
                                                          pause="400"
                                                          ng-model-options="{ debounce : { default : 0 } }"
                                                          title-field="{{::(field.titleField || 'name')}}"
                                                          remote-api-handler="::field.search"
                                                          minlength="0"
                                                          initial-value="::item[field.initValue]"
                                                          selected-object="field['callBackFunc'] || angucompleteSelect"
                                                          input-class="form-control form-control-small"
                                                          field-required="::field.required"
                                                          match-class="highlight"
                                                          ng-disabled="::field.isReadOnly"
                                                          input-name="{{::(field.fieldName  + '_' + item.unique)}}">
                                        </angucomplete-alt>
                                    </div>


                                    <div ng-switch-when="angucomplete-text">
                                        <angucomplete-alt placeholder="{{::field.label}}"
                                                          pause="400"
                                                          title="Select Resource or Type Name"
                                                          ng-model-options="{ debounce : { default : 0 } }"
                                                          title-field="{{::(field.titleField || 'name')}}"
                                                          remote-api-handler="::field.search"
                                                          minlength="0"
                                                          initial-value="getAnguTextInitialValue(item,field)"
                                                          input-changed="angucompleteOnChanged"
                                                          selected-object="angucompleteTextSelect"
                                                          input-class="form-control form-control-small"
                                                          match-class="highlight"
                                                          ng-disabled="::field.isReadOnly"
                                                          input-name="{{::(field.fieldName  + '_' + item.unique)}}">
                                        </angucomplete-alt>
                                    </div>


                                    <div ng-switch-when="date-time" class="datapicer-group">
                                        <!-- ng-format-date -- Removed for Only YEAR  -->
                                        <input date-time ng-required="field.required" placeholder="{{::field.label}}"
                                               class="form-control"
                                               min-view="{{::(field.minView || 'date')}}"
                                               name="{{::(field.fieldName  + '_' + item.unique)}}"
                                               ng-less-than-date-time="item[field.equalDate]"
                                               ng-less-than-date-time-field="{{ ::!!field.equalDate}}"
                                               ng-disabled="::field.isReadOnly"
                                               format="{{::(field.format || 'MM/DD/YYYY')}}"
                                               auto-close="true"
                                               ng-model="item[field.fieldName]">
                                    </div>
                                    <div ng-switch-when="phone">
                                        <input type="text" class="form-control" ng-model="item[field.fieldName]" name="{{::(field.fieldName + '_' + item.unique)}}"
                                               ng-required="::field.required"
                                               ng-disabled="::field.isReadOnly"
                                               ng-phone ng-phone-validation="true">
                                        <ng-vadlidator-message ng-element-name="field.fieldName + '_' + item.unique" ng-custom-message-custom-error="Incorrect phone number">
                                        </ng-vadlidator-message>
                                    </div>
                                </div>
                                <div ng-if="::!field.noValidate">
                                    <ng-vadlidator-message ng-element-name="{{::(field.fieldName  + '_' + item.unique)}}">
                                    </ng-vadlidator-message>
                                </div>
                            </div>

                            <div ng-if="::viewMode">
                                <div ng-switch="::field.dataType">
                                    <span ng-switch-default placeholder="{{::field.label}}"
                                          class="{{::(field.inputClass || 'form-control')}}">{{item[field.fieldName]}}</span>

                                    <div ng-switch-when="date-time">
                                        <span class="form-control" name="{{::(field.fieldName  + '_' + item.unique)}}">
                                            {{dateFormat(item[field.fieldName],  field.format)}}
                                        </span>
                                    </div>

                                    <div ng-switch-when="textarea">
                                        <span ng-bind-html="item[field.fieldName]" style="display:block;white-space:normal;word-break:break-all;"></span>
                                    </div>
                                    <div ng-switch-when="angucomplete-alt">
                                        <span class="form-control" name="{{::(field.fieldName  + '_' + item.unique)}}">
                                            {{item[angucomleteStorePrefix + field.fieldName].name}}
                                        </span>
                                    </div>
                                    <div ng-switch-when="ng-custom-template" ng-if="false">
                                        <span class="form-control" name="{{::(field.fieldName  + '_' + item.unique)}}">
                                        </span>
                                    </div>
                                    <div ng-switch-when="ng-currency">
                                        <span class="form-control" name="{{::(field.fieldName  + '_' + item.unique)}}">
                                            {{item[field.fieldName] | currency: field.currencySymbol === undefined ?'$' : field.currencySymbol:0}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top:15px;">
                    <div class="remove-controll text-right" ng-if="::!viewMode">
                        <span ng-if="showAVDButton">
                            <a class="btn btn-default btn-orange" ng-click="redirectOnAVDScreen(item)">Availability vs Demand</a>
                            &nbsp;
                        </span>
                        <a href="#" class="btn btn-danger btn-remove" ng-click="::delete(field, item)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="text-right">
            <div>
                <div class="buttont-add" ng-if="::!viewMode" style="float:left">
                    <button type="button" class="btn btn-default btn-orange" ng-click="addNew()">
                        <span class="btn-icon btn-icon-add"></span>
                        <span ng-bind-html="option.addButtonText"></span>
                    </button>
                </div>
                <div class="buttont-add">
                    <button type="button" class="btn btn-default btn-light-gray pull-right" ng-click="addNewFromPopUp()" ng-if="showSecondAdd">
                        {{option.secondaryAddButtonText}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>