﻿<div class="file-wrap">
    <div ng-if="!fileName">
        <button type="file" class="btn btn-default btn-maxsize" ngf-select="upload($file, $invalidFiles)" ng-model="fileModel" name="{{::fieldId}}" ng-required="::validation.require"
                ngf-max-size="5MB" title="Select File">
            Select File
        </button>
        <ng-vadlidator-message ng-element-name="{{::fieldId}}">
        </ng-vadlidator-message>

    </div>
    <div class="alert alert-info" ng-if="!!fileName" ng-class="::{ 'download' : info}">
        <span class="innerName" title="{{fileName}}">
            {{fileName}}
            <button class="btn btn-danger btn-remove" ng-click="::onDelete_Click()" type="button"><i class="icon icon-cancel"></i></button>
        </span>
        <a class="btn btn-default" ng-if="::info" href="{{::info}}" download="{{::fileName}}">
            Download
        </a>

    </div>
</div>