﻿<ui-select ng-model="value" name="{{::fieldId}}" on-select="on_Select($item)"
           ng-required="::validation.require">
    <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="item in list">
        {{::item}}
    </ui-select-choices>
</ui-select>
<ng-vadlidator-message ng-element-name="{{::fieldId}}"></ng-vadlidator-message>