﻿<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Select Options</label>
            <input type="text" id="selectOptions" class="form-control" ng-model="edzSelectCustomFieldEditOptionsCtrl.selectValue" ng-model-options="{ debounce : { default : 0 }}" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>&nbsp;</label>
            <div><button type="button" class="btn btn-default" ng-click="edzSelectCustomFieldEditOptionsCtrl.addItem()">Add</button>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="item in edzSelectCustomFieldEditOptionsCtrl.model.data track by item.unique">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" required ng-model="item.value" name="select + {{item.unique}}" ng-model-options="{ debounce : { default : 0 }}" class="form-control" />
                <ng-vadlidator-message ng-element-name="select + {{item.unique}}"></ng-vadlidator-message>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <a href="#" class="btn-remove" ng-click="edzSelectCustomFieldEditOptionsCtrl.deleteItem(item)">x</a>
            </div>
        </div>
    </div>
</div>