﻿<!--<td ng-repeat="col in availableVsDemandData track by col.id" style="background-color:white;">
    <div class="numbers">
        <span class="text-info">
            <span class="title title_red" title="Demand: {{col.demand}} h">{{col.demand}}</span>
            <span class="title title_green" title="Availability: {{col.available}} h">{{col.available}}</span>
            <span class="title title_blue" title="Total working hours: {{col.hoursCount}} h">{{col.hoursCount}}</span>
        </span>

        <div class="progress-bar" title="Total working hours: {{col.hoursCount}} h">
            <div class="inner inner-red" title="Demand: {{calculateWightsRed(col)}}%"
                 style="width:{{calculateWightsRed(col)}}%" ng-style="{width: calculateWightsRed(col) + '%'}"></div>
            <div class="inner inner-green" title="Availability: {{calculateWightsGren(col)}}%"
                 style="width:{{calculateWightsGren(col)}}%" ng-style="{width: calculateWightsGren(col) + '%'}"></div>
        </div>
    </div>
</td>-->

<table class="table table-bordered heading-th-no-padding" style="margin:0;">
    <thead>
        <tr>
            <th style="border-bottom:1px solid rgba(0,0,0,0.1);" class="header" colspan="1" ng-repeat="column in availableVsDemandHeaders track by column.id">
                <span style="width:150px;" class="text-center">{{column.name}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color:white;">
            <td ng-repeat="col in availableVsDemandData track by col.id" style="background-color:white;">
                <div class="numbers">
                    <span class="text-info">
                        <span class="title title_red" title="Demand: {{col.demand}} h">{{col.demand}}</span>
                        <span class="title title_green" title="Availability: {{col.available}} h">{{col.available}}</span>
                        <span class="title title_blue" title="Total working hours: {{col.hoursCount}} h">{{col.hoursCount}}</span>
                    </span>

                    <div class="progress-bar" title="Total working hours: {{col.hoursCount}} h">
                        <div class="inner inner-red" title="Demand: {{calculateWightsRed(col)}}%"
                             style="width:{{calculateWightsRed(col)}}%" ng-style="{width: calculateWightsRed(col) + '%'}"></div>
                        <div class="inner inner-green" title="Availability: {{calculateWightsGren(col)}}%"
                             style="width:{{calculateWightsGren(col)}}%" ng-style="{width: calculateWightsGren(col) + '%'}"></div>
                    </div>

                </div>
            </td>
        </tr>

    </tbody>
</table>