﻿<div class="numbers"
     uib-popover-template="'sampleTemplate.html'"
     uib-popover-popup-close-delay="500"
     popover-placement="bottom"
     popover-trigger="mouseenter">
    
    <span class="text-info">
        <span class="title title_blue">{{availabilityData.totalHoursCount}}</span>
        <span class="title title_red">{{availabilityData.totalDemandHours}}</span>
        <span class="title title_green">{{availabilityData.availableWrokHours}}</span>
    </span>
    <div class="progress-bar">
        <div class="inner inner-red"
             style="width:{{availabilityData.demandPercentage}}%"
             ng-style="{width: availabilityData.demandPercentage + '%'}"></div>
    </div>
</div>
<script type="text/ng-template" id="sampleTemplate.html">
    <div>
        <div style="color:#5a677e; padding:5px 0;">
            <!-- border-bottom:1px solid rgba(0,0,0,0.2) -->
            <strong>Total Hours:</strong>  <strong class="pull-right" style="padding-left:15px;">{{availabilityData.totalHoursCount}}</strong>
        </div>
        <div style="color:#5a677e; padding:5px 0;">
            <span style="padding-left:15px;">
                Time Off Hours: <strong class="pull-right">{{availabilityData.scheduledTimeOff}}</strong>
            </span>
        </div>
        <div style="color:#5a677e; padding:5px 0;">
            <span style="padding-left:15px;">
                Holiday Hours: <strong class="pull-right">{{availabilityData.holidayHours}}</strong>
            </span>
        </div>
        <div style="color:#5a677e; padding:5px 0; ">
            <strong> Actual Hours:</strong>  <strong class="pull-right">{{availabilityData.calculatedActualHours}}</strong>
        </div>
        <div style="color:#5a677e; padding:5px 0;">
            <span style="padding-left:15px;">
                Reserved Availability : <strong class="pull-right">{{availabilityData.calculatedReservedAvailabilityHours}}</strong>
            </span>
        </div>
        <div style="color:#5a677e; padding:5px 0;">
            <span style="padding-left:15px;">
                Demand From Tasks : <strong class="pull-right">{{availabilityData.demandHours}}</strong>
            </span>
        </div>
        <div style="color:#5a677e; padding:5px 0; border-top: 1px solid rgba(0,0,0,0.3)">
            <strong> Total Available Hours:</strong>  <strong class="pull-right">{{availabilityData.availableWrokHours}}</strong>
        </div>
    </div>
</script>