﻿<div class="numbers"
     uib-popover-template="'sampleTemplateForRole.html'"
     uib-popover-popup-close-delay="500"
     popover-placement="bottom"
     popover-trigger="mouseenter">
    <span class="text-info">
        <span class="title title_blue">{{availabilityData.totalResources}}</span>
        <span class="title title_red">{{availabilityData.totalDemandResources}}</span>
        <span class="title title_green">{{availabilityData.totalAvailableResources}}</span>
    </span>
    <div class="progress-bar">
        <div class="inner inner-red"
             style="width:{{availabilityData.totalDemandResourcesPercentage}}%"
             ng-style="{width: availabilityData.totalDemandResourcesPercentage + '%'}"></div>
    </div>
</div>
<script type="text/ng-template" id="sampleTemplateForRole.html">
    <div>
        <div style="color:#5a677e; padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
            Total Resources: <strong>{{availabilityData.totalResources}}</strong>
        </div>
        <div style="padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
            Resource in Demand: <strong>{{availabilityData.totalDemandResources}}</strong>
        </div>
        <div style="padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
            Available Resources: <strong>{{availabilityData.totalAvailableResources}}</strong>
        </div>
    </div>
</script>