﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>

<button type="button" 
        title="Availability vs Demand"
        class="btn btn-default btn-blue" 
        style="margin-left: 20px; height: 26px; line-height: 0.5; margin-bottom: 1px; font-size: smaller;" 
        ng-click="this[__controllerName][field.id + '_top_button_click']()">
    <span class="btn-icon btn-icon-availability"></span>
</button>
<angucomplete-alt placeholder="Start typing"
                  pause="400"
                  novalidate
                  ng-model-options="{ debounce : { default : 0 } }"
                  title-field="name"
                  remote-api-handler="this[__controllerName][field.id + '_Search']"
                  minlength="{{::this[__controllerName].autocompleteMinLength}}"
                  initial-value="this[__controllerName].model[field.id]"
                  selected-object="this[__controllerName][field.id + '_Selected']"
                  input-class="form-control form-control-small tabable"
                  field-required="::field.required"
                  match-class="highlight"
                  disable-input="::field.isDisabled"
                  input-name="{{::field.id}}"
                  id="{{::field.id}}">
</angucomplete-alt>
<ng-vadlidator-message ng-element-name="{{::field.id}}">
</ng-vadlidator-message>
