﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<angucomplete-alt placeholder="{{::field.name}}"
                  pause="400"
                  title="Select..."
                  ng-model-options="{ debounce : { default : 0 } }"
                  title-field="{{::(field.titleField || 'name')}}"
                  local-data="this[__controllerName][field.id + '_Enum']"
                  minlength="0"
                  initial-value="this[__controllerName].model[field.id]"
                  input-changed="this[__controllerName][field.id + '_InputChanged']"
                  selected-object="this[__controllerName][field.id + '_Selected']"
                  input-class="form-control form-control-small"
                  match-class="highlight"
                  ng-disabled="::field.isReadOnly"
                  input-name="{{::(field.id)}}">
</angucomplete-alt>
<ng-vadlidator-message ng-element-name="{{::field.id}}"></ng-vadlidator-message>