﻿<label style="display:block;">&nbsp;</label>
<label class="checkbox">
    <input type="checkbox"
           ng-model="this[__controllerName].model[field.id]"
           name="{{::field.id}}"
           ng-true-value="true"
           class="tabable"
           checked="checked"
           ng-false-value="false" />
    <span class="labelCheckbox margin-top-5">{{::field.name}}</span>
</label>