﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<input type="text"
       ng-model="this[__controllerName].model[field.id]"
       name="{{::field.id}}"
       ng-currency
       ng-required="::field.required"
       fraction="::field.fraction"
       class="form-control tabable"
       min="::field.min"
       max="::field.max"
       ng-disabled="{{::field.isReadOnly}}" />
<ng-vadlidator-message ng-element-name="{{::field.id}}">
</ng-vadlidator-message>