﻿<!-- {{field | json}}  -->
<div class="custom-filds">
    <div class="custom-tooltip">
        <label>
            <!--
            <span ng-switch="::field.customField.type">
                <span ng-switch-when="Date">
                    <i class="informatiom" popover-placement="bottom" uib-popover="Date from 1.1.2000 and 12.12.2020" popover-trigger="mouseenter"><i class="fa fa-question"></i></i>
                </span>
            </span>
            <span ng-switch="::field.customField.type">
                <span ng-switch-when="Numeric">
                    <i class="informatiom" popover-placement="bottom" uib-popover="Digital only, from {{::field.customField.type}} to 99" popover-trigger="mouseenter"><i class="fa fa-question"></i></i>
                </span>
            </span>
            -->
            <!--<i class="informatiom" popover-placement="bottom" ng-if="::field.customField.description"
               uib-popover="{{::field.customField.description}}" popover-trigger="mouseenter">
                <i class="fa fa-question"></i>
            </i>-->
            <span popover-placement="top" ng-if="::field.customField.description"
                  uib-popover="{{::field.customField.description}}" popover-trigger="mouseenter">
                <span class="cutom-field-identifier"></span>
            </span>
            <span ng-if="::!field.customField.description" class="cutom-field-identifier"></span>
            {{::field.customField.name}}
            <span ng-if="::field.customField.require" class="requireStyle">*</span>
        </label>
    </div>
    <edz-view-custom-field edz-custom-field="field.customField" edz-value="field.value" edz-info="field.additionalInfo">
    </edz-view-custom-field>
</div>