﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<div class="datapicer-group">
    <!--ui-date-format-->
    
    <input type="text" date-time
           ng-model="this[__controllerName].model[field.id]"
           ng-less-than-date-time="this[__controllerName].model[field.maxDateField]"
           ng-more-than-date-time="this[__controllerName].model[field.minDateField]"
           more-than-date-time-field="{{::field.needMaxValid}}"
           ng-less-than-date-time-field="{{::field.needMinValid}}"
           class="form-control tabable"
           minlength="1"
           min-view="date"
           format="MM/DD/YYYY"
           auto-close="true"
           ng-blur="onDateChange($event)"
           name="{{::field.id}}"
           ng-required="{{::field.required}}"/>
</div>
<!--<span>{{appForm.birthDate}}</span>-->


<ng-vadlidator-message ng-element-name="{{::field.id}}" ng-custom-message="{{::field.customErrorMessage}}">
</ng-vadlidator-message>
