﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>

<input type="text"
       masked-hide-partial-text
       showlast="4"
       ng-minlength="{{::field.min_length}}"
       related-module="this[__controllerName].model"
       name="{{::field.id}}"
       value="{{this[__controllerName].model[field.id] | maskSsn}}"
       class="form-control tabable"
       ng-required="::field.required"
       pattern="{{::field.pattern}}" />

<span class="validatorErrorContainer ng-active">
    <span class="error-message" id="SSN_ERROR_MSG"></span>
</span>


<ng-vadlidator-message ng-element-name="{{::field.id}}"></ng-vadlidator-message>