﻿<label for="{{::field.id}}">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>

<div ng-dropdown-multiselect title="{{::field.title}}"
     class="common-multi-select-container"
     options="this[__controllerName][field.id +'_Options']"
     selected-model="this[__controllerName]['model'][field.id]"
     extra-settings="this[__controllerName][field.id + '_Settings']"></div>

<ng-vadlidator-message ng-element-name="{{::field.id}}"></ng-vadlidator-message>