﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<div class="datapicer-group">
    <!--ui-date-format-->
    <!--<span>Ok</span>
    <input type="text" date-time
           ng-model="this[__controllerName].model[field.id]"
           ng-less-than-date-time="this[__controllerName].model[field.maxDateField]"
           ng-more-than-date-time="this[__controllerName].model[field.minDateField]"
           more-than-date-time-field="{{::field.needMaxValid}}"
           ng-less-than-date-time-field="{{::field.needMinValid}}"
           class="form-control tabable"
           minlength="1"
           min-view="date"
           format="MM/DD/YYYY"
           auto-close="true"
           name="{{::field.id}}"
           ng-required="{{::field.required}}"/>-->

    <input type="text" 
           class="form-control tabable" 
           ng-model="this[__controllerName].model[field.id]"
           data-min-date="this[__controllerName].model[field.minDateField]"
           data-max-date="this[__controllerName].model[field.maxDateField]"
           data-date-type="string"
           data-container="body"
           placeholder="" 
           name="{{::field.id}}"
           ng-required="{{::field.required}}"
           bs-datepicker>
</div>


<span>{{appForm.birthDate.$error}}</span>


<ng-vadlidator-message ng-element-name="{{::field.id}}" ng-custom-message="{{::field.customErrorMessage}}">
</ng-vadlidator-message>

