﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<input type="number"
       ng-date="this[__controllerName].model[field.id]"
       ng-model="this[__controllerName].model[field.id]"
       name="{{::field.id}}"
       class="form-control tabable"
       ng-required="::field.required"
       pattern="{{::field.pattern}}"
       min="{{::field.min}}"
       max="{{::field.max}}"
       ng-disabled="{{::field.isReadOnly}}" />
<ng-vadlidator-message ng-element-name="{{::field.id}}">
</ng-vadlidator-message>