﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
    <span class="is-primary-number" ng-if="::field.isPrimaryButtonVisible">
        <label>
            <span class="check-icon" ng-class="{'checked':this[__controllerName].model[field.primaryFieldId],'not-checked':!this[__controllerName].model[field.primaryFieldId]}"></span>
            <input type="checkbox" 
                    ng-change="this[__controllerName][field.primaryFieldId + '_OnChange'](this[__controllerName].model[field.primaryFieldId])"
                   ng-model="this[__controllerName].model[field.primaryFieldId]" /><span>Is Primary</span>

            <!--ng-change="this[__controllerName][field.primaryFieldId + '_OnChange']"-->
        </label>
    </span>
</label>
<input type="text"
       class="form-control tabable"
       ng-model="this[__controllerName].model[field.id]"
       name="{{::field.id}}"
       ng-required="::field.required"
       ng-disabled="{{::field.isReadOnly}}"
       ng-phone
       ng-phone-validation="true">
<ng-vadlidator-message ng-element-name="{{::field.id}}" ng-custom-message-custom-error="Incorrect phone number">
</ng-vadlidator-message>