﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
    <span class="is-primary-number" ng-if="::field.isPrimaryButtonVisible">
        <label>
            <span class="check-icon" ng-class="{'checked':this[__controllerName].model[field.primaryFieldId],'not-checked':!this[__controllerName].model[field.primaryFieldId]}"></span>
            <input type="checkbox" 
                   ng-change="this[__controllerName][field.primaryFieldId + '_OnChange'](this[__controllerName].model[field.primaryFieldId])"
                   ng-model="this[__controllerName].model[field.primaryFieldId]" /><span>Is Primary</span>
        </label>
    </span>
</label>

<input type="text"
       id="{{::field.id}}"
       ng-model="this[__controllerName].model[field.id]"
       name="{{::field.id}}"
       class="form-control tabable"
       ng-required="::field.required"
       ng-disabled="{{::field.isReadOnly}}"
       pattern="{{::field.pattern}}" />
<ng-vadlidator-message ng-element-name="{{::field.id}}">
</ng-vadlidator-message>