﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<textarea type="text" ng-model="this[__controllerName].model[field.id]" 
          name="{{::field.id}}" rows="{{::field.rows}}" class="form-control tabable" ng-required="::field.required"></textarea>
<ng-vadlidator-message ng-element-name="{{::field.id}}"></ng-vadlidator-message>