﻿<label for="">
    {{::field.name | translate}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<div class="datapicer-group">
    <!--ui-date-format-->
    <input type="text" 
           date-time
           ng-model="this[__controllerName].model[field.id]"
           class="form-control tabable"
           minlength="1"
           min-view="minutes"
           view="hours"
           format="hh:mm a"
           auto-close="true"
           name="{{::field.id}}"
           ng-required="{{::field.required}}"/>
</div>
<ng-vadlidator-message ng-element-name="{{::field.id}}" ng-custom-message="{{::field.customErrorMessage}}">
</ng-vadlidator-message>

