﻿<label for="">
    {{::field.name}}
    <span ng-if="::field.required" class="requireStyle">*</span>
</label>
<angucomplete-alt id="ex1"
                  placeholder="Select"
                  initial-value="getDropdownDisplayValue(this[__controllerName].model[field.id])"
                  selected-object="onUISelect"
                  local-data="this[__controllerName][field.id + '_Enum']"
                  search-fields="value"
                  title-field="{{::(field.specialName ? field.specialName : '')}}"
                  minlength="0"
                  field-required="field.required"
                  disable-input="::field.isReadOnly"
                  input-class="form-control form-control-small tabable"
                  input-name="{{::field.id}}">
</angucomplete-alt>
<ng-vadlidator-message ng-element-name="{{::field.id}}"></ng-vadlidator-message>