<style>
    .navbar.navbar-default.custom-navbar {
        display: none;
    }
</style>

<div style="max-width:500px;margin-left:auto;margin-right:auto;margin-top:150px">
    <div class="panel panel-default custom-panel">
        <div class="panel-heading">
            <div class="panel-title">
                Terms Condition
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        Participation in the MIC pilot program requires that confidential information about the MIC product pilot program not be shared outside of the individuals explicitly involved with the pilot. Specifically representatives from Performance Rehab KC and EDZ Systems.
                        <br /><br />"Confidential Information" means all materials, information and data, in whatever form or media, including without limitation, products, technology, forms, documents, agreements, specifications, processes, system designs, structures, flow charts, screen formats, algorithms, code, business operations, financial information, systems, practices, computer systems (without limitation the programs and products used therein or related in any way thereto), products and programs (including without limitation all information whatsoever concerning or pertaining to or identifying in any fashion shareholders or security holders of securities issued by or shareholders or security holders serviced by clients of EDZ SYSTEMS or (ii) clients of EDZ SYSTEMS or such client's customers ( and (ii) jointly and severally, also styled "Consumer Information") and any documents, letters, memoranda, charts, graphs, programs and other writings or documents provided to or disclosed to the Receiving Party by the Disclosing Party, whether such Confidential Information is conveyed to or received by the Receiving Party in writing or verbally or is otherwise observed or overheard by the Receiving Party, and whether or not marked "Confidential".
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn btn-default btn-gray btn-fixed-width"
                                ng-click="TermsConditionCntrl.onUserActionPerform(false)">
                            Disagree
                        </button>
                        <button class="btn btn-default btn-blue btn-fixed-width"
                                ng-click="TermsConditionCntrl.onUserActionPerform(true)">
                            Agree
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>