﻿<div id="advancedFilterWrapper" class="advanced-filter-wrapper">
    <!--Filter ROW-->
    <!--{{AdvancedFilterCtrl.filterItemList}}-->

    <div class="filter-group-row">

        <div class="row advanced-filter-row"
             ng-repeat="filterItem in AdvancedFilterCtrl.filterItemList">

            <!--Filter Logical Operators AND|OR - Remove Filter Criteria-->
            <div class="col-md-12">
                <div class="pull-left logical-oprator-controll" ng-if="$index > 0">
                    <ui-select ng-model="filterItem.logicalOperator" name="newFilterCriteria" on-select=""
                               ng-required="true"
                               style="min-width:100px;"
                               ng-model-options="{ debounce : { default : 100 } }">
                        <ui-select-match placeholder="Select Operator">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="logicalOperatorItem in logicalOperators">
                            {{logicalOperatorItem.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <a class="btn btn-default pull-right delete" style="padding:6px;" ng-click="AdvancedFilterCtrl.removeFilterCriteria(filterItem)">
                    <i class="fa fa-trash"></i>
                </a>
            </div>

            <!--Filter Fields Selection-->
            <div class="col-md-12">
                <div class="form-group">
                    <label>Search Field</label>
                    <ui-select ng-model="filterItem.field" name="newFilterCriteria" on-select="AdvancedFilterCtrl.onFilterCriteriaChanged($item, filterItem)"
                               ng-required="true"
                               ng-model-options="{ debounce : { default : 100 } }">
                        <ui-select-match placeholder="Select Field">{{$select.selected.displayName | translate}}</ui-select-match>
                        <ui-select-choices repeat="item in AdvancedFilterCtrl.localFilterFieldsList">
                            {{item.displayName | translate}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <!--Filter Field Comparision Operator-->
            <div class="col-md-12">
                <div class="form-group" ng-class="{'disable-inputs' : !filterItem.field}">
                    <label>Criteria</label>
                    <ui-select ng-model="filterItem.selectedComparisionOperator" name="newFilterCriteria" on-select="AdvancedFilterCtrl.onFilterComparisionOperatorChanged($item)"
                               ng-required="true"
                               ng-model-options="{ debounce : { default : 100 } }">
                        <ui-select-match placeholder="Select Operator">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in filterItem.comparisionOperators">
                            {{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <!--Filter Field Value-->
            <div class="col-md-12">
                <div class="form-group" ng-class="{'disable-inputs' : !filterItem.selectedComparisionOperator}">
                    <label>Search Value</label>
                    <div ng-switch="filterItem.field.fieldType">
                        <div ng-switch-when="UI_SELECT">
                            <div ng-switch="filterItem.selectedComparisionOperator.value">
                                <div ng-switch-when="IN">
                                    <div style="display:inline-flex;width:100%;" ng-init="filterItem.InValueList = []">
                                        <ui-select style="min-width:85%" name="{{filterItem.fieldName}}" ng-model="filterItem.fieldValue1">
                                            <ui-select-match placeholder="select...">{{($select.selected.name ? $select.selected.name : $select.selected)}}</ui-select-match>
                                            <ui-select-choices repeat="view in filterItem.field.dropdownOptions">
                                                {{::(view.name ? view.name : view)}}
                                            </ui-select-choices>
                                        </ui-select>
                                        &nbsp;
                                        <button type="button" title="Add Multiple Values" ng-disabled="!filterItem.fieldValue1"
                                                class="btn btn-default" ng-click="AdvancedFilterCtrl.addInFilterValue(filterItem)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <div id="list" class="in-value-container">
                                        <span ng-repeat="InListItem in filterItem.InValueList">
                                            <span>{{(InListItem.displayName ? InListItem.displayName : InListItem)}}</span>
                                            <a ng-click="AdvancedFilterCtrl.removeInFilterValue(filterItem.InValueList, InListItem)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <ui-select name="{{filterItem.fieldName}}" ng-model="filterItem.fieldValue1">
                                        <ui-select-match placeholder="select...">{{($select.selected.name ? $select.selected.name : $select.selected)}}</ui-select-match>
                                        <ui-select-choices repeat="view in filterItem.field.dropdownOptions">
                                            {{::(view.name ? view.name : view)}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="CURRENCY">
                            <input type="text"
                                   ng-model="filterItem.fieldValue1"
                                   name="fieldValue1"
                                   ng-currency
                                   fraction="::field.fraction"
                                   class="form-control"
                                   min="::field.min"
                                   max="::field.max" />
                        </div>
                        <div ng-switch-when="AUTOCOMPLETE">
                            <div ng-switch="filterItem.selectedComparisionOperator.value">
                                <div ng-switch-when="IN">
                                    <div style="display:inline-flex" ng-init="filterItem.InValueList = []">
                                        <angucomplete-alt placeholder="Start typing"
                                                          id="field_in_operator_value_selector"
                                                          pause="400"
                                                          ng-model-options="{ debounce : { default : 0 } }"
                                                          title-field="name"
                                                          remote-url="{{::filterItem.field.apiCallUrl}}"
                                                          minlength="0"
                                                          initial-value="id"
                                                          selected-object="filterItem.fieldValue1"
                                                          input-class="form-control form-control-small"
                                                          match-class="highlight"
                                                          input-name="filterItem.fieldName"
                                                          class="ng-isolate-scope">
                                        </angucomplete-alt>
                                        &nbsp;
                                        <button type="button" title="Add Multiple Values" ng-disabled="!filterItem.fieldValue1"
                                                class="btn btn-default" ng-click="AdvancedFilterCtrl.addInFilterValue(filterItem)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>

                                    <div id="list" class="in-value-container">
                                        <span ng-repeat="InListItem in filterItem.InValueList">
                                            <span>{{InListItem.name}}</span>
                                            <a ng-click="AdvancedFilterCtrl.removeInFilterValue(filterItem.InValueList, InListItem)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-url="{{::filterItem.field.apiCallUrl}}"
                                                      minlength="0"
                                                      initial-value="id"
                                                      selected-object="filterItem.fieldValue1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      input-name="filterItem.fieldName"
                                                      class="ng-isolate-scope">
                                    </angucomplete-alt>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="DATE_TIME">
                            <div ng-switch="filterItem.selectedComparisionOperator.value">
                                <div ng-switch-when="BETWEEN" style="display:inline-flex">
                                    <input date-time
                                           placeholder="Date From"
                                           class="form-control"
                                           min-view="date"
                                           auto-close="true"
                                           format="MM/DD/YYYY"
                                           minlength="1"
                                           name="field1"
                                           ng-model="filterItem.fieldValue1">
                                    &nbsp;&nbsp;&nbsp;
                                    <input date-time
                                           placeholder="Date To"
                                           class="form-control"
                                           min-view="date"
                                           auto-close="true"
                                           format="MM/DD/YYYY"
                                           minlength="1"
                                           name="field2"
                                           ng-model="filterItem.fieldValue2">
                                </div>

                                <div ng-switch-default>
                                    <input date-time
                                           placeholder="Date"
                                           min-view="date"
                                           class="form-control"
                                           auto-close="true"
                                           format="MM/DD/YYYY"
                                           minlength="1"
                                           name="field1"
                                           ng-model="filterItem.fieldValue1">
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="PHONE">
                            <input type="text"
                                   placeholder="{{filterItem.field.displayName || 'Phone Number'}}"
                                   class="form-control"
                                   ng-model="filterItem.fieldValue1"
                                   name="fieldValue1" ng-phone
                                   ng-phone-validation="true">
                        </div>

                        <div ng-switch-default>
                            <input type="text" placeholder="{{filterItem.field.displayName || 'Value'}}" ng-m ng-model="filterItem.fieldValue1" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>      <!--Filter ROW-->
    </div>

    <!--Filter Action Buttons-->
    <div class="advanced-filter-action-buttons-container">
        <div class="row" style="margin:5px 0; padding-top:10px;">
            <div class="col-md-6">
                <div class="">
                    <button class="btn btn-default btn-gray form-control dropdown-toggle"
                            ng-click="AdvancedFilterCtrl.addFilterCriteria()"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            type="button">
                        Add Criteria
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default btn-gray form-control"
                        ng-click="AdvancedFilterCtrl.clearFilter()"
                        ng-disabled="!AdvancedFilterCtrl.filterItemList.length"
                        type="button">
                    Clear Criteria
                </button>
            </div>
        </div>
        <div class="row" style="margin:5px 0; padding-top:10px;">
            <div class="col-md-6">
                <button class="btn btn-default btn-gray form-control" type="button"
                        ng-disabled="!AdvancedFilterCtrl.isFilterButtonDisabled(filterForm)"
                        ng-click="AdvancedFilterCtrl.filterButtonClick()">
                    Filter
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default btn-gray form-control"
                        ng-click="AdvancedFilterCtrl.onCancelButtonClick()"
                        type="button">
                    Cancel
                </button>
            </div>
        </div>
        <div class="row" style="margin:5px 0; padding-top:10px;">
            <div class="col-md-6">
                <button class="btn btn-default btn-gray form-control"
                        ng-click="AdvancedFilterCtrl.loadStoredFilters()"
                        type="button">
                    Load Filters
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default btn-gray form-control"
                        ng-click="AdvancedFilterCtrl.saveCurrentFilters()"
                        ng-disabled="!AdvancedFilterCtrl.filterItemList.length"
                        type="button">
                    Save Filters
                </button>
            </div>
        </div>
    </div>
    <!--Filter Action Buttons-->
</div>