﻿<div class="row ng-table-pager" ng-if="AppCustomPaginationCtrl.pagination.length">
    <div class="col-md-12">
        <div class="text-center">
            <ul class="pagination">
                <li ng-repeat="page in AppCustomPaginationCtrl.pagination"
                    ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                    ng-switch="page.type">
                    <a ng-switch-when="prev" ng-click="AppCustomPaginationCtrl.onPageChange(page)">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                    <a ng-switch-when="first" ng-click="AppCustomPaginationCtrl.onPageChange(page)">
                        <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="page" ng-click="AppCustomPaginationCtrl.onPageChange(page)">
                        <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="more" ng-disabled="true">
                        ...
                    </a>
                    <a ng-switch-when="last" ng-click="AppCustomPaginationCtrl.onPageChange(page)">
                        <span ng-bind="page.number"></span>
                    </a>
                    <a ng-switch-when="next" ng-click="AppCustomPaginationCtrl.onPageChange(page)">
                        <i class="fa fa-angle-double-right"></i>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>