﻿<irms-not-found irms-name="Referral" irms-link="{{::ReferralPhysicianEditController.resourceHref}}" ng-if="::!ReferralPhysicianEditController.isPatientLoadedCorrectly"></irms-not-found>
<div cg-busy="ReferralPhysicianEditController.loadCorrect"
     ng-if="::ReferralPhysicianEditController.isPatientLoadedCorrectly"
     style=""
     class="patient-edit-page"
     ng-cloak>
    <form name="referralEditForm" ng-submit="ReferralPhysicianEditController.onSave_Click(referralEditForm)" novalidate
          ng-model-options="{ debounce : { default : 400 }}" ng-init="ReferralPhysicianEditController.setFormScope(this)">
        <div class="container-fluid container-wrap container-wrap-aside-left tabs-wrap">
            <div class="row">
                <!--Error Row-->
                <div class="tabs-body" ng-if="formErrorList">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default custom-panel panel-error">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        Please fix following errors
                                    </span>
                                    <span class="pull-right">
                                        <a href="#" ng-click="hideErrorTab()">
                                            &times;
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="(key, errors) in formErrorList track by $index">
                                            <strong>{{ key }}</strong> tab have errors
                                            <ul>
                                                <li ng-repeat="e in errors track by $index" ng-if="e"><strong>{{ e }}</strong> is required.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="panel panel-default custom-panel" style="margin-bottom:0;">
                        <div class="panel-heading">
                            <div class="panel-title" ng-bind-html="ReferralPhysicianEditController.getPageTitle()"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="z-index:100" ng-cloak ng-if="::ReferralPhysicianEditController.isNewPatient">
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':ReferralPhysicianEditController.leftMenuMaxHeight + 'px'}">
                        <edz-tab-links edz-current-tab="ReferralPhysicianEditController.currentTab" ng-repeat="tab in ::ReferralPhysicianEditController.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::ReferralPhysicianEditController[tab.id + '_Click']"
                                          ng-if="::!ReferralPhysicianEditController[tab.id + '_Condition']() && tab.visible">
                                {{tab.name}}
                            </edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>

                <div class="" ng-cloak ng-class="{'col-md-9':ReferralPhysicianEditController.isNewPatient,'col-md-12':!ReferralPhysicianEditController.isNewPatient}">
                    <div class="patient-fields-container">

                        <div ng-class="{'disable-inputs':!ReferralPhysicianEditController.canUpdateOrInsertButtonDisabled()}">
                            <edz-tab-bodies edz-current-tab="ReferralPhysicianEditController.currentTab">
                                <!-- Patient Details -->
                                <edz-tab-body edz-tab-id="patientCaseDetails" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'patientCaseDetails'}">
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">
                                                            <!--{{ReferralPhysicianEditController.getResourceFullName()}}-->
                                                            {{ReferralPhysicianEditController.getTabDisplayName('patientCaseDetails')}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div>
                                                    <div class="col-md-12">
                                                        <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.patientDetails.container1 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" form="referralEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.patientDetails.container2 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" form="referralEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.patientDetails.container3 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Personal Info -->
                                    </div>

                                </edz-tab-body>

                                <!-- HEP -->
                                <edz-tab-body edz-tab-id="hep" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'hep'}" class="case-hep">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{ReferralPhysicianEditController.getResourceFullName()}} {{ReferralPhysicianEditController.getTabDisplayName('hep')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>


                                <!-- CustomFields--->
                                <edz-tab-body edz-tab-id="other" edz-tab-content-class="tabs-summary" ng-model-options="{ debounce : { default : 0 }, tabValidationName : 'other'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{ReferralPhysicianEditController.getResourceFullName()}} {{ReferralPhysicianEditController.getTabDisplayName('other')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container1 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container2 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container3  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container4  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.otherContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- summary -->
                                <edz-tab-body edz-tab-id="summary" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'summary'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{ReferralPhysicianEditController.getResourceFullName()}} {{ReferralPhysicianEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default btn-cancel btn-orange" ng-hide="!ReferralPhysicianEditController.model.id || ReferralPhysicianEditController.model.id == 0" ng-click="ReferralPhysicianEditController.exportResource()">
                            Export
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="ReferralPhysicianEditController.onCancelButtonClick()">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="submit" class="btn btn-save" ng-disabled="!ReferralPhysicianEditController.canUpdateOrInsertButtonDisabled()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
