﻿<div class="row row-delete">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Subject</label>
            <input type="text" name="{{::('subject' + model.unique)}}" ng-model="model.name" required class="form-control"/>
            <ng-vadlidator-message ng-element-name="{{::('subject' + model.unique)}}"></ng-vadlidator-message>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">Priority</label>
            <ui-select name="{{::('priority' + model.unique)}}" ng-model="model.priority">
                <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="view in :: priorityEnum"> {{::view}} </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">Status</label>
            <ui-select name="{{::('status' + model.unique)}}" ng-model="model.status">
                <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="view in :: statusEnum">{{::view}}</ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">Start Date</label>
            <div class="datapicer-group">
                <input date-time class="form-control" min-view="date" name="{{::('startDate' + model.unique)}}" format="MM/DD/YYYY" auto-close="true" ng-model="model.startDate" required
                       ng-less-than-date-time="model.dueDate">
            </div>
            <ng-vadlidator-message ng-element-name="{{::('startDate' + model.unique)}}"></ng-vadlidator-message>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">Post Date</label>
            <div class="datapicer-group">
                <input date-time class="form-control" min-view="date" name="{{::('postDate' + model.unique)}}" format="MM/DD/YYYY" auto-close="true" ng-model="model.postDate"
                       ng-less-than-date-time="model.dueDate">
                <ng-vadlidator-message ng-element-name="{{::('postDate' + model.unique)}}"></ng-vadlidator-message>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">Due Date</label>
            <div class="datapicer-group">
                <input date-time class="form-control" min-view="date" name="{{::('dueDate' + model.unique)}}" format="MM/DD/YYYY" auto-close="true" ng-model="model.dueDate" required>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group ">
            <label for="">Reporter</label>
            <angucomplete-alt placeholder="Start typing"
                              pause="400"
                              ng-model-options="{ debounce : { default : 0 } }"
                              title-field="name"
                              remote-api-handler=":: searchResource"
                              minlength="0"
                              initial-value="::model.reporter"
                              selected-object="angucompleteReporterSelect"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              input-name="{{::('reporter' + model.unique)}}">
            </angucomplete-alt>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="form-group">
            <label for="">Responsible</label>
            <angucomplete-alt placeholder="Start typing"
                              pause="400"
                              ng-model-options="{ debounce : { default : 0 } }"
                              title-field="name"
                              remote-api-handler=":: searchResource"
                              minlength="0"
                              initial-value="::model.resource"
                              selected-object="angucompleteResourceSelect"
                              input-class="form-control form-control-small"
                              match-class="highlight"
                              input-name="{{::('resource' + model.unique)}}">
            </angucomplete-alt>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="">Persentage Of Task Completion </label>
            <input type="number" name="{{::('persentageOfTaskCompletion' + model.unique)}}" ng-model="model.persentageOfTaskCompletion" min="0" max="100" class="form-control"/>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group" style="margin-bottom: 0;">
            <label>&nbsp;</label>
        </div>
        <div class="form-group">
            <label class="checkbox">
                <input type="checkbox" ng-model="model.isMilestone" ng-true-value="true" ng-false-value="false" name="{{::('isMilestone' + model.unique)}}">
                <span class="labelCheckbox">Milestone</span>
            </label>
        </div>
    </div>
    <div ng-if="!model.isMilestone">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Time Spent </label>
                <input type="number" placeholder="Hours" name="{{::('timeSpent' + model.unique)}}" ng-model="model.timeSpent" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Estimated Hours</label>
                <input type="number" placeholder="Hours" name="{{::('estimateTime' + model.unique)}}" ng-model="model.estimateTime" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Description</label>
            <textarea rows="1" name="{{::('description' + model.unique)}}" class="form-control" ng-model="model.description"></textarea>
        </div>
    </div>
    <div class="col-md-1 remove-controll">
        <label>&nbsp;</label>
        <a href="#" class="btn btn-danger" ng-click="::deleteItem_Click(model)">
            <i class="icon icon-cancel"></i>
        </a>

    </div>
</div>

