﻿<div class="" style="padding:15px;">
    <div class="modal-header" style="border:0;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title">My Tasks</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-hover table-calendar">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Estimated Hours</th>
                        <th>Time Spent</th>

                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="task in dataModal.childrenEvents">
                        <td>{{task.taskName}}</td>
                        <td>{{task.start|date:'MM-dd-yyyy'}}</td>
                        <td>{{task.end |date:'MM-dd-yyyy'}}</td>
                        <td>{{task.taskStatus}}</td>
                        <td>{{task.priority}}</td>
                        <td>{{task.estimentTime}}</td>
                        <td>{{task.timeSpent}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="" style="padding:15px;">
        <div class="text-right">
            <button type="button" class="btn btn-default btn-light-gray " data-dismiss="modal" ng-click="clear()">
                <span ng-click="clear()">Close</span>
            </button>
        </div>
    </div>
</div>