﻿
<div class="" style="padding:15px;">
    <div class="modal-header" style="border:0;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title">Direct Report Time Off</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-hover table-calendar">
                <thead>
                    <tr>
                        <th>Resource</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th style="width:195px">Action</th>

                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="timeOff in dataModal.childrenEvents">
                        <td>{{timeOff.resourceName}}</td>
                        <td>{{timeOff.start|date:'MM-dd-yyyy'}}</td>
                        <td>{{timeOff.end |date:'MM-dd-yyyy'}}</td>
                        <td>{{timeOff.leaveType}}</td>
                        <td>{{timeOff.status}}</td>
                        <td>
                            <button type="button"
                                    ng-click="approveLeave(timeOff)"
                                    ng-show="timeOff.status=='Pending'"
                                    class="btn btn-default calendar-btn-approve ">
                                <span class="fa fa-check"></span>&nbsp;<span>Approve</span>
                            </button>
                            <button type="button"
                                    ng-click="rejectLeave(timeOff)"
                                    ng-show="timeOff.status=='Pending'"
                                    class="btn btn-default calendar-btn-reject">
                                <span class="fa fa-times"></span>&nbsp;<span>Reject</span>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="" style="padding:15px;">
        <div class="text-right">
            <button type="button" class="btn btn-default btn-light-gray " data-dismiss="modal" ng-click="clear()">
                <span ng-click="clear()">Close</span>
            </button>
        </div>
    </div>
</div>