﻿<tr>
    <th class="header"></th>
    <th class="header" colspan=" 2" ng-repeat="column in uiGridTableCtrl.cols.firstHeader"><span class="text-center">{{column}}</span> </th>
</tr>
<tr>
    <th ng-repeat="column in uiGridTableCtrl.cols" ng-show="column.show"
        class="text-center sortable" ng-class="{
              'sort-asc': uiGridTableCtrl.tableParams.isSortBy(column.field, 'asc'),
              'sort-desc': uiGridTableCtrl.tableParams.isSortBy(column.field, 'desc')
            }"
        ng-click="uiGridTableCtrl.tableParams.sorting(column.field, uiGridTableCtrl.tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
        <div class="ng-table-header">
            <span class="sort-indicator">{{column.title}}</span>
        </div>
    </th>
</tr>
