﻿<div class="entry-type">
    <div class="row">
        <div class="col-md-12">
            <div class="days-container">
                <span class="day">M</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['mon']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['mon']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['mon']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">T</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['tue']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['tue']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['tue']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">W</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['wed']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['wed']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['wed']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">T</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['thu']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['thu']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['thu']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">F</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['fri']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['fri']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['fri']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">S</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['sat']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['sat']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['sat']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
            <div class="days-container">
                <span class="day">S</span>
                <span class="day-input" ng-if="!row.isEditing">
                    <i class="fa fa-check" ng-if="row[col.field]['sun']"></i>
                    <i class="fa fa-times" ng-if="!row[col.field]['sun']"></i>
                </span>
                <span class="day-input" ng-if="row.isEditing">
                    <input type="checkbox"
                           name="{{col.field}}"
                           class=""
                           ng-model="row[col.field]['sun']"
                           ng-disabled="!row.isEditing || row[col.comparisionField] != col.comparisionValue" />
                </span>
            </div>
        </div>
    </div>
</div>