﻿<div class="view-work-exeperience" ng-cloak>
    <div class="row" style="border-bottom:1px solid rgba(0,0,0,0.5);margin-bottom:5px;padding:5px 0;">
        <div ng-class="{'col-xs-4':$index == 0, 'col-xs-2':$index > 0}" ng-repeat="field in option.fields track by $index">
            <strong>
                {{field.label}}
                <span ng-if="::field.required && !viewMode" class="requireStyle">*</span>
            </strong>
        </div>
        <div class="col-xs-4" ng-if="::!viewMode">
            <strong>
                Action
            </strong>
        </div>
    </div>
    <div class="row" style="border-bottom:1px solid rgba(0,0,0,0.2);margin-bottom:5px;padding:5px 0;background-color:#F5F5F5;" ng-repeat="(key, value) in model track by $index">
        <div ng-class="{'col-xs-4':$index == 0, 'col-xs-2':$index > 0}" ng-repeat="field in option.fields track by $index">
            <div ng-switch="field.dataType">
                <div ng-switch-when="angucomplete-alt">
                    <angucomplete-alt placeholder="{{::field.label}}"
                                      pause="400"
                                      ng-model-options="{ debounce : { default : 0 } }"
                                      title-field="{{::(field.titleField || 'name')}}"
                                      remote-url="api/JobTitles/autocomplete?search="
                                      minlength="0"
                                      ng-readonly="::viewMode"
                                      initial-value="item.workExperienceJobTitle.name"
                                      selected-object="angucompleteSelect"
                                      input-class="form-control form-control-small"
                                      field-required="::field.required"
                                      match-class="highlight"
                                      ng-model="::(field.fieldName)"
                                      input-name="{{::(field.fieldName) + '_'+key}}">
                    </angucomplete-alt>
                    <ng-vadlidator-message ng-element-name="{{::(field.fieldName) + '_'+key}}" ng-custom-message="Position is Required"></ng-vadlidator-message>
                </div>
                <div ng-switch-when="date-time" class="datapicer-group">
                    <input date-time
                           ng-format-date
                           ng-required="::field.required"
                           placeholder="{{::field.label}}"
                           class="form-control"
                           min-view="{{::(field.minView || 'date')}}"
                           name="{{::(field.fieldName  + '_' + key)}}"
                           ng-more-than-date-time="field.minDateField"
                           more-than-date-time-field="{{::field.needMaxValid}}"
                           ng-less-than-date-time="item[field.maxDateField]"
                           ng-less-than-date-time-field="{{ ::!!field.maxDateField}}"
                           format="{{::(field.format || 'MM/DD/YYYY')}}"
                           auto-close="true"
                           ng-model="item[field.fieldName]">
                    <ng-vadlidator-message ng-element-name="{{::(field.fieldName  + '_' + key)}}"></ng-vadlidator-message>
                </div>
            </div>
        </div>
        <div class="col-xs-4" ng-if="::!viewMode">
            <div>
                <button type="button" class="btn btn-default btn-orange" ng-click="addNewAssignment(item.id,key)">
                    <i class="btn-icon btn-icon-add"></i>
                    <span>Add Assignment</span>
                </button>
                <button type="button" class="btn btn-danger btn-remove" ng-click="::delete(field, item)" style="line-height:1;padding: 8px; padding-top: 9px;">
                    <i class="fa fa-trash"></i>
                </button>
                <a data-toggle="collapse" data-target="#collapsibleRow_{{key}}" ng-class="{'in': item.isAssignmentOpen}" href="#"
                   class="btn btn-default btn-collapse-blue collapsed">
                    <i class="fa fa-chevron-down" style="font-size:12px;padding:5px 6px;"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-12 collapse"
             id="collapsibleRow_{{key}}"
             ng-class="{'in': item.isAssignmentOpen, 'in': viewMode}"
             style="margin-top: 8px;padding-left: 30px;">
            <div class="row"
                 style="padding:5px 0;background-color:#dcdcdc;">
                <div class="col-xs-5">
                    <strong>
                        Assignment
                    </strong>
                </div>
                <div class="col-xs-2">
                    <strong>
                        Start Date
                    </strong>
                </div>
                <div class="col-xs-2">
                    <strong>
                        End Date
                    </strong>
                </div>
                <div class="col-xs-1">
                    <strong>
                        Of Note
                    </strong>
                </div>
                <div class="col-xs-1">
                    <strong>
                        Judicial Clerkship
                    </strong>
                </div>
                <div class="col-xs-1">
                    <strong>
                        Action
                    </strong>
                </div>

            </div>
            <div class="row"
                 style="padding:5px 0;background-color:#dcdcdc;"
                 ng-repeat="(subKey, assignment) in value.resourceWorkAssignments track by $index">
                <div class="col-xs-5">
                    <textarea type="text" rows="6" class="form-control" ng-model="assignment.assignmentDescription"></textarea>
                </div>
                <div class="col-xs-2">
                    <div class="datapicer-group">
                        <div class="form-group">
                            <input date-time ng-format-date
                                   placeholder="{{::field.label}}"
                                   class="form-control"
                                   min-view="{{::(field.minView || 'date')}}"
                                   format="MM/DD/YYYY"
                                   ng-more-than-date-time="item['startDate']"
                                   ng-more-than-date-time-field="item['startDate']"
                                   auto-close="true"
                                   ng-readonly="::viewMode"
                                   name="{{'assignementStartDate_'+ $index}}"
                                   ng-model="assignment.startDate" />
                            <ng-vadlidator-message ng-element-name="{{'assignementStartDate_' + $index}}"
                                                   ng-custom-message="Assignment start date must not be less than experience start date.">
                            </ng-vadlidator-message>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="datapicer-group">
                        <div class="form-group" ng-if="::!viewMode">
                            <input date-time ng-format-date
                                   placeholder="{{::field.label}}"
                                   class="form-control"
                                   min-view="{{::(field.minView || 'date')}}"
                                   format="MM/DD/YYYY"
                                   ng-more-than-date-time="assignment.startDate"
                                   ng-more-than-date-time-field="assignment.startDate"
                                   auto-close="true"
                                   name="{{'assignementEndDate_' + $index}}"
                                   ng-model="assignment.endDate">
                            <ng-vadlidator-message ng-element-name="{{'assignementEndDate_' + $index}}"
                                                   ng-custom-message="Assignment end date must not be less than start date.">
                            </ng-vadlidator-message>
                        </div>
                        <div class="form-group" ng-if="::viewMode">
                            <span style="width:100%;">
                                {{dateFormat(assignment.endDate)}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    <label class="checkbox">
                        <input type="checkbox"
                               title="Of Note"
                               ng-model="assignment.ofNote"
                               name="{{'assignmentOfNote_'+$index}}"
                               ng-true-value="true"
                               ng-false-value="false" />
                    </label>
                </div>
                <div class="col-xs-1 text-center">
                    <label class="checkbox">
                        <input type="checkbox"
                               title="Judicial Clerkship"
                               ng-model="assignment.judicialClerkShip"
                               name="{{'assignmentJudicialClerkShip_'+$index}}"
                               ng-true-value="true"
                               ng-false-value="false" />
                    </label>
                </div>
                <div class="col-xs-1">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-remove" ng-click="deleteAssignment(key, subItem , subKey)" style="line-height:1;">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <span style="padding-top: 3px;font-weight: bold;margin-right:10px;">
                                Industry
                            </span>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group" data-object="subItem" style="display:inline-flex">
                                <angucomplete-alt placeholder="Start typing"
                                                  pause="400"
                                                  novalidate
                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                  title-field="name"
                                                  remote-api-handler="industrySearch"
                                                  minlength="0"
                                                  initial-value="assignment.assignmentIndustry"
                                                  selected-object="onIndustrySelected"
                                                  input-class="form-control"
                                                  match-class="highlight"
                                                  input-name="{{'assignementIndustry_'+subKey}}">
                                </angucomplete-alt>
                                <ng-vadlidator-message ng-element-name="{{'assignementIndustry_'+subKey}}"></ng-vadlidator-message>
                               
                                <span ng-if="assignment.assignmentIndustry.configField1" style="padding-top: 4px;display: block;margin-left: 10px;font-weight: bold;">
                                    Code : {{assignment.assignmentIndustry.configField1}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    {{assignment}}
                </div>

            </div>
        </div>
    </div>
</div>