﻿<div class="page-skill">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-if="resumeMode"></th>
                <th ng-repeat="field in ::option.fields">
                    {{field.label}}
                    <span ng-if="::field.required && !viewMode" class="requireStyle">*</span>
                </th>
                <th ng-if="::!viewMode" width="250">
                    Action
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="(key,item) in model">
            <tr ng-init="controllerName.resumeFieldList.workExperienc[key] = false"
                ng-hide="controllerName.resumeFieldList.workExperienc[key] === true && !showCheckBox">
                <td ng-if="resumeMode">
                    <input type="checkbox" class="resume-checkbox"
                           ng-model="controllerName.resumeFieldList.workExperienc[key]"
                           ng-show="controllerName.showGenerateResumeScreen && controllerName.showCheckBox" />
                </td>
                <td ng-repeat="field in ::option.fields">
                    <div ng-switch="::field.dataType">
                        <div ng-if="::!viewMode">
                            <div ng-switch-when="angucomplete-alt">
                                <angucomplete-alt placeholder="{{::field.label}}"
                                                  pause="400"
                                                  ng-model-options="{ debounce : { default : 0 } }"
                                                  title-field="{{::(field.titleField || 'name')}}"
                                                  remote-url="api/JobTitles/autocomplete?search="
                                                  minlength="0"
                                                  ng-readonly="::viewMode"
                                                  initial-value="item.workExperienceJobTitle.name"
                                                  selected-object="angucompleteSelect"
                                                  input-class="form-control form-control-small"
                                                  field-required="::field.required"
                                                  match-class="highlight"
                                                  ng-model="::(field.fieldName)"
                                                  input-name="{{::(field.fieldName) + '_'+key}}">
                                </angucomplete-alt>
                                <ng-vadlidator-message ng-element-name="{{::(field.fieldName) + '_'+key}}" ng-custom-message="Position is Required"></ng-vadlidator-message>
                            </div>

                            <div ng-switch-when="date-time" class="datapicer-group">
                                <input date-time
                                       ng-format-date
                                       ng-required="::field.required"
                                       placeholder="{{::field.label}}"
                                       class="form-control"
                                       min-view="{{::(field.minView || 'date')}}"
                                       name="{{::(field.fieldName  + '_' + key)}}"
                                       ng-more-than-date-time="field.minDateField"
                                       more-than-date-time-field="{{::field.needMaxValid}}"
                                       ng-less-than-date-time="item[field.maxDateField]"
                                       ng-less-than-date-time-field="{{ ::!!field.maxDateField}}"
                                       format="{{::(field.format || 'MM/DD/YYYY')}}"
                                       auto-close="true"
                                       ng-model="item[field.fieldName]">
                                <ng-vadlidator-message ng-element-name="{{::(field.fieldName  + '_' + key)}}"></ng-vadlidator-message>
                            </div>
                        </div>
                        <div ng-if="::viewMode">
                            <div ng-switch-when="angucomplete-alt">
                                <span>
                                    {{item[field.fieldName].name}}
                                </span>
                            </div>
                            <div ng-switch-when="date-time">
                                <span>
                                    {{dateFormat(item[field.fieldName])}}
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-if="::!viewMode">
                        <!--<button type="button" class="btn btn-default btn-orange" ng-click="addNewAssignment(item.id,key)">
                            <i class="btn-icon btn-icon-add"></i>
                            <span>Add Assignment</span>
                        </button>-->
                        <button type="button" class="btn btn-danger btn-remove" ng-click="::delete(field, item)" style="line-height:1;">
                            <i class="fa fa-trash"></i>
                        </button>
                        <!--<a data-toggle="collapse" data-target="#collapsibleRow_{{key}}" ng-class="{'in': item.isAssignmentOpen}" href="#" class="btn btn-default btn-collapse-blue collapsed">
                            <i class="fa fa-chevron-down" style="font-size:12px;padding:2px 6px;"></i>
                        </a>-->
                    </div>
                </td>
            </tr>
            <!--<tr id="collapsibleRow_{{key}}" class="panel-collapse collapse" ng-class="{'in': item.isAssignmentOpen, 'in': viewMode}">
                <th colspan="4" style="padding-left:30px">

                    <table class="table table-striped table-assignment" cellpadding="0" cellspacing="0" style="margin:0">
                        <thead>
                            <tr>
                                <th class="dard_bg_td">Assignment</th>
                                <th class="dard_bg_td" ng-if="::viewMode">Industry</th>
                                <th class="dard_bg_td" width="35%" stye="padding-right:25px;padding-left:10px">Start Date</th>
                                <th class="dard_bg_td" width="35%">End Date</th>
                                <th class="dard_bg_td" width="15%" ng-if="IS_BUILD_FOR_STINSON">Of Note</th>
                                <th class="dard_bg_td" width="15%" ng-if="IS_BUILD_FOR_STINSON">Judicial Clerkship</th>
                                <th class="dard_bg_td" ng-if="::!viewMode">Action&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(subKey,subItem) in item.resourceWorkAssignments">
                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td" valign="top" width="50%">
                                    <div class="form-group" ng-if="::!viewMode" style="margin-bottom:15px;">
                                        <textarea type="text" rows="6" class="form-control" ng-readonly="::viewMode" ng-model="subItem.assignmentDescription"></textarea>
                                    </div>
                                    <div class="form-group" ng-if="::viewMode">
                                        <div style="width:inherit;white-space:normal">{{subItem.assignmentDescription}}</div>
                                    </div>
                                </td>
                                <td ng-if="::viewMode" style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td">
                                    <span style="padding-top: 8px;display: block;">
                                        {{subItem.assignmentIndustry.name}} <span ng-if="subItem.assignmentIndustry.configField1">- {{subItem.assignmentIndustry.configField1}}</span>
                                    </span>
                                </td>
                                <td colspan="{{getColspanValue()}}" style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td" valign="top">
                                    <div class="form-group">
                                        <table class="table table-striped table-assignment" cellpadding="0" cellspacing="0" style="margin:0">
                                            <tr>
                                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td" valign="top" width="35%">
                                                    <div class="datapicer-group">
                                                        <div class="form-group" ng-if="::!viewMode">
                                                            <input date-time ng-format-date
                                                                   placeholder="{{::field.label}}"
                                                                   class="form-control"
                                                                   min-view="{{::(field.minView || 'date')}}"
                                                                   format="MM/DD/YYYY"
                                                                   ng-more-than-date-time="item['startDate']"
                                                                   ng-more-than-date-time-field="item['startDate']"
                                                                   auto-close="true"
                                                                   ng-readonly="::viewMode"
                                                                   name="{{'assignementStartDate_'+ $index}}"
                                                                   ng-model="subItem.startDate" />
                                                            <ng-vadlidator-message ng-element-name="{{'assignementStartDate_' + $index}}"
                                                                                   ng-custom-message="Assignment start date must not be less than experience start date.">
                                                            </ng-vadlidator-message>
                                                        </div>
                                                        <div class="form-group" ng-if="::viewMode">
                                                            <span style="width:100%;">
                                                                {{dateFormat(subItem.startDate)}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td" valign="top" width="35%">
                                                    <div class="datapicer-group">
                                                        <div class="form-group" ng-if="::!viewMode">
                                                            <input date-time ng-format-date
                                                                   placeholder="{{::field.label}}"
                                                                   class="form-control"
                                                                   min-view="{{::(field.minView || 'date')}}"
                                                                   format="MM/DD/YYYY"
                                                                   ng-more-than-date-time="subItem.startDate"
                                                                   ng-more-than-date-time-field="subItem.startDate"
                                                                   auto-close="true"
                                                                   name="{{'assignementEndDate_' + $index}}"
                                                                   ng-model="subItem.endDate">
                                                            <ng-vadlidator-message ng-element-name="{{'assignementEndDate_' + $index}}"
                                                                                   ng-custom-message="Assignment end date must not be less than start date.">
                                                            </ng-vadlidator-message>
                                                        </div>
                                                        <div class="form-group" ng-if="::viewMode">
                                                            <span style="width:100%;">
                                                                {{dateFormat(subItem.endDate)}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important"
                                                    class="dard_bg_td"
                                                    valign="top"
                                                    ng-if="IS_BUILD_FOR_STINSON"
                                                    width="15%">
                                                    <span ng-if="::!viewMode">
                                                        <label class="checkbox">
                                                            <input type="checkbox"
                                                                   title="Of Note"
                                                                   ng-model="subItem.ofNote"
                                                                   name="{{'assignmentOfNote_'+$index}}"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false" />
                                                        </label>
                                                    </span>
                                                    <span ng-if="::viewMode && IS_BUILD_FOR_STINSON">
                                                        <i class="fa fa-check" ng-if="subItem.ofNote"></i>
                                                        <i class="fa fa-times" ng-if="!subItem.ofNote"></i>
                                                    </span>
                                                </td>
                                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important"
                                                    ng-if="IS_BUILD_FOR_STINSON"
                                                    class="dard_bg_td"
                                                    valign="top"
                                                    width="15%">
                                                    <span ng-if="::!viewMode">
                                                        <label class="checkbox">
                                                            <input type="checkbox"
                                                                   title="Judicial Clerkship"
                                                                   ng-model="subItem.judicialClerkShip"
                                                                   name="{{'assignmentJudicialClerkShip_'+$index}}"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false" />
                                                        </label>
                                                    </span>
                                                    <span ng-if="::viewMode && IS_BUILD_FOR_STINSON">
                                                        <i class="fa fa-check" ng-if="subItem.judicialClerkShip"></i>
                                                        <i class="fa fa-times" ng-if="!subItem.judicialClerkShip"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="padding:0 10px;vertical-align:top !important;border:0 !important;" valign="top" ng-if="::!viewMode">
                                                    <div>
                                                        <div class="form-group" data-object="subItem">
                                                            <span style="padding-top: 3px;font-weight: bold;margin-right:10px;">
                                                                Industry
                                                            </span>
                                                        </div>
                                                        <div class="form-group" data-object="subItem" style="display:inline-flex">
                                                            <angucomplete-alt placeholder="Start typing"
                                                                              pause="400"
                                                                              novalidate
                                                                              ng-model-options="{ debounce : { default : 0 } }"
                                                                              title-field="name"
                                                                              remote-api-handler="industrySearch"
                                                                              minlength="0"
                                                                              initial-value="subItem.assignmentIndustry"
                                                                              selected-object="onIndustrySelected"
                                                                              input-class="form-control"
                                                                              match-class="highlight"
                                                                              input-name="{{'assignementIndustry_'+subKey}}">
                                                            </angucomplete-alt>
                                                            <ng-vadlidator-message ng-element-name="{{'assignementIndustry_'+subKey}}"></ng-vadlidator-message>

                                                            <span ng-if="subItem.assignmentIndustry.configField1" style="padding-top: 4px;display: block;margin-left: 10px;font-weight: bold;">
                                                                Code : {{subItem.assignmentIndustry.configField1}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td style="padding:0 10px;vertical-align:top !important;border:0 !important" class="dard_bg_td" valign="top" ng-if="::!viewMode" width="10%">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger btn-remove" ng-click="deleteAssignment(key, subItem , subKey)" style="line-height:1;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>-->
        </tbody>
    </table>

    <div ng-if="::!viewMode">
        <button type="button" class="btn btn-default btn-orange" ng-click="addNew()">
            <i class="btn-icon btn-icon-add"></i>
            <span ng-bind-html="option.addButtonName"></span>
        </button>
    </div>
</div>