/*! Light */
@font-face {
  font-family: 'Titillium Web Bold';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebBold.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebBold.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebBold.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebBold.svg#Sri-TSCRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web SemiBold';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebSemiBold.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebSemiBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebSemiBold.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebSemiBold.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebSemiBold.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web Regular';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebRegular.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebRegular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebRegular.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebRegular.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebRegular.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web Italic';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebItalic.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebItalic.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebItalic.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebItalic.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebItalic.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web Light';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebLight.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebLight.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebLight.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebLight.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebLight.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web ExtraLight';
  src: url('../assets/fonts/Titillium_Web/TitilliumWebExtraLight.eot');
  src: url('../assets/fonts/Titillium_Web/TitilliumWebExtraLight.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Titillium_Web/TitilliumWebExtraLight.woff') format('woff'), url('../assets/fonts/Titillium_Web/TitilliumWebExtraLight.ttf') format('truetype'), url('../assets/fonts/Titillium_Web/TitilliumWebExtraLight.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font edit ----------------------------- */
@font-face {
  font-family: 'editFont';
  src: url('../assets/fonts/EditFont/fontello.eot?46872257');
  src: url('../assets/fonts/EditFont/fontello.eot?46872257#iefix') format('embedded-opentype'), url('../assets/fonts/EditFont/fontello.woff?46872257') format('woff'), url('../assets/fonts/EditFont/fontello.ttf?46872257') format('truetype'), url('../assets/fonts/EditFont/fontello.svg?46872257#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/EditFont//fontawesome-webfont.eot?v=4.5.0');
  src: url('../assets/fonts/EditFont/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../assets/fonts/EditFont/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../assets/fonts/EditFont/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../assets/fonts/EditFont/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('.../assets/fonts/EditFont/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg') format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-trash-empty:before {
  font-family: "editFont";
  content: '\e807';
}
/* '' */
.icon-twitter:before {
  font-family: "editFont";
  content: '\e800';
}
/* '' */
.icon-facebook:before {
  font-family: "editFont";
  content: '\e801';
}
/* '' */
.icon-linkedin:before {
  font-family: "editFont";
  content: '\e802';
}
/* '' */
.icon-skype:before {
  font-family: "editFont";
  content: '\e803';
}
/* '' */
.icon-calendar:before {
  font-family: "editFont";
  content: '\e804';
}
/* '' */
.icon-calendar-1:before {
  font-family: "editFont";
  content: '\e805';
}
/* '' */
.icon-pencil:before {
  font-family: "editFont";
  content: '\e806';
}
/* '' */
.icon-ok:before {
  font-family: "editFont";
  content: '\e808';
}
/* '' */
.icon-arrows-cw:before {
  font-family: "editFont";
  content: '\e809';
}
/* '' */
.icon-cog:before {
  font-family: "editFont";
  content: '\e80a';
}
/* '' */
.icon-user:before {
  font-family: "editFont";
  content: '\e80b';
}
/* '' */
.icon-mail:before {
  font-family: "editFont";
  content: '\e80c';
}
/* '' */
.icon-pencil-squared:before {
  font-family: "editFont";
  content: '\e80d';
}
/* '' */
.icon-pencil-circled:before {
  font-family: "editFont";
  content: '\e80e';
}
/* '' */
.icon-download:before {
  font-family: "editFont";
  content: '\e80f';
}
/* '' */
.icon-plus-circled:before {
  font-family: "editFont";
  content: '\e810';
}
/* '' */
.icon-cancel:before {
  font-family: "editFont";
  content: '\e811';
}
/* '' */
.icon-comment:before {
  font-family: "editFont";
  content: '\e812';
}
/* '' */
.icon-star:before {
  font-family: "editFont";
  content: '\e813';
}
/* '' */
.icon-plus:before {
  font-family: "editFont";
  content: '\e814';
}
/* '' */
.icon-minus:before {
  font-family: "editFont";
  content: '\e815';
}
/* '' */
.icon-newspaper:before {
  font-family: "editFont";
  content: '\e816';
}
/* '' */
.icon-thlarge:before {
  font-family: "FontAwesome";
  content: "\f009";
  font-size: 17px;
  line-height: 100%;
  vertical-align: middle;
}
.icon-user-times:before {
  font-family: "FontAwesome";
  content: "\f235";
}
.icon-angle-double-right:before {
  font-family: "FontAwesome";
  content: "\f101";
}
.icon-angle-double-left:before {
  font-family: "FontAwesome";
  content: "\f100";
}
.fa-eye:before {
  font-family: "FontAwesome";
  content: "\f06e";
  font-style: normal;
}
.fa-eye-slash:before {
  font-family: "FontAwesome";
  content: "\f070";
  font-style: normal;
}
.fa-info:before {
  font-family: "FontAwesome";
  content: "\f129";
  font-style: normal;
}
.fa-question:before {
  font-family: "FontAwesome";
  content: "\f128";
  font-style: normal;
}
.fa-long-arrow-right:before {
  font-family: "FontAwesome";
  content: "\f178";
  font-style: normal;
}
.form-group {
  margin-bottom: 10px;
}
.btnStyle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  min-width: 50px;
  padding: 2px 6px;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.btnStyle .icon:before {
  text-shadow: none !important;
}
.btnStyle:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnStyleIcon {
  padding: 2px 8px 2px 26px;
}
.btnStyleIcon:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -9px;
}
.btnDefault,
.btnDefault:hover,
.btnDefault:active,
.btnDefault:focus {
  background: #e7e7e7 !important;
  background: -moz-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: linear-gradient(to bottom, #e7e7e7 0%, #cecfcf 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cecfcf', GradientType=0) !important;
  box-shadow: 1px 1px 1px #ffffff inset;
  -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
  -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
  border: 1px solid #616e82 !important;
  color: #446690 !important;
}
.btnDefault:disabled,
.btnDefault:hover:disabled,
.btnDefault:active:disabled,
.btnDefault:focus:disabled {
  background: #e7e7e7 !important;
  background: -moz-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: linear-gradient(to bottom, #e7e7e7 0%, #cecfcf 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cecfcf', GradientType=0) !important;
  box-shadow: 1px 1px 1px #ffffff inset;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnPrimary,
.btnPrimary:hover,
.btnPrimary:active,
.btnPrimary:focus {
  background: #40AEA8 !important;
  border-color: #40AEA8 !important;
  color: #ffffff !important;
}
.btnPrimary:disabled,
.btnPrimary:hover:disabled,
.btnPrimary:active:disabled,
.btnPrimary:focus:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnSuccess,
.btnSuccess:hover,
.btnSuccess:active,
.btnSuccess:focus {
  background: #ef765c !important;
  background: -moz-linear-gradient(top, #ef765c 0%, #e95b46 100%) !important;
  background: -webkit-linear-gradient(top, #ef765c 0%, #e95b46 100%) !important;
  background: linear-gradient(to bottom, #ef765c 0%, #e95b46 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef765c', endColorstr='#e95b46', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 rgba(97, 10, 130, 0.4) !important;
  -webkit-text-shadow: 1px 1px 0 rgba(97, 10, 130, 0.4) !important;
  text-shadow: 1px 1px 0 rgba(97, 10, 130, 0.4) !important;
  border: 1px solid #616e82 !important;
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
  -wbekit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
}
.btnSuccess:disabled,
.btnSuccess:hover:disabled,
.btnSuccess:active:disabled,
.btnSuccess:focus:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnInfo:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnWarning:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.btnDanger:disabled {
  background: #737a81 !important;
  background: -moz-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: -webkit-linear-gradient(top, #737a81 0%, #737a81 100%) !important;
  background: linear-gradient(to bottom, #737a81 0%, #737a81 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737a81', endColorstr='#737a81', GradientType=0) !important;
  color: #ffffff !important;
  -moz-text-shadow: 1px 1px 0 #454545 !important;
  -webkit-text-shadow: 1px 1px 0 #454545 !important;
  text-shadow: 1px 1px 0 #454545 !important;
  border: 1px solid #606972 !important;
  opacity: 0.5 !important;
}
.NoBorderRadius {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.NoBoxShadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.BorderRadius {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.LinkStyle {
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  text-decoration: none;
  outline: none;
  color: #2c67b1;
}
.LightGradient {
  background: #c6c8ca;
  background: -moz-linear-gradient(top, #c6c8ca 0%, #909da7 100%);
  background: -webkit-linear-gradient(top, #c6c8ca 0%, #909da7 100%);
  background: linear-gradient(to bottom, #c6c8ca 0%, #909da7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c8ca', endColorstr='#909da7', GradientType=0);
}
.btnGradient {
  background: #e7e7e7 !important;
  background: -moz-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #cecfcf 100%) !important;
  background: linear-gradient(to bottom, #e7e7e7 0%, #cecfcf 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cecfcf', GradientType=0) !important;
  box-shadow: 1px 1px 1px #ffffff inset;
}
.TitleGradient {
  background: #263a80;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2M2E4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzI1N2ViYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #263a80 0%, #257ebb 70%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #263a80), color-stop(70%, #257ebb));
  background: -webkit-linear-gradient(left, #263a80 0%, #257ebb 70%);
  background: -o-linear-gradient(left, #263a80 0%, #257ebb 70%);
  background: -ms-linear-gradient(left, #263a80 0%, #257ebb 70%);
  background: linear-gradient(to right, #263a80 0%, #257ebb 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#263a80', endColorstr='#257ebb', GradientType=1);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes widthFigure {
  from {
    max-width: 0;
  }
  to {
    max-width: 65px;
  }
}
@-moz-keyframes widthFigure {
  from {
    max-width: 0;
  }
  to {
    max-width: 65px;
  }
}
@-webkit-keyframes widthFigure {
  from {
    max-width: 0;
  }
  to {
    max-width: 65px;
  }
}
@-ms-keyframes widthFigure {
  from {
    max-width: 0;
  }
  to {
    max-width: 65px;
  }
}
@-o-keyframes widthFigure {
  from {
    max-width: 0;
  }
  to {
    max-width: 65px;
  }
}
.light {
  overflow: hidden;
  padding: 4px 0 8px 6px;
  width: 50px;
  background: #ebebeb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
.light:before {
  content: '';
  display: block;
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 10%;
  opacity: 0.1;
  z-index: 2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00ffffff', GradientType=1);
  /* IE6-8 */
}
.light span {
  border-radius: 50%;
  display: block;
  height: 30px;
  margin: 4px auto 0;
  width: 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2) inset;
  background: #424242;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.light span.red.active {
  background-color: #ff0000;
}
.light span.orange.active {
  background-color: #ffc20e;
}
.light span.green.active {
  background-color: #4bcd5d;
}
/*! Active states 
.light span.active    { opacity: 1; }
.light #red.active    { box-shadow: 0 0 10px @RedColor; }
.light #orange.active { box-shadow: 0 0 10px @OrangeColor; }
.light #green.active  { box-shadow: 0 0 10px @GreenColor; }*/
