﻿<div class="info">
    <div class="ico_image_figure">
        {{this[__controllerName].uploadFileAvatar}}
        <figure class="ico">
            <img ng-if="this[__controllerName].uploadFileAvatar" ngf-src="this[__controllerName].uploadFileAvatar" />

            <img ng-if="this[__controllerName].model.photoFileNameUrl" ng-src="{{this[__controllerName].model.photoFileNameUrl}}" />


            <button type="file" ngf-select ngf-change="this[__controllerName].uploadFileAvatarFunc($file, $invalidFiles)" ng-model="picFile"
                    accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                <i ng-if="!this[__controllerName].uploadFileAvatar && !this[__controllerName].model.photoFileNameUrl" class="icon icon-user"></i>
                <img ng-if="this[__controllerName].uploadFileAvatar" ngf-src="this[__controllerName].uploadFileAvatar" />
                <img ng-if="this[__controllerName].model.photoFileNameUrl" ng-src="{{this[__controllerName].model.photoFileNameUrl}}" />
            </button>
        </figure>
        <button type="button" class="btn btn-success" ng-if="!!this[__controllerName].uploadFileAvatar || !!this[__controllerName].model.photoFileNameUrl" ng-click="this[__controllerName].deleteAvatar()">
            <i class="icon icon-cancel"></i>
        </button>
    </div>
</div>