﻿<div class="profile-avtar" ng-cloak>
    <div class="image-container">
        <div class="ico_image_figure">
            <img ng-if="this[__controllerName].uploadFileAvatar" style="width:100%" class="img-responsive" ngf-src="this[__controllerName].uploadFileAvatar" />

            <div class="profile-picture"
                 style="background-image:url('Client/assets/images/default-user-icon.png')"
                 ng-show="!this[__controllerName].uploadFileAvatar && !this[__controllerName].model.photoFileNameUrl"></div>

            <div class="profile-picture"
                 ng-style="{'background-image':'url('+{{this[__controllerName].model.photoFileNameUrl}}+')'}"
                 ng-show="this[__controllerName].model.photoFileNameUrl && !this[__controllerName].uploadFileAvatar "></div>
        </div>
        <div class="action-bar">
            <button type="submit" class="display-none" onclick="return false">...</button>
            <span class="dots">...</span>
            <button type="file" class="btn btn-default" ngf-select ngf-change="this[__controllerName].uploadFileAvatarFunc($file, $invalidFiles)" ng-model="picFile"
                    accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                <i class="fa fa-pencil"></i>
            </button>
            <a class="btn btn-default" ng-click="this[__controllerName].deleteAvatar()">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
    </div>
</div>