﻿<div class="form-group">
    <label for="">{{::field.firstLabel}}</label>
    <ui-select ng-model="this[__controllerName].model[field.firstId]" name="{{::field.firstId}}"
               ng-model-options="{ debounce : { default : 100 } }">
        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="passFail in this[__controllerName].passFailENUM">
            {{::passFail}}
        </ui-select-choices>
    </ui-select>
    <ng-vadlidator-message ng-element-name="{{::field.firstId}}">
    </ng-vadlidator-message>
</div>

<div class="form-group" ng-if="this[__controllerName].model[field.firstId] === 'Fail'">
    <label for="">
        {{::field.secondLabel}}
        <span class="requireStyle">*</span>
    </label>
    <textarea class="form-control" name="{{::field.secondId}}" ng-model="this[__controllerName].model[field.secondId]" required="required"></textarea>
    <ng-vadlidator-message ng-element-name="{{::field.secondId}}">
    </ng-vadlidator-message>
</div>