﻿
<div class="panel panel-default custom-panel">
    <div class="panel-heading">
        <span class="panel-title">
            {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('compensationAndBenefits')}}
        </span>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container5  track by field.id">
                <div class="col-md-3">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container6  track by field.id">
                <div class="col-md-3">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Compensation and Benefits -->

<div class="panel panel-default custom-panel">
    <div class="panel-heading">
        <span class="panel-title">Vacation</span>
    </div>
    <div class="panel-body resource-vacation-body">
        <div class="table-responsive" style="overflow-x:auto">
            <table class="table table-resource-vacation">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th class="summary wrap-break-words">
                            <span>Prior Year Carry</span>
                            <span>Over Hours</span>
                        </th>
                        <th class="summary wrap-break-words">
                            <span>Vacation</span>
                            <span>Hours Given</span>
                        </th>
                        <th class="summary wrap-break-words">
                            <span>Total Eligible</span>
                            <span>Vacation Hours</span>
                        </th>
                        <th class="summary wrap-break-words">
                            <span>YTD Vacation</span>
                            <span>Hours Taken</span>
                        </th>
                        <th class="summary wrap-break-words">
                            <span>YTD Vacation</span>
                            <span>Hours Remaining</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Year</td>
                        <td>Prior Year Carry Over Hours</td>
                        <td>Vacation Hours Given</td>
                        <td>Total Eligible Vacation Hours</td>
                        <td>YTD Vacation Hours Taken</td>
                        <td>YTD Vacation Hours Remaining</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 