﻿<div class="col-md-4">
    <div class="form-group" ng-if="::!this[__controllerName].restrictSalary()">
        <label for=""><span class="requireStyle">*</span>Employment Type</label>
        <ui-select ng-model="this[__controllerName].model.employmentType" ng-required="true" name="EmploymentType" on-select="this[__controllerName].onEmploymentType_Select($item)"
                   ng-model-options="{ debounce : { default : 100 } }">
            <ui-select-match placeholder="select...">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="employmentType.value as employmentType in this[__controllerName].employmentTypeEnum">
                {{::employmentType.title}}
            </ui-select-choices>
        </ui-select>
        <ng-vadlidator-message ng-element-name="EmploymentType">
        </ng-vadlidator-message>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group" ng-if="this[__controllerName].model.employmentType !== 'Salary' && !this[__controllerName].restrictSalary()">
        <label for=""><span class="requireStyle">*</span>Rate</label>
        <input type="text" class="form-control" id="" placeholder="" name="hourlyRate" ng-model="this[__controllerName].hourlyRateView"
               ng-currency required min="0">
        <ng-vadlidator-message ng-element-name="hourlyRate" ng-submitted="this[__controllerName].submitted">
        </ng-vadlidator-message>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group" ng-if="this[__controllerName].model.employmentType === 'Salary' && !this[__controllerName].restrictSalary()">
        <label for=""><span class="requireStyle">*</span>Salary</label>
        <input type="text" class="form-control" id="" placeholder="" name="annualSalary" ng-model="this[__controllerName].annualSalaryView"
               ng-currency required min="0">
        <ng-vadlidator-message ng-element-name="annualSalary" ng-submitted="this[__controllerName].submitted">
        </ng-vadlidator-message>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group" ng-if="this[__controllerName].model.employmentType === 'Salary' && !this[__controllerName].restrictSalary()">
        <label for="">Bonus or Other Pay</label>
        <input type="text" class="form-control" id="" placeholder="" ng-model="this[__controllerName].model.bonusOrOtherPay" name="bonusOrOtherPay"
               ng-currency min="0">
        <ng-vadlidator-message ng-element-name="bonusOrOtherPay">
        </ng-vadlidator-message>
    </div>
</div>