﻿<div>
    <div class="col-md-12">
        <div class="btn-group-file">
            <button type="file" class="btn btn-default pull-right" style="margin-left:2px;" ngf-select ngf-change="field.upload($file, $invalidFiles, item)"
                    ngf-max-size="'5120KB'" title="Select File">
                <i class="fa fa-plus"></i>
            </button>
            <div ng-repeat="file in item[field.fieldName] | filter: { isDelete: '!true' }" class="pull-left">
                <a type="button" class="btn btn-default btn-light-gray"
                   style="border-top-right-radius: 0;border-bottom-right-radius: 0;"
                   href="{{::file[field.fieldDownload]}}" download="{{::file[field.fieldName]}}">
                    {{file.name.substring(0,5)}}...
                    <i class="fa fa-download"></i>
                </a>
                <button class="btn btn-default"
                        style="margin-left:-3px;margin-right:2px;border-top-left-radius:0;border-bottom-left-radius:0;"
                        ng-click="::(isFunction(field.deleteItem) ? field.deleteItem(file, item[field.fieldName]) : deleteItem(file, item[field.fieldName]))" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>