﻿<div class="info">
    <div class="total-rating">
        <div class="rating-row Productivity">
            <p class="rating-label-text">Productivity</p>
            <label class="value">{{this[__controllerName].getNA('productivity')}}</label>
            <div class="rating-progress-bar">
                <div class="progress-bar-level" ng-style="{ 'width' : (this[__controllerName].getSliderClass('productivity'))}"></div>
            </div>
            <p class="max-level"></p>
        </div>
    </div>
</div>