﻿<div class="info">
    <div class="total-rating">
        <div class="rating-row Range">
            <span class="switch-field">
                <span class="rating-label-text">Range</span>
                <span class="rating-value">{{this[__controllerName].getNA('range')}}</span>
                <input type="radio" id="switch_3_left" name="rating" ng-model="this[__controllerName].model.range" value="L" />
                <label for="switch_3_left" style="margin-right:-4px;">Low</label>
                <input type="radio" id="switch_3_center" name="switch_3" ng-model="this[__controllerName].model.range" value="M" />
                <label for="switch_3_center" style="margin-right:-4px;">Medium</label>
                <input type="radio" id="switch_3_right" name="switch_3" ng-model="this[__controllerName].model.range" value="H" />
                <label for="switch_3_right">High</label>
            </span>
        </div>
    </div>
</div>
