﻿<div class="info">
    <div class="total-rating">
        <div class="rating-row Range">
            <p class="rating-label-text">Range</p>
            <label class="value">{{this[__controllerName].getNA('range')}}</label>
            <div class="rating-progress-bar">
                <div class="rating-checkbox-block min">
                    <input type="radio" id="low" name="rating" class="rating-checkbox-block__checkbox" ng-model="this[__controllerName].model.range"
                           value="L" />
                    <label for="low" class="rating-checkbox-block__label">
                        <div class="rating-text">Low</div>
                    </label>
                </div>
                <div class="rating-checkbox-block ">
                    <input type="radio" id="mid" name="rating" class="rating-checkbox-block__checkbox" ng-model="this[__controllerName].model.range"
                           value="M" />
                    <label for="mid" class="rating-checkbox-block__label">
                        <div class="rating-text middle">Medium</div>
                    </label>

                </div>
                <div class="rating-checkbox-block max">
                    <input type="radio" id="max" name="rating" class="rating-checkbox-block__checkbox" ng-model="this[__controllerName].model.range"
                           value="H" />
                    <label for="max" class="rating-checkbox-block__label">
                        <div class="rating-text high">High</div>
                    </label>

                </div>
            </div>
        </div>
    </div>
</div>
