﻿<div class="">
    <div class="info">
        <div class="total-rating">
            <div class="rating-row Raiting">
                <span class="rating-label-text">Rating</span>
                <span class="rating-value">{{this[__controllerName].getNA('rating')}}</span>
                <span class="rating-container">
                    <span ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" class="rating" ng-class="{active : this[__controllerName].getNA('rating') >= n}">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
