﻿<div class="panel panel-default custom-panel">
    <div class="panel-heading">
        <span class="panel-title">
            {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('addResume')}}
        </span>
        <div class="pull-right" ng-show="showGenerateResumeScreen">
            <div class="resume-button-container">
                <button type="button"
                        class="btn btn-default btn-fixed-width btn-orange"
                        ng-click="previewResume(ResourceEditCtrl.model.firstName,ResourceEditCtrl.model.lastName)"
                        ng-disabled="!ResourceEditCtrl.model.id">
                    <span ng-show="showGenerateResumeScreen && showCheckBox">
                        Preview Resume
                    </span>

                    <span ng-show="showGenerateResumeScreen && !showCheckBox">
                        Generate Resume
                    </span>
                </button>
                <button type="button" class="btn btn-default btn-fixed-width btn-gray" ng-click="showHideGenerateResumeScreen()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" ng-show="!showGenerateResumeScreen">
            <div class="col-md-12">
                <span class="alert alert-success" ng-if="ResourceEditCtrl.uploadFileCV">Resume Added Successfully! </span> &nbsp;

                <label id="resumeFileName" ng-class="{'resume-name-label':showGenerateResumeScreen}" ng-if="::ResourceEditCtrl.model.id">
                    {{ResourceEditCtrl.model.lastName}} {{ResourceEditCtrl.model.firstName}}'s Resume
                </label>
                <span ng-show="!showGenerateResumeScreen">
                    <a ng-if="!!ResourceEditCtrl.model.cvFileNameUrl"
                       class="btn btn-default btn-light-gray"
                       href="{{::ResourceEditCtrl.model.cvFileNameUrl}}"
                       download="{{::ResourceEditCtrl.model.cvFileName}}">
                        <i class="fa fa-download"></i>
                        Download
                    </a>

                    <a class="btn btn-danger btn-remove" ng-click="ResourceEditCtrl.deleteCV()" ng-if="ResourceEditCtrl.visibleDeleteCvButton()">
                        <i class="fa fa-trash"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row" ng-show="!showGenerateResumeScreen">
            <div class="col-md-12"><br></div>
            <div class="col-md-12">
                <button type="file" class="btn btn-default btn-orange" ngf-select ngf-change="ResourceEditCtrl.uploadFileResume($file, $invalidFiles)"
                        accept=".doc,.docx,.pdf" ngf-max-size="'5120KB'" title="Select File">
                    <i class="btn-icon btn-icon-add"></i>
                    Add Resume
                </button>
                &nbsp;
                <button type="button" class="btn btn-default btn-gray"
                        ng-disabled="!ResourceEditCtrl.model.id"
                        ng-click="showHideGenerateResumeScreen()">
                    Generate Resume
                </button>
            </div>
        </div>
    </div>
</div>

<div id="finalgenerateResumeParentDiv" class="generate-resume requireStyle-hide">
    <!-- Resume -->
    <div class="panel panel-default custom-panel resume-panel" ng-show="showGenerateResumeScreen">
        <div class="panel-body resume-body">
            <div ng-repeat="tab in ResourceEditCtrl.resourceTabs">
                <div ng-switch="tab.id">
                    <div ng-switch-when="personalInformation">
                        <!--Personal Info-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="top-details">
                                    <span class="name">
                                        {{ResourceEditCtrl.model.lastName}} {{ResourceEditCtrl.model.firstName}}
                                    </span>
                                    <span class="padding-15"></span>
                                    <span class="job-title">
                                        {{ResourceEditCtrl.model.jobTitle.name}}
                                    </span>
                                    <span class="address" ng-if="ResourceEditCtrl.model.address">
                                        {{ResourceEditCtrl.model.address}},
                                    </span>
                                    <span class="address" ng-if="ResourceEditCtrl.model.address2">
                                        {{ResourceEditCtrl.model.address2}},
                                    </span>
                                    <span class="address" ng-if="ResourceEditCtrl.model.city.name">
                                        {{ResourceEditCtrl.model.city.name}},
                                    </span>
                                    <span class="address" ng-if="ResourceEditCtrl.model.country.name">
                                        {{ResourceEditCtrl.model.country.name}} -
                                    </span>
                                    <span class="address" ng-if="ResourceEditCtrl.model.zipCode">
                                        {{ResourceEditCtrl.model.zipCode}}
                                    </span>
                                    <br />
                                    <span class="phone" ng-if="ResourceEditCtrl.model.mobilePhoneNumber">
                                        Phone : {{ResourceEditCtrl.model.mobilePhoneNumber | formatphonenumber}}
                                    </span>
                                    <br />
                                    <span class="phone" ng-if="ResourceEditCtrl.model.email">
                                        Email : {{ResourceEditCtrl.model.email}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:20px">
                            <div class="col-md-12 resume-header">
                                Overview
                            </div>
                            <div class="col-md-12">
                                <div class="form-control" style="display:inline-table; width:100%;">
                                    {{ResourceEditCtrl.model.overview}}
                                </div>
                            </div>
                        </div>


                        <div class="row" ng-if="ResourceEditCtrl.model.resourceProfessionalOrganizations.length > 0">
                            <div class="col-md-12 resume-header" ng-bind-html="'Professional & Civic Activities'"></div>
                            <div class="col-md-12">
                                <div class="language-details resume-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Organization / Activity </th>
                                                <th style="text-align:center;">Committee Membership</th>
                                                <th style="text-align:center;">Committee Title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, item) in ResourceEditCtrl.model.resourceProfessionalOrganizations"
                                                ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                <td>
                                                    <input type="checkbox" class="resume-checkbox" ng-model="item.resumeItemSelected" ng-show="showGenerateResumeScreen && showCheckBox" />
                                                    <span style="width:500px;margin-left: 20px;display: block; word-break: break-all; white-space: initial;"
                                                          ng-bind-html="item.organization"></span>
                                                </td>
                                                <td valign="top" style="vertical-align:top;" align="center">
                                                    <span style="display: block; word-break: break-all; white-space: initial;"
                                                          ng-bind-html="item.___storeFieldSelectValuecommitteeMembership.name"></span>
                                                </td>
                                                <td valign="top" style="vertical-align:top;" align="center">
                                                    <span style="display: block; word-break: break-all; white-space: initial;"
                                                          ng-bind-html="item.___storeFieldSelectValuecommitteeTitle.name"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>  <!--Personal Info-->

                    <div ng-switch-when="education">
                        <!--Education-->
                        <div class="row" ng-if="ResourceEditCtrl.model.educations.length > 0">
                            <div class="col-md-12 resume-header" ng-bind-html="ResourceEditCtrl.getTabDisplayName('education')"></div>
                            <div class="col-md-12">
                                <div class="education-details resume-body">
                                    <div class="summary-view">
                                        <div class="resume-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="250">Degree</th>
                                                        <th>Designation</th>
                                                        <th>Name Of School</th>
                                                        <th>Date Obtained</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox"
                                                        ng-repeat="(key, item) in ResourceEditCtrl.model.educations">
                                                        <td style="vertical-align:top;">
                                                            <input type="checkbox" class="resume-checkbox"
                                                                   ng-model="item.resumeItemSelected"
                                                                   ng-show="showGenerateResumeScreen && showCheckBox" />
                                                            <span style="margin-left: 20px; display: block; word-break: break-all; white-space: initial;"
                                                                  ng-bind-html="item.subject"></span>
                                                        </td>
                                                        <td style="vertical-align:top;">
                                                            <span style="display: block; word-break: break-all; white-space: initial;"
                                                                  ng-bind-html="item.resourceDesignation.name"></span>
                                                        </td>
                                                        <td style="vertical-align:top;">
                                                            <span style="display: block; word-break: break-all; white-space: initial;"
                                                                  ng-bind-html="item.nameOfSchool"></span>
                                                        </td>
                                                        <td style="vertical-align:top;text-align:right">
                                                            <span ng-if="!ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.dateObtained)"></span>
                                                            <span ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.dateObtained,'YYYY')"></span>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--Educations-->

                    <div ng-switch-when="skills">
                        <!--Skills-->
                        <div class="row" ng-if="ResourceEditCtrl.model.skills.length > 0">
                            <div class="col-md-12 resume-header" ng-bind-html="ResourceEditCtrl.getTabDisplayName('skills')"></div>
                            <div class="col-md-12">
                                <div ng-hide="ResourceEditCtrl.resumeFieldList.skills === true && !showCheckBox">
                                    <div class="summary-view">
                                        <div class="resume-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="250">Skill</th>
                                                        <th style="text-align:center;">Years of Experience</th>
                                                        <th style="text-align:center;">Proficiency</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-repeat="(key, item) in ResourceEditCtrl.model.skills"
                                                       ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox">
                                                    <tr>
                                                        <td style="vertical-align: top;background-color: #eaeaea;">
                                                            <input type="checkbox" class="resume-checkbox"
                                                                   ng-model="item.resumeItemSelected"
                                                                   ng-show="showGenerateResumeScreen && showCheckBox" />
                                                            <span ng-bind-html="item.skill.name"></span>
                                                        </td>

                                                        <td align="center" style="vertical-align: top;background-color: #eaeaea;">
                                                            <span ng-bind-html="item.yearsOfExpirience"></span>
                                                        </td>
                                                        <td align="center" style="vertical-align: top;background-color: #eaeaea;">
                                                            <span ng-bind-html="item.proficiency"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <!--<td colspan="3">
                                                            <span>Description</span>
                                                        </td>-->
                                                        <td colspan="3" align="left" style="padding: 0 30px;border-bottom-width: 3px;">
                                                            <div style="padding-bottom: 7px;">
                                                                <strong>
                                                                    Description
                                                                </strong>
                                                            </div>
                                                            <div style="word-break: break-all;white-space: normal;padding: 5px 0;" ng-bind-html="item.description"></div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--Skills-->
                    <div ng-switch-when="certificates">
                        <!--Cetificate-->
                        <div class="row" ng-if="ResourceEditCtrl.model.certificates.length > 0">
                            <div class="col-md-12 resume-header">
                                {{ResourceEditCtrl.getTabDisplayName('certificates')}}
                            </div>
                            <div class="col-md-12">
                                <div class="certificate-details resume-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Certificate
                                                </th>
                                                <th>
                                                    State
                                                </th>
                                                <th style="text-align:right; padding-right:5px;">
                                                    {{'Issue Date' | translate}}
                                                </th>
                                                <th style="text-align:right; padding-right:5px;">
                                                    Expiration Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, item) in ResourceEditCtrl.model.certificates"
                                                ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                <td>
                                                    <input type="checkbox" class="resume-checkbox"
                                                           ng-model="item.resumeItemSelected"
                                                           ng-show="showGenerateResumeScreen && showCheckBox" />
                                                    <span ng-bind-html="item.___storeFieldSelectValuecertificateId.name"></span>
                                                </td>
                                                <td>
                                                    <span ng-bind-html="item.certificateState.name"></span>
                                                </td>
                                                <td align="right">
                                                    <span ng-if="!ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.issueDate)"></span>
                                                    <span ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.issueDate,'YYYY')"></span>
                                                </td>
                                                <td align="right">
                                                    <span ng-bind-html="ResourceEditCtrl.dateFormat(item.expirationDate)"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!--Certificates-->
                    <div ng-switch-when="previousEmployments">
                        <!--PreviousEmployments-->
                        <div class="row" ng-if="ResourceEditCtrl.model.previousEmployments.length > 0">
                            <div class="col-md-12 resume-header">
                                {{ResourceEditCtrl.getTabDisplayName('previousEmployments')}}
                            </div>
                            <div class="col-md-12">
                                <div class="previous-employments resume-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Company Name / Title of Position
                                                </th>
                                                <th style="text-align:right; padding-right:5px;">
                                                    Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, item) in ResourceEditCtrl.model.previousEmployments"
                                                ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                <td width="100%">
                                                    <input type="checkbox" class="resume-checkbox"
                                                           ng-model="item.resumeItemSelected"
                                                           ng-show="showGenerateResumeScreen && showCheckBox" />
                                                    <span style="width: 300px; word-wrap: break-word; white-space: initial; word-break:break-all"
                                                          ng-bind-html="ResourceEditCtrl.getPreviousEmploymentCompany_and_TitleValue(item.name,item.titleOfPosition)"></span>
                                                </td>
                                                <td>
                                                    <span ng-bind-html="ResourceEditCtrl.resumeSmallDateFormat(item.startDate)+'--'+ResourceEditCtrl.resumeSmallDateFormat(item.endDate)"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!--Previous Employments-->
                    <div ng-switch-when="workExperience">
                        <!--WorkExperience-->
                        <div class="row" ng-if="ResourceEditCtrl.model.resourceWorkExperiences.length > 0">
                            <div class="col-md-12 resume-header" style="margin-bottom:5px;" ng-bind-html="ResourceEditCtrl.getTabDisplayName('workExperience')"></div>
                            <div class="col-md-12">
                                <div class="summary-view">
                                    <div class="resume-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="5%">
                                                        &nbsp;
                                                    </th>
                                                    <th width="90%">
                                                        Position
                                                    </th>
                                                    <th width="5%" style="text-align:right; padding-right:5px;">
                                                        Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="(key, item) in ResourceEditCtrl.model.resourceWorkExperiences">
                                                <tr style="background-color: #e4e4e4;"
                                                    ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                    <td valign="top" style="vertical-align:top !important">
                                                        <input type="checkbox" class="resume-checkbox"
                                                               ng-model="item.resumeItemSelected"
                                                               ng-show="showGenerateResumeScreen && showCheckBox" />
                                                    </td>
                                                    <td valign="top" style="vertical-align:top !important;white-space: initial;">
                                                        <span ng-bind-html="item.workExperienceJobTitle.name"></span>
                                                    </td>
                                                    <td valign="top" style="vertical-align:top !important" align="right">
                                                        <span ng-if="!item.startDate && !item.endDate" ng-bind-html="'-'"></span>
                                                        <span ng-if="item.startDate && !item.endDate"
                                                              ng-bind-html="ResourceEditCtrl.dateFormat(item.startDate)+' - Current'"></span>
                                                        <span ng-if="item.startDate && item.endDate"
                                                              ng-bind-html="ResourceEditCtrl.dateFormat(item.startDate) + ' - ' + ResourceEditCtrl.dateFormat(item.endDate)"></span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                    <td colspan="2" style="border-width:0;">
                                                        <strong>Assignments</strong>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="(subKey,subItem) in item.resourceWorkAssignments"
                                                    ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                    <td style="border-top-width:0;border-bottom: 1px solid rgba(0,0,0,0.2);"></td>
                                                    <td colspan="2" style="white-space:initial;word-wrap:break-word;border-top-width:0;border-bottom: 1px solid rgba(0,0,0,0.2);">
                                                        <div class="row">
                                                            <div ng-class="{'col-xs-4':ResourceEditCtrl.IS_BUILD_FOR_STINSON,'col-xs-12':!ResourceEditCtrl.IS_BUILD_FOR_STINSON}">
                                                                <strong style="margin-right:8px;">
                                                                    Duration
                                                                </strong>
                                                                <span ng-if="!subItem.endDate && !subItem.startDate" ng-bind-html="'-'"></span>
                                                                <span ng-if="subItem.startDate"
                                                                      ng-bind-html="ResourceEditCtrl.dateFormat(subItem.startDate)"></span>
                                                                <span ng-if="!subItem.endDate && subItem.startDate" ng-bind-html="'&nbsp;-&nbsp;Current'"></span>
                                                                <span ng-if="subItem.endDate && subItem.startDate" ng-bind-html="'&nbsp;-&nbsp;'+ResourceEditCtrl.dateFormat(subItem.endDate)"></span>
                                                            </div>
                                                            <div class="col-xs-4" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON">
                                                                <strong style="margin-right:8px;">Of Note</strong>
                                                                <span>
                                                                    <i class="fa fa-check-square-o" ng-if="subItem.ofNote"></i>
                                                                    <i class="fa fa-square-o" ng-if="!subItem.ofNote"></i>
                                                                </span>
                                                            </div>
                                                            <div class="col-xs-4" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON">
                                                                <strong style="margin-right:8px;">Judicial Clerkship</strong>
                                                                <span>
                                                                    <i class="fa fa-check-square-o" ng-if="subItem.judicialClerkShip"></i>
                                                                    <i class="fa fa-square-o" ng-if="!subItem.judicialClerkShip"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="form-group"
                                                                     style="line-height:18px; word-break:break-all"
                                                                     ng-bind-html="subItem.assignmentDescription"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--Work Experience-->
                    <div ng-switch-when="languages">
                        <!--Languages-->
                        <div class="row" ng-if="ResourceEditCtrl.model.spokenLanguages.length > 0">
                            <div class="col-md-12 resume-header" ng-bind-html="ResourceEditCtrl.getTabDisplayName('languages')"></div>
                            <div class="col-md-12">
                                <div class="language-details resume-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="25%">Language</th>
                                                <th width="25%" style="text-align:center;">Years of Experience</th>
                                                <th width="25%" style="text-align:center;">Speaking Proficiency</th>
                                                <th width="25%" style="text-align:center;">Writing Proficiency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, item) in ResourceEditCtrl.model.spokenLanguages"
                                                ng-show="(item.resumeItemSelected && !showCheckBox) || showCheckBox ">
                                                <td>
                                                    <input type="checkbox" class="resume-checkbox"
                                                           ng-model="item.resumeItemSelected"
                                                           ng-show="showGenerateResumeScreen && showCheckBox" />
                                                    <span ng-bind-html="item.language.name"></span>
                                                </td>
                                                <td align="center">
                                                    <span ng-bind-html="item.yearsOfExpirience"></span>
                                                </td>
                                                <td align="center">
                                                    <span ng-bind-html="item.speakingProficiency"></span>
                                                </td>
                                                <td align="center">
                                                    <span ng-bind-html="item.writingProficiency"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!--Languages-->
                </div>
                <!--Professional Organizations-->
            </div> <!--Resume Main Container-->
        </div>
    </div>
</div>
<!--Bottom Buttons for Resume-->
<div class="panel panel-default custom-panel" ng-show="showGenerateResumeScreen" style="padding:0;">
    <div class="panel-body text-right">
        <div class="resume-button-container">
            <button type="button" class="btn btn-default btn-fixed-width btn-orange"
                    ng-disabled="!ResourceEditCtrl.model.id"
                    ng-click="previewResume(ResourceEditCtrl.model.firstName,ResourceEditCtrl.model.lastName)">
                <span ng-show="showGenerateResumeScreen && showCheckBox">
                    Preview Resume
                </span>

                <span ng-show="showGenerateResumeScreen && !showCheckBox">
                    Generate Resume
                </span>
            </button>
            &nbsp;
            <button type="button" class="btn btn-default btn-fixed-width btn-gray" ng-click="showHideGenerateResumeScreen()">Cancel</button>
        </div>
    </div>
</div>