﻿<div class="filter-modal">
    <div class="modal-body">
        <div class="modal-title">
            <span class="pull-right">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ResourceFilterOptionsModalController.closeView()">&times;</button>
            </span>
            Filter Resources
        </div>
        <div class="container-fluid" style="padding-top:15px">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            Select Filter Type <span class="requireStyle">*</span>
                        </label>
                        <br />
                        <label for="normal_filter" style="color:black" class="col-md-6">
                            <input id="normal_filter" type="radio" name="filterType" checked ng-click="ResourceFilterOptionsModalController.onFilterTypeSelected(ResourceFilterOptionsModalController.filterTypes[0])"
                                   ng-model="ResourceFilterOptionsModalController.modal.filterType"
                                   value="{{ResourceFilterOptionsModalController.filterTypes[0]}}" />
                            Simple Filter
                        </label>
                        <label for="advance_filter" style="color:black" class="col-md-6">
                            <input id="advance_filter" type="radio" name="filterType" ng-click="ResourceFilterOptionsModalController.onFilterTypeSelected(ResourceFilterOptionsModalController.filterTypes[1])"
                                   ng-model="ResourceFilterOptionsModalController.modal.filterType"
                                   value="{{ResourceFilterOptionsModalController.filterTypes[1]}}" />
                            Advanced Filter
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            Load Filter
                        </label>
                        <angucomplete-alt placeholder="Start typing"
                                          id="loadSavedFilter"
                                          pause="400"
                                          ng-model-options="{ debounce : { default : 0 } }"
                                          title-field="name"
                                          remote-url="api/ResourceScoreFilters/autocomplete?filterType={{ResourceFilterOptionsModalController.getFilterType()}}&search="
                                          minlength="0"
                                          selected-object="ResourceFilterOptionsModalController.modal.selectedFilter"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          field-required="true">
                        </angucomplete-alt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <span class="pull-left">
        <button type="button" class="btn btn-default btn-orange" ng-click="ResourceFilterOptionsModalController.onNewFilterButtonClick(true)">New</button>
    </span>
    <button type="button" class="btn btn-default btn-blue" ng-disabled="!(ResourceFilterOptionsModalController.modal.selectedFilter && ResourceFilterOptionsModalController.modal.selectedFilter.originalObject)" ng-click="ResourceFilterOptionsModalController.onShowFilterButtonClick(false)">Show Filter</button>
    <button type="button" class="btn btn-default btn-gray" ng-click="ResourceFilterOptionsModalController.closeView()">Cancel</button>
</div>