﻿<form name="resourceBulkEditForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="ResourceBulkEditCtrl.saveBulkEdit(resourceBulkEditForm)">
    <div class="modal-body modal-body-task">
        <h4 class="modal-title subTask-modaltitle">
            <span class="title">Resource Bulk Edit</span>
        </h4>
    </div>
    <div class="container container-wrap container-rol container-wrap-aside-left">
        <div class="scroll" style="max-width:810px;max-height:500px;overflow-y:scroll;overflow-x:hidden">
            <div class="row row-border" style="max-width:800px">
                <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container2 track by field.id">
                    <div class="col-md-4">
                        <div class="form-group">
                            <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                            </edz-dynamic-form-controller-compiler>
                        </div>
                    </div>
                </div>

                <div>
                    <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container5 track by field.id" class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                                </edz-dynamic-form-controller-compiler>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container3 track by field.id" class="form-group">

                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">

                        </edz-dynamic-form-controller-compiler>
                    </div>

                    <div>
                        <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container6 track by field.id" class="form-group">

                            <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">

                            </edz-dynamic-form-controller-compiler>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container4  track by field.id" class="form-group">

                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">

                        </edz-dynamic-form-controller-compiler>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ResourceBulkEditCtrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
