﻿
<div ng-repeat="tab in ResourceEditCtrl.resourceTabs">
    <div ng-switch="tab.id">

        <!-- PersonalInformation -->
        <div ng-switch-when="personalInformation" class="panel panel-default custom-panel resource-panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="detail-top-section">
                        <span class="detail-panel-title">
                            <span ng-bind-html="ResourceEditCtrl.getResourceFullNameForSummary()"></span>
                            &nbsp;
                            <span ng-bind-html="ResourceEditCtrl.getTabDisplayName('personalInformation')"></span>
                        </span>
                        <br />
                        <span class="detail-top-inner">
                            <span ng-bind-html="ResourceEditCtrl.model.jobTitle.name"></span>
                            <span class="detail-top-inner-years-employed" ng-bind-html="ResourceEditCtrl.model.strCertificateExperience"></span>
                        </span>
                    </span>
                    <span class="pull-right" style="position: absolute;right: 35px;top: 36px;" ng-bind-html="ResourceEditCtrl.getEmployedFromString()"></span>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Profile Image, Ratings, Productivity and Range Fields. -->
                            <div class="profile-rating-properties">
                                <div class="profile-avtar">
                                    <div class="image-container">
                                        <div class="ico_image_figure">
                                            <img ng-if="ResourceEditCtrl.uploadFileAvatar"
                                                 style="width:100%" class="img-responsive"
                                                 ngf-src="ResourceEditCtrl.uploadFileAvatar" />
                                            <div class="profile-picture"
                                                 style="background-image:url('Client/assets/images/default-user-icon.png')"
                                                 ng-show="!ResourceEditCtrl.uploadFileAvatar && !ResourceEditCtrl.model.photoFileNameUrl"></div>
                                            <div class="profile-picture"
                                                 style="background-image:url('{{ResourceEditCtrl.model.photoFileNameUrl}}')"
                                                 ng-show="ResourceEditCtrl.model.photoFileNameUrl"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="info">
                                        <div class="total-rating">
                                            <div class="rating-row Raiting">
                                                <span class="rating-label-text">Rating</span>
                                                <span class="rating-value" ng-bind-html="ResourceEditCtrl.getNA('rating')"></span>
                                                <span class="rating-container">
                                                    <span ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" class="rating" ng-class="{active : ResourceEditCtrl.getNA('rating') >= n}">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="info">
                                        <div class="total-rating">
                                            <div class="rating-row Productivity">
                                                <span class="rating-label-text">Productivity</span>
                                                <span class="rating-value" ng-bind-html="ResourceEditCtrl.getNA('productivity')"></span>
                                                <span class="rating-container">
                                                    <span ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" class="rating" ng-class="{active : ResourceEditCtrl.getNA('productivity') >= n}">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="total-rating">
                                        <div class="rating-row Range">
                                            <span class="switch-field">
                                                <span class="rating-label-text">Range</span>
                                                <span class="rating-value" ng-bind-html="ResourceEditCtrl.getNA('range')"></span>
                                                <label for="" style="margin-right:-4px;" ng-class="{active : ResourceEditCtrl.model.range == 'L'}">Low</label>
                                                <label for="" style="margin-right:-4px;" ng-class="{active : ResourceEditCtrl.model.range == 'M'}">Medium</label>
                                                <label for="" ng-class="{active : ResourceEditCtrl.model.range == 'H'}">High</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container1 track by field.id" ng-if="field.id == 'overview'">
                            <label>Overview</label>
                            <div class="form-control"
                                 style="width: 100%; overflow-y: scroll; height: 115px;"
                                 ng-bind-html="ResourceEditCtrl.model.overview">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin:15px;"></div>
                <div class="personal-info-detail disable-inputs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container2 track by field.id">
                                <div>
                                    <div class="form-group">
                                        <label ng-bind-html="field.name"></label>
                                        <span class="form-control">
                                            <span ng-switch="field.id">
                                                <span ng-switch-when="'ssn'">
                                                    {{ResourceEditCtrl.getSummaryFieldValue(field) | maskSsn}}
                                                </span>
                                                <span ng-switch-default ng-bind-html="ResourceEditCtrl.getSummaryFieldValue(field)"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container3 track by field.id">
                                <div>
                                    <div class="form-group">
                                        <label ng-bind-html="field.name"></label>
                                        <span class="form-control">
                                            <span ng-switch="field.id">
                                                <span ng-switch-when="'ssn'">
                                                    {{ResourceEditCtrl.getSummaryFieldValue(field) | maskSsn}}
                                                </span>
                                                <span ng-switch-default ng-bind-html="ResourceEditCtrl.getSummaryFieldValue(field)"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Employment Details -->
        <div ng-switch-when="personalInformation" class="panel panel-default custom-panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Employment Detail
                </div>
            </div>
            <div class="panel-body">
                <div class="employment-info-detail disable-inputs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container4 track by field.id">
                                <div class="form-group">
                                    <label>{{field.name | translate}}</label>
                                    <span class="form-control">
                                        <span ng-switch="field.id">
                                            <span ng-switch-when="ssn">
                                                {{ResourceEditCtrl.getSummaryFieldValue(field) | maskSsn}}
                                            </span>
                                            <span ng-switch-when="industry" style="display: block;white-space: nowrap;text-overflow: ellipsis;">
                                                {{ResourceEditCtrl.getIndustryValueForSummary(field)}}
                                            </span>
                                            <span ng-switch-when="divisions" style="display: block;white-space: nowrap;text-overflow: ellipsis;">
                                                {{ResourceEditCtrl.getDivisionValueForSummary(field)}}
                                            </span>
                                            <span ng-switch-when="resourcePracticeAreas" style="display: block;white-space: nowrap;text-overflow: ellipsis;">
                                                {{ResourceEditCtrl.getResourcePracticeAreasValueForSummary(field)}}
                                            </span>

                                            <span ng-switch-default>
                                                {{ResourceEditCtrl.getSummaryFieldValue(field)}}
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Professional Organizations-->
        <div ng-switch-when="personalInformation" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.resourceProfessionalOrganizations && ResourceEditCtrl.model.resourceProfessionalOrganizations.length > 0">
            <div class="panel-heading">
                <div class="panel-title">
                    Professional & Civic Activities
                </div>
            </div>
            <div class="panel-body">
                <div class="summary-view">
                    <skill-table-list ng-option="ResourceEditCtrl.professionalOrganization"
                                      ng-model="ResourceEditCtrl.model.resourceProfessionalOrganizations"
                                      ng-view-mode="true"></skill-table-list>
                </div>
            </div>
        </div>

        <!--Recognition-->
        <div ng-switch-when="personalInformation" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.resourceRecognitions && ResourceEditCtrl.model.resourceRecognitions.length > 0">
            <div class="panel-heading">
                <div class="panel-title">
                    Recognition
                </div>
            </div>
            <div class="panel-body">
                <div class="summary-view">
                    <skill-table-list ng-option="ResourceEditCtrl.resourceRecognitionViewModel"
                                      ng-model="ResourceEditCtrl.model.resourceRecognitions"
                                      ng-view-mode="true"></skill-table-list>
                </div>
            </div>
        </div>

        <!-- skils -->
        <div ng-switch-when="skills" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.skills.length > 0">
            <div class="panel-heading">
                <div class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('skills')"></div>
            </div>
            <div class="panel-body">
                <div class="summary-view">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Skill</label>
                        </div>
                        <div class="col-xs-2">
                            <label>Years of Experience</label>
                        </div>
                        <div class="col-xs-2">
                            <label>Proficiency</label>
                        </div>
                        <div class="col-xs-2 text-right" style="padding-right:30px;">
                            <label>Last Updated</label>
                        </div>
                    </div>
                    <div class="certificate-details" ng-repeat="(key, item) in ResourceEditCtrl.model.skills">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span ng-bind-html="item.skill.name"></span>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <span ng-bind-html="item.yearsOfExpirience"></span>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <span ng-bind-html="item.proficiency"></span>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span ng-bind-html="ResourceEditCtrl.dateFormat(item.lastUpdated)"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;margin-bottom:10px;background-color:transparent">
                                <div class="col-xs-12">
                                    <div>
                                        <strong>Description</strong>
                                    </div>
                                    <span class="summary wrap-break-words" ng-bind-html="item.description"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div ng-switch-when="education" class="panel panel-default custom-panel">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ResourceEditCtrl.getTabDisplayName('education')}}
                </div>
            </div>
            <div class="panel-body">
                <div class="education-details">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-text">Grade Level</label>
                            <span class="group-text" ng-bind-html="ResourceEditCtrl.model.gradeLevel"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="label-text">Years of College</label>
                            <span class="group-text" ng-bind-html="ResourceEditCtrl.model.yearsOfCollege"></span>
                        </div>
                        <div class="col-md-12" ng-if="ResourceEditCtrl.model.educations.length > 0">
                            <div class="col-md-12">
                                <div class="row border-bottom-1px-light-gray" style="margin-bottom:10px;">
                                    &nbsp;
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Degree</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Name of School</label>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Date Obtained</label>
                                    </div>
                                </div>
                                <div class="certificate-details">
                                    <div class="row" ng-repeat="(key, education) in ResourceEditCtrl.model.educations">
                                        <div class="col-md-3">
                                            <span class="summary wrap-break-words" ng-bind-html="education.subject"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="summary wrap-break-words" ng-bind-html="education.resourceDesignation.name"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="summary wrap-break-words" ng-bind-html="education.nameOfSchool"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="summary wrap-break-words" ng-if="!ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.dateObtained)"></span>
                                            <span class="summary wrap-break-words" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.dateObtained,'YYYY')"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Certificates -->
        <div ng-switch-when="certificates" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.certificates && ResourceEditCtrl.model.certificates.length > 0">
            <div class="panel-heading">
                <div class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('certificates')"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Certificate</label>
                    </div>
                    <div class="col-xs-2">
                        <label>State</label>
                    </div>
                    <div class="col-xs-2">
                        <label>{{'Issue Date' | translate}}</label>
                    </div>
                    <div class="col-xs-2">
                        <label>Expiration Date</label>
                    </div>
                </div>
                <div class="certificate-details" ng-repeat="(key, item) in ResourceEditCtrl.model.certificates">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="summary wrap-break-words" ng-bind-html="item.___storeFieldSelectValuecertificateId.name"></span>
                            </div>
                            <div class="col-xs-2">
                                <span class="summary wrap-break-words" ng-bind-html="item.certificateState.name"></span>
                            </div>
                            <div class="col-xs-2">
                                <span class="summary wrap-break-words" ng-if="!ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.issueDate)"></span>
                                <span class="summary wrap-break-words" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON" ng-bind-html="ResourceEditCtrl.dateFormat(item.issueDate,'YYYY')"></span>
                            </div>

                            <div class="col-xs-2">
                                <span class="summary wrap-break-words" ng-bind-html="ResourceEditCtrl.dateFormat(item.expirationDate)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Languages -->
        <div ng-switch-when="languages" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.spokenLanguages && ResourceEditCtrl.model.spokenLanguages.length > 0">
            <div class="panel-heading">
                <div class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('languages')"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Language</label>
                        </div>
                        <div class="col-md-3">
                            <label>Years of Expirience</label>
                        </div>
                        <div class="col-md-3">
                            <label>Speaking Proficiency</label>
                        </div>
                        <div class="col-md-3">
                            <label>Writing Proficiency</label>
                        </div>
                    </div>

                    <div class="language-details" ng-repeat="(key, item) in ResourceEditCtrl.model.spokenLanguages">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="summary wrap-break-words" ng-bind-html="item.language.name"></span>
                            </div>
                            <div class="col-md-3">
                                <span class="summary wrap-break-words" ng-bind-html="item.yearsOfExpirience"></span>
                            </div>
                            <div class="col-md-3">
                                <span class="summary wrap-break-words" ng-bind-html="item.speakingProficiency"></span>
                            </div>
                            <div class="col-md-3">
                                <span class="summary wrap-break-words" ng-bind-html="item.writingProficiency"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- WorkingDetails -->
        <div ng-switch-when="workingDetails" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.resourceBehaviouralDetails && ResourceEditCtrl.model.resourceBehaviouralDetails.length>0">
            <div class="panel-heading">
                <div class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('workingDetails')"></div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="working-detail">
                        <div class="row" ng-repeat="(key, details) in ResourceEditCtrl.model.resourceBehaviouralDetails">
                            <div class="col-md-12">
                                <span class="summary wrap-break-words" ng-bind-html="details.behaviour"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Previous Employments -->
        <div ng-switch-when="previousEmployments" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.previousEmployments && ResourceEditCtrl.model.previousEmployments.length > 0">
            <div class="panel-heading">
                <div class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('previousEmployments')"></div>
            </div>
            <div class="panel-body">
                <div class="previous-employments">
                    <div style="margin-bottom:15px; border-bottom:1px solid rgba(0,0,0,0.5);" ng-repeat="(key, item) in ResourceEditCtrl.model.previousEmployments">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Company Name</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.name"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Address</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.address"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Title of Position</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.titleOfPosition"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Duties of Position</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.dutiesOfPosition"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Reason For Leaving</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.reasonForLeaving"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Start Date</label>
                                <span class="summary wrap-break-words" ng-bind-html="ResourceEditCtrl.dateFormat(item.startDate)"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Number of Supervised</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.numberOfSupervised"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Salary</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.salary"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Salary per</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.salaryPer"></span>
                            </div>
                            <div class="col-md-4">
                                <label>Hours per Week</label>
                                <span class="summary wrap-break-words" ng-bind-html="item.hoursPerWeek"></span>
                            </div>
                            <div class="col-md-4">
                                <label>End Date</label>
                                <span class="summary wrap-break-words" ng-bind-html="ResourceEditCtrl.dateFormat(item.endDate)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Work Experience Summary -->
        <div ng-switch-when="workExperience" class="panel panel-default custom-panel" ng-if="ResourceEditCtrl.model.resourceWorkExperiences && ResourceEditCtrl.model.resourceWorkExperiences.length > 0">
            <div class="panel-heading">
                <span class="panel-title" ng-bind-html="ResourceEditCtrl.getTabDisplayName('workExperience')"></span>
            </div>
            <div class="panel-body">
                <div class="summary-view">
                    <table class="table table-striped">
                        <thead>
                            <tr style="background-color:transparent;">
                                <th width="90%" style="color:#4396ff;font-weight:normal;">
                                    Position
                                </th>
                                <th width="5%" style="text-align:right; padding-right:5px;color:#4396ff;font-weight:normal;">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(key, item) in ResourceEditCtrl.model.resourceWorkExperiences">
                            <tr ng-init="ResourceEditCtrl.resumeFieldList.workExperienc[key] = false"
                                style="background-color: #e4e4e4;">
                                <td valign="top" style="vertical-align:top !important;white-space: initial;">
                                    <span class="summary wrap-break-words" ng-bind-html="item.workExperienceJobTitle.name"></span>
                                </td>
                                <td valign="top" style="vertical-align:top !important" align="right">
                                    <span ng-if="!item.endDate && !item.startDate"> - </span>
                                    <span ng-if="item.startDate" ng-bind-html="ResourceEditCtrl.dateFormat(item.startDate)"></span>
                                    <span ng-if="!item.endDate && item.startDate" ng-bind-html="'&nbsp;-&nbsp;Current'"></span>
                                    <span ng-if="item.endDate && item.startDate" ng-bind-html="'&nbsp;-&nbsp;' + ResourceEditCtrl.dateFormat(item.endDate)"></span>
                                </td>
                            </tr>
                            <tr style="background-color:transparent;">
                                <td colspan="2" style="border-width:0;background-color:transparent;">
                                    <strong>Assignments</strong>
                                </td>
                            </tr>
                            <tr ng-repeat="(subKey,subItem) in item.resourceWorkAssignments" style="background-color:transparent;">
                                <td colspan="2"
                                    style="white-space:initial;word-wrap:break-word;border-top-width:0;border-bottom: 1px solid rgba(0,0,0,0.2);background-color:transparent;">
                                    <div class="row">
                                        <div ng-class="{'col-xs-4':ResourceEditCtrl.IS_BUILD_FOR_STINSON,'col-xs-12':!ResourceEditCtrl.IS_BUILD_FOR_STINSON}">
                                            <strong style="margin-right:8px;">
                                                Duration
                                            </strong>
                                            <span ng-if="!subItem.endDate && !subItem.startDate" ng-bind-html="'-'"></span>
                                            <span ng-if="subItem.startDate" ng-bind-html="ResourceEditCtrl.dateFormat(subItem.startDate)"></span>
                                            <span ng-if="!subItem.endDate && subItem.startDate" ng-bind-html="'&nbsp;-&nbsp;Current'"></span>
                                            <span ng-if="subItem.endDate && subItem.startDate" ng-bind-html="'&nbsp;-&nbsp;'+ResourceEditCtrl.dateFormat(subItem.endDate)"></span>
                                        </div>
                                        <div class="col-xs-4" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON">
                                            <strong style="margin-right:8px;">Of Note</strong>
                                            <span>
                                                <i class="fa fa-check-square-o" ng-if="subItem.ofNote"></i>
                                                <i class="fa fa-square-o" ng-if="!subItem.ofNote"></i>
                                            </span>
                                        </div>
                                        <div class="col-xs-4" ng-if="ResourceEditCtrl.IS_BUILD_FOR_STINSON">
                                            <strong style="margin-right:8px;">Judicial Clerkship</strong>
                                            <span>
                                                <i class="fa fa-check-square-o" ng-if="subItem.judicialClerkShip"></i>
                                                <i class="fa fa-square-o" ng-if="!subItem.judicialClerkShip"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group summary wrap-break-words" ng-bind-html="subItem.assignmentDescription"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>