﻿<form name="resourceBulkEditForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="ResourceBulkEditCtrl.saveBulkEdit(resourceBulkEditForm)">
    <div class="modal-header">
        <h4 class="modal-title subTask-modaltitle">
            <span class="title">Resource Bulk Edit</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container2 track by field.id">
                <div class="col-md-4">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container5 track by field.id">
                <div class="col-md-4">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container3 track by field.id">
                <div class="col-md-4">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container6 track by field.id">
                <div class="col-md-4">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div ng-repeat="field in ::ResourceBulkEditCtrl.personalInfoContainer.container4  track by field.id">
                <div class="col-md-4">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceBulkEditCtrl" edz-field-id="{{field.id}}">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-fixed-width btn-gray" ng-click="ResourceBulkEditCtrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success btn-fixed-width btn-orange">Save</button>
    </div>
</form>