﻿<div class="logwork-modal" ng-cloak>
    <div class="modal-body">
        <div class="modal-title">
            <span class="pull-right">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="SupervisorConflictResolverCtrl.closeView()">&times;</button>
            </span>
            Supervisor Conflicts
        </div>
        <div class="container-fluid" style="padding-top:15px">
            <div class="row" style="padding-bottom:5px; margin-bottom:10px;border-bottom:1px solid rgba(0,0,0,0.5);">
                <div class="col-xs-8">
                    <strong>
                        Resource
                    </strong>
                </div>
                <div class="col-xs-4">
                    <strong>
                        Supervisor
                    </strong>
                </div>
            </div>
            <div class="row"
                 style="padding:5px;border-bottom:1px solid rgba(0,0,0,0.3)"
                 ng-repeat="resource in SupervisorConflictResolverCtrl.conflictedResources track by resource.resourceId">
                <div class="col-xs-8" style="padding:5px 15px;" ng-bind-html="resource.resourceName"></div>
                <div class="col-xs-4">
                    <angucomplete-alt placeholder="Start typing"
                                      pause="400"
                                      novalidate
                                      ng-model-options="{ debounce : { default : 0 } }"
                                      title-field="name"
                                      remote-api-handler="SupervisorConflictResolverCtrl.resourceSupervisor_Search"
                                      minlength="{{::SupervisorConflictResolverCtrl.autocompleteMinLength}}"
                                      initial-value=""
                                      selected-object="resource.tempSupervisor"
                                      input-class="form-control form-control-small tabable"
                                      field-required="::field.required"
                                      match-class="highlight"
                                      disable-input="::field.isDisabled"
                                      input-name="{{::field.id}}">
                    </angucomplete-alt>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-blue" ng-click="SupervisorConflictResolverCtrl.saveResourceData()">Submit</button>
    <button class="btn btn-default btn-light-gray" ng-click="SupervisorConflictResolverCtrl.closeView()">Cancel</button>
</div>

