﻿<angucomplete-alt 
                  novalidate
                  initial-value="initialValue"
                  placeholder='Search...'
                  pause="400"
                  field-required="true"
                  selected-object="onSelection"
                  remote-api-handler="searchAPI"
                  title-field={{dispFields}}
                  minlength="0"
                  match-class="highlight"
                  input-name="{{controlId}}"
                  input-class="form-control"></angucomplete-alt>


    
    <ng-vadlidator-message ng-element-name="{{controlId}}">
    </ng-vadlidator-message>

    