﻿<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="allowedAdditionalCharacters">Allowed Additional Characters</label>
            <input type="text" id="allowedAdditionalCharacters" class="form-control" ng-model="edzAlphanumericCustomFieldEditCtrl.model.allowedAdditionalCharacters.value" name="propertyAllowedAdditionalCharacters" />
            <ng-vadlidator-message ng-element-name="propertyAllowedAdditionalCharacters"></ng-vadlidator-message>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Length</label>
            <input type="number" id="Length" class="form-control" ng-model="edzAlphanumericCustomFieldEditCtrl.model.length.value" min="1" name="propertyLength" />
            <ng-vadlidator-message ng-element-name="propertyLength"></ng-vadlidator-message>
        </div>
    </div>
</div>
<div class="form-group text-left" style="margin-top: 20px;">
    <label class="checkbox" style="display: inline-block;">
        <input type="checkbox" class="form-control"
               ng-model="edzAlphanumericCustomFieldEditCtrl.model.resizeField.value" name="resizeField" />
        <span class="labelCheckbox">Limit display width</span>
    </label>
</div>