﻿<div class="col-sm-12"  style="margin:0px;">
    <!--exerciseOrder:{{item.exerciseOrder}}-->    
    <div class="row" ng-hide="isDeleteButtonHide">
    </div>
    <div class="row" style="background-color:deepskyblue; border-radius:5px; height:62px;">
        <div class="col-sm-1">
            <div class="row">
                <div class="col-sm-2">
                    <label ng-if="isToShowCheck" style="padding: 4px 7px; margin-left: 6px;">
                        <input type="checkbox" ng-model="item.isSelected" />
                    </label>
                </div>
                <div class="col-sm-10">
                    <span class="move-arrow move-up move-arrow-vsmall" style="display: block; background-position: 25%;" ng-if="!isToShowCheck" ng-disabled="isFirst" ng-class="{'disable':isFirst}" ng-click="!isFirst && moveUp({obj:item})"></span>
                    <span class="move-arrow move-down move-arrow-vsmall" style="display: block; background-position: 25%;" ng-if="!isToShowCheck" ng-disabled="isLast" ng-class="{'disable':isLast}" ng-click="!isLast && moveDown({obj:item})"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="col-sm-6" style="padding-top:15px;"><span class="h4"><input type="text" ng-model="item.name" class="form-control" style="display:inline; background-color:white;width:120px; box-shadow:none" /> &nbsp;&nbsp; <span class="myCaret" ng-click=" expandcontract()" style="background-color:deepskyblue; border:none;"><span class="caret"></span></span> </span></div>
            <div class="col-sm-6">
                <span class="pull-right" style="padding-top:15px;">
                    <button type="button" class="btn app-btn-small btn-pink pull-right" ng-click="deleteFn({obj:item})" style="margin-right:10px; margin-left:10px;">DELETE</button>
                    <button type="button" class="btn app-btn-small btn-pink pull-right" ng-click="clickMe()">EDIT</button>
                    <button type="button" ng-if="isToShowUnGroupBtn" Group" style="margin-right: 10px;" class="btn app-btn-small btn-pink pull-right" ng-click="ungroupItemFn({obj:item})">REMOVE FROM GROUP</button>
                
                </span>              
            </div>
        </div>
    </div>

    <div class="row" ng-show="toShow">
            <div class="row">
                <div class="col-sm-1">
                    Sets:
                    <input type="number" class="form-control" ng-model="item.sets" ng-readOnly="myediting" />
                </div>
                <div class="col-sm-1">
                    <lable>Reps: </lable>
                    <input type="number" class="form-control" ng-model="item.reps" ng-readOnly="myediting" />
                </div>
                <div class="col-sm-2">
                    Time: <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="item.time" ng-readOnly="myediting" />
                        </div>
                        <div class="col-sm-6" style="margin-left:0px">
                            <ui-select name="" ng-model="item.timeUnit" ng-readOnly="true">
                                <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                <ui-select-choices repeat="unit.title as unit in timeUnit">
                                    {{unit.title}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    Weight:
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="item.weight" ng-readOnly="myediting" />
                        </div>
                        <div class="col-sm-6">
                            <ui-select name="" ng-model="item.weightUnit">
                                <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                <ui-select-choices repeat="unit.title as unit in weightUnit">
                                    {{unit.title}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    Holds:
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="item.holds" ng-readOnly="myediting" />
                        </div>
                        <div class="col-sm-6">
                            <ui-select name="" ng-model="item.holdsUnit">
                                <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                <ui-select-choices repeat="unit.title as unit in timeUnit">
                                    {{unit.title}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-1">
                    Frequency:
                    <div class="row">
                        <ui-select name="" ng-model="item.frequency" style="width:80px; margin-left:4px;" ng-change="myF(item.frequency)">
                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="unit.title as unit in frequenciess">
                                {{unit.title}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-sm-1">
                    Resistance:
                    <div class="row">
                        <ui-select name="" ng-model="item.resistance" style="width:80px; margin-left:4px;">
                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="unit.title as unit in resistancess">
                                {{unit.title}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
    <div class="col-sm-1"></div> <div class="col-sm-5">Comment <textarea class="form-control gray-box-rounded" ng-model="item.comments" ng-readOnly="myediting"></textarea></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <div class="col-sm-12" ng-show="myFrequ">
            <div class="day-item" ng-repeat="freq in item.frequencies">
                <label>{{getDayName(freq)}}</label>
                <div>
                    <input type="number" class="form-control" ng-model="freq.exerciseFrequency" />
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

