﻿<div class="col-sm-12 group-item">
    <!--exerciseOrder{{item.exerciseOrder}}-->
    <div class="row group-header" style="padding:5px;">
        <div class="col-md-1">
            <span class="text-center">
                <span class="move-arrow move-up move-arrow-vsmall" style="display: block; background-position: 25%;"  ng-disabled="isFirst" ng-class="{'disable':isFirst}" ng-click="!isFirst && moveUp({obj:item})"></span>
                <span class="move-arrow move-down move-arrow-vsmall" style="display: block; background-position: 25%;" ng-disabled="isLast" ng-class="{'disable':isLast}" ng-click="!isLast&& moveDown({obj:item})"></span>
            </span>
        </div>
        <div class="col-sm-11" style="padding-top: 12px;">
            <span class="screen-title-large">{{item.name}}</span>

            <span class="pull-right">
                <button type="button" class="btn btn-default btn-blue" ng-click="exVisibility()">Apply All</button>
              &nbsp;&nbsp;&nbsp;
                <button class="btn btn-default btn-blue " type="button" ng-click="unGroup({obj:item})">Ungroup</button>
              &nbsp;&nbsp;&nbsp;
                <button class="btn btn-default btn-blue " type="button" ng-click="deleteGroup()">Delete</button>
              &nbsp;&nbsp;&nbsp;
                <button class="btn btn-default btn-blue" type="button" ng-click="editGroupFn({item:item})">Edit</button>
            </span>
                      
        </div>
    </div>
    <div class="row" ng-show="visible" style="background-color:lightgray;margin:0px; border-radius:5px;">
        <div class="row" style="padding:10px;">
            <div class="col-sm-1">
                Sets:
                <input type="number" class="form-control" ng-model="myfilteringData.setts" />
            </div>
            <div class="col-sm-1">
                <lable>Reps: </lable>
                <input type="number" class="form-control" ng-model="myfilteringData.repps" />
            </div>
            <div class="col-sm-2">
                Time: <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="myfilteringData.timme" />
                    </div>
                          <div class="col-sm-6">
                              <ui-select name="" ng-model="myfilteringData.tttt">
                                  <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                  <ui-select-choices repeat="unit.title as unit in timeMeasurements">
                                      {{unit.title}}
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                </div>
            </div>
            <div class="col-sm-2">
                Weight:
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="myfilteringData.weightt" />
                    </div>
                    <div class="col-sm-6">
                        <ui-select name="" ng-model="myfilteringData.weighttUnits">
                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="unit.title as unit in weightMeasurements">
                                {{unit.title}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                Holds:
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="myfilteringData.holdds" />
                    </div>
                    <div class="col-sm-6">
                        <ui-select name="" ng-model="myfilteringData.holdinggsUnit">
                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                            <ui-select-choices repeat="unit.title as unit in timeMeasurements">
                                {{unit.title}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="col-sm-1">
                Frequency:
                <div class="row">
                    <ui-select name="" ng-model="myfilteringData.frequenyy" style="width:80px; margin-left:4px;" ng-change="myChanges()">
                        <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="unit.title as unit in frequencyList">
                            {{unit.title}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            
            <div class="col-sm-1">
                Resistance:
                <div class="row">
                    <ui-select name="" ng-model="myfilteringData.resistancessss" style="width:80px; margin-left:4px;">
                        <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="unit.title as unit in resistanceList">
                            {{unit.title}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="col-sm-12" ng-show="othersvisible">
            <div class="col-sm-1">
                <label>Sun</label>
                <input type="number" class="form-control" ng-model="myFirstGroup.sunday" />
            </div>
            <div class="col-sm-1">
                <label>Mon</label><input type="number" class="form-control" ng-model="myFirstGroup.monday" />
            </div>
            <div class="col-sm-1">
                <label>Tue</label><input type="number" class="form-control" ng-model="myFirstGroup.tuesday" />
            </div>

            <div class="col-sm-1">
                <label>Wed</label><input type="number" class="form-control" ng-model="myFirstGroup.wednesday" />
            </div>
            <div class="col-sm-1">
                <label>Thu</label><input type="number" class="form-control" ng-model="myFirstGroup.thursday" />
            </div>

            <div class="col-sm-1">
                <label>Fri</label><input type="number" class="form-control" ng-model="myFirstGroup.friday" />
            </div>           
            <div class="col-sm-1">
                <label>Sat</label><input type="number" class="form-control" ng-model="myFirstGroup.saturday" />
            </div>

        </div>
        <div class="row">

        </div>
        <hr />
        <div style="margin-top:5px;">
            <div class="col-sm-offset-4">
                <input type="button" class="btn btn-default btn-pink" value="Apply" ng-click="editExercises()" style="margin-bottom:5px;">
            </div>
        </div>
    </div>
    <div class="row img-list-item" ng-repeat="item in item.hepDetails track by $index ">  
        <hep-list-item data="item"
                       is-first="$first"
                       is-last="$last"
                       is-to-show-un-group-btn="true"
                       ungroup-item-fn="unGroupItem(item)"
                       delete-fn="deleteNormalItem(obj)"
                       move-up="moveGroupUp($index)"
                       move-down="moveGroupDown($index)">
        </hep-list-item>
    </div>


</div>