﻿<div cg-busy="ConfigLayoutCtrl.busyPage">
    <div class="title">
        <h1>
            <span class="pageName pull-left">{{::ConfigLayoutCtrl.titleText}}</span>           
        </h1>
    </div>

    <div class="container container-wrap container-wrap-aside-left container-wrap-noPadding" style="padding-top:0;">
        <div class="cba-properties-form">
            <div class="row">
                <form novalidate name="ConfigLayoutForm">
                    <div class="col-md-12">
                        <label class="form-control-label">Page:</label>
                        <ui-select ng-model="ConfigLayoutCtrl.action" name="action" ng-required="true" on-select="ConfigLayoutCtrl.action_Click($item)">
                            <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="action in ConfigLayoutCtrl.actions">
                                {{::action.name}}
                            </ui-select-choices>
                        </ui-select>
                        <ng-vadlidator-message ng-element-name="action">
                        </ng-vadlidator-message>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container container-wrap container-wrap-aside-left container-wrap-noPadding" style="margin-top:-80px;">


        <form novalidate name="ConfigLayoutForm" ng-submit="ConfigLayoutCtrl.action.save(resourceEditForm)(resourceEditForm)" ng-if="ConfigLayoutCtrl.visibleLayoutForm">
            <div class="cba-properties-form" style="padding-top:48px;">                
                  <div class="dndContainer row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Section</label>
                            <ui-select ng-model="ConfigLayoutCtrl.__selectPage" name="selectPage" ng-required="true" on-select="ConfigLayoutCtrl.type_Click($item)">
                                <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="action in ConfigLayoutCtrl.selectEditPageList">
                                    {{::action.name}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="com-md-12" style="margin:0 0 10px; padding:0 5px;">
                        <button class="btn btn-success btn-maxsize" type="submit">Save</button>
                    </div>
                </div>               
            </div>
            <div class="wrap-dndContainer">
                <h3 class="form-control-label">Not used elements</h3>
                <div class="dndContainer dndContainer-top">

                    <ul dnd-list="ConfigLayoutCtrl.fieldList"
                        dnd-allowed-types="['field']">
                        <li ng-repeat="item in ConfigLayoutCtrl.fieldList"
                            dnd-draggable="item"
                            dnd-type="item.__type"
                            dnd-effect-allowed="move"
                            dnd-moved="ConfigLayoutCtrl.fieldList.splice($index, 1)">
                            {{::item.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wrap-dndContainer">
                <div class="dndContainer dndContainer-ui row">
                    <div class="col-md-12" ng-if="!!ConfigLayoutCtrl.selectedPageEdit">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Container1</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container1"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container1"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container1.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label>Container2</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container2"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container2"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container2.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label>Container3</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container3"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container3"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container3.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Container4</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container4"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container4"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container4.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label>Container5</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container5"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container5"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container5.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label>Container6</label>
                                <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container6"
                                    dnd-allowed-types="['field']">
                                    <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container6"
                                        dnd-draggable="item"
                                        dnd-type="item.__type"
                                        dnd-effect-allowed="move"
                                        dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container6.splice($index, 1)">
                                        {{::item.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrap-dndContainer">
                <h3 class="form-control-label">Sections</h3>
                <div class="dndContainer dndContainer-bottom">
                    <ul dnd-list="ConfigLayoutCtrl.tabList"
                        dnd-allowed-types="['tab']">
                        <li class="item-button-fix" ng-repeat="item in ConfigLayoutCtrl.tabList"
                            dnd-draggable="item"
                            dnd-type="item.__type"
                            dnd-effect-allowed="move"
                            dnd-moved="ConfigLayoutCtrl.tabList.splice($index, 1)">
                            <input name="item.id" ng-model="item.name" class="form-control" />
                            <button ng-if="!item.required" type="button" class="btn btn-default" ng-click="item.visible = !item.visible;"><i class="fa" ng-class="{'fa-eye': item.visible,  'fa-eye-slash': !item.visible}"></i></button>
                        </li>
                    </ul>
                </div>
            </div>

        </form>
    </div>

</div>