﻿<div class="config-form-layout">
    <div class="container-fluid tabs-wrap" cg-busy="ConfigLayoutCtrl.busyPage">
        <form novalidate name="ConfigLayoutForm" ng-submit="ConfigLayoutCtrl.action.save(resourceEditForm)(resourceEditForm)">
            <div class="row">
                <div class="col-md-3">
                    <div class="cba-properties-form white-panel-box" style="padding:15px;">
                        <div class="row">
                            <div class="col-md-12">
                                <!--<label class="form-control-label">Page:</label>-->
                                <ui-select ng-model="ConfigLayoutCtrl.action" name="action" ng-required="true" on-select="ConfigLayoutCtrl.action_Click($item)">
                                    <ui-select-match placeholder="Select Page">{{$select.selected.name | translate}}</ui-select-match>
                                    <ui-select-choices repeat="action in ConfigLayoutCtrl.actions">
                                        {{::action.name | translate}}
                                    </ui-select-choices>
                                </ui-select>
                                <ng-vadlidator-message ng-element-name="action">
                                </ng-vadlidator-message>
                            </div>
                            <div class="col-md-12" ng-if="ConfigLayoutCtrl.visibleLayoutForm" style="padding-top:15px;">
                                <div class="dndContainer">
                                    <div class="form-group">
                                        <!--<label class="form-control-label">Section</label>-->
                                        <ui-select ng-model="ConfigLayoutCtrl.__selectPage" name="selectPage" ng-required="true" on-select="ConfigLayoutCtrl.type_Click($item)">
                                            <ui-select-match placeholder="Select Section">{{$select.selected.name | translate}}</ui-select-match>
                                            <ui-select-choices repeat="action in ConfigLayoutCtrl.selectEditPageList">
                                                {{::action.name | translate}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tabs-body">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    <span class="pageName">{{::ConfigLayoutCtrl.titleText}}</span>
                                    <!-- ng-if="!ConfigLayoutCtrl.visibleLayoutForm" -->
                                    <button type="button" class="btn btn-default btn-light-gray pull-right" ng-click="ConfigLayoutCtrl.cancelClick()">
                                        Back
                                    </button>
                                </span>
                            </div>
                            <div class="panel-body">
                                <div ng-if="!ConfigLayoutCtrl.visibleLayoutForm">
                                    <h4>
                                        Please Select Page
                                    </h4>
                                </div>
                                <div ng-if="ConfigLayoutCtrl.visibleLayoutForm">
                                    <div class="wrap-dndContainer">
                                        <h3 class="form-control-label">Not used elements</h3>
                                        <div class="dndContainer dndContainer-top">

                                            <ul dnd-list="ConfigLayoutCtrl.fieldList"
                                                dnd-allowed-types="['field']">
                                                <li ng-repeat="item in ConfigLayoutCtrl.fieldList"
                                                    dnd-draggable="item"
                                                    dnd-type="item.__type"
                                                    dnd-effect-allowed="move"
                                                    dnd-moved="ConfigLayoutCtrl.fieldList.splice($index, 1)">
                                                    {{::item.name | translate}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="wrap-dndContainer">
                                        <div class="dndContainer dndContainer-ui row">
                                            <div class="col-md-12" ng-if="!!ConfigLayoutCtrl.selectedPageEdit">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Container1</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container1"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container1"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container1.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Container2</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container2"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container2"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container2.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Container3</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container3"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container3"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container3.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Container4</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container4"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container4"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container4.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Container5</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container5"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container5"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container5.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Container6</label>
                                                        <ul dnd-list="ConfigLayoutCtrl.selectedPageEdit.container6"
                                                            dnd-allowed-types="['field']">
                                                            <li ng-repeat="item in ConfigLayoutCtrl.selectedPageEdit.container6"
                                                                dnd-draggable="item"
                                                                dnd-type="item.__type"
                                                                dnd-effect-allowed="move"
                                                                dnd-moved="ConfigLayoutCtrl.selectedPageEdit.container6.splice($index, 1)">
                                                                {{::item.name | translate}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel" ng-if="ConfigLayoutCtrl.visibleLayoutForm">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    Sections
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="wrap-dndContainer">
                                    <div class="dndContainer dndContainer-bottom">
                                        <ul dnd-list="ConfigLayoutCtrl.tabList"
                                            dnd-allowed-types="['tab']">
                                            <li class="item-button-fix col-md-4" ng-repeat="item in ConfigLayoutCtrl.tabList"
                                                dnd-draggable="item"
                                                dnd-type="item.__type"
                                                dnd-effect-allowed="move"
                                                dnd-moved="ConfigLayoutCtrl.tabList.splice($index, 1)">
                                                <input name="item.id" ng-model="item.name" ng-disabled="!item.visible" class="form-control" />
                                                <button ng-if="!item.required" type="button" class="btn btn-default" ng-click="item.visible = !item.visible;">
                                                    <i class="fa" ng-class="{'fa-eye': item.visible,  'fa-eye-slash': !item.visible}"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel" ng-if="ConfigLayoutCtrl.visibleLayoutForm">
                            <div class="panel-body">
                                <div class="text-right">
                                    <div class="com-md-12">
                                        <button class="btn btn-success btn-light-gray btn-fixed-width" ng-click="ConfigLayoutCtrl.cancelClick()" type="button">Cancel</button>
                                        <button class="btn btn-success btn-orange btn-fixed-width" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>