<div cg-busy="RoleEditCtrl.loadPage">
    <div class="title ng-scope">
        <h1>
            <span class="pageName">
                <span><a ui-sref="role({})">Role</a> / {{::RoleEditCtrl.titleText}} </span>
            </span>

        </h1>
    </div>
    <form name="roleEditForm" ng-submit="RoleEditCtrl.onSave_Click(roleEditForm)" novalidate ng-model-options="{ debounce : { default : 400 }}">
        <div class="container container-wrap form-blank">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" name="name" ng-model="RoleEditCtrl.model.name" required/>
                        <ng-vadlidator-message ng-element-name="name"></ng-vadlidator-message>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" ng-model="RoleEditCtrl.model.description"></textarea>
                        <ng-vadlidator-message ng-element-name="description"></ng-vadlidator-message>
                    </div>
                    <div class="form-group">
                        <label for="HomePage">Home Page</label>
                        <ui-select ng-model="RoleEditCtrl.model.accessRights.mainHomePage" name="HomePage"
                                   ng-model-options="{ debounce : { default : 100 } }">
                            <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="homePage.value as homePage in ::RoleEditCtrl.homePageList">
                                {{::homePage.name}}
                            </ui-select-choices>
                        </ui-select>
                        <ng-vadlidator-message ng-element-name="HomePage"></ng-vadlidator-message>
                    </div>
                    <div class="form-group">
                        <!--<label for="HomePage">Default Dashboard</label>
                        <ui-select ng-model="RoleEditCtrl.model.accessRights.dashboard" name="Dashboard"
                                   ng-model-options="{ debounce : { default : 100 } }">
                            <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="dashboard in ::RoleEditCtrl.dashboardList">
                                {{::dashboard}}
                            </ui-select-choices>
                        </ui-select>
                        <ng-vadlidator-message ng-element-name="Dashboard"></ng-vadlidator-message>-->

                        <label class="Dashboard" for="">Default Dashboard</label>
                        <angucomplete-alt placeholder="Start typing"
                                          pause="400"
                                          novalidate ng-model-options="{ debounce : { default : 0 } }"
                                          title-field="name"
                                          remote-api-handler="RoleEditCtrl.searchDashboard"
                                          minlength="0"
                                          initial-value="RoleEditCtrl.model.dashboardSetup"
                                          selected-object="RoleEditCtrl.dashboardSelected"
                                          input-class="form-control form-control-small"
                                          field-required="false"
                                          match-class="highlight"
                                          input-name="dashboardSetup">
                        </angucomplete-alt>
                        <ng-vadlidator-message ng-element-name="dashboardSetup">
                        </ng-vadlidator-message>
                    </div>

                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="RoleEditCtrl.model.isActive">
                            <span class="labelCheckbox">Is Active</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <table class="table table-condensed table-bordered ng-table text-center table-role">
                            <thead>
                            <tr>
                                <th width="100" class="text-left">Access</th>
                                <th class="text-center" ng-repeat="crud in RoleEditCtrl.CRUD_List">{{crud}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="section in RoleEditCtrl.model.accessRights.sections">
                                <td class="text-left">{{::section.item}}</td>
                                <td ng-repeat="crud in RoleEditCtrl.CRUD_List">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="checked" ng-model-options="{ debounce : { default : 0 }}"
                                               ng-init=" checked=RoleEditCtrl.isCheckedCRUDItem(section ,crud)" ng-click="RoleEditCtrl.isCheckboxCrud_Click(section, crud, checked)">
                                        <span class="labelCheckbox">&nbsp;</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" name="AccessDivision" ng-model="RoleEditCtrl.model.accessRights.onlyForDivision"/>
                            <span class="labelCheckbox">Access only for data from users division</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" name="AccessDepartment" ng-model="RoleEditCtrl.model.accessRights.onlyForDepartment">
                            <span class="labelCheckbox">Access only for data from users department</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" name="AccessTasks" ng-model="RoleEditCtrl.model.accessRights.onlyRelatedTasks">
                            <span class="labelCheckbox">Access only to assigned/created tasks</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" name="AccessProjects" ng-model="RoleEditCtrl.model.accessRights.onlyRelatedProjects">
                            <span class="labelCheckbox">Access only to projects assigned</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="RestrictAccess">Restrict access to private info</label>
                        <ui-select ng-model="RoleEditCtrl.model.accessRights.restrictAccess" name="RestrictAccess" multiple
                                   ng-model-options="{ debounce : { default : 100 } }">
                            <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat=" crud.value as crud in ::RoleEditCtrl.restrictAccessToList">
                                {{::crud.name}}
                            </ui-select-choices>
                        </ui-select>
                        <ng-vadlidator-message ng-element-name="RestrictAccess"></ng-vadlidator-message>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="AvailableCUD">Available for CUD dictionaries</label>
                        <ui-select ng-model="RoleEditCtrl.model.accessRights.picklists" name="AvailableCRUD" multiple
                                   ng-model-options="{ debounce : { default : 100 } }">
                            <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="crud.value as crud in ::RoleEditCtrl.PicklistsList">
                                {{::crud.name}}
                            </ui-select-choices>
                        </ui-select>
                        <ng-vadlidator-message ng-element-name="AvailableCRUD"></ng-vadlidator-message>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="button-wrap">
                        <button type="button" class="btn btn-default" ng-click="RoleEditCtrl.onCancel_Click()">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>