<div class="container-fluid" cg-busy="RoleEditCtrl.loadPage">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default custom-panel inner-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        {{::RoleEditCtrl.titleText}}
                    </span>
                </div>
                <div class="panel-body">
                    <form name="roleEditForm" ng-submit="RoleEditCtrl.onSave_Click(roleEditForm)" novalidate ng-model-options="{ debounce : { default : 400 }}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">
                                        Name
                                        <span class="requireStyle">*</span>
                                    </label>
                                    <input type="text" id="name" class="form-control" name="name" ng-model="RoleEditCtrl.model.name" required />
                                    <ng-vadlidator-message ng-element-name="name"></ng-vadlidator-message>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" style="height:34px;" name="description" id="description" ng-model="RoleEditCtrl.model.description"></textarea>
                                    <ng-vadlidator-message ng-element-name="description"></ng-vadlidator-message>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="HomePage">Home Page</label>
                                    <ui-select ng-model="RoleEditCtrl.model.accessRights.mainHomePage" name="HomePage"
                                               ng-model-options="{ debounce : { default : 100 } }">
                                        <ui-select-match placeholder="Select...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="homePage as homePage in ::RoleEditCtrl.homePageList">
                                            {{::homePage.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="HomePage"></ng-vadlidator-message>
                                </div>
                            </div>
                            <!--<div class="col-md-4">
                                <div class="form-group">
                                    <label class="Dashboard" for="">Default Dashboard</label>
                                    <angucomplete-alt placeholder="Start typing"
                                                      pause="400"
                                                      novalidate ng-model-options="{ debounce : { default : 0 } }"
                                                      title-field="name"
                                                      remote-api-handler="RoleEditCtrl.searchDashboard"
                                                      minlength="0"
                                                      initial-value="RoleEditCtrl.model.dashboardSetup"
                                                      selected-object="RoleEditCtrl.dashboardSelected"
                                                      input-class="form-control form-control-small"
                                                      field-required="false"
                                                      match-class="highlight"
                                                      input-name="dashboardSetup">
                                    </angucomplete-alt>
                                    <ng-vadlidator-message ng-element-name="dashboardSetup">
                                    </ng-vadlidator-message>
                                </div>
                            </div>-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox" style="margin-top:30px;">
                                        <input type="checkbox" ng-model="RoleEditCtrl.model.isActive">
                                        <span class="labelCheckbox">Active</span>
                                    </label>
                                </div>
                            </div>
                        </div> <!--ROW-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="role-table-container">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="min-width:250px;" width="100">
                                                    Access
                                                </th>
                                                <th class="text-center" ng-repeat="crud in RoleEditCtrl.CRUD_List">
                                                    <span>{{crud}}</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="section in RoleEditCtrl.model.accessRights.sections">
                                                <td class="text-left">
                                                    {{RoleEditCtrl.getSectionName(section.item) | translate}}
                                                </td>
                                                <td class="text-center" ng-repeat="crud in RoleEditCtrl.CRUD_List">
                                                    <label class="checkbox">
                                                        <input type="checkbox" ng-model="checked" ng-model-options="{ debounce : { default : 0 }}"
                                                               ng-init="checked=RoleEditCtrl.isCheckedCRUDItem(section ,crud)"
                                                               ng-click="RoleEditCtrl.isCheckboxCrud_Click(section, crud, checked)">
                                                        <span class="labelCheckbox">&nbsp;</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td colspan="5" style="font-weight:bold">
                                                    Configuration Sections
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr ng-repeat="section in RoleEditCtrl.model.accessRights.configurationSections">
                                                <td class="text-left">
                                                    {{RoleEditCtrl.getConfigurationSectionName(section.item) | translate}}
                                                </td>
                                                <td class="text-center" ng-repeat="crud in RoleEditCtrl.CRUD_List">
                                                    <label class="checkbox">
                                                        <input type="checkbox" ng-model="checked" ng-model-options="{ debounce : { default : 0 }}"
                                                               ng-init="checked=RoleEditCtrl.isCheckedCRUDItem(section ,crud)"
                                                               ng-click="RoleEditCtrl.isCheckboxCrud_Click(section, crud, checked)">
                                                        <span class="labelCheckbox">&nbsp;</span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessDivision" ng-model="RoleEditCtrl.model.accessRights.onlyForDivision" />
                                        <span class="labelCheckbox">Access only for data from users division</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessDepartment" ng-model="RoleEditCtrl.model.accessRights.onlyForDepartment">
                                        <span class="labelCheckbox">Access only for data from users department</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessTasks" ng-model="RoleEditCtrl.model.accessRights.onlyRelatedTasks">
                                        <span class="labelCheckbox">Access only to assigned/created tasks</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessProjects" ng-model="RoleEditCtrl.model.accessRights.onlyRelatedProjects">
                                        <span class="labelCheckbox">Access only to {{'projects' | translate}} assigned</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessSQLQuery" ng-model="RoleEditCtrl.model.accessRights.accessSQLQuery">
                                        <span class="labelCheckbox">Can access SQL Query</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessCreateAssignmentForResource" ng-model="RoleEditCtrl.model.accessRights.accessCreateAssignmentForResource">
                                        <span class="labelCheckbox">Can Create Assignment For Resource</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox">
                                        <input type="checkbox" name="AccessViewReports" ng-model="RoleEditCtrl.model.accessRights.accessViewReports">
                                        <span class="labelCheckbox">Can view reports</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="RestrictAccess">Restrict access to private info</label>
                                    <ui-select ng-model="RoleEditCtrl.model.accessRights.restrictAccess" name="RestrictAccess" multiple
                                               ng-model-options="{ debounce : { default : 100 } }">
                                        <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="crud.value as crud in RoleEditCtrl.restrictAccessToList">
                                            {{::crud.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="RestrictAccess"></ng-vadlidator-message>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="AvailableCUD">Available for CUD dictionaries</label>
                                    <ui-select ng-model="RoleEditCtrl.model.accessRights.picklists" name="AvailableCRUD" multiple
                                               ng-model-options="{ debounce : { default : 100 } }">
                                        <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="crud.value as crud in ::RoleEditCtrl.PicklistsList">
                                            {{::crud.name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <ng-vadlidator-message ng-element-name="AvailableCRUD"></ng-vadlidator-message>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="button-container">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-cancel" ng-click="RoleEditCtrl.onCancel_Click()">
                                        Cancel
                                    </button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-save">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>