.modal-backdrop{ background:none;}
.modal{
    &:before{
        background:#ffffff;
        content:'';
        display:block;
        z-index:10;
        opacity:0.4;
        position:fixed;
        width:100%;
        height:100%;
        left:0;
        top:0;
    }
    .modal-dialog{
        z-index:100;
        min-width:840px;
        .modal-content{
            -webkit-border-radius:0;
            -moz-border-radius:0;
            border-radius:0;
            border:1px solid #DADEE1;
            position:relative;
            /*padding-right:40px;*/
            .modal-body{  
                padding:15px 30px;
                h4.modal-title{
                    position:relative;
                    line-height:22px;
                    padding:8px 15px;
                    margin:0 -15px 20px;
                    display:block;
                    background:#7f9db3;
                    color:#ffffff;
                    font-size:16px;
                    -moz-text-shadow:1px 1px 0 rgba(44, 103, 177, 0.8);
                    -webkit-text-shadow:1px 1px 0 rgba(44, 103, 177, 0.8);
                    text-shadow:1px 1px 0 rgba(44, 103, 177, 0.8);
                    .name{ font-size:18px; display:inline-block; max-width:350px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
                    .progress-task{
                        position:relative;
                        padding-left:230px;
                        .title{ position:absolute; left:0; width:90px;}
                        .progres-bar{ 
                            width:128px; display:block; float:left; margin-left:-128px; margin-top:9px; border:1px solid #ffffff;
                            border-radius:2px;
                            height:6px;
                            position:relative;
                            background:#ffffff;
                            overflow:hidden;
                            margin-right:20px;
                            .activity{
                                display:block;
                                position:absolute;
                                width:100%;
                                height:100%;
                                background:#4396ff;
                            }
                        }
                        .counts{ font-weight:600;}
                    }
                }
                .form-control[readonly],
                .form-control:read-only{
                    color:#2c67b1;
                    font-weight:600;
                    &:hover,
                    &:focus,
                    &:active{
                    color:#2c67b1;
                    font-weight:600;
                    }
                 }
            }
            div.modal-header{
                border:none;
                width:100%;
                height:auto;
                border-bottom:1px solid #DADEE1;
                right:0;
                top:0;
                padding:15px 0;
                text-align:center;
                -moz-border-radius:0;
                -webkit-border-radius:0;
                border-radius:0;
                .close{ display:none;}
                .btn{
                    padding:5px;
                    min-width:20px;
                    text-align:center;
                    border-color:#ffffff !important;
                    background:#ffffff !important;
                    color:#EC6449;
                    opacity:1;
                    float:none;
                }
            }
            .modal-footer{
                border:none;
                text-align:center;
                .btn{ min-width:80px;}
            }

        }       
    }
}

.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: none;
  h4.modal-title{ color:#213A80; }
}
.modal-info .modal-header {
  background: none;
  h4.modal-title{ color:#5CB1CD; }
}
.modal-success .modal-header {
  background: none;
  h4.modal-title{ color:#40AEA8; }
}
.modal-warning .modal-header {
  background: none;
 h4.modal-title{ color:#DEAE50; }
}
.modal-danger {
  background: none;
  h4.modal-title{ color:#EC6449; }
}