<form name="modalForm" novalidate>
  <!-- div class="modal-header">
    <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close btn btn-success"><i class="icon icon-cancel"></i></button>
    <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
  </div -->
  <div class="modal-body">
    <div ng-if="modal.html" ng-bind-html="modal.html"></div>
    <div ng-if="modal.templateUrl">
      <div ng-include="modal.templateUrl"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-repeat="button in modal.buttons" ng-class="button.classes" type="{{button.type || 'button'}}"
            ng-click="button.click($event, modalForm)"
            ng-bind="button.text" class="btn"></button>
  </div>
</form>
