﻿.modal-backdrop {
  background: none;
}
.modal:before {
  background: #ffffff;
  content: '';
  display: block;
  z-index: 10;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal .modal-dialog {
  z-index: 100;
  min-width: 840px;
}
.modal .modal-dialog .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #DADEE1;
  position: relative;
  /*padding-right:40px;*/
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 15px 30px;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title {
  position: relative;
  line-height: 22px;
  padding: 8px 15px;
  margin: 0 -15px 20px;
  display: block;
  background: #7f9db3;
  color: #ffffff;
  font-size: 16px;
  -moz-text-shadow: 1px 1px 0 rgba(44, 103, 177, 0.8);
  -webkit-text-shadow: 1px 1px 0 rgba(44, 103, 177, 0.8);
  text-shadow: 1px 1px 0 rgba(44, 103, 177, 0.8);
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .name {
  font-size: 18px;
  display: inline-block;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .progress-task {
  position: relative;
  padding-left: 230px;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .progress-task .title {
  position: absolute;
  left: 0;
  width: 90px;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .progress-task .progres-bar {
  width: 128px;
  display: block;
  float: left;
  margin-left: -128px;
  margin-top: 9px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  height: 6px;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  margin-right: 20px;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .progress-task .progres-bar .activity {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4396ff;
}
.modal .modal-dialog .modal-content .modal-body h4.modal-title .progress-task .counts {
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-body .form-control[readonly],
.modal .modal-dialog .modal-content .modal-body .form-control:read-only {
  color: #2c67b1;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-body .form-control[readonly]:hover,
.modal .modal-dialog .modal-content .modal-body .form-control:read-only:hover,
.modal .modal-dialog .modal-content .modal-body .form-control[readonly]:focus,
.modal .modal-dialog .modal-content .modal-body .form-control:read-only:focus,
.modal .modal-dialog .modal-content .modal-body .form-control[readonly]:active,
.modal .modal-dialog .modal-content .modal-body .form-control:read-only:active {
  color: #2c67b1;
  font-weight: 600;
}
.modal .modal-dialog .modal-content div.modal-header {
  border: none;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DADEE1;
  right: 0;
  top: 0;
  padding: 15px 0;
  text-align: center;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal .modal-dialog .modal-content div.modal-header .close {
  display: none;
}
.modal .modal-dialog .modal-content div.modal-header .btn {
  padding: 5px;
  min-width: 20px;
  text-align: center;
  border-color: #ffffff !important;
  background: #ffffff !important;
  color: #EC6449;
  opacity: 1;
  float: none;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-footer .btn {
  min-width: 80px;
}
.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: none;
}
.modal-primary .modal-header h4.modal-title {
  color: #213A80;
}
.modal-info .modal-header {
  background: none;
}
.modal-info .modal-header h4.modal-title {
  color: #5CB1CD;
}
.modal-success .modal-header {
  background: none;
}
.modal-success .modal-header h4.modal-title {
  color: #40AEA8;
}
.modal-warning .modal-header {
  background: none;
}
.modal-warning .modal-header h4.modal-title {
  color: #DEAE50;
}
.modal-danger {
  background: none;
}
.modal-danger h4.modal-title {
  color: #EC6449;
}
/*# sourceMappingURL=modal.css.map */