<form name="modalForm" novalidate>
  <div class="modal-header">
    <button  type="button" ng-click="close()" class="close btn btn-success"><i class="icon icon-cancel"></i></button>
    <h4 ng-bind="config.title" class="modal-title"></h4>
  </div>
  <div class="modal-body">
        <h4><span ng-bind="config.message"></span></h4>
  </div>
  <div class="modal-footer">
      <span class="pull-right">
          <button type="button" class="btn btn-default btn-gray" ng-click="close()">Cancel</button>
          <button type="button" class="btn btn-default btn-blue" ng-click="onYes()">Yes</button>
      </span>


  </div>
</form>
