<style>
    .mybtn:hover {
   background-color:#e8e8ec;
        }

    .payment:hover {
       
        text-decoration: underline;
        color: blue;
    }
</style>
<div class="appointment-event-detail-modal-container" cg-busy="loadCorrect">
    <form name="modalForm" novalidate>
        <div class="container-fluid">
            <div class="modal-headr" style="background-color:#EAEEF0;padding:15px;margin: -14px;">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col-md-2" >
                        <div class="img-container">
                            <img src="Client/assets/images/default-user-icon.png" class="img-responsive img-circle pull-left">
                        </div>
                        <div>
                            <label style="align-content:center; margin-left:20px;">{{model.patientName}}</label>
                        </div>
                    </div>
                    <div class="col-md-4" >
                        
                        <div style="font-size:12px;">Patient ID :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{model.patientNumber}}</span></div>
                        <div style="font-size:12px;">Case ID :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{model.caseNo}}</span></div>
                        <div style="font-size:12px;">
                           DOB :
                            <span ng-if="model.birthDate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{model.birthDate|date:"MM/dd/yyyy"}}</span>
                            <span ng-if="!model.birthDate">----</span>
                        </div>
                        <div style="font-size:12px;">
                            Phone # :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span ng-if="model.cellNumber">{{model.cellNumber}}</span>
                            <span ng-if="!model.cellNumber">----</span>
                        </div>
                        <div style="font-size:12px;">
                           Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                                <select  style="background-color:#EAEEF0" ng-model="model.appointmentStatus" ng-change="onStatusChange()">
                                    <option ng-repeat="option in statusItems" value="{{option.key}}">{{option.title}}</option>
                                </select>
                     

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2">
                                <a class="btn btn-default btn-pink mybtn" target="_blank" href="api/patients/exportToPdf"><i class="fa fa-print" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-pink mybtn"><i class="fa fa-usd" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-pink mybtn" ng-click="onChatClick()"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-pink mybtn"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-pink mybtn" ng-click="onViewClick()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10%; margin-bottom:2px;">
                                <div class="payment col-sm-5" ng-click="func()">Appointment Detail</div>  <div  class="col-sm-5 payment" ng-click="funct()">Payment Type</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">               
                    <div class="row"  ng-if="appointmentDetail" style="margin-left:10px;">
                        <div class="h4" style="margin-top:0px;">Appointment Detail:</div>
                        <hr style="margin-top:3px;"/>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Appointment Type</label>
                                    <div ng-if="model.appointmentTypeName">{{model.appointmentTypeName}}</div>
                                    <div ng-if="!model.appointmentTypeName">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="margin-top:0px; margin-bottom:0px;">
                                <div class="form-group">
                                    <label>Injury Region</label>
                                    <div ng-if="model.injuryRegionName">{{model.injuryRegionName}}</div>
                                    <div ng-if="!model.injuryRegionName">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Diagnosis</label>
                                    <div ng-if="model.primayDiagnosisName">{{model.primayDiagnosisName}}</div>
                                    <div ng-if="!model.primayDiagnosisName">----</div>
                                </div>
                            </div>                          
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Clinician</label>
                                    <div ng-if="model.clinicianName">{{model.clinicianName}}</div>
                                    <div ng-if="!model.clinicianName">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Referral Doctor</label>
                                    <div ng-if="model.referingPhysicianName">{{model.referingPhysicianName}}</div>
                                    <div ng-if="!model.referingPhysicianName">----</div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Return To Referral</label>
                                    <div ng-if="model.returnTo">{{model.returnTo|date:"MM/dd/yyyy"}}</div>
                                    <div ng-if="!model.returnTo">----</div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Visit To Date</label>
                                    <div ng-if="model.visitToDate">{{model.visitToDate}}</div>
                                    <div ng-if="!model.visitToDate">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4">                          
                                <div class="form-group">
                                    <label>Comment:</label>
                                    <div ng-if="model.appointmentComment">{{model.appointmentComment}}</div>
                                    <div ng-if="!model.appointmentComment">----</div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="row" style="margin-left:10px;" ng-if="paymentType">
                        <div class="h4" style="margin-top:0px;">Payment Details</div>
                        <hr style="margin-top:3px;" />
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Payment Method</label>
                                    <div ng-if="model.paymentMethod">{{model.paymentMethod}}</div>
                                    <div ng-if="!model.paymentMethod">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Insurance Type</label>
                                    <div ng-if="model.insuranceType">{{model.insuranceType}}</div>
                                    <div ng-if="!model.insuranceType">----</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>CoType</label>
                                    <div ng-if="model.coType">{{model.coType}}</div>
                                    <div ng-if="!model.coType">----</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div class="modal-footer row" style="margin-top:0px;background-color:#EAEEF0;">
                <div class="row" >
                    <div class="col-md-12 text-right">
                        <button type="button"
                                ng-if="model.appointmentStatus === 'Request'"
                                class="btn btn-default btn-blue pull-left"
                                ng-click="onApproveButtonClick()">
                            <i class="fa fa-check"></i>&nbsp;
                            Approve
                        </button>

                        <button type="button" class="btn btn-default btn-blue" ng-click="onAppointmentEditButtonClick()">
                            <i class="fa fa-edit"></i>&nbsp;
                            Edit
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default btn-gray" ng-click="close()">
                            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>