<!--  cg-busy="ScheduleCtrl.loadPage" -->
<style>
    .jumbotron {
        padding: 0px !important;
        margin-bottom: 0px;
    }

</style>
<div class="calendar-page tabs-wrap" cg-busy="ScheduleCtrl.pageLoading" style="padding-bottom:0px !important;">
    <form novalidate>
        <div class="container-fluid">

            <br />

            <div class="panel panel-default custom-panel with-border" style="padding-top:5px">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="panel-title">
                                Scheduler
                            </div>
                            <clock></clock>
                        </div>

                        <div class="col-sm-9">
                            <div class="col-xs-3"> </div><!--Represenets the{{ScheduleCtrl.dataList}}{{ ScheduleCtrl.clinicianList}}{{ScheduleCtrl.dataList}}{{ScheduleCtrl.dailyClinicianListToDisplay}} location of the clinic with specific {{ScheduleCtrl.clinicianList}}speciialization {{ScheduleCtrl.sections}} :{{ScheduleCtrl.myCliLocs.id}}</div> -->
                            <div class="col-xs-3"></div> <!--Represenets This is from:{{ScheduleCtrl.sections}} {{ScheduleCtrl.myClinicLocations.id}}the type of clinic : </div>-->
                            <div class="col-xs-3">
                                <div class="clinic-dropdownlist" style="position:relative;right:-6px">
                                    <select class="form-control" id="clilists" data-ng-model="ScheduleCtrl.mySelection" ng-options="item as item.name for item in ScheduleCtrl.clinicList" ng-change="ScheduleCtrl.onClinicSelection()">
                                        <option value="">Select Clinic</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="clinic-dropdownlist" style="position:relative;right:-13px">
                                    <select class="form-control" id="clilocation" data-ng-model="ScheduleCtrl.myClinicLocations" ng-options="item as item.name for item in ScheduleCtrl.clinicLocs" ng-change="ScheduleCtrl.populateClinician()">
                                        <option value="">Select Clinic Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">                           
                                <div class="col-xs-2"></div>
                                <div class="col=xs-2">
                                    <div class="dropdown pull-right" style="margin-top:10px; margin-right:16px;">
                                        <button class="btn btn-default dropdown-toggle btn-blue btn-rounded-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="fa fa-plus"></span>
                                            &nbsp;Add New
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <a href="#" ng-click="::ScheduleCtrl.addNewPatientButtonClick()">New Patient</a>
                                            </li>

                                            <li>
                                                <a href="#" ng-click="::ScheduleCtrl.addNewAppointment()">New Appointment</a>
                                            </li>

                                            <li>
                                                <a ng-click="::ScheduleCtrl.addNewRef()">New Referral Source</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>                                                    
                  
                    <div></div> <!-- <div>{{ScheduleCtrl.selectedStatus}} {{ScheduleCtrl.dataList}}
                    <div>{{ScheduleCtrl.isFilterApplied}}</div></div> <div>Clinician List: {{ScheduleCtrl.clinicianListToDisplay}}</div>-->
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default custom-panel with-border">
                        <div class="panel-body">
                            <div class="col-xs-12 mini-cal">
                                <div id="cal_here" style='width:auto;'></div>
                            </div>
                            <br />
                            <div class="col-xs-12">
                                <div id="clinician_roster" class="clinician-roster">
                                    <a class="section-title" ng-click="ScheduleCtrl.clinicianSectionOpen=!ScheduleCtrl.clinicianSectionOpen"
                                       data-toggle="collapse" data-target="#demo" href="#">
                                        Clinician Roster
                                        <i class="pull-right fa" ng-class="{'fa-chevron-down':!ScheduleCtrl.clinicianSectionOpen, 'fa-chevron-up':ScheduleCtrl.clinicianSectionOpen}"></i>
                                    </a>
                                    <div class="" ng-class="{'collapse':!ScheduleCtrl.clinicianSectionOpen}">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="clinician in ScheduleCtrl.clinicianListToDisplay track by clinician.id">
                                                <label>
                                                    <input type="checkbox" ng-click="::ScheduleCtrl.onClinicianSelected(clinician)" ng-model="clinician.isSelected" value="true" />
                                                    {{clinician.name}}
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="panel panel-default custom-panel with-border">
                        <div class="panel-body" style="padding-top:5px;padding-left:0;padding-right:0">
                            <div id="scheduler_here" class="dhx_cal_container" style='width:100%;'>
                                <div class="dhx_cal_navline schedules">
                                    <div class="dhx_cal_date" style="font-size:12px;"></div>
                                    <div class="dhx_cal_today_button"></div>
                                    <div class="dhx_cal_tab" name="day_tab"></div>
                                    <div class="dhx_cal_tab" name="week_tab"></div>
                                    <div class="dhx_cal_tab" name="month_tab"></div>
                                    <div class="dhx_cal_tab" name="unit_tab" style="width:82px; margin-left:0px;"></div>
                                    <div class="dhx_cal_tab" name="weekly_tab" style="width:94px;"></div>
                                    <div class="btn-group status-container" style="top: -13px; right: 177px;" >
                                        <app-multi-select items="ScheduleCtrl.statusList"
                                                          style="margin-right:25px;"
                                                          display-prop="title"
                                                          place-holder="Select Status"
                                                          config="ScheduleCtrl.statusConfigs"
                                                          on-change="ScheduleCtrl.onStatusSelected(item)"
                                                          on-item-deselect="ScheduleCtrl.onStatusSelected(item)"
                                                          data="ScheduleCtrl.selectedStatus"></app-multi-select>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-blue dropdown-toggle" data-toggle="dropdown" href="#">
                                            Legend &nbsp;
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="list-group-item" ng-repeat="appointment in ScheduleCtrl.appointmentList track by appointment.id">
                                                <span class="color-icon" style="background-color:{{appointment.color}}"></span>
                                                <span>{{appointment.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dhx_cal_header">
                                </div>
                                <div class="dhx_cal_data">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>