<div class="buner-wrap">
	<div class="inner">
		<div class="description">
			<h1>Reach Your Enterprise Goals</h1>
			<p>
				We Help Companies Worldwide
				Optimize Their People, Projects And Results
			</p>
            <p>{{'en' | translate}}</p>
		</div>
	</div>
</div>

<div class="container container-homePage">
	<div class="row row-block">
		<div class="col-md-3">
			<div class="inner">
				<h2>Resources</h2>
				<figure>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 79.4 79.4" enable-background="new 0 0 79.4 79.4" xml:space="preserve">
					<g id="XMLID_1468_">
					<path id="XMLID_1473_" fill="#F26C52" d="M40.1,67.4c3.3,0,6-2.7,6-6v-1.2c0-3.3-2.7-6-6-6s-6,2.7-6,6v1.2
								C34.1,64.7,36.8,67.4,40.1,67.4z M43.5,61.4c0,1.9-1.5,3.4-3.4,3.4s-3.4-1.5-3.4-3.4v-1.2c0-1.9,1.5-3.4,3.4-3.4s3.4,1.5,3.4,3.4
								V61.4z" />
					<path id="XMLID_1478_" fill="#F26C52" d="M44.8,67.1h-1c-0.5,0-0.9,0.2-1.1,0.6c-0.7,1.1-1.6,1.7-2.6,1.7c-1,0-1.9-0.6-2.6-1.7
								c-0.2-0.4-0.7-0.6-1.1-0.6h-1c-2.7,0-4.8,2.6-4.8,4.8v2.5c0,1.3,1,2.3,2.3,2.3h14.5c1.3,0,2.3-1,2.3-2.3v-2.6
								c0-1.1-0.5-2.2-1.3-3.2C47.4,67.7,46.1,67.1,44.8,67.1z M33.2,71.9c0-0.7,0.9-2.2,2.2-2.2h0.3c1.1,1.5,2.7,2.3,4.4,2.3
								c1.7,0,3.3-0.8,4.4-2.3h0.3c1.3,0,2.2,1.4,2.2,2.2v2.2H33.2V71.9z" />
					<path id="XMLID_1491_" fill="#F26C52" d="M40.1,15.6c3.3,0,6-2.7,6-6V8.4c0-3.3-2.7-6-6-6s-6,2.7-6,6v1.2
								C34.1,12.9,36.8,15.6,40.1,15.6z M43.5,9.6c0,1.9-1.5,3.4-3.4,3.4s-3.4-1.5-3.4-3.4V8.4c0-1.9,1.5-3.4,3.4-3.4s3.4,1.5,3.4,3.4V9.6
								z" />
					<path id="XMLID_1608_" fill="#F26C52" d="M44.8,15.4h-1c-0.5,0-0.9,0.2-1.1,0.6c-0.7,1.1-1.6,1.7-2.6,1.7s-1.9-0.6-2.6-1.7
								c-0.2-0.4-0.7-0.6-1.1-0.6h-1c-2.7,0-4.8,2.6-4.8,4.8v2.5c0,1.3,1,2.3,2.3,2.3h14.5c1.3,0,2.3-1,2.3-2.3v-2.6
								c0-1.1-0.5-2.2-1.3-3.2C47.4,16,46.1,15.4,44.8,15.4z M33.2,20.2c0-0.7,0.9-2.2,2.2-2.2h0.3c1.1,1.5,2.7,2.3,4.4,2.3
								c1.7,0,3.3-0.8,4.4-2.3h0.3c1.3,0,2.2,1.4,2.2,2.2v2.2H33.2V20.2z" />
					<path id="XMLID_1632_" fill="#F26C52" d="M62.3,34.3v1.2c0,3.3,2.7,6,6,6c3.3,0,6-2.7,6-6v-1.2c0-3.3-2.7-6-6-6
								C65,28.3,62.3,31,62.3,34.3z M71.7,35.5c0,1.9-1.5,3.4-3.4,3.4S65,37.3,65,35.5v-1.2c0-1.9,1.5-3.4,3.4-3.4s3.4,1.5,3.4,3.4V35.5z" />
					<path id="XMLID_1645_" fill="#F26C52" d="M76.6,42.9c-0.9-1.1-2.2-1.7-3.5-1.7h-1c-0.5,0-0.9,0.2-1.1,0.6c-0.7,1.1-1.6,1.7-2.6,1.7
								c-1,0-1.9-0.6-2.6-1.7c-0.2-0.4-0.7-0.6-1.1-0.6h-1c-2.7,0-4.8,2.6-4.8,4.8v2.5c0,1.3,1,2.3,2.3,2.3h14.5c1.3,0,2.3-1,2.3-2.3v-2.6
								C77.9,45,77.4,43.8,76.6,42.9z M61.4,46.1c0-0.7,0.9-2.2,2.2-2.2h0.3c1.1,1.5,2.7,2.3,4.4,2.3c1.7,0,3.3-0.8,4.4-2.3h0.3
								c1.3,0,2.2,1.4,2.2,2.2v2.2H61.4V46.1z" />
					<path id="XMLID_1652_" fill="#F26C52" d="M11.9,41.5c3.3,0,6-2.7,6-6v-1.2c0-3.3-2.7-6-6-6c-3.3,0-6,2.7-6,6v1.2
								C5.8,38.8,8.6,41.5,11.9,41.5z M15.3,35.5c0,1.9-1.5,3.4-3.4,3.4c-1.9,0-3.4-1.5-3.4-3.4v-1.2c0-1.9,1.5-3.4,3.4-3.4
								c1.9,0,3.4,1.5,3.4,3.4V35.5z" />
					<path id="XMLID_1659_" fill="#F26C52" d="M21.4,48.6v-2.6c0-1.1-0.5-2.2-1.3-3.2c-1-1.1-2.2-1.7-3.5-1.7h-1c-0.5,0-0.9,0.2-1.1,0.6
								c-0.7,1.1-1.6,1.7-2.6,1.7S9.9,43,9.3,41.9c-0.2-0.4-0.7-0.6-1.1-0.6h-1c-2.7,0-4.8,2.6-4.8,4.8v2.5c0,1.3,1,2.3,2.3,2.3h14.5
								C20.4,50.9,21.4,49.9,21.4,48.6z M5,46.1c0-0.7,0.9-2.2,2.2-2.2h0.3c1.1,1.5,2.7,2.3,4.4,2.3c1.7,0,3.3-0.8,4.4-2.3h0.3
								c1.3,0,2.2,1.4,2.2,2.2l0,2.2H5V46.1z" />
					<path id="XMLID_1660_" fill="#1D4589" d="M29.1,66c-5.8-2.5-10.6-6.9-13.6-12.4c-0.4-0.6-1.2-0.9-1.8-0.5c-0.6,0.4-0.9,1.2-0.5,1.8
								c3.3,6,8.6,10.8,14.9,13.5c0.2,0.1,0.3,0.1,0.5,0.1c0.5,0,1-0.3,1.2-0.8C30.1,67.1,29.8,66.3,29.1,66z" />
					<path id="XMLID_1662_" fill="#1D4589" d="M66.5,53.1c-0.3-0.2-0.7-0.2-1-0.1c-0.3,0.1-0.6,0.3-0.8,0.6c-3,5.5-7.9,9.9-13.6,12.4
								c-0.7,0.3-1,1.1-0.7,1.7c0.2,0.5,0.7,0.8,1.2,0.8c0.2,0,0.4,0,0.5-0.1c6.3-2.7,11.6-7.5,14.9-13.5C67.4,54.3,67.2,53.5,66.5,53.1z" />
					<path id="XMLID_1663_" fill="#1D4589" d="M49.1,13.6c6.2,2.1,11.6,6.4,15,12c0.2,0.4,0.7,0.6,1.1,0.6c0.2,0,0.5-0.1,0.7-0.2
								c0.3-0.2,0.5-0.5,0.6-0.8c0.1-0.3,0-0.7-0.2-1c-3.8-6.2-9.6-10.8-16.4-13.1c-0.3-0.1-0.7-0.1-1,0.1s-0.6,0.4-0.7,0.8
								C48,12.6,48.4,13.3,49.1,13.6z" />
					<path id="XMLID_1664_" fill="#1D4589" d="M14.3,26c0.2,0.1,0.4,0.2,0.7,0.2c0.5,0,0.9-0.2,1.1-0.6c3.4-5.6,8.8-9.9,15-12
								c0.3-0.1,0.6-0.4,0.8-0.7s0.2-0.7,0.1-1c-0.2-0.7-1-1.1-1.7-0.8c-6.8,2.3-12.7,7-16.4,13.1c-0.2,0.3-0.2,0.7-0.2,1
								C13.8,25.6,14,25.8,14.3,26z" />
						</g>
						</svg>
				</figure>
			    <p>
			        Proactively manage resource capacity and demand across your enterprise. Perform situational analysis to match the right combination of resources to each project considering unique skill sets, certifications, languages, availability, proficiency, survey ratings and other requirements to ensure alignment with your organization&#39;s goals.
			    </p>
                <a class="btn btn-success" ui-sref="resource" ng-if="::HomeHumanResourceCtrl.canResourceRead()" role="button">Manage Resources</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="inner">
				<h2>Projects</h2>
				<figure>
					<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 79.4 79.4" enable-background="new 0 0 79.4 79.4" xml:space="preserve">
<g id="XMLID_4_">
					<g id="XMLID_1693_">
					<g id="XMLID_1692_">
					<path id="XMLID_1680_" fill="#1D4589" d="M33.3,31.3h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1
				C32.2,30.8,32.7,31.3,33.3,31.3L33.3,31.3z M33.3,31.3" />
					<path id="XMLID_1672_" fill="#1D4589" d="M33.3,36.4h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1
				C32.2,35.9,32.7,36.4,33.3,36.4L33.3,36.4z M33.3,36.4" />
					<path id="XMLID_1668_" fill="#1D4589" d="M24.3,31.3h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1
				C23.2,30.8,23.7,31.3,24.3,31.3L24.3,31.3z M24.3,31.3" />
					<path id="XMLID_1639_" fill="#1D4589" d="M24.3,36.4h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1
				C23.2,35.9,23.7,36.4,24.3,36.4L24.3,36.4z M24.3,36.4" />
					<path id="XMLID_1635_" fill="#1D4589" d="M24.3,41.5h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1
				C23.2,41.1,23.7,41.5,24.3,41.5L24.3,41.5z M24.3,41.5" />
					<path id="XMLID_1535_" fill="#1D4589" d="M19.1,29.2h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1
				C20.2,29.7,19.7,29.2,19.1,29.2L19.1,29.2z M19.1,29.2" />
					<path id="XMLID_1531_" fill="#1D4589" d="M19.1,34.4h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1
				C20.2,34.8,19.7,34.4,19.1,34.4L19.1,34.4z M19.1,34.4" />
					<path id="XMLID_1527_" fill="#1D4589" d="M19.1,39.5h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1
				C20.2,40,19.7,39.5,19.1,39.5L19.1,39.5z M19.1,39.5" />
					<path id="XMLID_1523_" fill="#1D4589" d="M19.1,44.6h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1
				C20.2,45.1,19.7,44.6,19.1,44.6L19.1,44.6z M19.1,44.6" />
					<path id="XMLID_1520_" fill="#1D4589" d="M19.1,49.8h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1
				C20.2,50.2,19.7,49.8,19.1,49.8L19.1,49.8z M19.1,49.8" />
		</g>
					<g id="XMLID_1406_">
					<path id="XMLID_1685_" fill="#1D4589" d="M46.1,31.3c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1
				H46.1L46.1,31.3z M46.1,31.3" />
					<path id="XMLID_1625_" fill="#1D4589" d="M46.1,36.4c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1
				H46.1L46.1,36.4z M46.1,36.4" />
					<path id="XMLID_1575_" fill="#1D4589" d="M55.1,31.3c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1
				H55.1L55.1,31.3z M55.1,31.3" />
					<path id="XMLID_1570_" fill="#1D4589" d="M55.1,36.4c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1
				H55.1L55.1,36.4z M55.1,36.4" />
					<path id="XMLID_1562_" fill="#1D4589" d="M55.1,41.5c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1h-3.9c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1
				H55.1L55.1,41.5z M55.1,41.5" />
					<path id="XMLID_1554_" fill="#1D4589" d="M60.2,29.2c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1H60.2
				L60.2,29.2z M60.2,29.2" />
					<path id="XMLID_1550_" fill="#1D4589" d="M60.2,34.4c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1H60.2
				L60.2,34.4z M60.2,34.4" />
					<path id="XMLID_1546_" fill="#1D4589" d="M60.2,39.5c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1H60.2
				L60.2,39.5z M60.2,39.5" />
					<path id="XMLID_1541_" fill="#1D4589" d="M60.2,44.6c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1H60.2
				L60.2,44.6z M60.2,44.6" />
					<path id="XMLID_1496_" fill="#1D4589" d="M60.2,49.8c-0.6,0-1,0.5-1,1c0,0.6,0.5,1,1,1h3.9c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1H60.2
				L60.2,49.8z M60.2,49.8" />
		</g>
	</g>
					<g id="XMLID_916_">
					<path id="XMLID_953_" fill="#3FB1A9" d="M39.7,41.3c-8.6,0-15.6,7-15.6,15.6c0,8.6,7,15.6,15.6,15.6c8.6,0,15.6-7,15.6-15.6
			C55.3,48.3,48.3,41.3,39.7,41.3z M50.8,56.9c0,0.7,0.5,1.2,1.2,1.2h0.8c-0.6,6.3-5.6,11.3-11.9,11.9v-0.8c0-0.7-0.5-1.2-1.2-1.2
			c-0.7,0-1.2,0.5-1.2,1.2V70c-6.3-0.6-11.3-5.6-11.9-11.9h0.8c0.7,0,1.2-0.5,1.2-1.2c0-0.7-0.5-1.2-1.2-1.2h-0.8
			c0.6-6.3,5.6-11.3,11.9-11.9v0.8c0,0.7,0.5,1.2,1.2,1.2c0.7,0,1.2-0.5,1.2-1.2v-0.8c6.3,0.6,11.3,5.6,11.9,11.9H52
			C51.3,55.6,50.8,56.2,50.8,56.9z" />
					<path id="XMLID_959_" fill="#3FB1A9" d="M47.9,55.6h-5.2c-0.3-0.8-1-1.5-1.8-1.8v-5.2c0-0.7-0.5-1.2-1.2-1.2
			c-0.7,0-1.2,0.5-1.2,1.2v5.2c-1.2,0.5-2.1,1.7-2.1,3c0,1.8,1.5,3.3,3.3,3.3c1.3,0,2.5-0.8,3-2.1h5.2c0.7,0,1.2-0.5,1.2-1.2
			C49.1,56.2,48.6,55.6,47.9,55.6z M40.5,56.9c0,0.5-0.4,0.8-0.8,0.8c-0.5,0-0.8-0.4-0.8-0.8c0-0.5,0.4-0.8,0.8-0.8
			C40.2,56,40.5,56.4,40.5,56.9z" />
	</g>
					<path id="XMLID_1697_" fill="#1D4589" d="M73.1,5.6h-6.7V3.8c0-1.7-1.4-3.1-3.1-3.1s-3.1,1.4-3.1,3.1v1.8H19.1V3.8
		c0-1.7-1.4-3.1-3.1-3.1c-1.7,0-3.1,1.4-3.1,3.1v1.8H6.3c-3.4,0-6.2,2.8-6.2,6.2v54.5c0,3.4,2.8,6.2,6.2,6.2h14v0
		c0.7,0,1.2-0.6,1.2-1.2S20.9,70,20.2,70v0h-14c-2,0-3.7-1.7-3.7-3.7V11.8c0-2,1.7-3.7,3.7-3.7H13V10c0,1.7,1.4,3.1,3.1,3.1
		c1.7,0,3.1-1.4,3.1-3.1V8.1h41.1V10c0,1.7,1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1V8.1h6.7c2,0,3.7,1.7,3.7,3.7v54.5c0,2-1.7,3.7-3.7,3.7
		H59v0c0,0,0,0,0,0c-0.7,0-1.2,0.6-1.2,1.2c0,0.7,0.6,1.2,1.2,1.2c0,0,0,0,0,0v0h14.1c3.4,0,6.2-2.8,6.2-6.2V11.8
		C79.3,8.4,76.5,5.6,73.1,5.6z M17.1,10c0,0.6-0.5,1-1,1c-0.6,0-1-0.5-1-1V8.1V5.6V3.8c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1v1.8v2.5V10z
		 M64.3,10c0,0.6-0.5,1-1,1s-1-0.5-1-1V8.1V5.6V3.8c0-0.6,0.5-1,1-1s1,0.5,1,1v1.8v1.3c0,0,0,0,0,0c0,0,0,0,0,0v1.1V10z" />
					<rect id="XMLID_1696_" x="1.2" y="20" fill="#1D4589" width="76.9" height="2.5" />
</g>
</svg>
				</figure>
				<p>
					Create, update, and measure projects and track dependencies from end-to-end. Establish and change priorities and understand the relative impacts to those decisions. Comprehensive dashboards and reports provide valuable insight to critical data regarding the health of your projects, providing greater visibility and agility across your enterprise.
				</p>
                <a class="btn btn-primary" href="#" role="button" ui-sref="project" ng-if="::HomeHumanResourceCtrl.canProjectRead()">Manage Projects</a>
			</div>		
		</div>
		<div class="col-md-3">
			<div class="inner">
				<h2>Financials</h2>
				<figure>
					<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 79.4 79.4" enable-background="new 0 0 79.4 79.4" xml:space="preserve">
<g id="XMLID_1490_">
					<path id="XMLID_1677_" fill="#1D4589" d="M73.1,5.6H6.3c-3.4,0-6.2,2.8-6.2,6.2v54.5c0,3.4,2.8,6.2,6.2,6.2h66.8
		c3.4,0,6.2-2.8,6.2-6.2V11.8C79.3,8.4,76.5,5.6,73.1,5.6L73.1,5.6z M76.8,66.3c0,2-1.7,3.7-3.7,3.7H6.3c-2,0-3.7-1.7-3.7-3.7V11.8
		c0-2,1.7-3.7,3.7-3.7h66.8c2,0,3.7,1.7,3.7,3.7V66.3z M76.8,66.3" />
					<path id="XMLID_1671_" fill="#DAAB59" d="M16.2,32.2h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C19.9,33.8,18.2,32.2,16.2,32.2L16.2,32.2z M17.4,38.3c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V38.3z M17.4,38.3" />
					<path id="XMLID_1667_" fill="#DAAB59" d="M28.6,32.2h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C32.3,33.8,30.6,32.2,28.6,32.2L28.6,32.2z M29.8,38.3c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V38.3z M29.8,38.3" />
					<path id="XMLID_1638_" fill="#DAAB59" d="M40.9,32.2h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C44.7,33.8,43,32.2,40.9,32.2L40.9,32.2z M42.2,38.3c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V38.3z M42.2,38.3" />
					<path id="XMLID_1633_" fill="#1D4589" d="M53.3,32.2h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C57,33.8,55.4,32.2,53.3,32.2L53.3,32.2z M50.8,34.6h2l-3.2,3.2v-2C49.6,35.2,50.2,34.6,50.8,34.6L50.8,34.6z M53.3,39.6h-2
		l3.2-3.2v2C54.6,39,54,39.6,53.3,39.6L53.3,39.6z M53.3,39.6" />
					<path id="XMLID_1576_" fill="#1D4589" d="M65.7,32.2h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C69.4,33.8,67.7,32.2,65.7,32.2L65.7,32.2z M63.2,34.6h2L62,37.8v-2C62,35.2,62.5,34.6,63.2,34.6L63.2,34.6z M65.7,39.6h-2
		l3.2-3.2v2C66.9,39,66.4,39.6,65.7,39.6L65.7,39.6z M65.7,39.6" />
					<path id="XMLID_1571_" fill="#DAAB59" d="M16.2,44.5h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C19.9,46.2,18.2,44.5,16.2,44.5L16.2,44.5z M17.4,50.7c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V50.7z M17.4,50.7" />
					<path id="XMLID_1564_" fill="#DAAB59" d="M28.6,44.5h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C32.3,46.2,30.6,44.5,28.6,44.5L28.6,44.5z M29.8,50.7c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V50.7z M29.8,50.7" />
					<path id="XMLID_1556_" fill="#DAAB59" d="M40.9,44.5h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C44.7,46.2,43,44.5,40.9,44.5L40.9,44.5z M42.2,50.7c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V50.7z M42.2,50.7" />
					<path id="XMLID_1549_" fill="#1D4589" d="M53.3,44.5h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C57,46.2,55.4,44.5,53.3,44.5L53.3,44.5z M50.8,47h2l-3.2,3.2v-2C49.6,47.6,50.2,47,50.8,47L50.8,47z M53.3,52h-2l3.2-3.2v2
		C54.6,51.4,54,52,53.3,52L53.3,52z M53.3,52" />
					<path id="XMLID_1544_" fill="#1D4589" d="M65.7,44.5h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C69.4,46.2,67.7,44.5,65.7,44.5L65.7,44.5z M63.2,47h2L62,50.2v-2C62,47.6,62.5,47,63.2,47L63.2,47z M65.7,52h-2l3.2-3.2v2
		C66.9,51.4,66.4,52,65.7,52L65.7,52z M65.7,52" />
					<path id="XMLID_1537_" fill="#DAAB59" d="M16.2,56.9h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C19.9,58.6,18.2,56.9,16.2,56.9L16.2,56.9z M17.4,63.1c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V63.1z M17.4,63.1" />
					<path id="XMLID_1533_" fill="#DAAB59" d="M28.6,56.9h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C32.3,58.6,30.6,56.9,28.6,56.9L28.6,56.9z M29.8,63.1c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V63.1z M29.8,63.1" />
					<path id="XMLID_1529_" fill="#DAAB59" d="M40.9,56.9h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C44.7,58.6,43,56.9,40.9,56.9L40.9,56.9z M42.2,63.1c0,0.7-0.6,1.2-1.2,1.2h-2.5c-0.7,0-1.2-0.6-1.2-1.2v-2.5
		c0-0.7,0.6-1.2,1.2-1.2h2.5c0.7,0,1.2,0.6,1.2,1.2V63.1z M42.2,63.1" />
					<path id="XMLID_1524_" fill="#1D4589" d="M53.3,56.9h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C57,58.6,55.4,56.9,53.3,56.9L53.3,56.9z M50.8,59.4h2l-3.2,3.2v-2C49.6,59.9,50.2,59.4,50.8,59.4L50.8,59.4z M53.3,64.3h-2
		l3.2-3.2v2C54.6,63.8,54,64.3,53.3,64.3L53.3,64.3z M53.3,64.3" />
					<path id="XMLID_1519_" fill="#1D4589" d="M65.7,56.9h-2.5c-2,0-3.7,1.7-3.7,3.7v2.5c0,2,1.7,3.7,3.7,3.7h2.5c2,0,3.7-1.7,3.7-3.7
		v-2.5C69.4,58.6,67.7,56.9,65.7,56.9L65.7,56.9z M63.2,59.4h2L62,62.6v-2C62,59.9,62.5,59.4,63.2,59.4L63.2,59.4z M65.7,64.3h-2
		l3.2-3.2v2C66.9,63.8,66.4,64.3,65.7,64.3L65.7,64.3z M65.7,64.3" />
					<path id="XMLID_1515_" fill="#1D4589" d="M65.7,12.1h-52c-2,0-3.7,1.7-3.7,3.7v6.8c0,2,1.7,3.7,3.7,3.7h52c2,0,3.7-1.7,3.7-3.7
		v-6.8C69.4,13.8,67.7,12.1,65.7,12.1L65.7,12.1z M66.9,22.6c0,0.7-0.6,1.2-1.2,1.2h-52c-0.7,0-1.2-0.6-1.2-1.2v-6.8
		c0-0.7,0.6-1.2,1.2-1.2h52c0.7,0,1.2,0.6,1.2,1.2V22.6z M66.9,22.6" />
					<path id="XMLID_1512_" fill="#1D4589" d="M43.3,15.8c-0.7,0-1.2,0.6-1.2,1.2v4.3c0,0.7,0.6,1.2,1.2,1.2c0.7,0,1.2-0.6,1.2-1.2v-4.3
		C44.5,16.4,43.9,15.8,43.3,15.8L43.3,15.8z M43.3,15.8" />
					<path id="XMLID_1504_" fill="#1D4589" d="M48.2,15.8c-0.7,0-1.2,0.6-1.2,1.2v4.3c0,0.7,0.6,1.2,1.2,1.2c0.7,0,1.2-0.6,1.2-1.2v-4.3
		C49.5,16.4,48.9,15.8,48.2,15.8L48.2,15.8z M48.2,15.8" />
					<path id="XMLID_1501_" fill="#1D4589" d="M53.2,15.8c-0.7,0-1.2,0.6-1.2,1.2v4.3c0,0.7,0.6,1.2,1.2,1.2c0.7,0,1.2-0.6,1.2-1.2v-4.3
		C54.4,16.4,53.9,15.8,53.2,15.8L53.2,15.8z M53.2,15.8" />
					<path id="XMLID_1497_" fill="#1D4589" d="M58.1,15.8c-0.7,0-1.2,0.6-1.2,1.2v4.3c0,0.7,0.6,1.2,1.2,1.2c0.7,0,1.2-0.6,1.2-1.2v-4.3
		C59.4,16.4,58.8,15.8,58.1,15.8L58.1,15.8z M58.1,15.8" />
					<path id="XMLID_1493_" fill="#1D4589" d="M63.1,15.8c-0.7,0-1.2,0.6-1.2,1.2v4.3c0,0.7,0.6,1.2,1.2,1.2c0.7,0,1.2-0.6,1.2-1.2v-4.3
		C64.3,16.4,63.8,15.8,63.1,15.8L63.1,15.8z M63.1,15.8" />
</g>
</svg>

				</figure>
				<p>
					Manage each project's budget, scope, resource rates and duration against established goals. Use the financial planning tools to perform situational and Cost Benefit Analysis to predict outcomes and understand the financial impact of changing project priorities or resources. Dashboards help you effectively manage cash flows and financial metrics against targets to measure and align results to investments.
				</p>
                <a class="btn btn-warning" href="#" role="button" ui-sref="finances" ng-if="::HomeHumanResourceCtrl.canFinanceRead()">Manage Financials</a>
			</div>
		</div>
		<div class="col-md-3">
			<div class="inner">
				<h2>Analytics</h2>
				<figure>
					<svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 79.4 79.4" enable-background="new 0 0 79.4 79.4" xml:space="preserve">
<g id="XMLID_9_">
					<path id="XMLID_564_" fill="#1D4589" d="M61.8,70.5V32.1c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v38.4h-7.9V46.6
		c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v23.9h-7.9V37.4c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v33.1h-7.9V47.9
		c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v22.6h-7.9l0-3.3V54.5c0-0.7-0.6-1.3-1.3-1.3c-0.7,0-1.3,0.6-1.3,1.3v12.7l0,3.3" />
					<path id="XMLID_427_" fill="#55B1CA" d="M17.5,42.1c2.2,0,3.9-1.8,3.9-3.9c0-0.2,0-0.3,0-0.5l3.9-1.9c0.7,0.7,1.7,1.1,2.7,1.1
		c2.2,0,3.9-1.8,3.9-3.9c0-0.6-0.1-1.2-0.4-1.7v0l5.3-5.2v0c0.5,0.2,1.1,0.4,1.7,0.4c0.7,0,1.4-0.2,1.9-0.5l4.9,4.3
		c-0.2,0.5-0.3,0.9-0.3,1.5c0,2.2,1.8,3.9,3.9,3.9c2.2,0,3.9-1.8,3.9-3.9c0-0.8-0.3-1.6-0.7-2.2l6.1-8.4c0.4,0.1,0.7,0.2,1.1,0.2
		c2.2,0,3.9-1.8,3.9-3.9s-1.8-3.9-3.9-3.9c-2.2,0-3.9,1.8-3.9,3.9c0,0.8,0.3,1.6,0.7,2.2l-6.1,8.4c-0.4-0.1-0.7-0.2-1.1-0.2
		c-0.7,0-1.4,0.2-1.9,0.5l-4.9-4.3c0.2-0.5,0.3-0.9,0.3-1.5c0-2.2-1.8-3.9-3.9-3.9c-2.2,0-3.9,1.8-3.9,3.9c0,0.6,0.1,1.2,0.4,1.7
		l-5.3,5.3c0,0,0,0,0,0C29.2,29.1,28.7,29,28,29c-2.2,0-3.9,1.8-3.9,3.9c0,0.2,0,0.3,0,0.5l-3.9,1.9c-0.7-0.7-1.7-1.1-2.7-1.1
		c-2.2,0-3.9,1.8-3.9,3.9C13.6,40.3,15.4,42.1,17.5,42.1z M59.5,15.8c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3C58.2,16.4,58.8,15.8,59.5,15.8z M49,30.3c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3C47.7,30.9,48.3,30.3,49,30.3z M38.5,21.1c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3C37.2,21.7,37.8,21.1,38.5,21.1z M28,31.6c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3C26.7,32.2,27.3,31.6,28,31.6z M17.5,36.8c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3
		c-0.7,0-1.3-0.6-1.3-1.3C16.2,37.4,16.8,36.8,17.5,36.8z" />
					<path id="XMLID_1712_" fill="#1D4589" d="M72.9,5.6H6.1c-3.4,0-6.2,2.8-6.2,6.2v54.5c0,3.4,2.8,6.2,6.2,6.2h66.8
		c3.4,0,6.2-2.8,6.2-6.2V11.8C79.1,8.4,76.3,5.6,72.9,5.6L72.9,5.6z M76.6,66.3c0,2-1.7,3.7-3.7,3.7H6.1c-2,0-3.7-1.7-3.7-3.7V11.8
		c0-2,1.7-3.7,3.7-3.7h66.8c2,0,3.7,1.7,3.7,3.7V66.3z M76.6,66.3" />
</g>
</svg>
				</figure>
				<p>
                    Utilize true performance measurements to calculate accuracy and productivity through specific KPI metrics for individuals and teams. Analyze costs, resources and results with predictability and modeling to make better business decisions. 
				</p>
                <a class="btn btn-info" href="#" role="button" ui-sref="analytics">Analytics & Reporting</a>
			</div>
		</div>
	</div>
</div>




<div class="text-center" style=" display:none;">
	<!-- Standard button -->
	<button type="button" class="btn btn-default">Default</button>

	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success">Success</button>

	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="btn btn-primary">Primary</button>

	<!-- Contextual button for informational alert messages -->
	<button type="button" class="btn btn-info">Info</button>

	<!-- Indicates caution should be taken with this action -->
	<button type="button" class="btn btn-warning">Warning</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-danger">Danger</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-link">Link</button>


</div>
