<style>
    body {
        background-color: transparent;
    }
</style>
<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        <span ng-if="title">{{title}}</span>
        <span ng-if="!title">Video</span>

    </h4>
</div>
<div class="modal-body">
    <!--<iframe ngf-src="mediaURL" style="width:100%; height:400px;"></iframe>-->
    <video class="video-player"  controls autoplay ngf-src="mediaURL"></video>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
</div>

