﻿<div class="container-fluid" id="{{AddAppoinmentCtrl.modalUniqId}}">
    <form name="appointmentForm" novalidate ng-submit="AddAppoinmentCtrl.onFormSubmit(appointmentForm)">
        <div class="row modal-title">
            <div class="col-md-12">
                <h4 class="modal-title">
                    {{AddAppoinmentCtrl.modalTitle}}
                  
                    <span class="pull-right" style="margin-right:5px;"><a href="#" ng-click="AddAppoinmentCtrl.onModalCloseButtonClick()"><i class="fa fa-times"></i></a></span>              
                </h4>
            </div>
        </div>
        <div class="row modal-body">
            <div class="row">
                <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[0].columClass}">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="patientName">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-sm-12"><label class="myLabelClass">Patient Cases</label> <span style="color:red">*</span></div>
                <div class="col-sm-12 form-group">                 
                        <ui-select name="" ng-model="AddAppoinmentCtrl.model.CaseId">
                            <ui-select-match placeholder="Select Case">{{ "Case Number =" + $select.selected.caseNo +"  Injury Region =" +  $select.selected.injuryRegionId }}</ui-select-match>
                            <ui-select-choices repeat="unit.id as unit in AddAppoinmentCtrl.cassss">
                               <span>{{"Case Number = " + unit.caseNo + " Injury Region = " + unit.injuryRegionId}}</span> 
                            </ui-select-choices>
                        </ui-select>                                   
                </div>             
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[1].columClass}">
                        <div class="form-group">
                            <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="date">
                            </edz-dynamic-form-controller-compiler>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[2].columClass}">
                        <div class="form-group">
                            <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="startTime">
                            </edz-dynamic-form-controller-compiler>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[3].columClass}">
                        <div class="form-group">
                            <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="endTime">
                            </edz-dynamic-form-controller-compiler>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[6].columClass}">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="facility">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12"><label class="myLabelClass">Clinic Location </label> <span style="color:red">*</span></div>
                <div class="col-sm-12 form-group">
                    <ui-select name="" ng-model="AddAppoinmentCtrl.model.clinicLocationId" ng-change="AddAppoinmentCtrl.clinicLocations_Selected()">
                        <ui-select-match placeholder="Select Clinician">{{ $select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="unit.id as unit in AddAppoinmentCtrl.clinicLocations">
                            {{unit.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12"><label class="myLabelClass">Clinician </label> <span style="color:red">*</span></div>
                <div class="col-sm-12 form-group">
                    <ui-select name="" ng-model="AddAppoinmentCtrl.model.clinicianId">
                        <ui-select-match placeholder="Select Clinician">{{ $select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="unit.id as unit in AddAppoinmentCtrl.cliniciansServices">
                            {{unit.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[5].columClass}">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="appointmentType">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="true" ng-class="{'col-md-12':!AddAppoinmentCtrl.formFields[8].columClass}">
                    <div class="form-group">
                        <edz-dynamic-form-controller-compiler edz-controller-name="AddAppoinmentCtrl" form="appointmentForm" edz-field-id="additionalDetail">
                        </edz-dynamic-form-controller-compiler>
                    </div>
                </div>
            </div>
        </div>
        <div class="row modal-footer">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="AddAppoinmentCtrl.onModalCloseButtonClick()" class="btn btn-default btn-light-gray btn-fixed-width">Cancel</button>
                <button type="submit" class="btn btn-default btn-blue btn-fixed-width">Save</button>
            </div>
        </div>
    </form>
</div>