﻿<style type="text/css">
    .node {
        cursor: pointer;
    }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px Roboto;
            word-wrap: break-word;
        }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    #organization_chart svg {
        background-color: rgba(0,0,0,0.05);
        border-radius: 15px;
    }

    .text-overflow-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="panel panel-default custom-panel">
    <div class="panel-heading">
        <span class="panel-title">
            {{panelTitle}}
        </span>
    </div>
    <div class="panel-body">
        <div id="organization_chart"></div>
    </div>
</div>