<!--<adf-dashboard collapsible="true" maximizable="true" name="widgetSampleDashboard" structure="4-8" adf-model="AnalyticsCtrl.model" />-->
<div class="analytics-page">
    <div class="panel panel-default custom-panel inner-panel">
        <div class="panel-heading" style="padding-bottom:15px;">
            <span class="panel-title">
                Analytics
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Projects By Type
                    </span>
                </div>
                <div class="panel-body">
                    <div class="chart-container donut">
                        <nvd3-discrete-bar-chart data="projectTypeData"
                                                 showXAxis="true"
                                                 showYAxis="true"
                                                 showValues="true"
                                                 width="{{ 450 }}"
                                                 height="{{ 350 }}"
                                                 staggerLabels="true">
                        </nvd3-discrete-bar-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-4">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Projects By Priority
                    </span>
                </div>
                <div class="panel-body">
                    <div class="chart-container donut">
                        <nvd3-discrete-bar-chart data="projectPriorityData"
                                                 showXAxis="true"
                                                 showYAxis="true"
                                                 showValues="true"
                                                 width="{{ 450 }}"
                                                 height="{{ 350 }}"
                                                 staggerLabels="true">
                        </nvd3-discrete-bar-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-4">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Projects By Status
                    </span>
                </div>
                <div class="panel-body">
                    <div class="chart-container donut">
                        <nvd3-discrete-bar-chart data="projectStatusData"
                                                 showXAxis="true"
                                                 showYAxis="true"
                                                 showValues="true"
                                                 width="{{ 450 }}"
                                                 height="{{ 350 }}"
                                                 staggerLabels="true">
                        </nvd3-discrete-bar-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-4">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Projects By Division
                    </span>
                </div>
                <div class="panel-body">
                    <div class="chart-container donut">
                        <canvas id="doughnut"
                                class="chart chart-doughnut"
                                chart-data="projectsByDivisionData"
                                chart-options="stopAnimation()"
                                chart-labels="projectsByDivisionLabels"
                                chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-4">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        Projects Health
                    </span>
                </div>
                <div class="panel-body">
                    <div class="chart-container donut">
                        <canvas id="doughnut"
                                class="chart chart-pie"
                                chart-data="projectHealthData"
                                chart-options="stopAnimation()"
                                chart-labels="projectHealthLabels"
                                chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
