﻿<td>
    <angucomplete-alt novalidate
                      placeholder="Search..."
                      id="jobTitleId"
                      pause="400"
                      initial-value="item.jobTitle.name"
                      selected-object="onJobTitleSelected"
                      title-field="name"
                      minlength="0"
                      override-suggestions="true"
                      remote-url="api/JobTitles/autocomplete?search="
                      input-class="form-control form-control-small"
                      match-class="highlight"
                      field-required="true"
                      input-name="jobTitleId">
    </angucomplete-alt>
    <ng-vadlidator-message ng-element-name="jobTitleId">
    </ng-vadlidator-message>
</td>
<td>
    <input type="number" ng-model="item.quantity" class="form-control">
</td>
<td>
    <input type="text" ng-currency ng-model="item.billRate" class="form-control">
</td>
<td>
    <ui-select ng-model="item.periodType" name="isClientFunded" ng-model-options="{ debounce : { default : 100 } }">
        <ui-select-match placeholder="Select...">{{ $select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item.value as item in periodTypeList">
            {{item.name}}
        </ui-select-choices>
    </ui-select>
</td>
<td>
    <input type="number" ng-model="item.valueOfPeriod" class="form-control">
</td>
<td class="cost-item-title-blank"></td>
<td class="cost-item-fill">{{item.revenue() | currency}}</td>
<td class="cost-item-fill">{{item.cost() | currency}}</td>
<td class="cost-item-fill">{{item.margin()  | currency}}</td>

<td class="cost-item-fill">{{item.marginPer()}}%</td>
<td class="cost-item-fill">
    <button type="button" class="btn btn-default btn-red" ng-click="removeItem({index:index})">
        <i class="fa fa-trash"></i>
    </button>
</td>
