<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        Image Crop
    </h4>
</div>
<div class="modal-body gray-bg">

    <div class="panel panel-default custom-panel">
        <div class="panel-body">
            <div class="cropArea">
                <img-crop image="imageFile | ngfDataUrl" result-image="myCroppedImage"  area-type="square" ></img-crop>
            </div>
        </div>
    </div>



</div>

<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
    &nbsp;&nbsp;
    <button class="btn btn-default btn-blue" ng-click="save()">Save</button>
</div>

