﻿<div cg-busy="isLoading">
   <div class="row">
       <div class="col-sm-2">
           Creat New / Action
       </div>

       <div class="col-sm-4">
           <select class="form-control" data-ng-options="item.value for item in dropDownTypes" data-ng-model="currentSelectedOption"></select>
       </div>
       <div class="col-sm-6">
           <button type="button" class="btn btn-default btn-blue" ng-click="showItems()">Create</button>
       </div>
   </div>



    <div class="panel-body" style="margin-top:30px;" ng-if="selectedOption.key!='Select'"> 
        <ul class="nav nav-tabs app-tab app-tab-large">
            <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
                <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
            </li>
        </ul>


        <div class="tab-content app-tab-body">
            <!--Tab 1-->
            <div id="Subjective" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Subjective')}"
                 ng-show="isTabSelected('Subjective')">

                <div>
                    <iframe src="Client/assets/demo-forms/subjective.html" style="width:100%;height:500px;" frameborder="0"></iframe>
                </div>


            </div>

            <!--Tab 2-->
            <div id="Objective" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Objective')}"
                 ng-show="isTabSelected('Objective')">

                <div class="panel-body">
                    
                    <div>
                        <iframe src="Client/assets/demo-forms/objective.html" style="width:100%;height:500px;" frameborder="0"></iframe>
                    </div>
                </div>
                
            </div>

            <!--Tab 3-->
            <div id="Assessment" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Assessment')}"
                 ng-show="isTabSelected('Assessment')">

                <div>
                    <iframe src="Client/assets/demo-forms/records-assetment.html" style="width:100%;height:500px;" frameborder="0"></iframe>
                </div>

            </div>

            <!--Tab 4-->
            <div id="Plan" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Plan')}"
                 ng-show="isTabSelected('Plan')">
                <div class="panel-body">
                    <h3>Coming soon</h3>
                </div>
            </div>

            <!--Tab 5-->
            <div id="Flowsheet" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Flowsheet')}"
                 ng-show="isTabSelected('Flowsheet')">

                <div class="panel-body">
                    <img src="Client/assets/images/DemoImages/flow-sheet.png" style="width:90%" />

                </div>

            </div>

            <!--Tab 6-->
            <div id="billing" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('billing')}"
                 ng-show="isTabSelected('billing')">

                <div class="panel-body">
                 
                    <h3>Coming soon</h3>

                </div>

            </div>
        </div>

    </div>



    <div class="panel panel-default" style="margin-top:30px;" ng-if="selectedOption.key=='Select'">
        <div class="panel-heading">
            <div class="panel-title detail-top-section">
                Record History
            </div>
        </div>
        

        <div class="panel-body">

            <div class="table-responsive">
                <table class="table my-table system-grid-table">
                    <thead>
                        <tr>
                            <th class="my-table-column"><span class="sort-indicator">Date</span></th>
                            <th class="my-table-column"><span class="sort-indicator">Record Type</span></th>
                            <th class="my-table-column"><span class="sort-indicator">Clinician Name</span></th>
                            <th class="my-table-column"><span class="sort-indicator">Document</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in recordHistory">
                            <td>
                                {{item.date}}
                            </td>

                            <td>
                                {{item.recordType}}
                            </td>

                            <td>
                                {{item.clinicianName}}
                            </td>

                            <td>
                                <!--{{item.douments}}-->
                                
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="#">Download</a>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>

</div>
