﻿<div cg-busy="isLoading" >
    <br />
    <div class="row gray-bar-title" ng-if="dataModel && dataModel.id">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="display:inline-flex;width:100%;margin:0;">
                        <label style="min-width:90px;margin-top: 4px;color:black;">Start Date</label>
                        <input type="text" date-time
                               ng-model="dataModel.startDate"
                               ng-model-options="{tabValidationName:'hep'}"
                               class="form-control tabable"
                               minlength="1"
                               ng-less-than-date-time="dataModel.endDate"
                               min-view="date"
                               format="MM/DD/YYYY"
                               auto-close="true"
                               name="startDate"
                               ng-required="true" />
                        <ng-vadlidator-message ng-element-name="startDate"></ng-vadlidator-message>

                    </div>

                </div>
                <div class="col-sm-6 form-inline">
                    <div class="form-group" style="display:inline-flex;width:100%;margin:0;">
                        <label style="min-width:90px;margin-top: 4px;color:black;">End Date</label>
                        <input type="text" date-time
                               ng-model="dataModel.endDate"
                               ng-model-options="{tabValidationName:'hep'}"
                               ng-more-than-date-time="dataModel.startDate"
                               class="form-control tabable"
                               minlength="1"
                               min-view="date"
                               format="MM/DD/YYYY"
                               auto-close="true"
                               name="endDate"
                               ng-required="true" />
                        <ng-vadlidator-message ng-element-name="endDate"></ng-vadlidator-message>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-gray" data-target="#myModal" data-toggle="modal">Apply All</button>
                &nbsp;
                &nbsp;
                &nbsp;               
                <button type="button" class="btn btn-default btn-gray" ng-click="onCreateGroup()">Create Group</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-default btn-blue" ng-click="onAddExdercise()">Add Blank</button>
                &nbsp;
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-default btn-blue" ui-sref="care-plan-edit({id:dataModel.id})">Add Exercise</button>
            </span>
        </div>   
        
        <div class="row">
            <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Apply All</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        Sets:
                                        <input type="number" class="form-control" ng-model="myFilteringdata.set" />
                                    </div>
                                    <div class="col-sm-12">
                                        Reps:
                                        <input type="number" class="form-control" ng-model="myFilteringdata.rep" />
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Time:    <input type="text" class="form-control" ng-model="myFilteringdata.time" />
                                            </div>
                                            <div class="col-sm-6" style="margin-left:0px">
                                                Time Unit:
                                                <ui-select name="" ng-model="myFilteringdata.timeUnit">
                                                    <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="unit.title as unit in timeUnit">
                                                        {{unit.title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                Weight:
                                                <input type="text" class="form-control" ng-model="myFilteringdata.weight" />
                                            </div>
                                            <div class="col-sm-6">
                                                Weight Unit:
                                                <ui-select name="" ng-model="myFilteringdata.weightUnits">
                                                    <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="unit.title as unit in weightUnit">
                                                        {{unit.title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                Holds:     <input type="text" class="form-control" ng-model="myFilteringdata.holds" />
                                            </div>
                                            <div class="col-sm-6">
                                                Holds Unit:
                                                <ui-select name="" ng-model="myFilteringdata.holdingsUnit">
                                                    <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="unit.title as unit in timeUnit">
                                                        {{unit.title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Frequency:
                                                <ui-select name="" ng-model="myFilteringdata.frequencyy" ng-change="myChange(myFilteringdata.frequencyy)">
                                                    <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="unit.title as unit in frequency">
                                                        {{unit.title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col-sm-6">
                                                Resistance:
                                                <ui-select name="" ng-model="myFilteringdata.resistancesss">
                                                    <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                    <ui-select-choices repeat="unit.title as unit in resistancess">
                                                        {{unit.title}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="myFre">
                                        <div class="col-sm-2">
                                           <label>Sun</label>
                                                <input type="number" class="form-control" ng-model="myFirst.sunday" />                                                                                 
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Mon</label><input type="number" class="form-control" ng-model="myFirst.monday" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Tue</label><input type="number" class="form-control" ng-model="myFirst.tuesday" />
                                        </div>

                                        <div class="col-sm-2">
                                            <label>Wed</label><input type="number" class="form-control" ng-model="myFirst.wednesday"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Thu</label><input type="number" class="form-control" ng-model="myFirst.thursday" />
                                        </div>

                                        <div class="col-sm-2">
                                            <label>Fri</label><input type="number" class="form-control" ng-model="myFirst.friday" />
                                        </div>
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-2">
                                            <label>Sat</label><input type="number" class="form-control" ng-model="myFirst.saturday" />
                                        </div>

                                       
                                    </div>

                                    <div class="col-sm-12">Comment <textarea class="form-control gray-box-rounded" ng-model="myFilteringdata.comment"></textarea></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="editingExercises()" data-dismiss="modal">Apply All</button>
                            <button class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hep-list-container" ng-if="dataItemList"style="margin-top:0px;">
        <div class="col-sm-12">
            <div class="row img-list-item" ng-repeat="item in dataItemList  track by $index ">
                <hep-list-item ng-if="item.type=='Normal'"
                               data="item"
                               is-first="$first"
                               is-last="$last"
                               delete-fn="deleteNormalItem(obj)"
                               move-up="moveUp($index)"
                               move-down="moveDown($index)">
                </hep-list-item>

                <hep-group-item ng-if="item.type=='Group'"
                                edit-group-fn="editGroup(item)"
                                data="item"
                                is-first="$first"
                                is-last="$last"
                                delete-group-fn="deleteGroup(obj)"
                                un-group-item-fn="unGroupItem(dataObj)"
                                move-up="moveUp($index)"
                                move-down="moveDown($index)">
                </hep-group-item>

            </div>
        </div>
    </div>


    <div ng-if="!(dataModel && dataModel.id)" class="text-center">
        <h2 class="gray-text">Case does not have exercise plan.</h2>
        <h3 class="gray-text">Do you want to create new plan?</h3>
        <br />
        <button class="btn btn-default btn-rounded-button btn-blue" ui-sref="care-plan-add({patientId:patientId,caseId:caseId})">Create Care Plan</button>
    </div>

    
    <!--<div class="row" ng-if="dataModel && dataModel.id">

        <div class="col-sm-6">
            <a class="btn btn-default btn-gray" target="_blank" href="api/HepMasters/{{caseId}}/{{patientId}}/Print/export_hep">Print</a>
               &nbsp;&nbsp;
            <button class="btn btn-default btn-gray" ng-click="emailHEP()" type="button" >Email</button>
               &nbsp;&nbsp;
            <a class="btn btn-default btn-gray" target="_blank" href="api/HepMasters/{{caseId}}/{{patientId}}/Export/export_hep">Export PDF</a>

        </div>
        <div class="col-sm-6">
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-rounded-button btn-gray" ng-click="onSave(true)">Save as Draft</button>
                
            </span>
        </div>

    </div>-->

</div>
