<div class="container-fluid" style="margin-top:10px;">
    <form name="forgotPasswordForm" ng-submit="ForgotPasswordCtrl.submitQuery(forgotPasswordForm)" novalidate="">
        <div class="panel panel-default custom-panel inner-panel">
            <div class="panel-heading">
                <span class="panel-title">Forgot Password</span>
            </div>
            <div class="panel-body" style="width:100%;">
                <div class="change-password-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    User Name
                                    <span class="requireStyle">*</span>
                                </label>
                                <input type="text" class="form-control"
                                       ng-model="ForgotPasswordCtrl.model.userName"
                                       id="userName" name="userName"
                                       placeholder="Username" required="required">
                                <ng-vadlidator-message ng-element-name="userName">
                                </ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-orange btn-fixed-width">
                                        Submit
                                    </button>
                                    &nbsp;
                                    <a href="/" class="btn btn-default btn-gray btn-fixed-width">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>