<div class="admin-wrap two-column tabs-wrap">
    <form name="companyConfigurationForm" novalidate ng-submit="CompanyConfigurationCtrl.saveCompanyConfiguration(companyConfigurationForm)">
        <div class="row">
            <div class="col-md-3">
                <div class="cba-properties-form white-panel-box">
                    <edz-tab-links edz-current-tab="CompanyConfigurationCtrl.currentTab" ng-repeat="tab in ::CompanyConfigurationCtrl.companyConfigurationTabList track by tab.id">
                        <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::CompanyConfigurationCtrl[tab.id + '_Click']"
                                      ng-if="::!CompanyConfigurationCtrl[tab.id + '_Condition']() && tab.visible">
                            {{tab.name}}
                        </edz-tab-link>
                    </edz-tab-links>
                </div>
            </div>
            <div class="col-md-9">
                <edz-tab-bodies edz-current-tab="CompanyConfigurationCtrl.currentTab">
                    <edz-tab-body edz-tab-id="companySettings" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'companySettings'}">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading">
                                <span class="panel-title">Company Configuration</span>
                            </div>
                            <div class="panel-body company-configuration">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="image-container">
                                            <div class="ico_image_figure">
                                                <img ng-if="CompanyConfigurationCtrl.uploadFileAvatar" style="width:100%" class="img-responsive" ngf-src="this[__controllerName].uploadFileAvatar" />

                                                <div class="profile-picture"
                                                     style="background-image:url('{{CompanyConfigurationCtrl.model.photoFileNameUrl}}')"
                                                     ng-show="CompanyConfigurationCtrl.model.companyLogo && !CompanyConfigurationCtrl.uploadFileAvatar "></div>
                                            </div>
                                            <div class="action-bar">
                                                <button type="submit" class="display-none" onclick="return false">11</button>
                                                <button type="file" class="btn btn-default btn-orange btn-fixed-width" ngf-select ngf-change="CompanyConfigurationCtrl.uploadCompanyLogo($file,$invalie)" ng-model="companyLogo"
                                                        accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                                                    EDIT
                                                </button>
                                                <a class="btn btn-default btn-gray btn-fixed-width" ng-click="CompanyConfigurationCtrl.deleteAvatar()">
                                                    DELETE
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" name="companyName" id="companyName" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.companyName" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" class="form-control" name="companyPhoneNumber" id="companyPhoneNumber" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.companyPhoneNumber" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" name="companyEmail" id="companyEmail" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.companyEmail" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Web</label>
                                                    <input type="text" class="form-control" name="companyWeb" id="companyWeb" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.companyWeb" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <textarea rows="4" class="form-control" name="companyAddress" id="companyAddress" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.companyAddress"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </edz-tab-body>
                    <edz-tab-body edz-tab-id="systemMailSettings" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'systemMailSettings'}">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    System Mailing Configurations
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Host Name</label>
                                            <input type="text" class="form-control" placeholder="Host Name" name="hostName" id="hostName" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.hostName" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Port</label>
                                            <input type="text" class="form-control" placeholder="Server Port" name="serverPort" id="serverPort" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.serverPort" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Username/Email</label>
                                            <input type="text" class="form-control" placeholder="Username/Email" name="serverUsername" id="serverUsername" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.serverUsername" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder="Password" name="serverPassword" id="serverPassword" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.serverPassword" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" checked="checked" name="enableSSL" id="enableSSL" ng-model="CompanyConfigurationCtrl.companyConfigurationModel.enableSSL" />
                                                Enable SSL
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </edz-tab-body>
                </edz-tab-bodies>
                <div class="panel panel-default custom-panel" style="padding:0;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-right">
                                    <a href="/" class="btn btn-default btn-light-gray btn-fixed-width">Cancel</a>
                                    <button type="submit" class="btn btn-default btn-blue btn-fixed-width">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



