﻿<div class="item-not-found">
    <div class="panel panel-default custom-panel">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="pageName"><a href="{{::link}}">{{::name}}</a></span>
                <span class="pull-right">
                    <a class="btn btn-default btn-light-gray" href="{{::link}}">
                        Home
                    </a>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1 text-right" style="padding-top:10px;color:#ff8300">
                    <i class="fa fa-warning fa-3x"></i>
                </div>
                <div class="col-xs-11">
                    <div class="error-wrap">
                        <div>This {{::name}} does not exist.</div>
                        <div>To see all {{::name}}s - <a href="{{::link}}">Click Here<i class="fa fa-long-arrow-right"></i></a>.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>