<style>
    .jumbotron {
        padding: 0;
    }
</style>
<irms-not-found irms-name="Resource" irms-link="{{::PatientEditCtrl.resourceHref}}" ng-if="::!PatientEditCtrl.isPatientLoadedCorrectly"></irms-not-found>
<div cg-busy="PatientEditCtrl.loadCorrect"
     ng-if="::PatientEditCtrl.isPatientLoadedCorrectly"
     style=""
     class="patient-edit-page"
     ng-cloak>
    <form name="patientEditForm" ng-submit="PatientEditCtrl.onSave_Click(patientEditForm)" novalidate
          ng-model-options="{ debounce : { default : 400 }}" ng-init="PatientEditCtrl.setFormScope(this)">
        <div class="container-fluid container-wrap container-wrap-aside-left tabs-wrap">
            <div class="row">
                <!--Error Row-->
                <div class="tabs-body" ng-if="formErrorList">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default custom-panel panel-error">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        Please fix following errors
                                    </span>
                                    <span class="pull-right">
                                        <a href="#" ng-click="hideErrorTab()">
                                            &times;
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="(key, errors) in formErrorList track by $index">
                                            <strong>{{ key }}</strong> tab have errors
                                            <ul>
                                                <li ng-repeat="e in errors track by $index" ng-if="e"><strong>{{ e }}</strong> is required.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="z-index:100" ng-cloak ng-if="::PatientEditCtrl.isNewPatient">
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':PatientEditCtrl.leftMenuMaxHeight + 'px'}">
                        <div class="form-tab-card">
                            <div class="img-container">
                                <img ng-if="PatientEditCtrl.uploadFileAvatar" style="width:100%" class="img-responsive img-circle pull-left" ngf-src="PatientEditCtrl.uploadFileAvatar" />
                                <img ng-if="!PatientEditCtrl.uploadFileAvatar && !PatientEditCtrl.model.photoFileNameUrl" src="Client/assets/images/default-user-icon.png" class="img-responsive img-circle pull-left" />
                                <img class="img-responsive img-circle"
                                     ng-src="{{PatientEditCtrl.model.photoFileNameUrl}}"
                                     ng-if="!PatientEditCtrl.uploadFileAvatar && PatientEditCtrl.model.photoFileNameUrl" />
                                <div class="img-actions">
                                    <a href="#" class="btn btn-blue btn-small btn-rounded-button"
                                       type="file" ngf-select ngf-change="PatientEditCtrl.uploadFileAvatarFunc($file, $invalidFiles)" ng-model="picFile"
                                       accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="patient-details">
                                <span class="patient-name">{{PatientEditCtrl.getPatientFullName()}}</span>
                                <span class="patient-id">Patient ID : {{PatientEditCtrl.model.patientNumber}}</span>
                                <span class="action-bar">
                                    <a class="btn-icon btn-icon-dollar-gray"></a>
                                    <a class="btn-icon btn-icon-chat-gray"></a>
                                    <a class="btn-icon btn-icon-mail-gray"></a>
                                </span>
                            </div>
                        </div>

                        <edz-tab-links edz-current-tab="PatientEditCtrl.currentTab" ng-repeat="tab in ::PatientEditCtrl.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::PatientEditCtrl[tab.id + '_Click']"
                                          ng-if="::!PatientEditCtrl[tab.id + '_Condition']() && tab.visible">
                                {{tab.name}}
                            </edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>

                <div class="" ng-cloak ng-class="{'col-md-9':PatientEditCtrl.isNewPatient,'col-md-12':!PatientEditCtrl.isNewPatient}">
                    <div class="patient-fields-container">

                        <div ng-class="{'disable-inputs':!PatientEditCtrl.canUpdateOrInsertButtonDisabled()}">
                            <edz-tab-bodies edz-current-tab="PatientEditCtrl.currentTab">
                                <!-- Patient Details -->
                                <edz-tab-body edz-tab-id="patientDetails" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'patientDetails'}">
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">
                                                            <!--{{PatientEditCtrl.getResourceFullName()}}-->
                                                            {{PatientEditCtrl.getTabDisplayName('patientDetails')}}
                                                        </div>
                                                        <span class="pull-right" style="position: absolute;right: 35px;top: 15px;">
                                                        Created On :&nbsp;{{PatientEditCtrl.model.created|date:'MM/dd/yyyy'}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div>
                                                    <div class="col-md-12" ng-if="PatientEditCtrl.patientDetails.container1.length > 0">
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container1 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" form="patientEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" ng-if="PatientEditCtrl.patientDetails.container2.length > 0">
                                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel" style="box-shadow: 0 0 0;">
                                                            <div class="panel-heading">
                                                                <div class="panel-title">
                                                                    <div class="detail-top-section">
                                                                        <div class="detail-panel-title">Contact Information</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container2 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" form="patientEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12" ng-if="PatientEditCtrl.patientDetails.container3.length > 0">
                                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel" style="box-shadow: 0 0 0;">
                                                            <div class="panel-heading">
                                                                <div class="panel-title">
                                                                    <div class="detail-top-section">
                                                                        <div class="detail-panel-title">Emergency Contact</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container3 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12"
                                                         ng-if="PatientEditCtrl.patientDetails.container4.length > 0 || PatientEditCtrl.patientDetails.container5.length > 0 || PatientEditCtrl.patientDetails.container6.length > 0">
                                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel" style="box-shadow: 0 0 0;">
                                                            <div class="panel-heading">
                                                                <div class="panel-title">
                                                                    <div class="detail-top-section">
                                                                        <div class="detail-panel-title">Other</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container4 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container5 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.patientDetails.container6 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Personal Info -->
                                    </div>
                                </edz-tab-body>

                                <!-- Patient Cases -->
                                <edz-tab-body edz-tab-id="patientCases" edz-tab-content-class="tab-inner" ng-if="PatientEditCtrl.isNewPatient"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'patientCases'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('patientCases')}}
                                                    <div class="pull-right">
                                                        <button type="button"
                                                                ng-click="PatientEditCtrl.onAddNewCaseButtonClick()"
                                                                class="btn btn-default btn-rounded-button btn-blue">
                                                            <i class="fa fa-plus"></i>
                                                            Add New Case
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body case-body-container">
                                                <ng-form novalidate ng-isolate-form name="availabilityList" ng-cloak>
                                                    <ui-grid-table ng-get="PatientEditCtrl.getPatientCaseList"
                                                                   ng-option="PatientEditCtrl.getPatientCaseTableOptions"
                                                                   ng-table-command="PatientEditCtrl.getPatientCaseReloadCommand"
                                                                   ng-delete="PatientEditCtrl.onPatientCaseDelete"
                                                                   ng-on-responce-transform="PatientEditCtrl._onPatientCasesResponseTransform">
                                                    </ui-grid-table>
                                                </ng-form>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- Schedule History -->
                                <edz-tab-body edz-tab-id="schedualHistory" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'schedualHistory'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('schedualHistory')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- documents -->
                                <edz-tab-body edz-tab-id="documents" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'documents'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('documents')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <!--<h3 class="text-center">In Progress</h3>-->
                                                <!--<digital-forms></digital-forms>-->
                                                <attachment-documents></attachment-documents>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- communication -->
                                <edz-tab-body edz-tab-id="communication" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'communication'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('communication')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <patient-communication></patient-communication>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- billing -->
                                <edz-tab-body edz-tab-id="billing" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'billing'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('billing')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- chartNotes -->
                                <edz-tab-body edz-tab-id="chartNotes" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'chartNotes'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('chartNotes')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- outcomes -->
                                <edz-tab-body edz-tab-id="outcomes" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'outcomes'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('outcomes')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- mobileAccess -->
                                <edz-tab-body edz-tab-id="mobileAccess" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'mobileAccess'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('mobileAccess')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Username</label><!--<span class="requireStyle">*</span>-->
                                                                <input type="text" class="form-control"  ng-model="PatientEditCtrl.model.patientUserInfo.userName" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Password</label><!--<span class="requireStyle">*</span>-->
                                                                <input type="password" class="form-control"  ng-model="PatientEditCtrl.model.patientUserInfo.password" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <span class="pull-right">
                                                                <!--<button type="button" class="btn btn-default btn-normal-size btn-gray">Send Email</button>
                                                                &nbsp;&nbsp;-->
                                                                <button type="button" class="btn btn-default btn-normal-size btn-blue" ng-click="PatientEditCtrl.saveMobileAccess()">Save</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- logHistory -->
                                <edz-tab-body edz-tab-id="logHistory" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'logHistory'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('logHistory')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                                <!-- CustomFields--->
                                <edz-tab-body edz-tab-id="other" edz-tab-content-class="tabs-summary" ng-model-options="{ debounce : { default : 0 }, tabValidationName : 'other'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('other')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container1 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container2 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container3  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container4  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientEditCtrl.otherContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- summary -->
                                <edz-tab-body edz-tab-id="summary" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'summary'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientEditCtrl.getResourceFullName()}} {{PatientEditCtrl.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="PatientEditCtrl.onCancelButtonClick()">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="submit" class="btn btn-save" ng-disabled="!PatientEditCtrl.canUpdateOrInsertButtonDisabled()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
