<style>
    .fc-today-button {
        text-transform: capitalize;
    }
</style>
<div class="calendar-page tabs-wrap" cg-busy="CalendarCtrl.loadCalendarProgress">
    <form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="cba-properties-form white-panel-box">
                        <ul class="tab-calendar-list">
                            <li ng-if="tab.visible"
                                ng-repeat="tab in ::CalendarCtrl.calendarTypes track by tab.id"
                                class="{{tab.cssClass}}"  ng-click="refresh(tab)" 
                                >
                                <label  style="display:inline-block;padding:3px 10px" >
                                    <input type="checkbox" ng-model="tab.isChecked" ng-click="refresh(tab)" />
                                    {{tab.name}}
                                </label>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10">
                    <div class="tabs-body" style="padding-top:15px;">
                        <div class="panel panel-default custom-panel">
                            <!--<div class="panel-heading">
                                <span class="panel-title">
                                    {{CalendarCtrl.pageTitle}}
                                </span>
                            </div>-->
                            <div class="panel-body">
                                <!--<div class="row calendar-title-row">
                                    <div class="col-md-4">
                                        <div class="btn-group">

                                            <button class="btn btn-default"
                                                    ng-click="changeCurrentDay('prev', 'myCalendar')"

                                                    >
                                                <i class="fa fa-angle-double-left"></i>
                                            </button>
                                            <button class="btn btn-default"
                                                    ng-click="changeCurrentDay('today', 'myCalendar')"
                                                    >
                                                Today
                                            </button>
                                            <button class="btn btn-default"
                                                    ng-click="changeCurrentDay('next', 'myCalendar')">
                                                <i class="fa fa-angle-double-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center calendar-title">
                                            {{CalendarCtrl.calendarTitle}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <div class="btn-group">

                                                <label class="btn btn-default"  ng-click="changeView('month', 'myCalendar')"  >Month</label>
                                                <label class="btn btn-default"  ng-click="changeView('agendaWeek', 'myCalendar')"  >Week</label>
                                                <label class="btn btn-default"  ng-click="changeView('agendaDay', 'myCalendar')"  >Day</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-12">

                                        <div ui-calendar="uiConfig.calendar"
                                             ng-model="eventSources"
                                             calendar="myCalendar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>