﻿<li ng-class="{active: isActive(), 'validation-tab' : !validTab}" ng-click="onTabLink_Click()">

    <div class="icon icon-{{tabId}}">&nbsp;</div>
    <a ng-transclude>
    </a>
    <div class="error icon-error" ng-show="!validTab"></div>
</li>