<div class="availability-vs-demand" cg-busy="RolesAvailabilityVsDemandCtrl.loadPage">
    <div class="panel panel-default custom-panel">
        <div class="panel-heading">
            <span class="panel-title">
                Availability Vs Demand
                <span class="pull-right">
                    <button type="button" class="btn btn-default btn-gray" ng-click="RolesAvailabilityVsDemandCtrl.allResourceButtonClick()">All Resource</button>
                </span>
            </span>
        </div>
        <div class="panel-body">
            <div class="container-fluid container-wrap container-rol container-wrap-aside-left">
                <div class="row">
                    <form name="filterForm" novalidate ng-model-options="{ debounce : { default : 400 } }"
                          ng-submit="RolesAvailabilityVsDemandCtrl.getDataFromServier(filterForm)">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label">Date From</label>
                                <div class="datapicer-group">
                                    <input date-time class="form-control" min-view="date" name="start" format="MM/DD/YYYY" auto-close="true" ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.start"
                                           ng-less-than-date-time="RolesAvailabilityVsDemandCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label">Date To</label>
                                <div class="datapicer-group">
                                    <input date-time class="form-control" min-view="date" name="end" format="MM/DD/YYYY" auto-close="true" ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label">For</label>
                                <ui-select ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.timeRange"
                                           on-select="RolesAvailabilityVsDemandCtrl.onTimeRangeChange()"
                                           ng-required="true"
                                           name="timeRange"
                                           ng-model-options="{ debounce : { default : 100 }}">
                                    <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="timeRange in RolesAvailabilityVsDemandCtrl.timeRangeEnum">
                                        {{::timeRange}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group text-center" style="padding-top:20px;">
                                <button class="btn btn-default btn-orange" type="submit">Apply</button>
                                &nbsp;
                                <button type="button" class="btn btn-default btn-gray"
                                        ng-click="RolesAvailabilityVsDemandCtrl.isDetailedMode = !RolesAvailabilityVsDemandCtrl.isDetailedMode">
                                    {{RolesAvailabilityVsDemandCtrl.isDetailedMode? "Detailed Availability" : "Roles Availability" }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div> <!-- Filter Row -->
            </div> <!--Container-->
        </div> <!--Panel Body-->
    </div> <!--Panel-->

    <style type="text/css">
        .my-popover {
            left:30% !important;
            top:41% !important;
        }
    </style>

    <div class="panel panel-default custom-panel">
        <div class="panel-body">
            <div style="overflow:auto;">

                <!--<a href="#" title="Header" data-toggle="popover" data-content="Some content">Click Me</a><br>-->
                <!--<button popover-placement="top-left"
                        ng-mouseleave="popoverIsOpen=false"
                        ng-mouseenter="popoverIsOpen=true"
                        popover-is-open="popoverIsOpen"
                        uib-popover-html="'<table><tr><td>Sample</td></tr></table>'"
                        type="button" class="btn btn-default">
                    Mouseenter
                    
                </button>-->


                <img popover-placement="top-left"
                     ng-click="RolesAvailabilityVsDemandCtrl.onAvailabilityImageClick()"
                     ng-mouseleave="popoverIsOpen=false"
                     popover-class="my-popover"
                     ng-mouseenter="popoverIsOpen=true"
                     popover-is-open="popoverIsOpen"
                     uib-popover-html="popOverHtml"
                     style="width:170%;"
                     src="Client/assets/images/DemoImages/sampleAVD.PNG" />

                <!--class="img-responsive" style="width:100%;">-->
            </div>
        </div>
    </div>


</div> <!--Main Wrapper-->
<!--Right Side Data View-->
<!--

    <div id="childWrapper2" ng-if="!RolesAvailabilityVsDemandCtrl.isDetailedMode">
        <div class="panel panel-default custom-panel" style="padding:0;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 overflow-scroll">
                        <div class="row" ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                            <div class="col-md-12">
                                <button class="btn btn-default btn-light-gray btn-fixed-width pull-left"
                                        style="margin-bottom:15px;"
                                        ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                                &nbsp;
                                <span style="display: table-cell; padding: 8px; position: relative; top: -22px; background-color: #e4e4e4; left: 8px; font-weight: 600; color: black;">
                                    {{RolesAvailabilityVsDemandCtrl.jobTitleName}}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="role-avd-table" ng-table="RolesAvailabilityVsDemandCtrl.tableParams">
                                    <tbody>
                                        <tr>
                                            <!-- fix column --
                                            <td class="fix-td" valign="top">
                                                <table class="table table-striped table-condensed ng-table" style="margin:0;">
                                                    <thead>
                                                        <!--<tr>
                                                            <th class="header">&nbsp;</th>
                                                        </tr>--
                                                        <tr>
                                                            <th class="header sortable" style="border-bottom:1px solid rgba(0,0,0,0.2);border-left:1px solid rgba(0,0,0,0.2)"
                                                                ng-class="{'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                                                  'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'}">

                                                                <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                                                    <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                                                        Resource
                                                                    </span>
                                                                </span>
                                                                <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator"
                                                                      ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                                    Role
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data">
                                                            <td style="min-height:62px; height:62px;border-left:1px solid rgba(0,0,0,0.2); border-right:1px solid rgba(0,0,0,0.2); border-top:1px solid rgba(0,0,0,0.2);padding-left:10px;padding-right:10px;background-color:white;">
                                                                <a href=""
                                                                   style="color:gray;font-weight:normal;white-space:nowrap;"
                                                                   ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)"
                                                                   title="{{::row.jobTitleName}}"
                                                                   ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(row.jobTitleId, row.jobTitleName)">
                                                                    {{::row.jobTitleName}}
                                                                </a>
                                                                <a href=""
                                                                   style="color:gray;font-weight:normal;white-space:nowrap;"
                                                                   ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)"
                                                                   ng-click="RolesAvailabilityVsDemandCtrl.onResource_Click(row.resourceId)"
                                                                   title="{{::row.resourceName}}">{{::row.resourceName}}</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <!-- scroll content--
                                            <td class="scroll-td" valign="top">
                                                <div class="scroll">
                                                    <table class="table table-striped table-condensed ng-table">
                                                        <thead>
                                                            <tr>
                                                                <th style="border-bottom:1px solid rgba(0,0,0,0.2); border-left:1px solid rgba(0,0,0,0.2); width:150px; min-width:150px;text-align:center;background-color:transparent;"
                                                                    ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                                                    <span class="text-center">{{::column.name}}</span>
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data track by row.id">
                                                            <td ng-repeat="col in row.infoByDates track by col.startDate"
                                                                ng-class="{'border-left' : $index == 0}"
                                                                style="min-height:62px; height:62px;border-left:1px solid rgba(0,0,0,0.2); border-right:1px solid rgba(0,0,0,0.2); border-top:1px solid rgba(0,0,0,0.2);padding-left:10px;padding-right:10px;background-color:white;">
                                                                <availability-bar-role-field ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" ng-column="col"></availability-bar-role-field>
                                                                <availability-bar-field ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" ng-column="col" ng-fixed-to="2"></availability-bar-field>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Panel--
    </div> <!--Child Wrapper 2 --

    <div id="childWrapper3" ng-if="RolesAvailabilityVsDemandCtrl.isDetailedMode">
        <div class="panel panel-default custom-panel" style="padding:0;">
            <div class="panel-body" style="padding:0;">
                <div class="row">
                    <div class="col-md-12 overflow-scroll">
                        <div ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                            <div class="col-md-12" style="border-bottom:1px solid rgba(0,0,0,0.2);padding-top:18px;">
                                <button class="btn btn-default btn-light-gray btn-fixed-width pull-left"
                                        style="margin-bottom:15px;"
                                        ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">
                                    <i class="fa fa-arrow-left"></i>
                                </button>
                                &nbsp;
                                <span style="display: table-cell; padding: 8px; position: relative; top: -22px; background-color: #e4e4e4; left: 8px; font-weight: 600; color: black;">
                                    {{RolesAvailabilityVsDemandCtrl.jobTitleName}}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="fix-grid-content">
                                    <div class="fix-left-colum">
                                        <div class="row-hedad sortable" ng-class="{'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                          'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'}">
                                            <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                                <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                                    Resource Name
                                                </span>
                                            </span>
                                            <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator" ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                Role
                                            </span>
                                        </div>

                                        <div ng-repeat="title in RolesAvailabilityVsDemandCtrl.data">
                                            <div class="row-item" ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)">
                                                <a href="#" ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(title.jobTitleId, title.jobTitleName)">
                                                    {{::title.jobTitleName}}
                                                </a>
                                            </div>
                                            <div ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="row-item">
                                                <a href="#" ng-click="RolesAvailabilityVsDemandCtrl.onResource_Click(title.resourceId)">
                                                    {{::title.resourceName}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-content-colum">
                                        <div class="grid-heading">
                                            <div class="items" ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                                <span class="item item-top">{{::column.name}}</span>
                                                <span class="item">Demand</span>
                                                <span class="item">Available</span>
                                                <span class="item">Utilization</span>
                                            </div>
                                        </div>
                                        <!-- grid row --
                                        <div class="grid-row" ng-repeat="title in RolesAvailabilityVsDemandCtrl.data track by title.id">
                                            <div class="items" ng-repeat="info in title.infoByDates track by info.startDate">
                                                <span class="item">{{::info.totalDemandResources}}</span>
                                                <span class="item">{{::info.totalAvailableResources}}</span>
                                                <span class="item" ng-class="::{ 'medium' : info.isMediumClass, 'cretical' : info.isCriticalClass}">{{::info.utilization}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



     -->
