<form name="asignResourceForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="RolesAvailabilityVsDemandCtrl.assignResource()">
    <div class="modal-header">
        <h4 class="modal-title subTask-modaltitle">
            <span class="title">Roles - Availability Vs Demand</span>
            <span> - From {{RolesAvailabilityVsDemandCtrl.taskFilterFromDate}} To {{RolesAvailabilityVsDemandCtrl.taskFilterToDate}}</span>
        </h4>
    </div>
    <div class="modal-body modal-body-task">
        <div class="container-wrap container-rol container-wrap-aside-left" style="overflow: auto;max-height: 450px;">

            <div class="grid-wrap">

                <div cg-busy="RolesAvailabilityVsDemandCtrl.loadPage" style="max-width:100%">
                    <div ng-if="!RolesAvailabilityVsDemandCtrl.isDetailedMode">
                        <table ng-table="RolesAvailabilityVsDemandCtrl.tableParams">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-default btn-light-gray btn-fixed-width pull-left"
                                                style="margin-bottom:15px;"
                                                ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0"
                                                ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- fix column -->
                                    <td class="fix-td" valign="top">
                                        <table class="table table-striped table-condensed ng-table">
                                            <thead>
                                                <tr>
                                                    <th class="header sortable"
                                                        style="border-bottom:1px solid rgba(0,0,0,0.2);background-color:transparent;"
                                                        ng-class="{
                                                                  'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                                                  'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'
                                                                }">

                                                        <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                                            <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                                                Resource
                                                            </span>
                                                        </span>
                                                        <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator"
                                                              ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                            Role
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data">
                                                    <td style="min-height:62px; height:62px;border-left:1px solid rgba(0,0,0,0.2); border-right:1px solid rgba(0,0,0,0.2); border-top:1px solid rgba(0,0,0,0.2);padding-left:10px;padding-right:10px;background-color:white;">
                                                        <a href=""
                                                           style="color:gray;font-weight:normal;"
                                                           ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)"
                                                           title="{{::row.jobTitleName}}"
                                                           ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(row.jobTitleId)">
                                                            {{::row.jobTitleName}}
                                                        </a>

                                                        <div ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)">
                                                            <label class="checkbox">
                                                                <input style="position:absolute;left:20px;" type="checkbox" ng-model="row.isSelected">
                                                                <a class="labelCheckbox" title="Click to Go to Resource - {{::row.resourceName}}" href="#" ng-click="RolesAvailabilityVsDemandCtrl.redirectOnResourceEdit(row)">
                                                                    {{::row.resourceName}}
                                                                </a>
                                                            </label>
                                                            <br />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- scroll content-->
                                    <td class="scroll-td" valign="top">
                                        <div class="scroll">
                                            <table class="table table-striped table-condensed ng-table">
                                                <thead>
                                                    <tr>
                                                        <th style="border-bottom:1px solid rgba(0,0,0,0.2); width:150px; min-width:150px;text-align:center;background-color:transparent;"
                                                            ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                                            <span class="text-center">{{::column.name}}</span>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data track by row.id">
                                                    <td ng-repeat="col in row.infoByDates track by col.startDate"
                                                        ng-class="{'border-left' : $index == 0}"
                                                        style="min-height:45px; height:45px; background-color:white;border:0;border-right:1px solid rgba(0,0,0,0.1);border-top:1px solid rgba(0,0,0,0.2);">
                                                        <div class="numbers">
                                                            <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="text-info">
                                                                <span class="title title_blue" title="Total number of resources: {{::col.hoursCount.toFixed(1)}}">{{::col.hoursCount.toFixed(1)}}</span>
                                                                <span class="title title_red" title="Demand: {{::col.demand.toFixed(1)}}">{{::col.demand.toFixed(1)}}</span>
                                                                <span class="title title_green" title="Availability: {{::col.available.toFixed(1)}}">{{::col.available.toFixed(1)}}</span>
                                                            </span>
                                                            <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0" class="text-info">
                                                                <span class="title title_blue" title="Total working hours: {{::col.hoursCount.toFixed(1)}} h">{{::col.hoursCount.toFixed(1)}}</span>
                                                                <span class="title title_red" title="Demand: {{::col.demand.toFixed(1)}} h">{{::col.demand.toFixed(1)}}</span>
                                                                <span class="title title_green" title="Availability: {{::col.available.toFixed(1)}} h">{{::col.available.toFixed(1)}}</span>
                                                            </span>
                                                            <div class="progress-bar" ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0" title="Total working hours: {{::col.hoursCount.toFixed(1)}} h">
                                                                <div class="inner inner-red" title="Demand: {{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%"></div>
                                                                <div class="inner inner-green" title="Availability: {{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%"></div>
                                                            </div>
                                                            <div class="progress-bar" ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" title="Total number of resources: {{::col.hoursCount.toFixed(1)}}">
                                                                <div class="inner inner-red" title="Demand: {{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%"></div>
                                                                <div class="inner inner-green" title="Availability: {{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="grid-wrap" ng-if="RolesAvailabilityVsDemandCtrl.isDetailedMode">
                        <div class="fix-grid-content">
                            <div class="fix-left-colum">
                                <div class="row-hedad sortable"
                                     ng-class="{
                                          'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                          'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'
                                        }">
                                    <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                        <button type="button" style="margin: -6px 4px -4px auto;" class="btn btn-default" ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">back</button>
                                        <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                            Resource Name
                                        </span>
                                    </span>
                                    <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator" ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                        Role
                                    </span>
                                </div>
                                <div ng-repeat="title in RolesAvailabilityVsDemandCtrl.data">
                                    <div class="row-item" ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)">
                                        <a href="#"
                                           ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(title.jobTitleId)">
                                            {{::title.jobTitleName}}
                                        </a>
                                    </div>
                                    <div ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="row-item">
                                        <a href="#"
                                           ng-click="RolesAvailabilityVsDemandCtrl.onResource_Click(title.resourceId)">
                                            {{::title.resourceName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-content-colum">
                                <div class="grid-heading">
                                    <div class="items" ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                        <span class="item item-top">{{::column.name}}</span>
                                        <span class="item">Demand</span>
                                        <span class="item">Available</span>
                                        <span class="item">Utilization</span>
                                    </div>
                                </div>
                                <!-- grid row -->
                                <div class="grid-row" ng-repeat="title in RolesAvailabilityVsDemandCtrl.data track by title.id">
                                    <div class="items" ng-repeat="info in title.infoByDates track by info.startDate">
                                        <span class="item">{{::info.demand.toFixed(1)}}</span>
                                        <span class="item">{{::info.available.toFixed(1)}}</span>
                                        <span class="item" ng-class="::{ 'medium' : info.isMediumClass,'cretical' : info.isCriticalClass}">{{::info.utilization}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-light-gray btn-fixed-width" ng-click="RolesAvailabilityVsDemandCtrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success btn-orange btn-fixed-width">Save</button>
    </div>
</form>