<div class="title">
    <h1>
        <span class="pageName">Roles - Availability vs Demand </span>
        <button type="button" class="btn btn-default ResourcesReport Availability vs Demand" ng-click="RolesAvailabilityVsDemandCtrl.isDetailedMode = !RolesAvailabilityVsDemandCtrl.isDetailedMode">
            {{RolesAvailabilityVsDemandCtrl.isDetailedMode? "Detailed Availability" : "Roles Availability" }}
        </button>
    </h1>
</div>
<div class="container container-wrap container-rol container-wrap-aside-left">
    <div class="cba-properties-form">
        <form name="filterForm" novalidate ng-model-options="{ debounce : { default : 400 } }" ng-submit="RolesAvailabilityVsDemandCtrl.getDataFromServier(filterForm)">
            <div class="form-group">
                <label class="form-control-label">Date From</label>
                <div class="datapicer-group">
                    <input date-time class="form-control" min-view="date" name="start" format="MM/DD/YYYY" auto-close="true" ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.start"
                           ng-less-than-date-time="RolesAvailabilityVsDemandCtrl.tableRequest.end" required>
                    <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">Date To</label>
                <div class="datapicer-group">
                    <input date-time class="form-control" min-view="date" name="end" format="MM/DD/YYYY" auto-close="true" ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.end" required>
                    <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">For</label>
                <ui-select ng-model="RolesAvailabilityVsDemandCtrl.tableRequest.timeRange" ng-required="true" name="timeRange" ng-model-options="{ debounce : { default : 100 }}">
                    <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="timeRange in RolesAvailabilityVsDemandCtrl.timeRangeEnum">
                        {{::timeRange}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="line"></div>
            <button class="btn btn-default btn-maxsize" type="submit">Apply</button>
        </form>
    </div>
    <div class="grid-wrap">
        <div cg-busy="RolesAvailabilityVsDemandCtrl.loadPage">
            <div ng-if="!RolesAvailabilityVsDemandCtrl.isDetailedMode">
                <ul class="bar-legend role-availability">
                    <li class="item-legend demand">Demand</li>
                    <li class="item-legend available">Availability</li>
                    <li class="item-legend utilization" ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)">Total number of resources</li>
                    <li class="item-legend utilization" ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">Total working hours</li>
                </ul>
                <table ng-table="RolesAvailabilityVsDemandCtrl.tableParams">
                    <tbody>
                        <tr>
                            <!-- fix column -->
                            <td class="fix-td" valign="top">
                                <table class="table table-bordered table-striped table-condensed ng-table">
                                    <thead>
                                        <!--<tr>
                                            <th class="header">&nbsp;</th>
                                        </tr>-->
                                        <tr>
                                            <th class="header sortable"
                                                ng-class="{
                                          'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                          'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'
                                        }">

                                                <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                                    <button style="margin: -6px 4px -4px auto;" class="btn btn-default" ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">back</button>
                                                    <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                                        Resource Name
                                                    </span>
                                                </span>
                                                <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator" ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                    Role
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data">
                                            <td>
                                                <a href="" ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" title="{{::row.jobTitleName}}" ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(row.jobTitleId)">
                                                    {{::row.jobTitleName}}
                                                </a>
                                                <a href="" ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" ng-click="RolesAvailabilityVsDemandCtrl.onResource_Click(row.resourceId)" title="{{::row.resourceName}}">{{::row.resourceName}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <!-- scroll content-->
                            <td class="scroll-td" valign="top">
                                <div class="scroll">
                                    <table class="table table-bordered table-striped table-condensed ng-table">
                                        <thead>
                                            <tr>
                                                <th class="header" colspan="1" ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                                    <span class="text-center">{{::column.name}}</span>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tr ng-repeat="row in RolesAvailabilityVsDemandCtrl.data track by row.id">
                                            <td ng-repeat="col in row.infoByDates track by col.startDate">
                                                <div class="numbers">
                                                    <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="text-info">
                                                        <span class="title title_red" title="Demand: {{::col.demand.toFixed(1)}}">{{::col.demand.toFixed(1)}}</span>
                                                        <span class="title title_green" title="Availability: {{::col.available.toFixed(1)}}">{{::col.available.toFixed(1)}}</span>
                                                        <span class="title title_blue" title="Total number of resources: {{::col.hoursCount.toFixed(1)}}">{{::col.hoursCount.toFixed(1)}}</span>
                                                    </span>
                                                    <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0" class="text-info">
                                                        <span class="title title_red" title="Demand: {{::col.demand.toFixed(1)}} h">{{::col.demand.toFixed(1)}}</span>
                                                        <span class="title title_green" title="Availability: {{::col.available.toFixed(1)}} h">{{::col.available.toFixed(1)}}</span>
                                                        <span class="title title_blue" title="Total working hours: {{::col.hoursCount.toFixed(1)}} h">{{::col.hoursCount.toFixed(1)}}</span>
                                                    </span>
                                                    <div class="progress-bar" ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0" title="Total working hours: {{::col.hoursCount.toFixed(1)}} h">
                                                        <div class="inner inner-red" title="Demand: {{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%"></div>
                                                        <div class="inner inner-green" title="Availability: {{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%"></div>
                                                    </div>
                                                    <div class="progress-bar" ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" title="Total number of resources: {{::col.hoursCount.toFixed(1)}}">
                                                        <div class="inner inner-red" title="Demand: {{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsRed(col)}}%"></div>
                                                        <div class="inner inner-green" title="Availability: {{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%" style="width:{{::RolesAvailabilityVsDemandCtrl.calculateWightsGren(col)}}%"></div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--
                <div class="text-center pagination-wrap">
                    <uib-pagination items-per-page="5" max-size="RolesAvailabilityVsDemandCtrl.maxSize" total-items="RolesAvailabilityVsDemandCtrl.totalItems" ng-model="RolesAvailabilityVsDemandCtrl.currentPage" boundary-links="true" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div> 
                -->

            </div>



            <div class="grid-wrap" ng-if="RolesAvailabilityVsDemandCtrl.isDetailedMode">
                <div class="fix-grid-content">
                    <div class="fix-left-colum">
                        <div class="row-hedad sortable"
                             ng-class="{
                                          'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                          'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'
                                        }">
                            <span ng-if="RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0">
                                <button style="margin: -6px 4px -4px auto;" class="btn btn-default" ng-click="RolesAvailabilityVsDemandCtrl.back_Click()">back</button>
                                <span ng-click="RolesAvailabilityVsDemandCtrl.sort()" class="sort-indicator">
                                    Resource Name
                                </span>
                            </span>
                            <span ng-if="!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="sort-indicator" ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                Role
                            </span>
                        </div>
                        <div ng-repeat="title in RolesAvailabilityVsDemandCtrl.data">
                            <div class="row-item" ng-if="::!(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)">
                                <a href
                                   ng-click="RolesAvailabilityVsDemandCtrl.onJobTitle_Click(title.jobTitleId)">
                                    {{::title.jobTitleName}}
                                </a>
                            </div>
                            <div ng-if="::(RolesAvailabilityVsDemandCtrl.jobTitleSelectId  > 0)" class="row-item">
                                <a href
                                   ng-click="RolesAvailabilityVsDemandCtrl.onResource_Click(title.resourceId)">
                                    {{::title.resourceName}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-content-colum">
                        <div class="grid-heading">
                            <div class="items" ng-repeat="column in RolesAvailabilityVsDemandCtrl.headers track by column.id">
                                <span class="item item-top">{{::column.name}}</span>
                                <span class="item">Demand</span>
                                <span class="item">Available</span>
                                <span class="item">Utilization</span>
                            </div>
                        </div>
                        <!-- grid row -->
                        <div class="grid-row" ng-repeat="title in RolesAvailabilityVsDemandCtrl.data track by title.id">
                            <div class="items" ng-repeat="info in title.infoByDates track by info.startDate">
                                <span class="item">{{::info.demand.toFixed(1)}}</span>
                                <span class="item">{{::info.available.toFixed(1)}}</span>
                                <span class="item" ng-class="::{ 'medium' : info.isMediumClass,
                            'cretical' : info.isCriticalClass}">{{::info.utilization}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

