
<nav class="navbar navbar-default custom-navbar" ng-controller="NavbarCtrl">
    <div class="container-fluid" ng-if="isAuthenticated()">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#IRMS_Navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand" style="padding-top: 10px; padding-bottom: 8px; max-width: 120px; padding-left: 31px;" ng-click="homePage()">
                <img src="Client/assets/images/MyIntelCare-Logo.png" style="width: 80px;" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="IRMS_Navbar">
            <ul class="nav navbar-nav navbar-left">
                <li ng-repeat="item in menu"
                    ng-class="{active: isActive(item.state, item.associatedState),'dropdown':item.children}"
                    ng-show="isVisibleMainMenu(item)">
                    <a ng-if="item.specialType" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <!--<span class="icon {{item.iconClass}}"></span>-->
                        
                            {{item.title}}
                            
                        <span class="chat-notif-badge" ng-show="communicationNotifList && communicationNotifList.length > 0">{{communicationNotifList.length}}</span>
                        
                    </a>

                    <ul ng-if="item.specialType" class="dropdown-menu comm-dropdown">

                        <li ng-repeat="notifItems in communicationNotifList"
                            ng-click="onMessageItemClick(notifItems,$index)"
                            ng-class="{'divider': child.role.length > 0}">
                            <a class="nav-link list-item">
                                <div class="row">
                                    <div class="col-sm-2" style="padding-left:0px;">
                                        <img ng-src="{{notifItems.imgUrl?notifItems.imgUrl:'Client/assets/images/userIco.png'}}" class="img-circle" alt="Cinque Terre" width="48" height="48">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="session-title">{{notifItems.title}}</div>
                                        <div class="session-sub-title">{{notifItems.subTitle}}</div>
                                    </div>

                                </div>
                            </a>

                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="row bottom-section">
                                <div class="col-sm-6 go-to"><a ui-sref="communication.chat">Go to Chat</a></div>
                                <div class="col-sm-6 go-to"><a href="#">Go to Mail</a></div>
                            </div>
                        </li>
                    </ul>


                    <a ng-if="!item.specialType &&item.children" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <!--<span class="icon {{item.iconClass}}"></span>-->
                        {{item.title}}
                    </a>
                    <ul ng-if="!item.specialType && item.children" class="dropdown-menu">
                        <li ng-repeat="child in item.children"
                            role="{{child.role}}"
                            ng-class="{'divider': child.role.length > 0}"
                            ng-show="isVisibleMainMenu(child,item) || isVisibleParentMenu(child)">
                            <a ng-if="!child.role" class="nav-link" ui-sref="{{child.state}}">
                                {{child.title}}
                            </a>
                        </li>
                    </ul>

                    <a ng-if="!item.specialType && !item.children" class="nav-link" ui-sref="{{item.state}}">
                        <!--<span class="icon {{item.iconClass}}"></span>-->
                        {{item.title | translate}}
                    </a>
                </li>
            </ul>
            <!-- Single button -->
            <ul class="navbar-top nav navbar-nav navbar-right" ng-if="isAuthenticated()">
                <!-- System Search Menu -->
                <!--    Temporary Hidden -->
                <!--<li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                    <div id="elastic_search_menu" class="dropdown-menu" style="width:300px;" title="Search in everywhere">
                        <form ng-submit="elasticSearchButtonClick()">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="elasticSearch.searchPhrase" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"
                                            ng-click="elasticSearchButtonClick()"
                                            title="Search" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>-->

                <li class="dropdown notification-container">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                        <span class="notif-badge" ng-if="notificationList && notificationList.length > 0">{{notificationList.length}}</span>
                        <i class="icon icon-notification" ng-class="{'active': notificationList.length > 0}"></i>
                    </a>
                    <ul class="dropdown-menu" style="background-color:white;">
                        <li ng-repeat="notif in notificationList" ng-click="onNotifClick(notif,$index)">
                            <a>
                                <div class="notif-title gray-text">{{notif.Title}}</div>
                                <div class="notif-sub-title gray-text" ng-if="notif.subTitle" ng-bind-html="notif.subTitle"></div>
                            </a>
                        </li>
                        <li ng-if="!(notificationList && notificationList.length>0)">
                            <div style="margin:5px;" class="notif-sub-title gray-text text-center">No New Notifications.</div>
                        </li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#" title="{{getUserName()}}" ng-bind-html="getUserName()"></a>
                </li>
                <li class="btn-group dropdown" uib-dropdown is-open="status.isopen">
                    <a style="font-size: 20px;"
                       class="nav-link"
                       uib-dropdown-toggle ng-disabled="disabled"
                       ng-click="openMenu()" id="mainmenu">
                        <i class="icon icon-menu-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
