<div class="chat-parent" cg-busy="isLoading">
    <div class="row">
        <div class="col-sm-4 chat-list-container">
            

            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs chat-tab">
                        <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
                            <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                        </li>
                    </ul>

                    <div class="tab-content chat-tab-body">
                        <!--Tab 1-->
                        <div id="chat-window" class="tab-pane fade in chat-tab-body"
                             ng-class="{'active': isTabSelected('patient')}"
                             ng-show="isTabSelected('patient')">
                            <div style="padding:0px 15px 0px 15px">
                                

                                <br/>
                                <div >
                                    <div class="input-group input-group-lg chat-search-box">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                                        <input type="text" 
                                               class="form-control"
                                               placeholder="Search" 
                                               ng-model="searchPatient"
                                               />
                                    </div>

                                    <button  type="button" class="btn btn-default btn-blue circle-btn new-msg-btn" ui-sref="communication.chat.contacts({view:'patients'})">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </button>
                                </div>

                                
                                <div class="session-list-parent">
                                    <div class="row session-item" ng-repeat="item in patientList|filter:searchPatient" ng-click="openChat(item)">
                                        <div class="col-sm-2">
                                            <img ng-src="{{item.otherUser.photoFileNameUrl?item.otherUser.photoFileNameUrl:'Client/assets/images/userIco.png'}}" class="img-circle pull-right" alt="" width="52" height="52">
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="session-title">{{item.otherUser.lastName+" "+item.otherUser.firstName}}</div>
                                            <div class="session-sub-title">{{item.otherUser.role}}</div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>


                        <!--Tab 2-->
                        <div id="templates" class="tab-pane fade in chat-tab-body"
                             ng-class="{'active': isTabSelected('staff')}"
                             ng-show="isTabSelected('staff')">
                            <div style="padding:0px 15px 0px 15px">
                                

                                <br />
                                <div>
                                    <div class="input-group input-group-lg chat-search-box">
                                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Search"
                                               ng-model="searchStaff" />
                                    </div>
                                    <button type="button" class="btn btn-default btn-blue circle-btn new-msg-btn" ui-sref="communication.chat.contacts({view:'staff'})">
                                        <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div class="session-list-parent">
                                    <div class="row session-item" ng-repeat="item in stafList|filter:searchStaff" ng-click="openChat(item)">
                                        <div class="col-sm-2">
                                            <img ng-src="{{item.otherUser.photoFileNameUrl?item.otherUser.photoFileNameUrl:'Client/assets/images/userIco.png'}}" class="img-circle pull-right" alt="" width="52" height="52">
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="session-title">{{item.otherUser.lastName+" "+item.otherUser.firstName}}</div>
                                            <div class="session-sub-title">{{item.otherUser.role}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>

           

        </div>

        <div class="col-sm-8 chat-box-container">
            <div ui-view="chatBox"></div>
        </div>

    </div>
</div>