<div cg-busy="isChatLoading">

    <!--isChatLoading:{{isChatLoading}}-->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{session.otherUser.lastName+" "+session.otherUser.firstName}}</h3>
            <h5>{{session.otherUser.role}}</h5>
        </div>
    </div>
    <div style="height:2px; background-color:#EAEFF2;margin-top:5px;margin-left:-24px;"></div>

    <div class="chat-msg-list-container">
        <div class="row" ng-repeat="message in messageList track by $index">
            <div class="col-sm-9 col-sm-offset-3" ng-if="chatCurrentUser.identity==message.author">
                <div class="chat-msg-item pull-right" >
                    <div class="chat-blue-bubble  ">
                        <span style="word-break:break-all">
                            {{message.body}}
                        </span>
                    </div>
                    <div>
                        {{$scope.chatCurrentUser}}
                    </div>
                    <div class="chat-time">{{message.timestamp|date:"hh:mm a"}}</div>
                </div>
            </div>

            <div class="col-sm-9" ng-if="chatCurrentUser.identity!=message.author">
                <div class="chat-msg-item pull-left" >
                    <div class="chat-blue-white">
                        <span style="word-break:break-all">
                            {{message.body}}
                        </span>
                    </div>
                    <div>
                        {{$scope.chatCurrentUser}}
                    </div>
                    <div class="chat-time pull-right">{{message.timestamp|date:"hh:mm a"}}</div>
                </div>

            </div>

        </div>
        
    </div>

    <div style="height:2px; background-color:#EAEFF2;margin-top:5px;margin-left:-24px;"></div>

    <div class="chat-text-container row">
        
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" class="chat-text-box" ng-model="message" ng-keypress="($event.which === 13)?sendMessage():0" placeholder="Type your message here...">
                    <span class="input-group-btn">
                        <button class="chat-send-icon" type="button" ng-click="sendMessage()">Go!</button>
                    </span>
                </div>
            </div>
        
    </div>

    

</div>