﻿<div>
    <div class="project-action-column" uib-dropdown on-toggle="toggled(open)" style="position: absolute; z-index: 1000;top:0;left:30px;">
        <input ng-if="showSelectBulkEdit == 'true'" type="checkbox" ng-model="checkboxModel" ng-change="chkChange(_itemId)" />
        <a ng-if="showSelectBulkEdit != 'true'" class="edit icon-button icon-more" id="simple-dropdown" uib-dropdown-toggle>&nbsp;</a>
        <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown" style="position: absolute; z-index: 1000;">
            <li ng-repeat="button in _buttons" style="float:left;" ng-if=":: (!button.visible  ? true : button.visible(_itemId, _itemName, _itemData))">
                <a href="#" class="{{button.aClasses}}" ng-click="button.click(_itemId, _itemName, _itemData)"></a>
            </li>
        </ul>
    </div>
</div>
