﻿<div class="elastic-search-container" cg-busy="ElasticSearchController.loadCorrect">
    <!-- ElasticSearchController -->
    <div id="top_of_page" class="panel panel-default custom-panel">
        <div class="panel-heading">
            <span class="panel-title">
                IRMS Search
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form ng-submit="ElasticSearchController.elasticSearchButtonClick(ElasticSearchController.queryParams)">
                        <div class="input-group">
                            <input type="text" ng-model="ElasticSearchController.model.search" placeholder="Search" title="Search Everywhere" class="form-control" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-blue btn-fixed-width">
                                    <i class="fa fa-search"></i>&nbsp;Search
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="hiddenPanelForWarning" ng-if="!ElasticSearchController.model.resourceItemCount && !ElasticSearchController.model.projectItemCount">
        <div class="panel panel-default custom-panel warning-panel">
            <div class="panel-body">
                <i class="fa fa-warning"></i>
                <span class="warning-text">Search Terms Returned No Data</span>
            </div>
        </div>
    </div>


    <div id="resource_panel_container" class="panel panel-default custom-panel inner-panel" ng-if="ElasticSearchController.model.resourceItemCount > 0">
        <div class="panel-heading">
            <span class="panel-title">
                Resources
                <i class="label-title panel-title-count-lable" ng-if="ElasticSearchController.model.resourceItemCount > 0">
                    {{ElasticSearchController.model.resourceItemCount}}
                </i>
            </span>
        </div>
        <div class="panel-body">
            <div class="resource-data-list">
                <div class="row" ng-repeat="(resourceFieldKey, resourceFieldValue) in ElasticSearchController.model.resourceList track by resourceFieldValue.id">
                    <div class="col-md-12">
                        <div class="resource-container">
                            <div class="row">
                                <div class="row-eq-height">
                                    <div class="resource-img pull-left col-md-2">
                                        <img class="img-responsive"
                                             ng-if="resourceFieldValue.photoFileNameUrl && resourceFieldValue.photoFileNameUrl.length > 0"
                                             ng-src="{{resourceFieldValue.photoFileNameUrl}}" />
                                        <img class="img-responsive"
                                             ng-if="!resourceFieldValue.photoFileNameUrl"
                                             ng-src="{{'Client/assets/images/default-user-icon.png'}}" />
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-3 resource-section-title wrap-break-words">
                                                <div ui-sref="resourceEdit({id:resourceFieldValue.id})"
                                                     title="Click to check {{resourceFieldValue.name}}"
                                                     ng-bind-html="ElasticSearchController.highLightSearchedText(resourceFieldValue.name)"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Location : </label>
                                                <div class="wrap-break-words" ng-bind-html="ElasticSearchController.highLightSearchedText(resourceFieldValue.location)"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Education : </label>
                                                <div class="wrap-break-words" ng-bind-html="ElasticSearchController.highLightSearchedText(resourceFieldValue.education)"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Industry : </label>
                                                <div class="wrap-break-words" ng-bind-html="ElasticSearchController.highLightSearchedText(resourceFieldValue.industry)"></div>
                                            </div>
                                        </div>

                                        <resource-dynamic-field ng-resource-fields="resourceFieldValue.data"
                                                                ng-highlight-func="ElasticSearchController.highLightSearchedText"></resource-dynamic-field>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ng-table-pager" ng-if="ElasticSearchController.resourcePagination.length">
                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="pagination">
                            <li ng-repeat="page in ElasticSearchController.resourcePagination"
                                ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                ng-switch="page.type">
                                <a ng-switch-when="prev" ng-click="ElasticSearchController.onResourcePageChange(page)">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a ng-switch-when="first" ng-click="ElasticSearchController.onResourcePageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="page" ng-click="ElasticSearchController.onResourcePageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="more" ng-disabled="true">
                                    ...
                                </a>
                                <a ng-switch-when="last" ng-click="ElasticSearchController.onResourcePageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="next" ng-click="ElasticSearchController.onResourcePageChange(page)">
                                    <i class="fa fa-chevron-right"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="project_panel_container" class="panel panel-default custom-panel inner-panel" style="padding:0;" ng-if="ElasticSearchController.model.projectList.length > 0">
        <div class="panel-heading">
            <span class="panel-title">
                {{'Projects' | translate}}
                <i class="label-title panel-title-count-lable" ng-if="ElasticSearchController.model.projectItemCount > 0">
                    {{ElasticSearchController.model.projectItemCount}}
                </i>
            </span>
        </div>
        <div class="panel-body">
            <div class="project-data-list">
                <div class="row"
                     ng-repeat="project in ElasticSearchController.model.projectList track by project.id"
                     ng-init="project.isStackeHolderExpanded=false">
                    <div class="col-md-12" ng-init="project.isDescExpanded=true">
                        <div class="project-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="form-group project-name"
                                       ui-sref="projectEdit({id:project.id,activityId:project.activityTypeId})"
                                       title="Click to check {{project.name}}"
                                       id="project_{{$index}}"
                                       ng-bind-html="ElasticSearchController.highLightSearchedText(project.name)">
                                    </a>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label> <br />
                                        <span ng-bind-html="ElasticSearchController.getEllipsesProjectDesc(project.isDescExpanded, project.description, 350)"></span>
                                        <span ng-if="project.description.length > 350">
                                            <a ng-click="project.isDescExpanded=!project.isDescExpanded">
                                                <span ng-if="project.isDescExpanded">
                                                    More
                                                </span>
                                                <span ng-if="!project.isDescExpanded">
                                                    Less
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'Client Number' | translate}}</label>
                                        <div class="wrap-break-words" ng-bind-html="project.clientNumber"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'Client Name' | translate}}</label>
                                        <div class="wrap-break-words" ng-bind-html="project.clientName"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'NAIC Code' | translate}}</label>
                                        <div class="wrap-break-words" ng-if="project.naicCode" ng-bind-html="project.naicCode"></div>
                                        <div class="wrap-break-words" ng-if="!project.naicCode" ng-bind-html="'----'"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'Internal Industry Code' | translate}}</label>
                                        <div class="wrap-break-words" ng-if="project.internalIndustryCode" ng-bind-html="project.internalIndustryCode"></div>
                                        <div class="wrap-break-words" ng-if="!project.internalIndustryCode" ng-bind-html="'----'"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'Responsible Attorney' | translate}}</label>
                                        <div class="wrap-break-words" ng-if="project.stakeHolders[0].name"
                                             ng-bind-html="project.stakeHolders[0].name"></div>
                                        <div class="wrap-break-words" ng-if="!project.stakeHolders[0].name"
                                             ng-bind-html="'----'"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'Start Date' | translate}}</label>
                                        <div class="wrap-break-words" ng-bind-html="ElasticSearchController.getSystemFormatedDate(project.startDate)"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{'End Date' | translate}}</label>
                                        <div class="wrap-break-words" ng-bind-html="ElasticSearchController.getSystemFormatedDate(project.endDate)"></div>
                                    </div>
                                </div>
                            </div>
                            <project-dynamic-field ng-project-fields="project.data"
                                                   ng-highlight-func="ElasticSearchController.highLightSearchedText"></project-dynamic-field>

                            <div class="row"
                                 ng-if="project.stakeHolders && project.stakeHolders.length > 0">
                                <div class="col-md-12" style="position: relative;">
                                    <div class="panel panel-default custom-panel inner-panel"
                                         style="background-color: transparent; box-shadow: 0 0 0; border: 0;">
                                        <div class="panel-heading" style="position:relative; background-color:transparent;padding-bottom:0;">
                                            <span class="panel-title" style="color:#4396ff;">
                                                {{'Stakeholders' | translate}}
                                            </span>
                                            <span title="Show Stakeholder"
                                                  class="btn btn-gray"
                                                  style="position: absolute; right: -40px; z-index: 1001; top: 0;"
                                                  ng-click="project.isStackeHolderExpanded=!project.isStackeHolderExpanded">
                                                <i class="fa" ng-class="{'fa-angle-up': project.isStackeHolderExpanded, 'fa-angle-down': !project.isStackeHolderExpanded}"></i>
                                            </span>
                                        </div>
                                        <div class="panel-body"
                                             ng-if="project.isStackeHolderExpanded">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="padding: 0 0 !important">
                                                                <span>Name</span>
                                                            </th>
                                                            <th style="padding: 0 0 !important">
                                                                <span>Email</span>
                                                            </th>
                                                            <th style="padding: 0 0 !important">
                                                                <span>Phone</span>
                                                            </th>
                                                            <th style="padding: 0 0 !important">
                                                                <span>Role Name</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="stakeHolder in project.stakeHolders track by $index"
                                                            ng-class="{'row-even':($index % 2 == 0),'row-odd':($index % 2 != 0)}">
                                                            <td style="vertical-align:top;border-width:0;padding:0;line-height:2;">
                                                                <span class="wrap-break-words" ng-bind-html="stakeHolder.name"></span>
                                                            </td>
                                                            <td style="vertical-align:top;border-width:0;padding:0;line-height:2;">
                                                                <span class="wrap-break-words" ng-bind-html="stakeHolder.email"></span>
                                                            </td>
                                                            <td style="vertical-align:top;border-width:0;padding:0;line-height:2;">
                                                                <span class="wrap-break-words" ng-bind-html="stakeHolder.phone | formatphonenumber"></span>
                                                            </td>
                                                            <td style="vertical-align:top;border-width:0;padding:0;line-height:2;">
                                                                <span class="wrap-break-words" ng-bind-html="stakeHolder.stakeHolderRoleName"></span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ng-table-pager" ng-if="ElasticSearchController.projectPagination.length">
                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="pagination">
                            <li ng-repeat="page in ElasticSearchController.projectPagination"
                                ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                ng-switch="page.type">
                                <a ng-switch-when="prev" ng-click="ElasticSearchController.onProjectPageChange(page)">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                                <a ng-switch-when="first" ng-click="ElasticSearchController.onProjectPageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="page" ng-click="ElasticSearchController.onProjectPageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="more" ng-disabled="true">
                                    ...
                                </a>
                                <a ng-switch-when="last" ng-click="ElasticSearchController.onProjectPageChange(page)">
                                    <span ng-bind="page.number"></span>
                                </a>
                                <a ng-switch-when="next" ng-click="ElasticSearchController.onProjectPageChange(page)">
                                    <i class="fa fa-chevron-right"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>