﻿<div class="row searched-field-container" style="position:relative;">
    <div class="{{getContainerClass()}}"
         ng-if="isKeyVisible(resourceValue.field, resourceValue.value, resourceValue.tabId)"
         ng-repeat="(key,resourceValue) in matchingData| limitTo : projectLimitData">
        <div class="form-group" id="resource_{{$index}}">
            <label>{{getResourcecKeyLabel(resourceValue.tabId, resourceValue.field) | stringCamelCase}}</label>
            <div class="wrap-break-words" ng-bind-html="highLightSearchedText(elipssesText(resourceValue.value, matchingData.length,resourceValue.field))"></div>
        </div>
    </div>

    <button type="button" ng-if="matchingData.length > 4" style="position:absolute;right:0;"
            ng-click="expandButtonClick()" class="btn btn-default btn-gray pull-right">
        <i class="fa" ng-class="{'fa-angle-up': isProjectRowExpanded, 'fa-angle-down': !isProjectRowExpanded}"></i>
    </button>
</div>