﻿<div class="row searched-field-container" style="position:relative;">
    <div class="{{getContainerClass()}}"
         ng-if="isKeyVisible(resourceValue.field, resourceValue.value)"
         ng-repeat="(key,resourceValue) in matchingData track by $index | limitTo:limitData ">
        <div class="form-group" id="resource_{{$index}}">
            <label>{{getResourceKeyLabel(resourceValue.tabId,resourceValue.field) | stringCamelCase}}</label>
            <div class="wrap-break-words" ng-bind-html="highLightSearchedText(elipssesText(resourceValue.value, matchingData.length))"></div>
        </div>
    </div>

    <button type="button" ng-if="matchingData.length > 4" style="position:absolute;right:0;" ng-click="expandButtonClick()" class="btn btn-default btn-gray pull-right">
        <i class="fa" ng-class="{'fa-angle-up': isExpanded, 'fa-angle-down': !isExpanded}"></i>
    </button>
</div>