﻿
<ul class="nav-sidebar" ng-controller="SidebarCtrl" >
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.state)}">
        <a class="btn btn-link" ui-sref="{{item.state}}" >{{item.title}}</a>
    </li>
</ul>