﻿<div class="container-fluid" cg-busy="CustomFieldEditCtrl.loadPage">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default custom-panel inner-panel">
                <div class="panel-heading">
                    <span class="panel-title">
                        {{::CustomFieldEditCtrl.titleText}}
                    </span>
                </div>
                <div class="panel-body">
                    <edz-add-custom-field></edz-add-custom-field>
                </div>
            </div>
        </div>
    </div>
</div>
