﻿<div cg-busy="CustomFieldEditCtrl.loadPage">
    <div class="title">
        <h1>
            <span class="pageName">
                <a ui-sref="customField()">Custom Fields</a>

                / {{::CustomFieldEditCtrl.titleText}}
            </span>
        </h1>
    </div>
    <div class="container container-wrap">
        <edz-add-custom-field></edz-add-custom-field>
    </div>
</div>