<style>
    body {
        background-color: transparent;
    }
</style>
<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        <span ng-if="title">{{title}}</span>
        <span ng-if="!title">Send Mail</span>

    </h4>
</div>
<div class="modal-body">
    
    <div class="row">
        <div class="col-sm-12">

            

            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control"  ng-model="mailItem.subject"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Body</label>
                <textarea ng-model="mailItem.body" class="form-control" style="height: 280px;overflow-y:scroll">

                </textarea>
            </div>
        </div>
    </div>

    
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
    <button class="btn btn-default btn-blue" ng-click="sendBtn()">Send</button>
    
</div>

