<form name="loginForm" ng-submit="ChangePasswordCtrl.changePassword(loginForm)" novalidate="">
    <div class="container container-wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CurrentPassword">Current Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.currentPassword" id="CurrentPassword" name="CurrentPassword"
                           placeholder="Current Password" required>
                    <ng-vadlidator-message ng-element-name="CurrentPassword">
                    </ng-vadlidator-message>
                </div>

            </div>              
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ChangePassword">New Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.newPassword" id="ChangePassword" required name="ChangePassword"
                           ng-equals="{{ChangePasswordCtrl.retypePassword}}" placeholder="Password" pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[_!@#\$%\^&\*]).{8,}">
                    <ng-vadlidator-message ng-element-name="ChangePassword" ng-custom-message-pattern="New password must contain at least 8 characters. Choose letters, numbers and a special character.">
                    </ng-vadlidator-message>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="RetypePassword">Retype Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.retypePassword" id="RetypePassword" name="RetypePassword"
                           required
                           placeholder="Retype Password">
                    <ng-vadlidator-message ng-element-name="RetypePassword">
                    </ng-vadlidator-message>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="button-wrap">
                    <button type="submit" class="btn btn-default" >Change</button>
                </div>
            </div>
        </div>
    </div>
</form>