<div class="container-fluid" style="margin-top:10px;">
    <form name="loginForm" ng-submit="ChangePasswordCtrl.changePassword(loginForm)" novalidate="">
        <div class="panel panel-default custom-panel inner-panel">
            <div class="panel-heading">
                <span class="panel-title">Change Password</span>
            </div>
            <div class="panel-body" style="width:100%;">
                <div class="change-password-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" class="form-control" ng-model="ChangePasswordCtrl.changePasswordModel.currentPassword" id="CurrentPassword" name="CurrentPassword"
                                       placeholder="Current Password" required>
                                <ng-vadlidator-message ng-element-name="CurrentPassword">
                                </ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" ng-model="ChangePasswordCtrl.changePasswordModel.newPassword" id="ChangePassword" required name="ChangePassword"
                                       ng-equals="{{ChangePasswordCtrl.changePasswordModel.retypePassword}}" placeholder="Password" pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[_!@#\$%\^&\*]).{8,}">
                                <ng-vadlidator-message ng-element-name="ChangePassword" ng-custom-message-pattern="New password must contain at least 8 characters. Choose letters, numbers and a special character.">
                                </ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Retype Password</label>
                                <input type="password" class="form-control" ng-model="ChangePasswordCtrl.changePasswordModel.retypePassword" id="RetypePassword" name="RetypePassword"
                                       required
                                       placeholder="Retype Password">
                                <ng-vadlidator-message ng-element-name="RetypePassword">
                                </ng-vadlidator-message>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="button" onclick="javascript: window.history.back();" class="btn btn-default btn-light-gray btn-fixed-width" >
                                        Back
                                    </button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-default btn-orange btn-fixed-width">
                                        Change
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--<form name="loginForm" ng-submit="ChangePasswordCtrl.changePassword(loginForm)" novalidate="">
    <div class="container container-wrap">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CurrentPassword">Current Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.currentPassword" id="CurrentPassword" name="CurrentPassword"
                           placeholder="Current Password" required>
                    <ng-vadlidator-message ng-element-name="CurrentPassword">
                    </ng-vadlidator-message>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ChangePassword">New Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.newPassword" id="ChangePassword" required name="ChangePassword"
                           ng-equals="{{ChangePasswordCtrl.retypePassword}}" placeholder="Password" pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[_!@#\$%\^&\*]).{8,}">
                    <ng-vadlidator-message ng-element-name="ChangePassword" ng-custom-message-pattern="New password must contain at least 8 characters. Choose letters, numbers and a special character.">
                    </ng-vadlidator-message>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="RetypePassword">Retype Password</label>
                    <input type="password" class="form-control" ng-model="ChangePasswordCtrl.retypePassword" id="RetypePassword" name="RetypePassword"
                           required
                           placeholder="Retype Password">
                    <ng-vadlidator-message ng-element-name="RetypePassword">
                    </ng-vadlidator-message>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="button-wrap">
                    <button type="submit" class="btn btn-default">Change</button>
                </div>
            </div>
        </div>
    </div>
</form>-->
