<div class="container-fluid" cg-busy="edzAddCustomFieldCtrl.loadPage">
    <form novalidate name="customFieldEditForm" ng-submit="edzAddCustomFieldCtrl.onSave_Click(customFieldEditForm)">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""><span class="requireStyle">*</span>Field Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Field Name" ng-model="edzAddCustomFieldCtrl.model.name" name="customFieldName" required>
                    <ng-vadlidator-message ng-element-name="customFieldName"></ng-vadlidator-message>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""><span class="requireStyle">*</span>Field Type</label>
                    <ui-select ng-model="edzAddCustomFieldCtrl.model.type" name="fieldType" on-select="edzAddCustomFieldCtrl.onChangeFieldType($item, $model)" ng-required="true">
                        <ui-select-match placeholder="Select Type">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="type.name as type in edzAddCustomFieldCtrl.customFieldTypeEnum">
                            {{::type.label}}
                        </ui-select-choices>
                    </ui-select>
                    <ng-vadlidator-message ng-element-name="fieldType"></ng-vadlidator-message>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Field Description</label>
                    <textarea style="height:34px;" class="form-control" ng-model="edzAddCustomFieldCtrl.model.description"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="margin-top: 20px;">
                    <label class="checkbox" style="display: inline-block;">
                        <input type="checkbox" id="requiedfield" ng-model="edzAddCustomFieldCtrl.model.require" />
                        <span class="labelCheckbox" style="display:block; padding-top:4px;">Required Field</span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="additionalOptionCustomFieldContainer"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="border-bottom">Use For:</h4>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-3">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="checkbox">
                        <input type="checkbox" id="resourceSection" ng-model="edzAddCustomFieldCtrl.model.resourceAvailable" />
                        <span class="labelCheckbox" style="display:block; padding-top:4px;">Resource</span>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="checkbox">
                        <input type="checkbox" id="projectSection" ng-model="edzAddCustomFieldCtrl.model.projectAvailable" />
                        <span class="labelCheckbox" style="display:block; padding-top:4px;">{{"project" | translate}}</span>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="checkbox">
                        <input type="checkbox" id="taskSection" ng-model="edzAddCustomFieldCtrl.model.taskAvailable" />
                        <span class="labelCheckbox" style="display:block; padding-top:4px;">Task</span>
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="checkbox">
                        <input type="checkbox" id="intakeSection" ng-model="edzAddCustomFieldCtrl.model.intakeAvailable" />
                        <span class="labelCheckbox" style="display:block; padding-top:4px;">Intake</span>
                    </label>
                </div>
            </div>



            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-12">
                <h4 class="border-bottom">Search:</h4>
            </div>
            <div class="col-md-12">&nbsp;</div>

            <div class="col-md-12">
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="checkbox">
                        <input type="checkbox" id="resourceSection" ng-model="edzAddCustomFieldCtrl.model.isSearchable" />
                        <span class="labelCheckbox">Is Searchable</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-container">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-cancel" ui-sref="customField()">
                        Cancel
                    </button>
                    &nbsp;
                    <button type="submit" class="btn btn-save">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>