<div cg-busy="edzAddCustomFieldCtrl.loadPage">
    <form novalidate name="customFieldEditForm" ng-submit="edzAddCustomFieldCtrl.onSave_Click(customFieldEditForm)">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for=""><span class="requireStyle">*</span>Field Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Field Name" ng-model="edzAddCustomFieldCtrl.model.name" name="customFieldName" required>
                    <ng-vadlidator-message ng-element-name="customFieldName"></ng-vadlidator-message>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group text-right" style="margin-top: 20px;">
                    <label class="checkbox" style="display: inline-block;">
                        <input type="checkbox" id="requiedfield" ng-model="edzAddCustomFieldCtrl.model.require" />
                        <span class="labelCheckbox">Required Field</span>
                    </label>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for=""><span class="requireStyle">*</span>Field Type</label>
                    <ui-select ng-model="edzAddCustomFieldCtrl.model.type" name="fieldType" on-select="edzAddCustomFieldCtrl.onChangeFieldType($item, $model)" ng-required="true">
                        <ui-select-match placeholder="...">{{$select.selected.label}}</ui-select-match>
                        <ui-select-choices repeat="type.name as type in edzAddCustomFieldCtrl.customFieldTypeEnum">
                            {{::type.label}}
                        </ui-select-choices>
                    </ui-select>
                    <ng-vadlidator-message ng-element-name="fieldType"></ng-vadlidator-message>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="">Field Description</label>
                            <textarea class="form-control" ng-model="edzAddCustomFieldCtrl.model.description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="h3_title_separator">Use for:</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="checkbox">
                                <input type="checkbox" id="resourceSection" ng-model="edzAddCustomFieldCtrl.model.resourceAvailable" />
                                <span class="labelCheckbox">Resource</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="checkbox">
                                <input type="checkbox" id="projectSection" ng-model="edzAddCustomFieldCtrl.model.projectAvailable" />
                                <span class="labelCheckbox">{{"project" | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="checkbox">
                                <input type="checkbox" id="taskSection" ng-model="edzAddCustomFieldCtrl.model.taskAvailable" />
                                <span class="labelCheckbox">Task</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <h3 class="h3_title_separator">Search:</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="checkbox">
                                <input type="checkbox" id="resourceSection" ng-model="edzAddCustomFieldCtrl.model.isSearchable" />
                                <span class="labelCheckbox">Is Searchable</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="additionalOptionCustomFieldContainer"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="button-wrap">
                    <button type="button" class="btn btn-default" ui-sref="customField()">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>