﻿<div>

    <style type="text/css">
        .ConsentForm P {
            font-size: initial;
        }
    </style>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default btn-rounded-button btn-blue pull-right" ng-click="sendMail()">
                Send
            </button>

            <a ng-show="isTabSelected('PHI')"  class="btn btn-default btn-rounded-button btn-gray pull-right" target="_blank" href="Client/assets/demo-forms/phi-form.html" style="margin-right: 10px;" >
                Complete
            </a>

            <a ng-show="isTabSelected('ConsentForm')" class="btn btn-default btn-rounded-button btn-gray pull-right" target="_blank" href="Client/assets/demo-forms/consent-form.html" style="margin-right: 10px;">
                Complete
            </a>


            

        </div>
    </div>


    <ul class="nav nav-tabs app-tab app-tab-large">
        <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
            <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
        </li>
    </ul>






    <div class="tab-content app-tab-body">
        <!--Tab 1-->
        <div id="ConsentForm" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('ConsentForm')}"
             ng-show="isTabSelected('ConsentForm')">


            <iframe src="Client/assets/demo-forms/consent-form.html" style="width:100%;height:500px;" frameborder="0"></iframe>


            <!--<div class="panel-body ConsentForm">

                <form>

                    <div class="row">
                        <div class="col-sm-12">
                            <h3>CONSENT FOR TREATMENT RELEASE OF INFORMATION HIPPA PRIVACY NOTICE FINANCIAL AGREEMENT</h3>
                        </div>
                    </div>

                    <br />


                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Patient Name</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Date</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8" style="padding-top:32px">
                            <b>CONSENT</b>I do hereby agree and give my consent for Performance Rehab to furnish Therapy Treatment
                        </div>

                        <div class="col-sm-4 form-group">
                            <label>Date</label>
                            <input class="form-control" type="text" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <b>Performance Rehab has my permission to allow students to observe my treatment and care.</b>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label class="radio-inline"><input name="radio_1" type="radio" value="">Yes</label>
                            <label class="radio-inline"><input name="radio_1" type="radio" value="">No</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p style="font-size:initial">
                                <b>RELEASE OF INFORMATION:</b> I agree that <b>Performance Rehab</b> may disclose my "protected health information" (PHI) in compliance with HIPAA Privacy Provisions which may include my medial records, to any third party payers, including, but not limited to health insurers, health care service plans, state and federal agencies, workers compensation carriers. This includes appropriate release and disclosure of my medical records in compliance with Privacy Provisions to my physicians and other health care providers when necessary for my treatment and general health. While I am in the facility for treatment and care, the facility has permission to disclose pertinent information to family members, friends, or designated caregivers who may be present with me. I understand that if I am not present in the facility, my personal health information will not be disclosed unless I agree to disclosure.
                            </p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <h5><b>PLEASE LIST BELOW ANY OTHER PEOPLE WITH WHOM YOU AUTHORIZE OUR OFFICE TO DISCUSS YOUR PHI and/or BILLING INFORMATION</b></h5>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 from-group">
                            <label>Name</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>Relationship</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>PHI</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>Billing</label>
                            <input class="form-control" type="text" />
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3 from-group">
                            <label>Name</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>Relationship</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>PHI</label>
                            <input class="form-control" type="text" />
                        </div>

                        <div class="col-sm-3 from-group">
                            <label>Billing</label>
                            <input class="form-control" type="text" />
                        </div>

                    </div>
                    
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-8" style="padding-top:32px">
                            <b>HIPAA PRIVACY NOTICE:</b> I acknowledge that I have received the HIPAA Privacy Notice and have had the
                            opportunity to review its content
                        </div>

                        <div class="col-sm-4">
                            <label>Date</label>
                            <input class="form-control" type="text" />
                        </div>

                    </div>

                    <br />
                    <div>
                        <p><b>FINANCIAL POLICY STATEMENT:</b> As a courtesy we will verify your coverage and bill your insurance carrier on your behalf. However, you are ultimately responsible for the payment of your bill.</p>

                        <p>
                            You are responsible for payment of any co-payments at the time of service. If your insurance carrier does not remit payment within 60 days, the balance will be due in full from you. In the event that your insurance company requests a refund of payments made, you will be responsible for the amount of money refunded to your insurance company. If any payments are made directly to you for services billed by us, you recognize an obligation to promptly remit same to <b>Performance Rehab.</b>
                        </p>

                        <p>
                            The above does not apply for those patients that are considered Workers' Compensation. However, be advised if you claim W/C benefits and are subsequently denied such benefits, you may be held responsible for the total amount of charges for services rendered to you.
                        </p>

                        <p>
                            I understand and agree that if I fail to make any of the payments for which I am responsible in a timely manner, I will be responsible for all costs of collecting monies owed, including court costs, collection agency fees and attorney fees
                        </p>

                        <p>
                            <b>Note:</b> Estimated coverage information is provided as a courtesy to our patients, but it is not intended to release them from total responsibility for their account balance
                        </p>

                    </div>

                    <br />
                    <br />
                    <div>
                        <div class="row">
                            <div class="col-sm-10">
                                <b>ARE YOU BEING TREATED AS A RESULT OF AN AUTO ACCIDENT   :</b><br/>
                                (If yes, have you supplied Performance Rehab with your claim information?)
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="radio-inline"><input name="radio_2" type="radio" value="">Yes</label>
                                <label class="radio-inline"><input name="radio_2" type="radio" value="">No</label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-10">
                                <b>ARE YOU BEING TREATED AS A RESULT OF A WC ACCIDENT:</b><br />
                                (If yes, have you supplied Performance Rehab with your claim information?)
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="radio-inline"><input name="radio_3" type="radio" value="">Yes</label>
                                <label class="radio-inline"><input name="radio_3" type="radio" value="">No</label>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-10">
                                <b>ARE YOU BEING TREATED AS A RESULT OF AN ACCIDENT OF ANY KIND:</b><br />
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="radio-inline"><input name="radio_4" type="radio" value="">Yes</label>
                                <label class="radio-inline"><input name="radio_4" type="radio" value="">No</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><b>I UNDERSTAND MY RESPONSIBILITY FOR THE PAYMENT OF MY ACCOUNT.</b></h5>
                        </div>
                    </div>

                    <br />
                    <div class="row">

                        <div class="col-sm-3 text-center">
                            <div>
                                ____________________________________
                            </div>
                            <div>
                                Patient/Guardian/Responsible Party
                            </div>
                        </div>

                        <div class="col-sm-offset-6 col-sm-3 text-center">
                            <div>
                                ____________________________________
                            </div>
                            <div>
                                Date
                            </div>
                        </div>

                    </div>

                    <br />
                    <br />

                    <div class="row">

                        <div class="col-sm-3 text-center">
                            <div>
                                ____________________________________
                            </div>
                            <div>
                                Performance Rehab Witness Date
                            </div>
                        </div>

                        <div class="col-sm-offset-6 col-sm-3 text-center">
                            <div>
                                ____________________________________
                            </div>
                            <div>
                                Date
                            </div>
                        </div>

                    </div>


                </form>
                

                
                    
                

            </div>-->




        </div>



        <div id="PHI" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('PHI')}"
             ng-show="isTabSelected('PHI')">

            
            <div>
                <iframe src="Client/assets/demo-forms/phi-form.html" style="width:100%;height:500px;" frameborder="0"></iframe>
            </div>


            <!--<div class="phi-section panel-body">

                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            What is the region of your main complaint?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="Select">Select</option>
                            <option value="Neck and Head">Neck and Head</option>
                            <option value="Mid/Upper back">Mid/Upper back</option>
                            <option value="Lower Back/Pelvis">Lower Back/Pelvis</option>
                            <option value="Abdominal ">Abdominal </option>
                            <option selected="" value="Right Shoulder/Upper Arm">Right Shoulder/Upper Arm</option>
                            <option value="Left Shoulder/Upper Arm">Left Shoulder/Upper Arm</option>
                            <option value="Right Elbow/Forearm">Right Elbow/Forearm</option>
                            <option value="Left Elbow/Forearm">Left Elbow/Forearm</option>
                            <option value="Right Wrist and Hand">Right Wrist and Hand</option>
                            <option value="Left Wrist and Hand">Left Wrist and Hand</option>
                            <option value="Right Hip/Upper Leg">Right Hip/Upper Leg</option>
                            <option value="Left Hip/Upper Leg">Left Hip/Upper Leg</option>
                            <option value="Right Knee/Lower Leg">Right Knee/Lower Leg</option>
                            <option value="Left Knee/Lower Leg">Left Knee/Lower Leg</option>
                            <option value="Right Foot/Ankle">Right Foot/Ankle</option>
                            <option value="Left Foot/Ankle">Left Foot/Ankle</option>
                        </select>
                    </div>

                </div>
                

                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Briefly describe how this problem began?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="text" />
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Do you have a secondary region of complaint?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="Select">Select</option>
                            <option value="Neck and Head">Neck and Head</option>
                            <option value="Mid/Upper back">Mid/Upper back</option>
                            <option value="Lower Back/Pelvis">Lower Back/Pelvis</option>
                            <option value="Abdominal ">Abdominal </option>
                            <option value="Right Shoulder/Upper Arm">Right Shoulder/Upper Arm</option>
                            <option value="Left Shoulder/Upper Arm">Left Shoulder/Upper Arm</option>
                            <option value="Right Elbow/Forearm">Right Elbow/Forearm</option>
                            <option value="Left Elbow/Forearm">Left Elbow/Forearm</option>
                            <option value="Right Wrist and Hand">Right Wrist and Hand</option>
                            <option value="Left Wrist and Hand">Left Wrist and Hand</option>
                            <option value="Right Hip/Upper Leg">Right Hip/Upper Leg</option>
                            <option value="Left Hip/Upper Leg">Left Hip/Upper Leg</option>
                            <option value="Right Knee/Lower Leg">Right Knee/Lower Leg</option>
                            <option value="Left Knee/Lower Leg">Left Knee/Lower Leg</option>
                            <option value="Right Foot/Ankle">Right Foot/Ankle</option>
                            <option value="Left Foot/Ankle">Left Foot/Ankle</option>
                        </select>
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Approximately when did this problem begin?
                        </span>
                    </div>

                    <div class="col-sm-4">
                       <input type="date" class="form-control" />
                    </div>
                </div>



                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Briefly describe how this problem began?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Have you had (or do you plan to have) surgery for this problem?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="select">Select</option>
                            <option value="Yes">Yes</option>
                            <option selected="" value="No">No</option>
                        </select>
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Rate your Pain on a 0-10 scale (0 = No Pain, 10 = Screaming in hospital)
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="number" />
                    </div>
                </div>
                

                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Worst Pain has been?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="number" />
                    </div>
                </div>



                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Current Pain level at this moment?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="number" />
                    </div>
                </div>


                <br />
                <div class="row">
                    <div class="col-sm-8 phi-lable">
                        <span class="">
                            Least Pain has been since onset?
                        </span>
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" type="number" />
                    </div>
                </div>


            </div>-->

        </div>


    </div>
</div>
