﻿<div>

    <style type="text/css">
        .ConsentForm P {
            font-size: initial;
        }
    </style>

    <ul class="nav nav-tabs app-tab app-tab-large">
        <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
            <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
        </li>
    </ul>






    <div class="tab-content app-tab-body">
        <!--Tab 1-->
        <div id="Attachment" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('Attachment')}"
             ng-show="isTabSelected('Attachment')">

            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default btn-rounded-button btn-blue pull-right">
                            <i class="fa fa-plus"></i>
                            New File
                        </button>
                    </div>
                </div>
                <br/>

                <div class="table-responsive">
                    <table class="table my-table system-grid-table">
                        <thead>
                            <tr>
                                <th class="my-table-column"><span class="sort-indicator">Name</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Document Type</span></th>
                                <th class="my-table-column"><span class="sort-indicator">File name</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Date of Receipt</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Time Filed</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Expiration Date</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Note Type</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Signee</span></th>
                                <th class="my-table-column"><span class="sort-indicator">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--,{
                            name: "MRI",
                            file: "file 2",
                            dateOfRecept: "01/02/2017",
                            timeField: "01/02/2017",
                            expirationDate: "01/02/2017",
                            noteType: "",
                            signee: "Sitter, Jack"
                            }-->
                            <tr ng-repeat="item in attachmentList">
                                <td>
                                    {{item.title}}
                                </td>

                                <td>
                                    {{item.name}}
                                </td>

                                <td>
                                    {{item.file}}
                                </td>

                                <td>
                                    {{item.dateOfRecept}}
                                </td>

                                <td>
                                    {{item.timeField}}
                                </td>
                                <td>
                                    {{item.expirationDate}}
                                </td>
                                <td>
                                    {{item.noteType}}
                                </td>
                                <td>
                                    {{item.signee}}
                                </td>
                                <td>
                                    <div>
                                        <div class="more-action btn-group" uib-dropdown dropdown-append-to-body >

                                            <a class="edit icon-button icon-more"
                                               id="simple-dropdown" uib-dropdown-toggle>
                                            </a>

                                            <ul class="my-drop dropdown-menu  dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                                <li class="dropdown-item" >
                                                    <a>
                                                        <span class="drop-item-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                        <span class="dorp-item-text">View</span>
                                                    </a>
                                                </li>
                                                <li class="dropdown-item" >
                                                    <a>
                                                        <span class="drop-item-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                        <span class="dorp-item-text">Edit</span>
                                                    </a>
                                                </li>

                                                <li class="dropdown-item mode-message" >
                                                    <a>
                                                        <span class="drop-item-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                        <span class="dorp-item-text">Delete</span>
                                                    </a>
                                                </li>

                                                <li class="dropdown-item mode-settings" ng-repeat="menuItem in uiGridTableCtrl.option.moreExtraButtonList" ng-click="menuItem.click(row)">
                                                    <a>
                                                        <span class="drop-item-icon"><i class="{{menuItem.iconClass}}" aria-hidden="true"></i></span>
                                                        <span class="dorp-item-text">{{menuItem.title}}</span>
                                                    </a>

                                                </li>


                                            </ul>
                                            
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                </div>


            </div>




        </div>



        <div id="DigitalForms" class="tab-pane fade in "
             ng-class="{'active': isTabSelected('DigitalForms')}"
             ng-show="isTabSelected('DigitalForms')">
            <div class="panel-body">

                <digital-forms></digital-forms>
            </div>
        </div>


    </div>
</div>
