
<div class="master-templates-page tabs-wrap" cg-busy="CarePlanCntrl.isLoading">
    <form name="CarePlanForm" id="CarePlanForm" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default custom-panel blank-panel">
                        <div class="panel-heading">
                            <h2 style="margin-top:0;">{{CarePlanCntrl.title}}</h2>
                        </div>

                        <div class="panel-body">

                            <div ng-if="!CarePlanCntrl.isNewCarePlan()">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <label>Start Date</label>
                                            <input type="text" date-time
                                                   ng-model="CarePlanCntrl.model.startDate"
                                                   class="form-control tabable"
                                                   minlength="1"
                                                   ng-less-than-date-time="CarePlanCntrl.model.endDate"
                                                   min-view="date"
                                                   format="MM/DD/YYYY"
                                                   auto-close="true"
                                                   name="startDate"
                                                   ng-required="true" />
                                            <ng-vadlidator-message ng-element-name="startDate"></ng-vadlidator-message>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group ">
                                            <label>End Date</label>
                                            <input type="text" date-time
                                                   ng-model="CarePlanCntrl.model.endDate"
                                                   ng-more-than-date-time="CarePlanCntrl.model.startDate"
                                                   class="form-control tabable"
                                                   minlength="1"
                                                   min-view="date"
                                                   format="MM/DD/YYYY"
                                                   auto-close="true"
                                                   name="endDate"
                                                   ng-required="true" />
                                            <ng-vadlidator-message ng-element-name="endDate"></ng-vadlidator-message>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <choose-exercise config="CarePlanCntrl.chooseScreenConfig"
                                                 is-loading="CarePlanCntrl.isLoading">
                                </choose-exercise>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>