﻿<div class="client-company-edit-page" cg-busy="ClientCompanyEditCtrl.loadCorrect">
    <!-- ClientCompanyEditCtrl -->
    <div class="container-fluid tabs-wrap">

        <div class="tabs-body" ng-if="ClientCompanyEditCtrl.formErrorList.length > 0">
            <div class="row">
                <div class="col-md-12" style="padding-left: 30px;padding-right: 30px;">
                    <div class="panel panel-default custom-panel panel-error">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Please fix following errors
                            </span>
                            <span class="pull-right">
                                <a href="#" ng-click="ClientCompanyEditCtrl.hideErrorTab()">
                                    &times;
                                </a>
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li ng-repeat="error in ::ClientCompanyEditCtrl.formErrorList track by $index">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form name="clientCompanyEditForm" ng-submit="ClientCompanyEditCtrl.saveButtonClick(clientCompanyEditForm)" novalidate ng-model-options="{ debounce : { default : 400 }}">
            <div class="tabs-body">
                <div class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div>
                                {{ClientCompanyEditCtrl.pageTitle}}
                                <div class="dropdown pull-right" ng-if="ClientCompanyEditCtrl.isProjectButtonVisible()">
                                    <button class="btn btn-default dropdown-toggle btn-orange" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{'Projects' | translate}}
                                        <span style="margin-left:5px;" class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-click="ClientCompanyEditCtrl.onActivityButtonClick(activity)"
                                            ng-repeat="activity in ClientCompanyEditCtrl.activityModelList track by $index">
                                            <a>{{activity.name}}</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div ng-repeat="field in ::ClientCompanyEditCtrl.clientDetailsContainer.container1 track by field.id">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <edz-dynamic-form-controller-compiler edz-controller-name="ClientCompanyEditCtrl" edz-field-id="{{field.id}}">
                                        </edz-dynamic-form-controller-compiler>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default custom-panel">
                    <div class="panel-heading">
                        <span class="panel-title">
                            Client Communications
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div ng-repeat="field in ::ClientCompanyEditCtrl.ClientCommunicationDetails.container1 track by field.id">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <edz-dynamic-form-controller-compiler edz-controller-name="ClientCompanyEditCtrl" edz-field-id="{{field.id}}">
                                        </edz-dynamic-form-controller-compiler>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default custom-panel" style="padding:0;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default btn-fixed-width btn-light-gray" ng-click="ClientCompanyEditCtrl.cancelButtonClick()">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-default btn-fixed-width btn-orange">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default custom-panel" ng-if="ClientCompanyEditCtrl.model.id > 0">
                    <div class="panel-heading">
                        <span class="panel-title">
                            {{ClientCompanyEditCtrl.getStakeholdersSectionTitle()}}
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-stake-holders">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span style="padding-left:8px;">Name</span>
                                                    </th>
                                                    <th>
                                                        <span>Email</span>
                                                    </th>
                                                    <th>
                                                        <span>Phone</span>
                                                    </th>
                                                    <th>
                                                        <span>Role Name</span>
                                                    </th>
                                                    <th>
                                                        <span>{{'Project' | translate}} Name</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="stakeHolder in ClientCompanyEditCtrl.model.stakeholderWithProjectList track by $index">
                                                    <td style="vertical-align:top">
                                                        <span>{{stakeHolder.stakeholderName}}</span>
                                                    </td>
                                                    <td style="vertical-align:top">
                                                        <span>{{stakeHolder.stakeholderEmail}}</span>
                                                    </td>
                                                    <td style="vertical-align:top">
                                                        <span>{{stakeHolder.stakeholderPhone | formatphonenumber}}</span>
                                                    </td>
                                                    <td style="vertical-align:top">
                                                        <span>{{stakeHolder.stakeholderRoleName}}</span>
                                                    </td>
                                                    <td style="vertical-align:top">
                                                        <div style="display: block; white-space: normal; word-break: break-all; width: 600px; line-height: 1.2;"
                                                             ng-bind-html="stakeHolder.projectName"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>