﻿<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <div class="input-group">
        <input id="{{id}}_value"
               class="form-control {{inputClass}}"
               name="{{inputName}}" ng-class="{'angucomplete-input-not-empty': notEmpty}"
               ng-model="searchStr" ng-disabled="disableInput" type="{{inputType}}"
               placeholder="{{placeholder}}" maxlength="{{maxlength}}" ng-focus="onFocusHandler()"
               ng-blur="hideResults($event)"
               autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr || '' )" />
        <!--/* ng-required=\"isRequired\" <-- Removed due to raising error. */-->
        <span class="input-group-btn">
            <span class='btn btn-default search-btn-unq' type='button' ng-disabled="disableInput">
                <span class='fa fa-sort-desc'>
                    <span></span>
                </span>
            </span>
        </span>
    </div>
    <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length==0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)"
             ng-class="{'angucomplete-selected-row': $index==currentIndex}">
            <div ng-if="imageField" class="angucomplete-image-holder">
                <img ng-if="result.image && result.image !='' " ng-src="{{result.image}}" class="angucomplete-image" />
                <div ng-if="!result.image && result.image !='' " class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
            <div ng-if="matchClass && result.description && result.description !='' " class="angucomplete-description" ng-bind-html="result.description"></div>
            <div ng-if="!matchClass && result.description && result.description !='' " class="angucomplete-description">{{result.description}}</div>
        </div>
    </div>
</div>