﻿<div class="container-fluid assignment-edit-form tabs-wrap" cg-busy="AssignmentEditCtrl.loadingData">
    <form name="assignmentEditForm" novalidate ng-submit="AssignmentEditCtrl.onFormSubmit(assignmentEditForm)">
        <!--AssignmentEditCtrl-->
        <edz-tab-bodies edz-current-tab="AssignmentEditCtrl.currentTab">
            <edz-tab-body edz-tab-id="basicInfo" edz-tab-content-class="tab-inner"
                          ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'basicInfo'}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    {{AssignmentEditCtrl.pageTitle}}
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div ng-show="field.visible" ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container1 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container2 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container3 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container4 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container5 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="field in ::AssignmentEditCtrl.basicInfoContainer.container6 track by field.id">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <edz-dynamic-form-controller-compiler edz-controller-name="AssignmentEditCtrl" edz-field-id="{{field.id}}">
                                                </edz-dynamic-form-controller-compiler>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default custom-panel" style="padding:0;">
                            <div class="panel-body">
                                <div class="text-right">
                                    <button type="button"
                                            ng-click="AssignmentEditCtrl.onCancelButtonClick()"
                                            class="btn btn-default btn-gray btn-fixed-width">
                                        Cancel
                                    </button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-default btn-blue btn-fixed-width">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </edz-tab-body>
        </edz-tab-bodies>
    </form>
</div>