<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">

        <span>{{title}}</span>

    </h4>
</div>
<div class="modal-body gray-bg" cg-busy="isLoading">



    <div>

        <div class="input-group input-group-lg chat-search-box" style="margin-right:0px;">
            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Search"
                   ng-model="searchText" />
        </div>



        <div ng-if="isPatientView" style="padding-top:5px;text-align: center;">
            <h5>Patient will be available for CHAT only after Mobile access has been granted.  Please ensure Mobile access is granted as required.</h5>
        </div>


        <div style="overflow-y:auto;overflow-x:hidden;margin-top:10px; max-height:400px;min-height:300px">
            <div class="row contact-item" ng-repeat="item in dataList| filter:searchText" ng-click="onItemClick(item)">
                <div class="col-sm-2">
                    <img ng-src="{{item.photoFileName?item.photoFileName:'Client/assets/images/userIco.png'}}" class="img-circle" alt="Cinque Terre" width="52" height="52">
                </div>
                <div class="col-sm-10" style="margin-top:13px;font-size:larger">
                    <span>{{item.name}}</span>
                </div>
            </div>
        </div>

        <!--<div>
            <ul class="nav nav-tabs app-tab app-tab-large">
                <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
                    <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                </li>
            </ul>

            <div class="tab-content app-tab-body">
        
                <div id="chat-window" class="tab-pane fade in "
                     ng-class="{'active': isTabSelected('Staff')}"
                     ng-show="isTabSelected('Staff')">
                    <div style="padding:15px;">

                        <div class="input-group input-group-lg chat-search-box" style="margin-right:0px;">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Search"
                                   ng-model="searchStaff" />
                        </div>


                        <div style="overflow-y:auto;overflow-x:hidden;margin-top:10px; max-height:400px;min-height:300px">
                            <div class="row contact-item" ng-repeat="item in dataItems.chatTherapistLists| filter:searchStaff" ng-click="onItemClick(item)">
                                <div class="col-sm-2">
                                    <img ng-src="{{item.photoFileName?item.photoFileName:'Client/assets/images/userIco.png'}}" class="img-circle" alt="Cinque Terre" width="52" height="52">
                                </div>
                                <div class="col-sm-10" style="margin-top:13px;font-size:larger">
                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                
                <div id="templates" class="tab-pane fade in"
                     ng-class="{'active': isTabSelected('Patients')}"
                     ng-show="isTabSelected('Patients')">
                    <div style="padding:15px">

                        <div class="input-group input-group-lg chat-search-box" style="margin-right:0px;">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Search"
                                   ng-model="searchPatient" />
                        </div>

                        <div style="overflow-y:auto;overflow-x:hidden;margin-top:10px; max-height:400px;min-height:300px">
                            <div class="row contact-item" ng-repeat="item in dataItems.chatPatientLists|filter:searchPatient" ng-click="onItemClick(item)">
                                <div class="col-sm-2">
                                    <img ng-src="{{item.photoFileName?item.photoFileName:'Client/assets/images/userIco.png'}}" class="img-circle" alt="Cinque Terre" width="52" height="52px">
                                </div>
                                <div class="col-sm-10" style="margin-top:13px;font-size:larger">
                                    <span>{{item.name}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>-->
    </div>



</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
</div>

