﻿<h4 class="modal-title">{{modal.title}}</h4>
<div class="form-group">
    <angucomplete-alt placeholder="Start typing"
                      pause="400"
                      novalidate ng-model-options="{ debounce : { default : 0 } }"
                      title-field="name"
                      remote-api-handler="modal.search"
                      minlength="0"
                      selected-object="modal.selected"
                      input-class="form-control form-control-small"
                      match-class="highlight"
                      field-required="true"
                      input-name="selectModal">
    </angucomplete-alt>
    <ng-vadlidator-message ng-element-name="selectModal">
    </ng-vadlidator-message>
</div> 