﻿<div class="modal-header">
    <h3>You're Idle. System will log you out.</h3>
</div>
<div idle-countdown="countdown" ng-init="countdown=15" class="modal-body">
    <uib-progressbar max="15" value="15" type="danger" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
</div>