﻿<div class="modal-header">
    <h4 class="modal-title subTask-modaltitle">
        <span class="title">Create New Dashboard</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <label>
                Dashboard Name
                <span class="requireStyle">*</span>
            </label>
            <input type="text" class="form-control" ng-model="AddDashboardCtrl.dashboard.title" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-fixed-width btn-gray" ng-click="AddDashboardCtrl.cancel()">Cancel</button>
    <button type="button" class="btn btn-success btn-fixed-width btn-orange" ng-click="AddDashboardCtrl.createDashboard()">Save</button>
</div>