﻿
<div class="container-fluid">
    <div class="panel panel-default custom-panel inner-panel">
        <div class="panel-heading">
            <span class="panel-title">
                Dashboard
                <i class="label-title panel-title-count-lable" ng-if="dashboardList.length > 0">{{dashboardList.length}}</i>
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-orange pull-right" ng-click="addNewDashboard()">
                    <span class="btn-icon btn-icon-add"></span>
                    &nbsp;Create Dashboard
                </button>
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Assigned To (Role)
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in dashboardList">
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.roleName}}
                                    </td>
                                    <td class="dashboard-more-action">
                                        <a href="#" class="btn btn-gray icon-button icon-delete" ng-click="deleteDashboard(item)"></a>
                                        <a href="#" class="btn btn-gray icon-button icon-edit" ng-click="rowEdit(item)"></a>
                                        <a href="#" class="btn btn-gray icon-button icon-view" ng-click="show(item)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
