<div class="dashboard-page">
    <div class="panel panel-default custom-panel with-border" style="padding-top:5px">
        <div class="panel-heading" style="padding: 20px">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel-title">
                        Front Office Dashboard
                    </div>
                </div>

                <div class="col-sm-9">
                    <button class="btn btn-default  btn-blue pull-right" type="button" ng-click="showAddDialog()">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        &nbsp;Edit Widget
                    </button>

                    <button class="btn btn-default  btn-blue pull-right" type="button" style="margin-right:10px;" ng-click="showAddDialog()">
                        <span class="fa fa-plus"></span>
                        &nbsp;Add Widget
                    </button>

                </div>

            </div>
        </div>
    </div>

    <div ng-if="currentUser.role!='Therapist'" >

        

        <div ui-sref="patientsEdit({id:5})">
            <img src="Client/assets/images/DemoImages/normal-dsahboard.png" style="width:100%;" />
        </div>

        
    </div>
    <div ng-if="currentUser.role=='Therapist'" ui-sref="patientsEdit({id:5})">
        <img src="Client/assets/images/DemoImages/clinician-dashboard.png" style="width:100%;" />
    </div>

    
    
</div>

<!--
    ORIGINAL Dashboard
    <div class="dashboard-page" style="padding:10px;">
    <div ng-if="!DashboardCtrl.showDashboard">
        <div class="panel panel-default custom-panel inner-panel">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class="fa fa-warning"></i>
                    Dashboard Not Found
                </span>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <b>Either You dont have any dashboard or You do not have permission to view Dashboard. Please ask to Administrator for One.</b>
                        <a href="/" style="font-size:16px;">
                            <i class="fa fa-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="DashboardCtrl.showDashboard">
        <adf-dashboard collapsible="true"
                       maximizable="true"
                       name="widgetSampleDashboard"
                       structure="{{DashboardCtrl.model.structure}}"
                       adf-model="DashboardCtrl.model">
        </adf-dashboard>
    </div>
</div>-->
