﻿<div class="panel panel-default custom-panel">
    <div class="panel-heading">
        <span class="panel-title">Login History</span>
    </div>
    <div class="panel-body">
        <div id="loginHistory">
            <table ng-table="tp" class="table table-striped">
                <tr ng-repeat="row in $data track by row.id">
                    <td data-title="'Action'">
                        {{row.action}}
                    </td>
                    <td data-title="'UserName'">
                        {{row.username}}
                    </td>
                    <td data-title="'Date'">
                        {{ row.logDateTime | date : 'mm-dd-yyyy (hh:mm a)' }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>