<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        <span ng-if="title">{{title}}</span>
        <span ng-if="!title">Video</span>

    </h4>
</div>
<div class="modal-body gray-bg">

    <div class="panel panel-default custom-panel">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Group Name</label>
                        <input type="text" class="form-control" ng-model="groupItem.name" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default custom-panel">
        <div class="panel-body">
            <div class="row model-hep-list-container">
                <div class="col-sm-12">

                    <div class="row img-list-item" ng-repeat="item in hepDetails |orderBy:'exerciseOrder' ">
                        <hep-list-item data="item"
                                       is-delete-button-hide="true"
                                       is-to-show-check="true"
                                       is-first="$first"
                                       is-last="$last"
                                       move-up="moveUp(item)"
                                       move-down="moveDown(item)">
                        </hep-list-item>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
    &nbsp;&nbsp;
    <button class="btn btn-default btn-blue" ng-click="save()">Save</button>
</div>

