﻿<div class="add-physician-modal-container">
    <form name="addPhysicianForm" id="addPhysicianForm" ng-submit="ReferralPhysicianEditController.onSaveButtonClick(addPhysicianForm)" novalidate>
        <div class="modal-container">
            <h4 class="modal-title">
                {{ReferralPhysicianEditController.pageTitle}}
                <a href="#" ng-click="ReferralPhysicianEditController.onCloseButtonClick(false)" class="pull-right">
                    <i class="fa fa-times"></i>
                </a>
            </h4>
            <div class="modal-body">
                <div class="row">
                    <div ng-if="field.visible" ng-repeat="field in ::ReferralPhysicianEditController.formFields track by field.id">
                        <div class="{{field.containerCssClass}}" ng-class="{'col-xs-12':!field.containerCssClass}">
                            <div class="form-group">
                                <edz-dynamic-form-controller-compiler edz-controller-name="ReferralPhysicianEditController"
                                                                      form="addPhysicianForm"
                                                                      edz-field-id="{{field.id}}"></edz-dynamic-form-controller-compiler>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button type="button" class="btn btn-default btn-light-gray btn-fixed-width" ng-click="ReferralPhysicianEditController.onCloseButtonClick(false)">
                    Cancel
                </button>
                <button type="submit" class="btn btn-default btn-blue btn-fixed-width">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>