﻿<div class="master-templates-page tabs-wrap" cg-busy="ExerciseCtrl.isLoading">
    <form class="" name="exerciseForm" novalidate ng-submit="ExerciseCtrl.onFormSubmit(exerciseForm)">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-12 col-md-12">
                    <div class="tabs-body" style="padding-top:15px;">

                        <div class="panel panel-default custom-panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-title gray-bar-title" style="font-size:16px">
                                    {{ExerciseCtrl.title}}
                                </div>
                            </div>                         
                            <div class="panel-body">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="nav nav-tabs app-tab">
                                                <li ng-class="{'active': ExerciseCtrl.isTabSelected(tabItem.id)}" ng-repeat="tabItem in ExerciseCtrl.tabs">
                                                    <a data-toggle="tab" ng-click="ExerciseCtrl.setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content app-tab-body">
                                                <!--Tab 1-->
                                                <div id="all-exercise" class="tab-pane fade in"
                                                     ng-class="{'active': ExerciseCtrl.isTabSelected('photo')}"
                                                     ng-show="ExerciseCtrl.isTabSelected('photo')">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="dragdrop-media-container">

                                                                <img ng-show="!ExerciseCtrl.selectedImage && ExerciseCtrl.selectedImageURL" ng-src="{{ExerciseCtrl.selectedImageURL}}" height="200" class="img-rounded" />
                                                                <img ng-if="ExerciseCtrl.selectedImage" ngf-thumbnail="ExerciseCtrl.selectedImage" height="200" class="img-rounded">

                                                                <div ngf-drop="ExerciseCtrl.onImageDrop($files)"
                                                                     ngf-select="ExerciseCtrl.onImageDrop($files)"
                                                                     ngf-size="{width: 200, height: 200, quality: 0.9}"
                                                                     class="drop-box"
                                                                     ngf-drag-over-class="'dragover'"
                                                                     ngf-multiple="false"
                                                                     ngf-pattern="'image/*'">
                                                                    <div class="center-text" ng-if="!ExerciseCtrl.selectedImage && !ExerciseCtrl.selectedImageURL">
                                                                        <div class="dragdropcontainer">
                                                                            <span class="icon-placeholder"></span>
                                                                            <b>Drop image here or click to Upload</b>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                            </div>

                                                            <div style="text-align:center" ng-if="ExerciseCtrl.selectedImage || ExerciseCtrl.selectedImageURL">
                                                                <div style="margin-top:10px;">
                                                                    <button type="button" class="btn btn-default btn-blue">
                                                                        Update Image
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>


                                                <!--Tab 2-->
                                                <div id="templates" class="tab-pane fade in"
                                                     ng-class="{'active': ExerciseCtrl.isTabSelected('video')}"
                                                     ng-show="ExerciseCtrl.isTabSelected('video')">

                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="dragdrop-media-container" ng-hide="ExerciseCtrl.selectedVideo || ExerciseCtrl.selectedVideoURL">
                                                                <div ngf-drop="ExerciseCtrl.onVideoDrop($files)"
                                                                     ngf-select="ExerciseCtrl.onVideoDrop($files)"
                                                                     class="drop-box"
                                                                     ngf-drag-over-class="'dragover'"
                                                                     ngf-multiple="false"
                                                                     ngf-pattern="'video/*'">

                                                                    <div class="center-text" ng-if="!ExerciseCtrl.selectedVideo && !ExerciseCtrl.selectedVideoURL">
                                                                        <div class="dragdropcontainer">
                                                                            <span class="icon-placeholder"></span>
                                                                            <b>Drop video here or click to Upload</b>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div ngf-no-file-drop>Uploaded File is not supported for this browser</div>
                                                            </div>
                                                            <div style="text-align:center" ng-if="ExerciseCtrl.selectedVideo || ExerciseCtrl.selectedVideoURL">
                                                                <video controls ngf-src="ExerciseCtrl.selectedVideo || ExerciseCtrl.selectedVideoURL" style="width:100%;height:auto;"></video>
                                                                <div style="margin-top:10px;">
                                                                    <button type="button"
                                                                            ngf-select="ExerciseCtrl.onVideoDrop($files)"
                                                                            ngf-multiple="false"
                                                                            ngf-pattern="'video/*'"
                                                                            class="btn btn-default btn-blue">
                                                                        Update Video
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div ng-if="field.visible" class="{{field.columClass}}"
                                                     ng-class="{'col-md-12':!field.columClass}"
                                                     ng-repeat="field in ExerciseCtrl.formFields track by field.id">
                                                    <div class="form-group">
                                                        <edz-dynamic-form-controller-compiler edz-controller-name="ExerciseCtrl" form="exerciseForm" edz-field-id="{{field.id}}"></edz-dynamic-form-controller-compiler>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <lable style="margin:16px; color: #7890A7"> Activity <span style="color:red">*</span> </lable>
                                                <div class="clinician-rosterOne" style="margin:15px;">
                                                    <a class="section-title" ng-click="ExerciseCtrl.clinicianSectionOpen1=!ExerciseCtrl.clinicianSectionOpen1"
                                                       data-toggle="collapse" data-target="#demo" href="#">
                                                      (Select all that apply)
                                                        <i class="pull-right fa" ng-class="{'fa-chevron-down':!ExerciseCtrl.clinicianSectionOpen1, 'fa-chevron-up':ExerciseCtrl.clinicianSectionOpen1}"></i>
                                                    </a>
                                                    <div class="" ng-class="{'collapse':!ExerciseCtrl.clinicianSectionOpen1}">
                                                        <ul class="list-group">
                                                            <li class="list-group-item" ng-repeat="clinician in  ExerciseCtrl.activityList track by clinician.id">
                                                                <label>
                                                                    <input type="checkbox" ng-click="::ExerciseCtrl.onClinicianSelected(clinician)" ng-model="clinician.isSelected" value="true" />
                                                                    {{clinician.name}}
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                         <div class="row">
                                             <lable style="margin:16px; color: #7890A7"> Region <span style="color:red">*</span> </lable>
                                         </div>
                                            <div class="clinician-rosterOne">
                                                <a class="section-title" ng-click="ExerciseCtrl.clinicianSectionOpen=!ExerciseCtrl.clinicianSectionOpen"
                                                   data-toggle="collapse" data-target="#demo" href="#">
                                                    (Select all that apply)
                                                    <i class="pull-right fa" ng-class="{'fa-chevron-down':!ExerciseCtrl.clinicianSectionOpen, 'fa-chevron-up':ExerciseCtrl.clinicianSectionOpen}"></i>
                                                </a>
                                                <div class="" ng-class="{'collapse':!ExerciseCtrl.clinicianSectionOpen}">
                                                    <ul class="list-group">
                                                        <li class="list-group-item" ng-repeat="clinician in  ExerciseCtrl.injuryRegionList track by clinician.id">
                                                            <label>
                                                                <input type="checkbox" ng-click="::ExerciseCtrl.onClinicianSelected1(clinician)" ng-model="clinician.isSelected" value="true" />
                                                                {{clinician.name}}
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-left:5px;margin-top:10px;margin-right:5px;">
                                                <div class="form-group">
                                                    <label>Keywords <span style="color:red">*</span></label>
                                                    <input type="text" class="form-control" name="Keywords" id="keywords" ng-model="ExerciseCtrl.model.keywords" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-sm-12">
                                                        <div id="accordion" class="panel-group">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading" style="height:40px; background-color:#EAEEF0; border-left-color:#EAEEF0;">
                                                                    <h4 style="line-height:2px;"><a href="#panelBodyOne" data-toggle="collapse" data-parent="#accordion"> Additional Criteria</a></h4>
                                                                </div>
                                                                <div id="panelBodyOne" class="panel-collapse collapse">
                                                                    <div class="panel panel-body">

                                                                        <div class="col-sm-12">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Sets:
                                                                                    </label>
                                                                                    <input type="number" style="width:140px;" class="form-control" ng-model="ExerciseCtrl.model.set" name="set" />

                                                                                </div>

                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Reps:
                                                                                    </label>
                                                                                    <input type="number" style="width:140px;" class="form-control" ng-model="ExerciseCtrl.model.reps" name="repeats" id="repeats" />

                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-12">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Weight:
                                                                                    </label>
                                                                                    <div class="row" style="margin-left:2px;">
                                                                                        <input type="number" class="form-control" style="width:140px;" ng-model="ExerciseCtrl.model.weight" name="weightsUsed" id="weightsUsed" />
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-sm-6">

                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Weight Units:
                                                                                    </label>

                                                                                    <div class="row" style="margin-left:4px;">
                                                                                        <ui-select name="" ng-model="ExerciseCtrl.model.weightUnit" style="width:140px;">
                                                                                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                                                            <ui-select-choices repeat="unit.title as unit in ExerciseCtrl.myConstantWeightUnits">
                                                                                                {{unit.title}}
                                                                                            </ui-select-choices>
                                                                                        </ui-select>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>


                                                                        <div class="col-sm-12">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Holds:
                                                                                    </label>
                                                                                    <div class="row" style="margin-left:2px;">
                                                                                        <input type="number" class="form-control" style="width:140px;" ng-model="ExerciseCtrl.model.holds" name="holds" id="holds" />
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Hold Units:
                                                                                    </label>

                                                                                    <div class="row" style="margin-left:4px;">
                                                                                        <ui-select name="" ng-model="ExerciseCtrl.model.holdUnit" style="width:140px;">
                                                                                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                                                            <ui-select-choices repeat="unit.title as unit in ExerciseCtrl.myConstantTimeUnits">
                                                                                                {{unit.title}}
                                                                                            </ui-select-choices>
                                                                                        </ui-select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-12">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Time:
                                                                                    </label>
                                                                                    <div class="row" style="margin-left:2px;">
                                                                                        <input type="number" class="form-control" style="width:140px;" ng-model="ExerciseCtrl.model.time" name="holds" id="holds" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Time Units:
                                                                                    </label>

                                                                                    <div class="row" style="margin-left:4px;">
                                                                                        <ui-select name="" ng-model="ExerciseCtrl.model.timeUnit" style="width:140px;">
                                                                                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                                                            <ui-select-choices repeat="unit.title as unit in ExerciseCtrl.myConstantTimeUnits">
                                                                                                {{unit.title}}
                                                                                            </ui-select-choices>
                                                                                        </ui-select>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-12">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label>
                                                                                        Frequency
                                                                                    </label>
                                                                                    <div class="row" style="margin-left:4px;">
                                                                                        <ui-select name="" ng-model="ExerciseCtrl.model.frequency" style="width:140px;">
                                                                                            <ui-select-match placeholder="select...">{{ $select.selected.title}}</ui-select-match>
                                                                                            <ui-select-choices repeat="unit.title as unit in ExerciseCtrl.myConstantFrequency">
                                                                                                {{unit.title}}
                                                                                            </ui-select-choices>
                                                                                        </ui-select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group" style="margin-left:4px;">
                                                                                    <label>Resistance</label>
                                                                                    <ui-select sortable="true" ng-model="ExerciseCtrl.mySelectedResistance" theme="bootstrap" style="height:40px; width:140px;" ng-change="ExerciseCtrl.myFun()">
                                                                                        <ui-select-match placeholder="Select...">&nbsp;&nbsp;<span ng-bind-html="$select.selected.name"></span><div style="width:60px;float:right;background-color:{{$select.selected.name}};">&nbsp;&nbsp;<span ng-bind-html="$select.selected.name" style="background-color:{{$select.selected.name}}; text-shadow:none;color:{{$select.selected.name}}"></span></div></ui-select-match>
                                                                                        <ui-select-choices repeat="item in ExerciseCtrl.resistanceList | filter: $select.search">
                                                                                            <span>{{item.name}}</span>  <div style="width:60px; float:right;background-color:{{item.name}}"><span ng-bind-html="item.name" style="background-color:{{item.name}}; color:{{item.name}};"></span></div>
                                                                                        </ui-select-choices>
                                                                                    </ui-select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Comment</label>
                                                <textarea class="form-control" ng-model="ExerciseCtrl.model.comments" style="height:330px;"></textarea>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <div class="row">
                    <div class="col-md-12 text-right">

                        &nbsp;
                        <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="ExerciseCtrl.onCancelButtonClick()">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="submit" class="btn btn-save">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
