﻿
<div class="row" ng-if="config.showCopyFromMaster || config.showCopyFromFavorite"  style="margin-bottom:20px;">
    <div class="col-sm-12">
        <span class="pull-right">
            <button ng-if="config.showCopyFromMaster"
                    type="button"
                    ng-click="showCopyFrom('Master')"
                    class="btn btn-default btn-rounded-button btn-blue">
                Copy From Master Template
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button ng-if="config.showCopyFromFavorite"
                    type="button"
                    ng-click="showCopyFrom('Favorite')"
                    class="btn btn-default btn-rounded-button btn-blue">
                Copy From Favorite Template
            </button>
        </span>
    </div>
</div>


<div class="row">
    <div class="col-sm-2">
        <div>
            <div>
                <h3 style="margin-top:0">Filter</h3>
            </div>
            <div class="filter-section">
                <div class="input-group rounded-text-input">
                    <input type="text" placeholder="Search by keyword" ng-model="searchText" ng-change="loadData()" ng-model-options="{ debounce: 500 }">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
                </div>
                <div style="border-bottom:1px solid #ddd;height:1px;width:100%;margin-top:5px;">&nbsp;</div>
            </div>
            <div class="filter-section">
                <div class="heading" role="button" data-toggle="collapse" href="#regionFilter"
                     aria-expanded="false" aria-controls="regionFilter"
                     ng-click="filter.byRegionFilterToggle = !filter.byRegionFilterToggle">
                    BY REGION
                    <i class="fa fa-angle-down pull-right" ng-class="{'fa-angle-down':!filter.byRegionFilterToggle,'fa-angle-up':filter.byRegionFilterToggle}" aria-hidden="true"></i>
                </div>
                <div class="collapse" id="regionFilter">
                    <div ng-repeat="item in injuryRegionList">
                        <div style="padding:0px 20px;">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="item.isChecked" ng-change="loadData()">
                                {{item.name}}
                            </label>
                        </div>
                    </div>

                </div>
                <div style="border-bottom:1px solid #ddd;height:1px;width:100%;margin-top:5px;">&nbsp;</div>
            </div>
            <div class="filter-section">
                <div class="heading" role="button" data-toggle="collapse" href="#activityFilter"
                     aria-expanded="false" aria-controls="activityFilter"
                     ng-click="filter.byActivityFilterToggle = !filter.byActivityFilterToggle">
                    BY ACTIVITY
                    <i class="fa fa-angle-down pull-right" ng-class="{'fa-angle-down':!filter.byActivityFilterToggle,'fa-angle-up':filter.byActivityFilterToggle}" aria-hidden="true"></i>
                </div>
                <div class="collapse" id="activityFilter">
                    <div ng-repeat="item in activityList">
                        <div style="padding:0px 20px;">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="item.isChecked" ng-change="loadData()">
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:1px solid #ddd;height:1px;width:100%;margin-top:5px;">&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="left-right-border-box">
            <div class="row">
                <div class="col-sm-12">

                    <h3 style="margin-top:0">Choose Exercise</h3>
                    <h5 class="gray-text">Select exercise from below list to add to your master template, you can do filter from right.</h5>
                </div>
            </div>
            <div class="row choose-ex-grid-box">
                <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="item in exerciseItems" style="margin-bottom:20px">
                
                    <div style="height:60px;">
                        <media-item data="item"
                                    config="exerciseConfig"
                                    position="$index"></media-item>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2">

        <div class="row">
            <div class="col-sm-12">
                <h3 style="margin-top:0">Selected Exercise</h3>

            </div>
        </div>
    
        <div class="row choose-ex-grid-box">
            <div class="col-sm-12" ng-repeat="item in selectedExerciseItems">  
                <div style="background-color:lightgrey;">
                    <div style="text-align:center; background-color:lightblue; font-family:Verdana;">{{item.todisplay}}</div>
                    <div ng-if="item.template" style="border-radius:5px;">
                        <div style="background-color:gainsboro; height:10px;"></div>
                        
                        <div style="height:60px; border-radius:5px;">
                            <media-item data="item"
                                        config="selectedExerciseConfig"
                                        position="$index"></media-item>
                        </div>
                        <div style="background-color:gainsboro; height:10px;"></div>
                    </div>
                </div>
                <div ng-if="!item.template">
                    <div style="height:60px; margin-bottom:10px; margin-top:10px;">
                        <media-item data="item"
                                    config="selectedExerciseConfig"
                                    position="$index"></media-item>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="button-container">
    <div class="row">
        <div class="col-sm-12">
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="onCancel()">Cancel</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-save" ng-click="onSave()">Save</button>
            </span>
        </div>
    </div>

</div>

