<div class="modal-header">
    <button type="button" ng-click="close()" class="close btn btn-success"><i class="fa fa-times"></i></button>
    <h4 class="modal-title">
        <span ng-if="title">{{title}}</span>
        <span ng-if="!title">Video</span>

    </h4>
</div>
<div class="modal-body gray-bg" cg-busy="isLoading">



    <div style="overflow-y:auto;max-height:400px;background-color:white">
        <table class="table table-reponsive system-grid-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th style="width:20%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="item in dataItem">
                    <td>{{item.name}}</td>
                  
                    <td>
                        <button class="btn btn-default btn-blue" ng-click="onItemSelected(item)">Select</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
<div class="modal-footer">
    <button class="btn btn-default btn-gray" ng-click="close()">Close</button>
</div>

