﻿<div>
    <div class="image-box">
        <!--<img class="img-responsive" ng-src="{{getURL()}}" />-->
        <div ng-if="mediaType=='Image'" class="img-item" style="background-image:url({{mediaURL}})">

        </div>
        <!--<video ng-if="mediaType=='Video'" controls ngf-src="mediaURL" class="video-view"></video>-->
        <div ng-if="mediaType=='Video'" class="img-item" style="background-image:url({{mediaURL}})"></div>
        
        <div class="image-box-title">
            <span ng-if="mediaType=='Video'" class="video-play-icon" ng-click="openVideo()"></span>
            <span>
                {{title}}
            </span>
            <span ng-if="config.hasAddBtn" class="circle-btn btn-blue pull-right" ng-click="config.addBtnClick(dataItem,index)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>

            <span ng-if="config.hasDeleteBtn" class="circle-btn btn-red pull-right" ng-click="config.deleteBtnClick(dataItem,index)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>
