﻿<!-- Controller : ResourceRoleAVDCtrl -->
<div class="resource-availability-view tabs-body" ng-cloak cg-busy="ResourceRoleAVDCtrl.isPageBusy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default custom-panel" style="padding-bottom:20px;">
                    <div class="panel-heading">
                        <span class="panel-title">
                            <span ng-bind-html="ResourceRoleAVDCtrl.jobTitleName"></span>
                            <span ng-bind-html="ResourceRoleAVDCtrl.totalCount"
                                  class="label-title panel-title-count-lable"></span>
                        </span>
                        <span class="pull-right">
                            <button type="button" class="btn btn-default btn-gray" ng-click="ResourceRoleAVDCtrl.onBackButtonClick()">
                                <i class="fa fa-arrow-left"></i>&nbsp;Back
                            </button>
                        </span>
                        <span class="pull-right">
                            <button type="button" class="btn btn-default btn-gray" ng-click="ResourceRoleAVDCtrl.onAllResourceButtonClick()">
                                All Resources
                            </button>
                        </span>
                        <form class="pull-right form-inline" name="resourceAVDForm" novalidate ng-model-options="{ debounce : { default : 400 } }"
                              ng-submit="ResourceRoleAVDCtrl.submitAVDForm(resourceAVDForm)">

                            <div class="form-group" style="margin-top: 0px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    From
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="datapicer-group" style="float: left;">
                                    <input date-time class="form-control"
                                           style="max-width:115px;"
                                           min-view="date" name="start"
                                           format="MM/DD/YYYY" auto-close="true"
                                           ng-model="ResourceRoleAVDCtrl.tableRequest.start"
                                           ng-less-than-date-time="ResourceRoleAVDCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    To
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="datapicer-group" style="float: left;">
                                    <input date-time class="form-control"
                                           style="max-width:115px;"
                                           min-view="date" name="start"
                                           format="MM/DD/YYYY" auto-close="true"
                                           ng-model="ResourceRoleAVDCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px;min-width:150px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    For
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="inline-form-drop-down" style="min-width:100px;">
                                    <ui-select style="min-width:100px;" ng-model="ResourceRoleAVDCtrl.tableRequest.timeRange"
                                               on-select="ResourceRoleAVDCtrl.onTimeRangeChange()"
                                               ng-required="true"
                                               name="timeRange"
                                               ng-model-options="{ debounce : { default : 100 }}">
                                        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="timeRange in ResourceRoleAVDCtrl.timeRangeEnum">
                                            {{::timeRange}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px;">
                                <button class="btn btn-default btn-fixed-width btn-orange"
                                        style="margin:0;"
                                        ng-disabled="ResourceRoleAVDCtrl.isFormSubmitted" type="submit">
                                    Apply
                                </button>
                                <button type="button" class="btn btn-default btn-gray"
                                        ng-click="ResourceRoleAVDCtrl.isDetailedMode = !ResourceRoleAVDCtrl.isDetailedMode">
                                    {{ResourceRoleAVDCtrl.isDetailedMode? "Resource Availability" : "Resource Utilization" }}
                                </button>
                            </div>

                        </form>
                    </div>
                </div>  <!--Form Container-->
                <!-- Roles Avavilability -->
                <div class="panel panel-default custom-panel warning-panel" ng-if="!(ResourceRoleAVDCtrl.data.length > 0)">
                    <div class="panel-body">
                        <h3><i class="fa fa-warning"></i>&nbsp;No Any Data Found for selected Dates.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>