﻿<!-- Controller : ResourceRoleAVDCtrl -->
<div class="resource-availability-view tabs-body" ng-cloak cg-busy="ResourceRoleAVDCtrl.isPageBusy">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default custom-panel" style="padding-bottom:20px;">
                    <div class="panel-heading">
                        <span class="panel-title" ng-if="(ResourceRoleAVDCtrl.jobTitleModel && !ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                            Availability Vs Demand
                            <span ng-bind-html="ResourceRoleAVDCtrl.totalCount"
                                  class="label-title panel-title-count-lable"></span>
                        </span>
                        <span class="panel-title" ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                            <span title="{{ResourceRoleAVDCtrl.jobTitleModel.jobTitleName}}"
                                  ng-bind-html="ResourceRoleAVDCtrl.getEllipsesName(ResourceRoleAVDCtrl.jobTitleModel.jobTitleName, 20)"></span>
                            <span ng-bind-html="ResourceRoleAVDCtrl.totalCount"
                                  class="label-title panel-title-count-lable"></span>
                        </span>

                        <form class="pull-right form-inline" name="resourceAVDForm" novalidate ng-model-options="{ debounce : { default : 400 } }"
                              ng-submit="ResourceRoleAVDCtrl.submitAVDForm(resourceAVDForm)">

                            <div class="form-group" style="margin-top: 0px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    From
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="datapicer-group" style="float: left;">
                                    <input date-time class="form-control"
                                           style="max-width:115px;"
                                           min-view="date" name="start"
                                           format="MM/DD/YYYY" auto-close="true"
                                           ng-model="ResourceRoleAVDCtrl.tableRequest.start"
                                           ng-less-than-date-time="ResourceRoleAVDCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="start"></ng-vadlidator-message>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    To
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="datapicer-group" style="float: left;">
                                    <input date-time class="form-control"
                                           style="max-width:115px;"
                                           min-view="date" name="start"
                                           format="MM/DD/YYYY" auto-close="true"
                                           ng-model="ResourceRoleAVDCtrl.tableRequest.end" required>
                                    <ng-vadlidator-message ng-element-name="end"></ng-vadlidator-message>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px;min-width:150px; margin-right:15px;">
                                <label class="form-control-label" style="float: left; padding-top: 9px; padding-right: 7px;">
                                    For
                                    <span class="requireStyle">*</span>
                                </label>
                                <div class="inline-form-drop-down">
                                    <ui-select ng-model="ResourceRoleAVDCtrl.tableRequest.timeRange"
                                               on-select="ResourceRoleAVDCtrl.onTimeRangeChange()"
                                               ng-required="true"
                                               name="timeRange"
                                               ng-model-options="{ debounce : { default : 100 }}">
                                        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="timeRange in ResourceRoleAVDCtrl.timeRangeEnum">
                                            {{::timeRange}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 0px;" ng-if="!ResourceRoleAVDCtrl.isInlineFormVisible">
                                <button class="btn btn-default btn-orange"
                                        style="margin:0;"
                                        ng-disabled="ResourceRoleAVDCtrl.isFormSubmitted" type="submit">
                                    Apply
                                </button>
                                <button type="button" class="btn btn-default btn-gray"
                                        ng-click="ResourceRoleAVDCtrl.onModeChangeButtonClick()">
                                    <span ng-if="(ResourceRoleAVDCtrl.jobTitleModel && !ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                                        {{ResourceRoleAVDCtrl.isDetailedMode? "Roles Availability" : "Roles Utilization" }}
                                    </span>
                                    <span ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                                        {{ResourceRoleAVDCtrl.isDetailedMode? "Resource Availability" : "Resource Utilization" }}
                                    </span>
                                </button>
                                <button type="button" class="btn btn-default btn-gray" ng-click="ResourceRoleAVDCtrl.onAllResourceButtonClick()">
                                    All Resources
                                </button>
                                <button type="button" ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)"
                                        class="btn btn-default btn-gray" ng-click="ResourceRoleAVDCtrl.onBackButtonClick()">
                                    <i class="fa fa-arrow-left"></i>&nbsp;Back
                                </button>
                            </div>
                            <div class="form-group dropdown avd-more-dropdown" style="margin-top: 0px;" ng-if="ResourceRoleAVDCtrl.isInlineFormVisible">

                                <button class="btn btn-default btn-orange" style="margin:0;"
                                        ng-disabled="ResourceRoleAVDCtrl.isFormSubmitted" type="submit">
                                    Apply
                                </button>
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <button type="button" class="btn form-control"
                                                ng-click="ResourceRoleAVDCtrl.onModeChangeButtonClick()">
                                            <span ng-if="(ResourceRoleAVDCtrl.jobTitleModel && !ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                                                {{ResourceRoleAVDCtrl.isDetailedMode? "Roles Availability" : "Roles Utilization" }}
                                            </span>
                                            <span ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                                                {{ResourceRoleAVDCtrl.isDetailedMode? "Resource Availability" : "Resource Utilization" }}
                                            </span>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn form-control" ng-click="ResourceRoleAVDCtrl.onAllResourceButtonClick()">
                                            All Resources
                                        </button>
                                    </li>
                                    <li ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                                        <button type="button"
                                                class="btn form-control" ng-click="ResourceRoleAVDCtrl.onBackButtonClick()">
                                            <i class="fa fa-arrow-left"></i>&nbsp;Back
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </form>
                    </div>
                </div>  <!--Form Container-->
                <!-- Warning Panel for NO DATA -->
                <div class="panel panel-default custom-panel warning-panel" ng-if="!(ResourceRoleAVDCtrl.data.length > 0)">
                    <div class="panel-body">
                        <h3><i class="fa fa-warning"></i>&nbsp;No Any Data Found for selected Dates.</h3>
                    </div>
                </div>


                <!-- Roles Avavilability Container -->
                <div id="roles_avd_container" ng-if="(ResourceRoleAVDCtrl.jobTitleModel && !ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">
                    <div class="panel panel-default custom-panel inner-panel" style="padding:0;" ng-if="!ResourceRoleAVDCtrl.isDetailedMode && ResourceRoleAVDCtrl.data.length > 0">
                        <div class="panel-body avd-panel-body">
                            <div class="table-responsive">
                                <table class="role-avd-table" ng-table="ResourceRoleAVDCtrl.tableParams">
                                    <tbody>
                                        <tr>
                                            <td class="fix-td-new">
                                                <table class="table avd-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="header sortable" style="border-right: 1px solid rgba(0,0,0,0.3);position:relative;">
                                                                <!--ng-click="ResourceRoleAVDCtrl.onSortButtonClick()">-->
                                                                <span>
                                                                    Role
                                                                    <!--<i class="fa" style="position: absolute; right: 15px; top: 15px;"
                                                                    ng-class="{'fa-sort':!ResourceRoleAVDCtrl.queryParams.sortType,
                                                                    'fa-sort-asc':ResourceRoleAVDCtrl.queryParams.sortType==='asc',
                                                                    'fa-sort-desc':ResourceRoleAVDCtrl.queryParams.sortType==='desc'}"></i>-->
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                            <td class="avd-cell job-title-cell">
                                                                <a href="" title="{{row[0].jobTitleName}}" ng-click="ResourceRoleAVDCtrl.onJobTitleNameClick(row[0])">
                                                                    <span ng-bind-html="ResourceRoleAVDCtrl.getEllipsesName(row[0].jobTitleName, 50)"></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="scrollable-td">
                                                <table class="table avd-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="header date-container" style="border-top-width:0;"
                                                                ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                                <span class="">
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Day'">
                                                                        {{col.dMonth}}&nbsp;/&nbsp;{{col.dDay}}&nbsp;/&nbsp;{{col.dYear}}
                                                                    </span>
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Month'">
                                                                        {{col.dMonth}}&nbsp;/&nbsp;{{col.dYear}}
                                                                    </span>
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Year'">
                                                                        {{col.dYear}}
                                                                    </span>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                            <td class="avd-cell job-title-data-cell" ng-repeat="col in row">
                                                                <div class="numbers"
                                                                     uib-popover-template="'sampleTemplateForRole.html'"
                                                                     uib-popover-popup-close-delay="500"
                                                                     popover-placement="bottom"
                                                                     popover-trigger="mouseenter">
                                                                    <span class="text-info">
                                                                        <span class="title title_blue" ng-bind-html="col.resourcesCount.toFixed(2)"></span>
                                                                        <span class="title title_red" ng-bind-html="col.totalDemandResource.toFixed(2)"></span>
                                                                        <span class="title title_green" ng-bind-html="col.totalAvailableResources.toFixed(2)"></span>
                                                                    </span>
                                                                    <div class="progress-bar">
                                                                        <div class="inner inner-red"
                                                                             ng-style="{width: ResourceRoleAVDCtrl.calculateTotalRoleDemandPercentage(col.resourcesCount, col.totalDemandResource) + '%'}"></div>
                                                                    </div>
                                                                </div>
                                                                <script type="text/ng-template" id="sampleTemplateForRole.html">
                                                                    <div style="display:block;">
                                                                        <div style="color:#5a677e; padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
                                                                            Total Resources: <strong class="pull-right" ng-bind-html="col.resourcesCount.toFixed(2)"></strong>
                                                                        </div>
                                                                        <div style="padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
                                                                            Resource in Demand: <strong class="pull-right" ng-bind-html="col.totalDemandResource.toFixed(2)"></strong>
                                                                        </div>
                                                                        <div style="padding:5px 0; border-bottom:1px solid rgba(0,0,0,0.2)">
                                                                            Available Resources: <strong class="pull-right" ng-bind-html="col.totalAvailableResources.toFixed(2)"></strong>
                                                                        </div>
                                                                    </div>
                                                                </script>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row ng-table-pager" ng-if="ResourceRoleAVDCtrl.pagination.length">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <ul class="pagination">
                                                    <li ng-repeat="page in ResourceRoleAVDCtrl.pagination"
                                                        ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                                        ng-switch="page.type">
                                                        <a ng-switch-when="prev" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                        <a ng-switch-when="first" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="page" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="more" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            ...
                                                        </a>
                                                        <a ng-switch-when="last" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="next" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Detailed Availability -->
                    <div class="panel panel-default custom-panel inner-panel" style="padding:0;" ng-if="ResourceRoleAVDCtrl.isDetailedMode && ResourceRoleAVDCtrl.data.length > 0">
                        <div class="panel-body" style="padding:0;">
                            <div class="row">
                                <div class="col-md-12 overflow-scroll">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="fix-grid-content">
                                                <div class="fix-left-colum">
                                                    <div class="row-hedad sortable"
                                                         ng-class="{'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                                                'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'}">
                                                        <span class="sort-indicator"
                                                              ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                            Role
                                                        </span>
                                                    </div>

                                                    <div ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                        <div class="row-item">
                                                            <a href="#" ng-click="ResourceRoleAVDCtrl.onJobTitleNameClick(row[0])">
                                                                <span ng-bind-html="row[0].jobTitleName"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="scroll-content-colum">
                                                    <div class="grid-heading">
                                                        <div class="items" ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                            <span class="item item-top">
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Day'">
                                                                    {{col.dMonth}}&nbsp;/&nbsp;{{col.dDay}}&nbsp;/&nbsp;{{col.dYear}}
                                                                </span>
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Month'">
                                                                    {{col.dMonth}}&nbsp;/&nbsp;{{col.dYear}}
                                                                </span>
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Year'">
                                                                    {{col.dYear}}
                                                                </span>
                                                            </span>
                                                            <span class="item">Demand</span>
                                                            <span class="item">Available</span>
                                                            <span class="item">Utilization</span>
                                                        </div>
                                                    </div>
                                                    <!-- grid row -->
                                                    <div class="grid-row" ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                        <div class="items" ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                            <span class="item">{{::col.totalDemandResource}}</span>
                                                            <span class="item">{{::col.totalAvailableResources}}</span>
                                                            <span class="item" ng-class="::{ 'medium' : ResourceRoleAVDCtrl.isMediumClass(col),
                                                               'cretical' : ResourceRoleAVDCtrl.isCriticalClass(col)}">
                                                                <span ng-bind-html="ResourceRoleAVDCtrl.getRoleUtilization(col)"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row ng-table-pager" ng-if="ResourceRoleAVDCtrl.pagination.length">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <ul class="pagination">
                                                    <li ng-repeat="page in ResourceRoleAVDCtrl.pagination"
                                                        ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                                        ng-switch="page.type">
                                                        <a ng-switch-when="prev" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                        <a ng-switch-when="first" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="page" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="more" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            ...
                                                        </a>
                                                        <a ng-switch-when="last" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="next" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Resource Avalability Container -->
                <div id="resource_avd_container" ng-if="(ResourceRoleAVDCtrl.jobTitleModel && ResourceRoleAVDCtrl.jobTitleModel.jobTitleId > 0)">

                    <div class="panel panel-default custom-panel inner-panel"
                         style="padding:0;"
                         ng-if="!ResourceRoleAVDCtrl.isDetailedMode && ResourceRoleAVDCtrl.data.length > 0">
                        <div class="panel-body avd-panel-body">
                            <div class="table-responsive">
                                <table class="role-avd-table" ng-table="ResourceRoleAVDCtrl.tableParams">
                                    <tbody>
                                        <tr>
                                            <td class="fix-td-new">
                                                <table class="table avd-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="header sortable" style="border-right: 1px solid rgba(0,0,0,0.3);position:relative;">
                                                                <!--ng-click="ResourceRoleAVDCtrl.onSortButtonClick()">-->
                                                                <span>
                                                                    Resource
                                                                    <!--<i class="fa" style="position: absolute; right: 15px; top: 15px;"
                                                                    ng-class="{'fa-sort':!ResourceRoleAVDCtrl.queryParams.sortType,
                                                                    'fa-sort-asc':ResourceRoleAVDCtrl.queryParams.sortType==='asc',
                                                                    'fa-sort-desc':ResourceRoleAVDCtrl.queryParams.sortType==='desc'}"></i>-->
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                            <td class="avd-cell job-title-cell">
                                                                <a href="" title="{{row[0].resourceName}}" ng-click="ResourceRoleAVDCtrl.onResourceNameClick(row[0])">
                                                                    <span ng-bind-html="ResourceRoleAVDCtrl.getEllipsesName(row[0].resourceName, 40)"></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="scrollable-td">
                                                <table class="table avd-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="header date-container"
                                                                ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                                <span class="">
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Day'">
                                                                        {{col.dMonth}}&nbsp;/&nbsp;{{col.dDay}}&nbsp;/&nbsp;{{col.dYear}}
                                                                    </span>
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Month'">
                                                                        {{col.dMonth}}&nbsp;/&nbsp;{{col.dYear}}
                                                                    </span>
                                                                    <span ng-if="ResourceRoleAVDCtrl.columnMode == 'Year'">
                                                                        {{col.dYear}}
                                                                    </span>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                            <td class="avd-cell job-title-data-cell" ng-repeat="col in row">
                                                                <div class="numbers"
                                                                     uib-popover-template="'sampleTemplateForResources.html'"
                                                                     uib-popover-popup-close-delay="500"
                                                                     popover-placement="bottom"
                                                                     popover-trigger="mouseenter">
                                                                    <span class="text-info">
                                                                        <span class="title title_blue" ng-bind-html="col.totalHours.toFixed(2)"></span>
                                                                        <span class="title title_red"
                                                                              ng-bind-html="ResourceRoleAVDCtrl.getResourceRedValue(col).toFixed(2)"></span>
                                                                        <span class="title title_green" ng-bind-html="col.totalAvailableHours.toFixed(2)"></span>
                                                                    </span>
                                                                    <div class="progress-bar">
                                                                        <div class="inner inner-red"
                                                                             ng-style="{width: ResourceRoleAVDCtrl.calculateTotalResourceDemandPercentage(col) + '%'}"></div>
                                                                    </div>
                                                                </div>
                                                                <script type="text/ng-template" id="sampleTemplateForResources.html">
                                                                    <div style="display:block;">
                                                                        <div style="color:#5a677e; padding:5px 0;">
                                                                            <!-- border-bottom:1px solid rgba(0,0,0,0.2) -->
                                                                            <strong>Total Hours:</strong>
                                                                            <strong class="pull-right" style="padding-left:15px;" ng-bind-html="col.totalHours.toFixed(2)"></strong>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0;">
                                                                            <span style="padding-left:15px;">
                                                                                Time Off Hours: <strong class="pull-right" ng-bind-html="col.totalTimeOffHours.toFixed(2)"></strong>
                                                                            </span>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0;">
                                                                            <span style="padding-left:15px;">
                                                                                Holiday Hours: <strong class="pull-right" ng-bind-html="col.holidayHours.toFixed(2)"></strong>
                                                                            </span>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0; ">
                                                                            <strong> Actual Hours:</strong>  <strong class="pull-right" ng-bind-html="col.actualHours.toFixed(2)"></strong>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0;">
                                                                            <span style="padding-left:15px;">
                                                                                Reserved Availability : <strong class="pull-right" ng-bind-html="col.reservedAvailability.toFixed(2)"></strong>
                                                                            </span>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0;">
                                                                            <span style="padding-left:15px;">
                                                                                Demand From Tasks : <strong class="pull-right" ng-bind-html="col.demandFromTasks.toFixed(2)"></strong>
                                                                            </span>
                                                                        </div>
                                                                        <div style="color:#5a677e; padding:5px 0; border-top: 1px solid rgba(0,0,0,0.3)">
                                                                            <strong> Total Available Hours:</strong>  <strong class="pull-right" ng-bind-html="col.totalAvailableHours.toFixed(2)"></strong>
                                                                        </div>
                                                                    </div>
                                                                </script>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row ng-table-pager" ng-if="ResourceRoleAVDCtrl.pagination.length">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <ul class="pagination">
                                                    <li ng-repeat="page in ResourceRoleAVDCtrl.pagination"
                                                        ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                                        ng-switch="page.type">
                                                        <a ng-switch-when="prev" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                        <a ng-switch-when="first" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="page" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="more" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            ...
                                                        </a>
                                                        <a ng-switch-when="last" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="next" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Detailed Availability -->
                    <div class="panel panel-default custom-panel inner-panel" style="padding:0;" ng-if="ResourceRoleAVDCtrl.isDetailedMode && ResourceRoleAVDCtrl.data.length > 0">
                        <div class="panel-body" style="padding:0">
                            <div class="row">
                                <div class="col-md-12 overflow-scroll">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="fix-grid-content">
                                                <div class="fix-left-colum">
                                                    <div class="row-hedad sortable" ng-class="{'sort-asc': RolesAvailabilityVsDemandCtrl.sortType === 'asc',
                                          'sort-desc': RolesAvailabilityVsDemandCtrl.sortType === 'desc'}">
                                                        <span class="sort-indicator"
                                                              ng-click="RolesAvailabilityVsDemandCtrl.sort()">
                                                            Resource
                                                        </span>
                                                    </div>

                                                    <div ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                        <div class="row-item">
                                                            <a href="#" ng-click="ResourceRoleAVDCtrl.onJobTitle_Click(row[0].jobTitleId, row[0].jobTitleName)">
                                                                <span ng-bind-html="row[0].resourceName"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="scroll-content-colum">
                                                    <div class="grid-heading">
                                                        <div class="items" ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                            <span class="item item-top">
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Day'">
                                                                    {{col.dMonth}}&nbsp;/&nbsp;{{col.dDay}}&nbsp;/&nbsp;{{col.dYear}}
                                                                </span>
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Month'">
                                                                    {{col.dMonth}}&nbsp;/&nbsp;{{col.dYear}}
                                                                </span>
                                                                <span ng-if="ResourceRoleAVDCtrl.tableRequest.timeRange == 'Year'">
                                                                    {{col.dYear}}
                                                                </span>
                                                            </span>
                                                            <span class="item">Demand</span>
                                                            <span class="item">Available</span>
                                                            <span class="item">Utilization</span>
                                                        </div>
                                                    </div>
                                                    <!-- grid row -->
                                                    <div class="grid-row" ng-repeat="row in ResourceRoleAVDCtrl.data track by $index">
                                                        <div class="items" ng-repeat="col in ResourceRoleAVDCtrl.data[0]">
                                                            <span class="item">{{::col.demandFromTasks.toFixed(2)}}</span>
                                                            <span class="item">{{::col.totalAvailableHours.toFixed(2)}}</span>
                                                            <span class="item" ng-class="::{ 'medium' : ResourceRoleAVDCtrl.isMediumClassForResource(col),
                                                               'cretical' : ResourceRoleAVDCtrl.isCriticalClassForResource(col)}">
                                                                {{ResourceRoleAVDCtrl.getResourceUtilization(col)}}
                                                                {{::col.utilization}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row ng-table-pager" ng-if="ResourceRoleAVDCtrl.pagination.length">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <ul class="pagination">
                                                    <li ng-repeat="page in ResourceRoleAVDCtrl.pagination"
                                                        ng-class="{'disabled' : !page.active && !page.current,'active': page.current}"
                                                        ng-switch="page.type">
                                                        <a ng-switch-when="prev" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-left"></i>
                                                        </a>
                                                        <a ng-switch-when="first" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="page" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="more" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            ...
                                                        </a>
                                                        <a ng-switch-when="last" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <span ng-bind="page.number"></span>
                                                        </a>
                                                        <a ng-switch-when="next" ng-click="ResourceRoleAVDCtrl.onPageChange(page)">
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>