<irms-not-found irms-name="Resource" irms-link="{{::ResourceEditCtrl.resourceHref}}" ng-if="::!ResourceEditCtrl.isResourceLoadedCorrectly"></irms-not-found>
<div cg-busy="ResourceEditCtrl.loadCorrect"
     ng-if="::ResourceEditCtrl.isResourceLoadedCorrectly"
     style=""
     class="resource-edit-page"
     ng-cloak>
    <form name="resourceEditForm" ng-submit="ResourceEditCtrl.onSave_Click(resourceEditForm)" novalidate ng-model-options="{ debounce : { default : 400 }}" ng-init="ResourceEditCtrl.setFormScope(this)">
        <div class="container-fluid container-wrap container-wrap-aside-left tabs-wrap">
            <!--Error Row-->
            <div class="tabs-body" ng-if="formErrorList">
                <div class="row">
                    <div class="col-md-12" style="padding-left: 30px;padding-right: 30px;">
                        <div class="panel panel-default custom-panel panel-error">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    Please fix following errors
                                </span>
                                <span class="pull-right">
                                    <a href="#" ng-click="hideErrorTab()">
                                        &times;
                                    </a>
                                </span>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="(key, errors) in formErrorList track by $index">
                                        <strong>{{ key }}</strong> tab have errors
                                        <ul>
                                            <li ng-repeat="e in errors track by $index" ng-if="e"><strong>{{ e }}</strong> is required.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-cloak>
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':ResourceEditCtrl.leftMenuMaxHeight + 'px'}">
                        <edz-tab-links edz-current-tab="ResourceEditCtrl.currentTab" ng-repeat="tab in ::ResourceEditCtrl.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::ResourceEditCtrl[tab.id + '_Click']"
                                          ng-if="::!ResourceEditCtrl[tab.id + '_Condition']() && tab.visible">
                                {{tab.name}}
                            </edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>
                <div class="col-md-9" ng-cloak>
                    <div class="">
                        <div ng-class="{'disable-inputs':!ResourceEditCtrl.canUpdateOrInsertButtonDisabled()}">
                            <edz-tab-bodies edz-current-tab="ResourceEditCtrl.currentTab">
                                <!-- PersonalInformation -->
                                <edz-tab-body edz-tab-id="personalInformation" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'personalInformation'}">
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">
                                                            {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('personalInformation')}}
                                                        </div>
                                                        <div class="detail-top-inner">
                                                            {{ResourceEditCtrl.model.jobTitle.name}}
                                                            <span class="detail-top-inner-years-employed" ng-bind-html="ResourceEditCtrl.model.strCertificateExperience"></span>
                                                        </div>
                                                    </div>
                                                    <span class="pull-right" style="position: absolute;right: 35px;top: 15px;" ng-bind-html="ResourceEditCtrl.getEmployedFromString()"></span>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="">
                                                            <div class="col-md-7">
                                                                <!-- Profile Image, Ratings, Productivity and Range Fields. -->
                                                                <div class="profile-rating-properties">
                                                                    <div class="profile-avtar">
                                                                        <div class="image-container">
                                                                            <div class="ico_image_figure">
                                                                                <img ng-if="ResourceEditCtrl.uploadFileAvatar" style="width:100%" class="img-responsive" ngf-src="ResourceEditCtrl.uploadFileAvatar" />
                                                                                <div class="profile-picture"
                                                                                     style="background-image: url('Client/assets/images/default-user-icon.png')"
                                                                                     ng-if="!ResourceEditCtrl.model.photoFileNameUrl"></div>
                                                                                <div class="profile-picture"
                                                                                     style="background-image:url('{{ResourceEditCtrl.model.photoFileNameUrl}}')"
                                                                                     ng-if="ResourceEditCtrl.model.photoFileNameUrl"></div>
                                                                            </div>
                                                                            <div class="action-bar">
                                                                                <button type="submit" class="display-none" onclick="return false">...</button>
                                                                                <span class="dots">...</span>
                                                                                <button type="file" class="btn btn-default" ngf-select ngf-change="ResourceEditCtrl.uploadFileAvatarFunc($file, $invalidFiles)" ng-model="picFile"
                                                                                        accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </button>
                                                                                <a class="btn btn-default" ng-click="ResourceEditCtrl.deleteAvatar()">
                                                                                    <i class="fa fa-trash-o"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="info">
                                                                            <div class="total-rating">
                                                                                <div class="rating-row Raiting">
                                                                                    <span class="rating-label-text">Rating</span>
                                                                                    <span class="rating-value">{{ResourceEditCtrl.getNA('rating')}}</span>
                                                                                    <span class="rating-container">
                                                                                        <span ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" class="rating" ng-class="{active : ResourceEditCtrl.getNA('rating') >= n}">
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="info">
                                                                            <div class="total-rating">
                                                                                <div class="rating-row Productivity">
                                                                                    <span class="rating-label-text">Productivity</span>
                                                                                    <span class="rating-value">{{ResourceEditCtrl.getNA('productivity')}}</span>
                                                                                    <span class="rating-container">
                                                                                        <span ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" class="rating" ng-class="{active : ResourceEditCtrl.getNA('productivity') >= n}">
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="info">
                                                                        <div class="total-rating">
                                                                            <div class="rating-row Range">
                                                                                <span class="switch-field">
                                                                                    <span class="rating-label-text">Range</span>
                                                                                    <span class="rating-value">{{ResourceEditCtrl.getNA('range')}}</span>
                                                                                    <input type="radio" id="switch_3_left" name="rating" ng-model="ResourceEditCtrl.model.range" value="L" />
                                                                                    <label for="switch_3_left" style="margin-right:-4px;">Low</label>
                                                                                    <input type="radio" id="switch_3_center" name="switch_3" ng-model="ResourceEditCtrl.model.range" value="M" />
                                                                                    <label for="switch_3_center" style="margin-right:-4px;">Medium</label>
                                                                                    <input type="radio" id="switch_3_right" name="switch_3" ng-model="ResourceEditCtrl.model.range" value="H" />
                                                                                    <label for="switch_3_right">High</label>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container1 track by field.id">
                                                                <div class="col-md-5" ng-if="field.id == 'overview'">
                                                                    <div class="form-group">
                                                                        <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" form="resourceEditForm" edz-field-id="{{field.id}}">
                                                                        </edz-dynamic-form-controller-compiler>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container2 track by field.id">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" form="resourceEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container3 track by field.id">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Personal Info -->
                                    </div>
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">Employee Detail</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container4  track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Employee Detail -->


                                        <div class="panel panel-default custom-panel inner-cus-panel" ng-if="ResourceEditCtrl.personalInfoContainer.container5 || ResourceEditCtrl.personalInfoContainer.container6">
                                            <!--<div class="panel-heading">
                                                <span class="panel-title">
                                                    {{ResourceEditCtrl.getTabDisplayName('compensationAndBenefits')}}
                                                </span>
                                            </div>-->
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.personalInfoContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Compensation and Benefits -->
                                    </div>
                                </edz-tab-body>

                                <!-- BackgroundCheck -->
                                <edz-tab-body edz-tab-id="backgroundCheck" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'backgroundCheck'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('backgroundCheck')}}
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container1 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container2 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container3 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>

                                    <div class="row" ng-if="ResourceEditCtrl.backgroundCheckContainer.container4.length > 0">
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container4 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" ng-if="ResourceEditCtrl.backgroundCheckContainer.container5.length > 0">
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container5 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:25px;" ng-if="ResourceEditCtrl.backgroundCheckContainer.container6.length > 0">
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.backgroundCheckContainer.container6 track by field.id">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </edz-tab-body>

                                <!-- Availability -->
                                <edz-tab-body edz-tab-id="availability" ng-if="::ResourceEditCtrl.projectId" edz-tab-content-class="tab-inner vailability-tab" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'availability'}">
                                    <!-- First Row contains Input Fields -->
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('availability')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <!--<div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <ng-form novalidate ng-isolate-form name="availabilityShowSubmitForm">
                                                            <div class="form-group">
                                                                <label>
                                                                    Start Date
                                                                </label>
                                                                <div class="datapicer-group">
                                                                    <input date-time
                                                                           class="form-control"
                                                                           min-view="date"
                                                                           name="startDateAvailability"
                                                                           ng-less-than-date-time="ResourceEditCtrl.availabilityModelShow.end"
                                                                           format="MM/DD/YYYY"
                                                                           auto-close="true"
                                                                           ng-model="ResourceEditCtrl.availabilityModelShow.start"
                                                                           required="required">
                                                                </div>
                                                                <ng-vadlidator-message ng-element-name="startDateAvailability">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </ng-form>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ng-form novalidate ng-isolate-form name="availabilityShowSubmitForm">
                                                            <div class="form-group">
                                                                <label for="">
                                                                    End Date
                                                                </label>
                                                                <div class="datapicer-group">
                                                                    <input date-time
                                                                           class="form-control"
                                                                           min-view="date"
                                                                           name="endDateAvailability"
                                                                           format="MM/DD/YYYY"
                                                                           auto-close="true"
                                                                           ng-model="ResourceEditCtrl.availabilityModelShow.end"
                                                                           required="required">
                                                                </div>
                                                                <ng-vadlidator-message ng-element-name="endDateAvailability">
                                                                </ng-vadlidator-message>
                                                            </div>
                                                        </ng-form>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ng-form novalidate ng-isolate-form name="availabilityShowSubmitForm">
                                                            <div class="form-group">
                                                                <label for="">Interval</label>
                                                                <div>
                                                                    <ui-select ng-model="ResourceEditCtrl.availabilityModelShow.timeRange" ng-required="true" name="availabilityTimeRange" ng-model-options="{ debounce : { default : 100 }}">
                                                                        <ui-select-match placeholder="select...">{{$select.selected}}</ui-select-match>
                                                                        <ui-select-choices repeat="timeRange in ResourceEditCtrl.availabilityTimeRange">
                                                                            {{::timeRange}}
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                    <ng-vadlidator-message ng-element-name="availabilityTimeRange">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </ng-form>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ng-form novalidate ng-isolate-form name="availabilityShowSubmitForm">
                                                            <div class="form-group">
                                                                <label> &nbsp;</label>
                                                                <div class="text-center">
                                                                    <button type="button" class="btn btn-default btn-orange" ng-click="ResourceEditCtrl.onShowAvailability_Click(availabilityShowSubmitForm)">
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </ng-form>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div style="overflow:auto;">
                                                <img ng-click="ResourceEditCtrl.onAvailabilityImageClick()"
                                                     src="Client/assets/images/DemoImages/availibility-single.png"
                                                     style="width:170%;">
                                            </div>
                                        </div> <!-- Panel Body -->
                                    </div>

                                   <div class="panel panel-default custom-panel">
                                       <div class="panel-heading">
                                           <div class="panel-title">
                                               Cases
                                           </div>
                                       </div>
                                       <div class="panel-body">
                                           <table class="table">
                                               <thead>
                                                   <tr>
                                                       <th>CASE ID</th>
                                                       <th>INJURY REGION</th>
                                                       <th>CLINICIAN</th>
                                                       <th>REFERRING PHYSICIAN</th>
                                                       <th>CREATED DATE</th>
                                                       <th>CASE STATUS</th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                                   <tr ng-repeat="case in ResourceEditCtrl.caseList.data track by $index">
                                                       <td>
                                                           <a href="#" ui-sref="patientCaseEdit({patientId:case.patientId,caseId:case.id})">
                                                               {{case.caseNo}}
                                                           </a>
                                                       </td>
                                                       <td>{{case.injuryRegion.name || '----'}}</td>
                                                       <td>{{ResourceEditCtrl.model.name}}</td>
                                                       <td>{{case.referingPhysician.name || '----'}}</td>
                                                       <td>{{case.startDate | date:'MM/dd/yyyy' || '----'}}</td>
                                                       <td>{{case.caseStatus}}</td>
                                                   </tr>
                                               </tbody>
                                           </table>
                                       </div>
                                   </div>

                                    <!-- Second Row contains Charts -->
                                    <!--<div class="panel panel-default custom-panel" style="padding:0;">
                                        <div class="panel-body" style="padding:0;">
                                            <div class="col-md-12" style="padding:0;">
                                                <ng-form novalidate ng-isolate-form name="availabilityShowSubmitForm">
                                                    <div class="overflowDiv data-time-block" ng-if="ResourceEditCtrl.availableVsDemandData && ResourceEditCtrl.availableVsDemandData.length > 0">
                                                        <table class="table table-bordered heading-th-no-padding" style="margin:0;">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border-bottom:1px solid rgba(0,0,0,0.1);" class="header" colspan="1"
                                                                        ng-repeat="column in ResourceEditCtrl.availableVsDemandHeaders track by column.id">
                                                                        <span style="width:150px;" class="text-center">{{::column.name}}</span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="background-color:white;">
                                                                    <td class="pop-over-container" ng-repeat="col in ResourceEditCtrl.availableVsDemandData track by col.id" style="background-color:white;">
                                                                        <availability-bar-field ng-column="col" ng-fixed-to="2"></availability-bar-field>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </ng-form>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!-- Third Row contains Input Fields -->
                                    <!--<div class="panel panel-default custom-panel" style="padding-bottom:10px;">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <ng-form novalidate ng-isolate-form name="availabilitySubmitForm">
                                                    <div class="row border-none margin-none">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="" class="">
                                                                    From
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <div class="datapicer-group">
                                                                    <input date-time class="form-control"
                                                                           min-view="date" name="availabilityFrom" required
                                                                           format="MM/DD/YYYY" auto-close="true"
                                                                           ng-model="ResourceEditCtrl.availabilityModelSave.availabilityFrom">
                                                                    <ng-vadlidator-message ng-element-name="availabilityFrom">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="">To</label>
                                                                <div class="datapicer-group">
                                                                    <input date-time class="form-control" min-view="date" name="availabilityTo"
                                                                           format="MM/DD/YYYY" auto-close="true"
                                                                           ng-model="ResourceEditCtrl.availabilityModelSave.availabilityTo">
                                                                    <ng-vadlidator-message ng-element-name="availabilityTo">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="">
                                                                    Availability %
                                                                    <span class="requireStyle">*</span>
                                                                </label>
                                                                <div>
                                                                    <input type="number" ng-decimal min="1" ng-max="100" class="form-control"
                                                                           required name="maxAvailabilityPercentage" id="maxAvailabilityPercentage"
                                                                           ng-model="ResourceEditCtrl.availabilityModelSave.maxAvailabilityPercentage" />
                                                                    <ng-vadlidator-message ng-element-name="maxAvailabilityPercentage">
                                                                    </ng-vadlidator-message>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 text-center">
                                                            <div class="form-group">
                                                                <label for="">&nbsp;</label>
                                                                <div>
                                                                    <button type="button" class="btn btn-default btn-orange" ng-click="ResourceEditCtrl.onSubmitAvailability_Click(availabilitySubmitForm)">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-form>
                                            </div>
                                        </div>
                                    </div>

                                    <ng-form novalidate ng-isolate-form name="availabilityList" ng-cloak>
                                        <ui-grid-table ng-get="ResourceEditCtrl.getResourceAvailabilityList"
                                                       ng-option="ResourceEditCtrl.optionResourceAvailabilityList"
                                                       ng-table-command="ResourceEditCtrl.availabilityListReload"
                                                       ng-on-responce-transform="ResourceEditCtrl._onResourceAvailabilityResponceTransform">
                                        </ui-grid-table>
                                    </ng-form>

                                    <ng-form novalidate ng-isolate-form name="demandList" ng-cloak>
                                        <ui-grid-table ng-get="ResourceEditCtrl.getResourceDemandList"
                                                       ng-option="ResourceEditCtrl.optionResourceDemandList"
                                                       ng-table-command="ResourceEditCtrl.demandListReload"
                                                       ng-on-responce-transform="ResourceEditCtrl._onResourceDemandResponceTransform">
                                        </ui-grid-table>
                                    </ng-form>-->

                                </edz-tab-body>

                                <!-- SKILLS -->
                                <edz-tab-body edz-tab-id="skills" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'skills'}">
                                    <div class="row border-none heading">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('skills')}}
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <skill-table-list skill-list="ResourceEditCtrl.model.skills"
                                                                      ng-option="ResourceEditCtrl.skillViewModel"
                                                                      ng-model="ResourceEditCtrl.model.skills"></skill-table-list>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- Education -->
                                <edz-tab-body edz-tab-id="education" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'education'}">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <span class="panel-title">
                                                    {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('education')}}
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Grade Level</label>
                                                                <input type="text" class="form-control" id="" placeholder="Grade Level" ng-model="ResourceEditCtrl.model.gradeLevel">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Years of College</label>
                                                                <input type="text" class="form-control" id="" placeholder="Years of College" ng-model="ResourceEditCtrl.model.yearsOfCollege">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <ng-list-data ng-option="ResourceEditCtrl.educationViewModel"
                                                                  ng-model="ResourceEditCtrl.model.educations"></ng-list-data>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- Certificates -->
                                <edz-tab-body edz-tab-id="certificates" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'certificates'}" class="certificates-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('certificates')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <skill-table-list ng-option="ResourceEditCtrl.certificateViewModel"
                                                                  ng-model="ResourceEditCtrl.model.certificates"></skill-table-list>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- WorkExperience -->
                                <edz-tab-body edz-tab-id="workExperience" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'workExperience'}" class="criminal-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('workExperience')}}
                                            </span>
                                        </div>
                                        <div class="panel-body" style="padding-bottom:60px;">
                                            <div class="col-md-12">
                                                <div class="page-work-experience">
                                                    <work-experience ng-option="ResourceEditCtrl.workExperienceViewModel"
                                                                     ng-model="ResourceEditCtrl.model.resourceWorkExperiences">
                                                    </work-experience>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- Languages -->
                                <edz-tab-body edz-tab-id="languages" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'languages'}" class="languages-block">
                                    <div class="panel panel-default custom-panel  inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('languages')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <skill-table-list ng-option="ResourceEditCtrl.languageViewModel"
                                                                  ng-model="ResourceEditCtrl.model.spokenLanguages"></skill-table-list>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- WorkingDetails -->
                                <edz-tab-body edz-tab-id="workingDetails" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'workingDetails'}" class="working-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('workingDetails')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <skill-table-list ng-option="ResourceEditCtrl.workingDetailViewModel"
                                                              ng-model="ResourceEditCtrl.model.resourceBehaviouralDetails"></skill-table-list>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- TravelDetails -->
                                <edz-tab-body edz-tab-id="travelDetails" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'travel Details'}" class="travel-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('travelDetails')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row border-bottom-1px-light-gray">
                                                    <div class="col-md-6">
                                                        <label>
                                                            <input type="checkbox" ng-model="ResourceEditCtrl.model.availableToTravel" /> Available To Travel
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            <input type="checkbox" ng-model="ResourceEditCtrl.model.validPassport" /> Valid Passport
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <skill-table-list ng-option="ResourceEditCtrl.travelDetailsViewModel"
                                                                  ng-model="ResourceEditCtrl.model.travels"></skill-table-list>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- CriminalRecords -->
                                <edz-tab-body edz-tab-id="criminalRecords" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'criminalRecords'}" class="criminal-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('criminalRecords')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <skill-table-list ng-option="ResourceEditCtrl.criminalRecordViewModel"
                                                                  ng-model="ResourceEditCtrl.model.criminalRecords"></skill-table-list>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- PreviousEmployments -->
                                <edz-tab-body edz-tab-id="previousEmployments" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'previousEmployments'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('previousEmployments')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <ng-list-data ng-option="ResourceEditCtrl.previousEmploymentViewModel" ng-model="ResourceEditCtrl.model.previousEmployments"></ng-list-data>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- Add Resume -->
                                <edz-tab-body edz-tab-id="addResume" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'addResume'}">
                                    <div ng-include="'Client/app/controllers/resource/templates/resource-resume-view.html'"></div>
                                </edz-tab-body>

                                <!-- CustomFields--->
                                <edz-tab-body edz-tab-id="other" edz-tab-content-class="tabs-summary" ng-model-options="{ debounce : { default : 0 }, tabValidationName : 'other'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('other')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container1 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container2 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container3  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container4  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-repeat="field in ::ResourceEditCtrl.otherContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="ResourceEditCtrl" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>


                                <!-- summary--->
                                <edz-tab-body edz-tab-id="summary" edz-tab-content-class="tabs-summary requireStyle-hide"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'Summary'}">
                                    <div ng-include="'Client/app/controllers/resource/templates/resource-summary-view.html'"></div>
                                </edz-tab-body>
                                <!-- organizationalHierarchy--->
                                <edz-tab-body edz-tab-id="organizationalHierarchy" edz-tab-content-class="tabs-summary requireStyle-hide"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'organizationalHierarchy'}">

                                    <organizational-chart ng-panel-title="ResourceEditCtrl.getResourceFullName()+''+ResourceEditCtrl.getTabDisplayName('organizationalHierarchy')" data="ResourceEditCtrl.organizationalChartData"></organizational-chart>

                                </edz-tab-body>
                                <!-- compensationAndBenefits -->
                                <edz-tab-body edz-tab-id="compensationAndBenefits" edz-tab-content-class="tab-inner tabs-content" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'addResume'}">
                                    <div ng-include="'Client/app/controllers/resource/templates/compensation-and-benifits-view.html'"></div>
                                </edz-tab-body>

                                <!-- resourcePerformance -->
                                <edz-tab-body edz-tab-id="resourcePerformance" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'resourcePerformance'}" class="working-block">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                {{ResourceEditCtrl.getResourceFullName()}} {{ResourceEditCtrl.getTabDisplayName('resourcePerformance')}}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Rating (1-10)
                                                        </label>
                                                        <input type="number" name="performance_value" max="10" min="1" ng-model="ResourceEditCtrl.model.rating" class="form-control" />
                                                        <ng-vadlidator-message ng-element-name="performance_value"></ng-vadlidator-message>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="">
                                                            Date
                                                            <span ng-if="ResourceEditCtrl.model.rating" class="requireStyle">*</span>
                                                        </label>
                                                        <div class="datapicer-group">
                                                            <input date-time
                                                                   ng-format-date
                                                                   class="form-control"
                                                                   minlength="1"
                                                                   min-view="date"
                                                                   format="MM/DD/YYYY"
                                                                   auto-close="true"
                                                                   name="rating_date"
                                                                   ng-required="ResourceEditCtrl.model.rating"
                                                                   ng-model="ResourceEditCtrl.model.ratingDate" />
                                                        </div>
                                                        <ng-vadlidator-message ng-element-name="rating_date"></ng-vadlidator-message>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padding-15"></div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-default btn-cancel btn-orange" ng-disabled="!ResourceEditCtrl.model.id || ResourceEditCtrl.model.id == 0" ng-click="ResourceEditCtrl.exportResource()">
                    Export
                </button>
                &nbsp;
                <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="ResourceEditCtrl.onCancelButtonClick()">
                    Cancel
                </button>
                &nbsp;
                <button type="submit" class="btn btn-save" ng-disabled="!ResourceEditCtrl.canUpdateOrInsertButtonDisabled()">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
