﻿<form novalidate name="activity_form">
    <div class="activity-page tabs-wrap">
        <div class="panel panel-default custom-panel inner-panel">
            <div class="panel-heading">
                <div class="panel-title">
                    {{ActivityCtrl.getPageName()}}
                    <span class="pull-right">
                        <button type="button" ng-click="ActivityCtrl.activityBackButtonClick()" class="btn btn-default btn-light-gray">
                            <i class="fa fa-arrow-left"></i>&nbsp;Back
                        </button>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="cba-properties-form">
                            <edz-tab-links edz-current-tab="ActivityCtrl.currentTab"
                                           ng-repeat="tab in ActivityCtrl.tabList track by tab.id">
                                <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::ActivityCtrl[tab.id + '_Click']"
                                              ng-click="ActivityCtrl.tabClick(tab)"
                                              ng-if="::!ActivityCtrl[tab.id + '_Condition']() && tab.visible">
                                    {{tab.name}}
                                </edz-tab-link>
                            </edz-tab-links>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <edz-tab-bodies edz-current-tab="ActivityCtrl.currentTab">
                                <edz-tab-body ng-repeat="tab in ActivityCtrl.tabList track by tab.id"
                                              edz-tab-id="{{tab.id}}"
                                              edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : tab.id}">
                                    <ui-grid-table ng-get="tab.service.get"
                                                   ng-save="tab.service.save"
                                                   ng-update="tab.service.update"
                                                   ng-delete="tab.service.delete"
                                                   ng-on-request-transform="tab.service.requestTransformCallback"
                                                   change-header-params="ActivityCtrl.changeHeaderParams"
                                                   ng-option="tab.tableConfigurations"
                                                   ng-finance-cofig="true">
                                    </ui-grid-table>
                                </edz-tab-body>
                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>