﻿<div cg-busy="isLoading">




    <div class="panel-body" style="margin-top:30px;" ng-if="selectedOption.key!='Select'">
        <ul class="nav nav-tabs app-tab app-tab-large">
            <li ng-class="{'active': isTabSelected(tabItem.id)}" ng-repeat="tabItem in tabs">
                <a data-toggle="tab" ng-click="setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
            </li>
        </ul>

        <div class="tab-content app-tab-body">
            <!--Tab 1-->
            <div id="Scorecard" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Scorecard')}"
                 ng-show="isTabSelected('Scorecard')">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table my-table system-grid-table" style="width:50%;">
                            <thead>
                                <tr>
                                    <th class="my-table-column" style="width:30%;"><span class="sort-indicator">Element</span></th>
                                    <th class="my-table-column" style="width:40%;"><span class="sort-indicator"></span></th>
                                    <th class="my-table-column" style="width:20%;"><span class="sort-indicator">Results</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in scoreCardList">
                                    <td>
                                        <span ng-bind-html="item.title"></span>
                                        
                                    </td>
                                    <td>
                                        <span ng-bind-html="item.subTitle"></span>
                                        
                                    </td>
                                    <td>
                                        <span ng-bind-html="item.result"></span>
                                        
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>

            <!--Tab 2-->
            <div id="Surveys" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Surveys')}"
                 ng-show="isTabSelected('Surveys')">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2" style="text-align:right;margin-top: 9px;">
                            Select surveys to preview
                        </div>

                        <div class="col-sm-4">
                            <select class="form-control" data-ng-options="item.value for item in surveyDropDownConfig" ng-model="currentSelectedSurvey"></select>
                        </div>
                        <div class="col-sm-6">

                            <button type="button" class="btn btn-default btn-rounded-button btn-blue pull-right" ng-click="sendMail()">SEND TO PATIENT</button>
                            <a
                               ng-if="currentSelectedSurvey.key=='dhi'"
                                class="btn btn-default btn-rounded-button btn-gray pull-right" target="_blank" href="Client/assets/demo-forms/dhi-form.html" style="margin-right: 10px;">
                                FILL IN NOW
                            </a>

                            <a ng-if="currentSelectedSurvey.key=='ueq'"
                               class="btn btn-default btn-rounded-button btn-gray pull-right" target="_blank" href="Client/assets/demo-forms/quick-dash-form.html" style="margin-right: 10px;">
                                FILL IN NOW
                            </a>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <!--currentSelectedSurvey:{{currentSelectedSurvey}}<br/>
                            selectedSurvey:{{selectedSurvey}}-->

                            <div ng-show="currentSelectedSurvey.key=='dhi'">
                                <iframe src="Client/assets/demo-forms/dhi-form.html" style="width:100%;height:500px;" frameborder="0"></iframe>
                            </div>


                            <div ng-show="currentSelectedSurvey.key=='ueq'">
                                <iframe src="Client/assets/demo-forms/quick-dash-form.html" style="width:100%;height:500px;" frameborder="0"></iframe>
                            </div>

                            
                            
                            
                            <!--<img ng-show="currentSelectedSurvey.key=='dhi'" src="Client/assets/images/DemoImages/Dizziness-Handicap-Inventory-preview.png"  style="width:90%"/>-->
                            <!--<img ng-show="currentSelectedSurvey.key=='ueq'" src="Client/assets/images/DemoImages/quick-dash-preview.png" style="width:90%"/>-->
                        </div>

                    </div>

                </div>

            </div>

            <!--Tab 3-->
            <div id="Results" class="tab-pane fade in "
                 ng-class="{'active': isTabSelected('Results')}"
                 ng-show="isTabSelected('Results')">
                <div class="panel-body">
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table my-table system-grid-table">
                                <thead>
                                    <tr>
                                        <th class="my-table-column"><span class="sort-indicator">Title</span></th>
                                        <th class="my-table-column"><span class="sort-indicator">Date</span></th>
                                        <th class="my-table-column"><span class="sort-indicator">Result</span></th>
                                        <th class="my-table-column"><span class="sort-indicator">Action</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in resultList">
                                        <td>
                                            {{item.title}}
                                        </td>

                                        <td>
                                            {{item.date}}
                                        </td>

                                        <td>
                                            {{item.result}}
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-default btn-blue" ng-click="onViewResult(item)">View</button>
                                        </td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>


                        <div class="row" ng-show="selectedResult">
                            <div class="col-sm-12">
                                <div style="padding-left: 17px;font-weight: bold;">
                                    Survey Completed on : {{selectedResult.date}}
                                </div>
                                <br />

                                <img ng-show="selectedResult.type=='dhi'" src="Client/assets/images/DemoImages/Dizziness-Handicap-Inventory-result.png" style="width:90%" />
                                <img ng-show="selectedResult.type=='ueq'" src="Client/assets/images/DemoImages/quick-result.png" style="width:90%" />
                            </div>

                        </div>

                        <!--<div class="row">
                            <div class="col-sm-2" style="text-align:right;margin-top: 9px;">
                                Select surveys to preview
                            </div>

                            

                            <div class="col-sm-4">
                                <select class="form-control" data-ng-options="item.value for item in surveyDropDownConfig" ng-model="currentSelectedSurveyResult"></select>
                            </div>
                            <div class="col-sm-6">
                                
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <br />

                                <div style="padding-left: 17px;font-weight: bold;">
                                    Survey Completed on : 05/02/2017
                                </div>
                                <br />

                                <img ng-show="currentSelectedSurveyResult.key=='dhi'" src="Client/assets/images/DemoImages/Dizziness-Handicap-Inventory-result.png" style="width:90%" />
                                <img ng-show="currentSelectedSurveyResult.key=='ueq'" src="Client/assets/images/DemoImages/quick-result.png" style="width:90%" />
                            </div>

                        </div>-->

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
