﻿<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="propertyFrom">From</label>
            <input type="text" id="propertyFrom" class="form-control" ng-model="edzNumericCustomFieldEditCtrl.model.from.value" name="propertyFrom" min="0" />
            <ng-vadlidator-message ng-element-name="propertyFrom"></ng-vadlidator-message>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>To</label>
            <input type="number" id="propertyTo" class="form-control" ng-model="edzNumericCustomFieldEditCtrl.model.to.value" min="0" name="propertyTo" />
            <ng-vadlidator-message ng-element-name="propertyTo"></ng-vadlidator-message>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Number Of Decimals</label>
            <input type="number" id="propertyNumberOfDecimals" class="form-control" ng-model="edzNumericCustomFieldEditCtrl.model.numberOfDecimals.value" min="0" name="propertyNumberOfDecimals" />
            <ng-vadlidator-message ng-element-name="propertyNumberOfDecimals"></ng-vadlidator-message>
        </div>
    </div>
</div>