
<div class="master-templates-page tabs-wrap" cg-busy="FavoriteAddEditCtrl.isLoading">
    <form name="MasterTemplateForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <br />
                    <div class="panel panel-default custom-panel blank-panel">
                        <div class="panel-heading">

                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="screen-title-large">{{FavoriteAddEditCtrl.title}}</span>
                                    <div class="row">
                                        <div class="form-group col-sm-4" style="display: inline-flex;margin-top:15px;">
                                            <label style="white-space: nowrap; margin-right: 10px; margin-top: 3px;"><span style="font-size:18px;color:black!important" class="gray-text">Template Name</span></label>
                                            <input type="text"
                                                   required placeholder="Enter Template Name"
                                                   name="templateName" class="form-control" ng-model="FavoriteAddEditCtrl.model.name" />
                                        </div>
                                    </div>

                                    <!--<div>

                                        <table>
                                            <tr>
                                                <td><span style="font-size:18px;" class="gray-text">Template Name</span></td>
                                                <td style="padding-left:10px;min-width:230px;">
                                                    <input type="text"
                                                           required
                                                           name="templateName" class="form-control" ng-model="FavoriteAddEditCtrl.model.name" />

                                                </td>
                                            </tr>
                                        </table>
                                    </div>-->
                                    <!--<div class="row">
                                        <div class="col-sm-1 text-right">
                                            <span style="font-size:24px" class="gray-text">Template Name</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text"
                                                   required
                                                   name="templateName" class="form-control" ng-model="FavoriteAddEditCtrl.model.name" />

                                        </div>

                                    </div>-->
                                </div>



                            </div>

                        </div>

                        <div class="panel-body">
                            <!--Choose exercise form section-->
                            <div ng-show="FavoriteAddEditCtrl.selectedPan==1">
                                <choose-exercise config="FavoriteAddEditCtrl.chooseScreenConfig"
                                                 is-loading="FavoriteAddEditCtrl.isLoading">
                                </choose-exercise>
                            </div>

                            <!--Create form section-->
                            <!--<div ng-show="FavoriteAddEditCtrl.selectedPan==2">

                                <div>
                                    <div class="gray-bar-title">
                                        SELECTED EXERCISE
                                    </div>
                                    <br />
                                    <br />

                                    <div>
                                        <div class="row img-list-item" ng-repeat="item in FavoriteAddEditCtrl.model.templateExercises | orderBy:'exerciseOrder'">
                                            <div class="col-sm-1">
                                                <div class="text-center">
                                                    <span class="move-arrow move-up" ng-class="{'disable':$first}" ng-click="FavoriteAddEditCtrl.moveUp(item)"></span>
                                                    <br />
                                                    <span class="move-arrow move-down" ng-class="{'disable':$last}" ng-click="FavoriteAddEditCtrl.moveDown(item)"></span>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <div class="img-tag-wrapper">
                                                    <media-item data="item.exercise"
                                                                config="FavoriteAddEditCtrl.imageItemConfig"
                                                                position="$index">
                                                    </media-item>
                                                </div>
                                            </div>

                                            <div class="col-sm-8">

                                                <div>

                                                    <table class="exercise-item-table">
                                                        <thead>
                                                            <tr>
                                                                <td>Name</td>
                                                                <td class="seprator-column">:</td>
                                                                <td>{{item.exercise.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>


                                                <div class="comment-box">
                                                    <div class="commnet-box-title">Comments</div>
                                                    <div class="comment-body">
                                                        {{item.exercise.comments}}
                                                    </div>
                                                </div>




                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <span class="pull-right">
                                                <button type="button" class="btn btn-rounded-button btn-gray" ng-click="FavoriteAddEditCtrl.onBack()">Back</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="button" class="btn btn-rounded-button btn-blue" ng-click="FavoriteAddEditCtrl.onSave(MasterTemplateForm)">Save</button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>