﻿<div class="resource-cases-static">
    <div class="panel panel-default custom-panel">
        <div class="panel-heading">
            <div class="panel-title">
                Mike Smith \ Cases
            </div>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>CASE ID</th>
                        <th>INJURY REGION</th>
                        <th>REFERRING PHYSICIAN</th>
                        <th>VISITS PER CASE</th>
                        
                        <th>CREATED DATE</th>
                        <th>CASE STATUS</th>
                        <!--<th>5</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="case in ResourceCaseStaticCtrl.caseList.data track by $index">
                        <td>
                            <a href="#" ui-sref="patientCaseEdit({patientId:case.patientId,caseId:case.id})">
                                {{case.caseNo}}
                            </a>
                        </td>
                        <td>{{case.injuryRegion.name || '----'}}</td>
                        <td>{{case.referingPhysician.name || '----'}}</td>
                        <td>{{case.noVisitPerCase}}</td>
                        <td>{{case.startDate | date:'MM/dd/yyyy' || '----'}}</td>
                        <td>{{case.caseStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>