<form name="caseEditForm" ng-submit="PatientCasesEditController.onSave_Click(caseEditForm)" novalidate
      ng-model-options="{ debounce : { default : 400 }}" ng-init="PatientCasesEditController.setFormScope(this)">

    <div class="modal-header">
        <button type="button" ng-click="PatientCasesEditController.onAddPatientCaseCancel()" class="close btn btn-success"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">
            <span>New Case</span>
        </h4>
    </div>
    <div class="modal-body gray-bg">


        <div class="container-fluid container-wrap container-wrap-aside-left tabs-wrap">
            <div class="row">
                <!--Error Row-->
                <div class="tabs-body" ng-if="formErrorList">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default custom-panel panel-error">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        Please fix following errors
                                    </span>
                                    <span class="pull-right">
                                        <a href="#" ng-click="hideErrorTab()">
                                            &times;
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="(key, errors) in formErrorList track by $index">
                                            <strong>{{ key }}</strong> tab have errors
                                            <ul>
                                                <li ng-repeat="e in errors track by $index" ng-if="e"><strong>{{ e }}</strong> is required.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="panel panel-default custom-panel" style="margin-bottom:0;">
                        <div class="panel-heading">
                            <div class="panel-title" ng-bind-html="PatientCasesEditController.getPageTitle()"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="z-index:100" ng-cloak ng-if="::PatientCasesEditController.isNewPatient">
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':PatientCasesEditController.leftMenuMaxHeight + 'px'}">
                        <edz-tab-links edz-current-tab="PatientCasesEditController.currentTab" ng-repeat="tab in ::PatientCasesEditController.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::PatientCasesEditController[tab.id + '_Click']"
                                          ng-if="::!PatientCasesEditController[tab.id + '_Condition']() && tab.visible">
                                {{tab.name}}
                            </edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>

                <div class="" ng-cloak ng-class="{'col-md-9':PatientCasesEditController.isNewPatient,'col-md-12':!PatientCasesEditController.isNewPatient}">
                    <div class="patient-fields-container">
                        <div ng-class="{'disable-inputs':!PatientCasesEditController.canUpdateOrInsertButtonDisabled()}">
                            <edz-tab-bodies edz-current-tab="PatientCasesEditController.currentTab">
                                <!-- Patient Details -->
                                <edz-tab-body edz-tab-id="patientCaseDetails" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'patientCaseDetails'}">
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">
                                                            <!--{{PatientCasesEditController.getResourceFullName()}}-->
                                                            {{PatientCasesEditController.getTabDisplayName('patientCaseDetails')}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div>
                                                    <div class="col-md-12">
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container1 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" form="caseEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container2 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" form="caseEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container3 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Personal Info -->
                                    </div>

                                </edz-tab-body>

                    
                                <!-- CustomFields--->
                                <edz-tab-body edz-tab-id="other" edz-tab-content-class="tabs-summary" ng-model-options="{ debounce : { default : 0 }, tabValidationName : 'other'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('other')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container1 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container2 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container3  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container4  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- summary -->
                                <edz-tab-body edz-tab-id="summary" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'summary'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>



    </div>

    <div class="modal-footer">


        <button type="button" class="btn btn-default btn-rounded-button btn-cancel btn-gray" ng-click="PatientCasesEditController.onAddPatientCaseCancel()">
            Cancel
        </button>
        &nbsp;
        <button type="submit" class="btn btn-rounded-button btn-save" ng-disabled="!PatientCasesEditController.canUpdateOrInsertButtonDisabled()">
            Save
        </button>


      
    </div>

</form>