﻿<style>
    .jumbotron {
        padding: 0;
    }
</style>
<irms-not-found irms-name="Resource" irms-link="{{::PatientCasesEditController.resourceHref}}" ng-if="::!PatientCasesEditController.isPatientLoadedCorrectly"></irms-not-found>
<div cg-busy="PatientCasesEditController.loadCorrect"
     ng-if="::PatientCasesEditController.isPatientLoadedCorrectly"
     style=""
     class="patient-edit-page"
     ng-cloak>
    <form name="caseEditForm" ng-submit="PatientCasesEditController.onSave_Click(caseEditForm)" novalidate
          ng-model-options="{ debounce : { default : 400 }}" ng-init="PatientCasesEditController.setFormScope(this)">
        <div class="container-fluid container-wrap container-wrap-aside-left tabs-wrap">
            <div class="row">
                <!--Error Row-->

                <div class="tabs-body" ng-if="formErrorList">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default custom-panel panel-error">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        Please fix following errors
                                    </span>
                                    <span class="pull-right">
                                        <a href="#" ng-click="hideErrorTab()">
                                            &times;
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="(key, errors) in formErrorList track by $index">
                                            <strong>{{ key }}</strong> tab have errors
                                            <ul>
                                                <li ng-repeat="e in errors track by $index" ng-if="e"><strong>{{ e }}</strong> is required.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-3" style="z-index:100" ng-cloak ng-if="::PatientCasesEditController.isNewPatient">
                    <div class="cba-properties-form white-panel-box" ng-style="{'max-height':PatientCasesEditController.leftMenuMaxHeight + 'px'}">
                        <div class="form-tab-card">
                            <div class="img-container">
                                <img ng-if="!PatientCasesEditController.patientBasicDetails.photoFileNameUrl" src="Client/assets/images/default-user-icon.png" class="img-responsive img-circle pull-left" />
                                <img class="img-responsive img-circle"
                                     ng-src="{{PatientCasesEditController.patientBasicDetails.photoFileNameUrl}}"
                                     ng-if="PatientCasesEditController.patientBasicDetails.photoFileNameUrl" />
                                <!--<div class="img-actions">
                                    <a href="#" class="btn btn-blue btn-small btn-rounded-button"
                                       type="file" ngf-select ngf-change="PatientCasesEditController.uploadFileAvatarFunc($file, $invalidFiles)" ng-model="picFile"
                                       accept="image/*" ngf-max-size="'5120KB'" title="Select File">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>-->
                            </div>
                            <div class="patient-details">
                                <span class="patient-name">
                                    <a ui-sref="patientsEdit({id:PatientCasesEditController.patientId})">
                                        {{PatientCasesEditController.getPatientFullName()}}
                                    </a>
                                </span>
                                <span class="patient-id" style="font-weight:normal">Case ID : <span style="text-transform: uppercase; float: right; margin-right: 20px; margin-top: -2px;">{{PatientCasesEditController.model.caseNo}}</span></span>
                                <span class="patient-id" style="font-weight:normal">Injury Region : {{PatientCasesEditController.model.injuryRegion.name}}</span>
                                <span class="action-bar">

                                    <!--<a class="btn-icon btn-icon-dollar-gray"></a>
                                    <a class="btn-icon btn-icon-chat-gray"></a>
                                    <a class="btn-icon btn-icon-mail-gray"></a>-->
                                </span>
                            </div>
                        </div>

                        <edz-tab-links edz-current-tab="PatientCasesEditController.currentTab" ng-repeat="tab in ::PatientCasesEditController.tabs track by tab.id">
                            <edz-tab-link edz-tab-id="{{tab.id}}" edz-tab-click="::PatientCasesEditController[tab.id + '_Click']"
                                          ng-if="::!PatientCasesEditController[tab.id + '_Condition']() && tab.visible">
                                {{tab.name}}
                            </edz-tab-link>
                        </edz-tab-links>
                    </div>
                </div>

                <div class="" ng-cloak ng-class="{'col-md-9':PatientCasesEditController.isNewPatient,'col-md-12':!PatientCasesEditController.isNewPatient}">
                    <div class="patient-fields-container">

                        <div ng-class="{'disable-inputs':!PatientCasesEditController.canUpdateOrInsertButtonDisabled()}">
                            <edz-tab-bodies edz-current-tab="PatientCasesEditController.currentTab">
                                <!-- Patient Details -->
                                <edz-tab-body edz-tab-id="patientCaseDetails" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'patientCaseDetails'}">
                                    <div class="row row-border">
                                        <div class="panel panel-default custom-panel inner-cus-panel resource-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div class="detail-top-section">
                                                        <div class="detail-panel-title">
                                                            <!--{{PatientCasesEditController.getResourceFullName()}}-->
                                                            {{PatientCasesEditController.getTabDisplayName('patientCaseDetails')}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div>
                                                    <div class="col-md-12">
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container1 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" form="caseEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container2 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" form="caseEditForm" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.patientDetails.container3 track by field.id">
                                                            <div class="{{field.containerCssClass}}" ng-class="{'col-md-4':!field.containerCssClass}">
                                                                <div class="form-group">
                                                                    <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                    </edz-dynamic-form-controller-compiler>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Personal Info -->
                                    </div>

                                </edz-tab-body>


                                <!-- records -->
                                <edz-tab-body edz-tab-id="records" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'summary'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <record-section></record-section>
                                                
                                                
                                            </div>
                                        </div> 
                                    </div>
                                </edz-tab-body>



                                <!-- HEP -->
                                <edz-tab-body edz-tab-id="hep" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'hep'}" class="case-hep">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <!--<div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('hep')}}
                                                </div>
                                            </div>-->
                                            <div class="panel-body" style="background-color:white">

                                                <div>
                                                    <ul class="nav nav-tabs app-tab app-tab-large">
                                                        <li ng-class="{'active': PatientCasesEditController.isHepTabSelected(tabItem.id)}" ng-repeat="tabItem in PatientCasesEditController.hepTabs">
                                                            <a data-toggle="tab" ng-click="PatientCasesEditController.setHepSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                                                        </li>
                                                    </ul>


                                                    <div class="tab-content app-tab-body">
                                                        <!--Tab 1-->
                                                        <div id="hep" class="tab-pane fade in"
                                                             ng-class="{'active': PatientCasesEditController.isHepTabSelected('hep')}"
                                                             ng-show="PatientCasesEditController.isHepTabSelected('hep')">

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <hep-list patient-id="PatientCasesEditController.patientId"
                                                                              case-id="PatientCasesEditController.caseId">
                                                                    </hep-list>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--Tab 2-->
                                                        <div id="manual-treatment" class="tab-pane fade in"
                                                             ng-class="{'active': PatientCasesEditController.isHepTabSelected('manual-treatment')}"
                                                             ng-show="PatientCasesEditController.isHepTabSelected('manual-treatment')">

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <h2>Coming Soon</h2>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--Tab 3-->
                                                        <div id="performance-analytics" class="tab-pane fade in"
                                                             ng-class="{'active': PatientCasesEditController.isHepTabSelected('performance-analytics')}"
                                                             ng-show="PatientCasesEditController.isHepTabSelected('performance-analytics')">

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <performance-analytics 
                                                                              patient-id="PatientCasesEditController.patientId"
                                                                              case-id="PatientCasesEditController.caseId">
                                                                    </performance-analytics>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>


                                <!-- currentCondition -->
                                <edz-tab-body edz-tab-id="currentCondition" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'currentCondition'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <current-condition></current-condition>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>


                                <!-- medicalCondition -->
                                <edz-tab-body edz-tab-id="medicalCondition" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'medicalCondition'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <medical-condition></medical-condition>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- outcomes -->
                                <edz-tab-body edz-tab-id="outcomes" edz-tab-content-class="tab-inner" ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'outcomes'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <out-come-section></out-come-section>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>



                                <!-- CustomFields--->
                                <edz-tab-body edz-tab-id="other" edz-tab-content-class="tabs-summary" ng-model-options="{ debounce : { default : 0 }, tabValidationName : 'other'}">
                                    <div class="panel panel-default custom-panel inner-cus-panel">
                                        <div class="panel-heading">
                                            <span class="panel-title">
                                                {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('other')}}
                                            </span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container1 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container2 track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container3  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container4  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container5  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="field.visible" ng-repeat="field in ::PatientCasesEditController.otherContainer.container6  track by field.id">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <edz-dynamic-form-controller-compiler edz-controller-name="PatientCasesEditController" edz-field-id="{{field.id}}">
                                                                </edz-dynamic-form-controller-compiler>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </edz-tab-body>

                                <!-- summary -->
                                <edz-tab-body edz-tab-id="summary" edz-tab-content-class="tab-inner"
                                              ng-model-options="{ debounce : { default : 400 }, tabValidationName : 'summary'}" class="background-block">
                                    <div class="row">
                                        <div class="panel panel-default custom-panel inner-cus-panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    {{PatientCasesEditController.getResourceFullName()}} {{PatientCasesEditController.getTabDisplayName('summary')}}
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <h3 class="text-center">In Progress</h3>
                                            </div>
                                        </div> <!-- Background Check -->
                                    </div>
                                </edz-tab-body>

                            </edz-tab-bodies>
                        </div>
                    </div>
                </div>
            </div>

            <!--PatientCasesEditController.currentTab {{PatientCasesEditController.currentTab}}<br />
            PatientCasesEditController.isHepAvailable {{PatientCasesEditController.isHepAvailable}}<br />
            PatientCasesEditController.isHepTabSelected {{PatientCasesEditController.isHepTabSelected('hep')}}

            <br/>
            <br />
            <br />-->


            <div class="button-container" ng-show="PatientCasesEditController.currentTab=='hep' && 
                                                   PatientCasesEditController.isHepAvailable && 
                                                   PatientCasesEditController.isHepTabSelected('hep')"
                 >
                <div class="row">

                    <div class="col-sm-6">
                        <a class="btn btn-default btn-cancel btn-gray" target="_blank" href="api/HepMasters/{{PatientCasesEditController.caseId}}/{{PatientCasesEditController.patientId}}/Print/export_hep">Print</a>
                        &nbsp;&nbsp;
                        <button class="btn btn-default btn-cancel btn-gray" ng-click="PatientCasesEditController.emailHEP()" type="button">Email</button>
                        &nbsp;&nbsp;
                        <a class="btn btn-default btn-cancel btn-gray" target="_blank" href="api/HepMasters/{{PatientCasesEditController.caseId}}/{{PatientCasesEditController.patientId}}/Export/export_hep">Export PDF</a>

                    </div>

                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="PatientCasesEditController.onCancelButtonClick()">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-default btn-cancel  btn-gray" ng-click="PatientCasesEditController.saveHep(true)">Save as Draft</button>
                        &nbsp;
                        <button type="button" class="btn btn-save" ng-click="PatientCasesEditController.saveHep(false)">
                            Submit to App
                        </button>
                    </div>
                </div>
            </div>


            <div class="button-container"  ng-show="!(PatientCasesEditController.currentTab=='hep' && 
                                                   PatientCasesEditController.isHepAvailable && 
                                                   PatientCasesEditController.isHepTabSelected('hep'))"
                 >
                <div class="row">
                    <div class="col-md-12 text-right">

                        

                        <button type="button" class="btn btn-default btn-cancel btn-gray" ng-click="PatientCasesEditController.onCancelButtonClick()">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="submit" class="btn btn-save" ng-disabled="!PatientCasesEditController.canUpdateOrInsertButtonDisabled()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
