<div class="master-templates-page tabs-wrap" cg-busy="MasterCtrl.isLoading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="tabs-body">
                    <div class="panel panel-default custom-panel blank-panel">
                        <div class="panel-body">
                            <div>
                                <ul class="nav nav-tabs app-tab app-tab-large">
                                    <li ng-class="{'active': MasterCtrl.isTabSelected(tabItem.id)}" ng-repeat="tabItem in MasterCtrl.tabs">
                                        <a data-toggle="tab" ng-click="MasterCtrl.setSelectedTab(tabItem.id)">{{tabItem.title}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content app-tab-body">
                                    <!--Tab 1-->
                                    <div id="all-exercise" class="tab-pane fade in "
                                         ng-class="{'active': MasterCtrl.isTabSelected('all-exercise')}"
                                         ng-show="MasterCtrl.isTabSelected('all-exercise')">
                                        <div style="padding:0px 15px 0px 15px">
                                            <div class="row" style="margin-top:15px;margin-bottom:15px;padding-bottom:5px">
                                                <div class="col-sm-12">

                                                    <div style="font-size:25px;float:left">
                                                        <div>Exercises</div>
                                                        <div style="font-size:12px;" ng-if="MasterCtrl.exerciseTotalItems>0">
                                                            Showing&nbsp;
                                                            <span style="color: #75CAF3;font-weight:bold" ng-bind-html="(MasterCtrl.exerciseTotalItems > MasterCtrl.pageSize ? MasterCtrl.pageSize : MasterCtrl.exerciseTotalItems)"></span>
                                                            &nbsp;out of
                                                            <span ng-bind-html="MasterCtrl.exerciseTotalItems"></span>
                                                            Exercises
                                                        </div>

                                                    </div>

                                                    <button class="btn btn-default btn-blue pull-right" type="button" ui-sref="exercise-add" style="margin-top:10px">
                                                        <span class="fa fa-plus"></span>
                                                        &nbsp;ADD EXERCISE
                                                    </button>

                                                    <button type="button" class="btn btn-default btn-blue pull-right" style="margin-top:10px;margin-right:10px;" ng-click="MasterCtrl.onSortOrderSelected()">
                                                        <i class="fa" ng-class="{'fa-sort-alpha-desc':MasterCtrl.queryParams.sortOrder=='Descending','fa-sort-alpha-asc':MasterCtrl.queryParams.sortOrder!='Descending'}"></i>
                                                    </button>

                                                    <div class="btn-group pull-right" uib-dropdown style="margin-top:10px;margin-right:10px;">
                                                        <button id="single-button" type="button" class="btn btn-primary btn-blue " style="min-width:110px;" uib-dropdown-toggle ng-disabled="disabled">
                                                            {{MasterCtrl.selectedSortTitle}} &nbsp;<span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                                            <li role="menuitem" ng-repeat="item in MasterCtrl.sortOptions">
                                                                <a href="#" ng-click="MasterCtrl.onSortSelected(item)">{{item.title}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                    <div class="search pull-right" style="max-width: 200px; margin-right: 15px; margin-top: 10px;">
                                                        <ng-form ng-submit="MasterCtrl.pageSearchButtonClick()">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       style="color:black !important;"
                                                                       ng-keypress="($event.which === 13)?MasterCtrl.onPageSearch():0"
                                                                       class="form-control"
                                                                       ng-model="MasterCtrl.search.newValue"
                                                                       placeholder="Page Search">
                                                                <span class="input-group-btn">
                                                                    <button style="margin: -1px; border: 0; border-bottom: 1px solid #ccc; border-bottom-right-radius: 0; margin-top: 5px;"
                                                                            class="btn btn-default"
                                                                            ng-click="MasterCtrl.onPageSearch()"
                                                                            title="Search" type="submit">
                                                                        <i class="icon icon-search"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </ng-form>
                                                    </div>

                                                </div>
                                            </div>                                                                             
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="img-list-item" ng-repeat="item in MasterCtrl.exerciseItem">                                                   
                                                     
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <span class="text-title"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row" style="margin-top:15px;">
                                                            <div class="col-sm-3">
                                                                <div class="img-tag-wrapper">
                                                                    <media-item-one data="item" position="$index"></media-item-one>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">

                                                                <table class="exercise-item-table">
                                                                    <thead>
                                                                        <tr style="font-weight:bold;font-size:14px;">
                                                                            <td >Name</td>
                                                                            <td class="seprator-column">:</td>
                                                                            <td>{{item.name}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                           
                                                                            <!--<td class="seprator-column">:</td>
                                                                            <td>{{item.id}} </td>-->
                                                                            <td>Keywords</td>
                                                                            <td class="seprator-column">:</td>
                                                                            <td>{{item.keywords}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Date Created</td>
                                                                            <td class="seprator-column">:</td>
                                                                            <td>{{item.created | date : 'MM/dd/yyyy (hh:mm a)'}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <div class="col-sm-5">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <span class="pull-right">
                                                                            <button class="btn app-btn-small btn-blue" ui-sref="exercise-edit({id:item.id})">EDIT</button>
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <button class="btn app-btn-small btn-pink" ng-click="MasterCtrl.deleteExercise(item)">DELETE</button>
                                                                        </span>
                                                                    </div>

                                                                </div>


                                                                <br />
                                                                <div class="comment-box">
                                                                    <div class="commnet-box-title">Comments</div>
                                                                    <div class="comment-body">
                                                                        {{item.comments}}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="row" ng-if="MasterCtrl.exerciseTotalItems>MasterCtrl.queryParams.pageSize">
                                                <div class="col-sm-12 text-center">
                                                    <ul uib-pagination
                                                        items-per-page="MasterCtrl.queryParams.pageSize"
                                                        total-items="MasterCtrl.exerciseTotalItems"
                                                        ng-model="MasterCtrl.queryParams.pageIndex"
                                                        ng-change="MasterCtrl.loadExercise()"></ul>
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <!--Tab 2-->
                                    <div id="templates" class="tab-pane fade in"
                                         ng-class="{'active': MasterCtrl.isTabSelected('templates')}"
                                         ng-show="MasterCtrl.isTabSelected('templates')">
                                        <div style="padding:15px;">
                                            <!--<div class="row" style="margin-top:15px;margin-bottom:15px;">
                                                <div class="col-sm-6 panel-title">
                                                    Master Templates
                                                </div>
                                                <div class="col-sm-6">
                                                    <button class="btn btn-default btn-blue btn-rounded-button pull-right" type="button" ui-sref="master-templates-add">
                                                        <span class="fa fa-plus"></span>
                                                        &nbsp;Create Template
                                                    </button>
                                                </div>
                                            </div>-->

                                            <div>
                                                <div class="resource-grid" cg-busy="MasterCtrl.get">
                                                    <ui-grid-table ng-get="MasterCtrl.get"
                                                                   ng-option="MasterCtrl.cols"
                                                                   ng-delete="MasterCtrl.delete">
                                                    </ui-grid-table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>