<div class="master-templates-page tabs-wrap row" cg-busy="MasterAddEditCtrl.isLoading">
    <form name="MasterTemplateForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-default custom-panel blank-panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="screen-title-large">{{MasterAddEditCtrl.title}}</span>
                                    <div class="row">
                                        <div class="form-group col-sm-4" style="display: inline-flex;margin-top:15px;">
                                            <label style="white-space: nowrap; margin-right: 10px; margin-top: 3px;"><span style="font-size:18px;color:black!important" class="gray-text">Template Name</span></label>
                                            <input type="text" required placeholder="Enter Template Name"
                                                   name="templateName" class="form-control" ng-model="MasterAddEditCtrl.model.name" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <!--Choose exercise form section-->
                            <div ng-show="MasterAddEditCtrl.selectedPan==1">
                                <choose-exercise config="MasterAddEditCtrl.chooseScreenConfig"
                                                 is-loading="MasterAddEditCtrl.isLoading">
                                </choose-exercise>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>